@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS
@model Bnan.Ui.ViewModels.CAS.RenterDriverVM

@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture1 = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture2 = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture3 = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture4 = Context.Features.Get<IRequestCultureFeature>();

    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["Add Driver Data"];
    ViewData["Page-Hint"] = localizer["Add Driver Hint"];
}
<style>

    .row {
        align-items: center;
    }


    #signaturePreview, #imagePreview {
        display: block;
        margin-top: -5px;
        float: right;
        margin-right: 20px;
        height: 100px;
        width: 200px;
        object-fit: cover;
        border: .5px solid rgb(231, 231, 231);
        position: relative;
    }

    #spanInput {
        height: 35px;
    }

    .sub-container form .row > div:nth-child(odd):nth-child(-n+5), .sub-container-form form .row > div:nth-child(odd):nth-child(-n+5) {
        margin: 0;
    }

    .file-upload {
        background-color: #ffffff;
        width: 200px;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn1, .file-upload-btn2, .file-upload-btn3 {
        width: 200px;
        max-height: 200px;
        max-width: 200px;
        margin: 0;
        color: #fff;
        background: #727cf5;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #727cf5;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn1:hover, .file-upload-btn2:hover, .file-upload-btn3:hover {
            background: #5661e3;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

    .file-upload-content {
        display: none;
    }

    .file-upload-input-picture1, .file-upload-input-signature, .file-upload-input-picture2, .file-upload-input-picture3 {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        max-height: 200px;
        max-width: 200px;
        margin-top: 5px;
        width: 200px;
        border: 4px dashed rgb(231, 231, 231);
        position: relative;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: rgb(231, 231, 231);
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            padding: 60px 0;
        }

    .file-upload-image {
        max-height: 200px;
        max-width: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border: .5px solid rgb(231, 231, 231);
    }

    .remove-image {
        margin: 0;
        max-height: 200px;
        max-width: 200px;
        width: 200px;
        color: #fff;
        background: #fa5c7c;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #fa5c7c;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .remove-image:hover {
            background: #f35474;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }
</style>
<style>
    .datepicker-widget {
        display: none;
    }


    .datepicker-icon i {
        font-size: 18px;
        color: #999;
    }

    .hasDatepicker {
    }

    .dateRelative {
        position: relative;
    }

    .form-contain {
        position: relative;
    }
</style>
@if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
{
    <style>
        .datepicker-icon {
            cursor: pointer;
            top: 8%;
            right: 77%;
        }
    </style>
}

@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    <style>
        .datepicker-icon {
            position: absolute;
            display: inline-block;
            top: 1px;
            left: 178px;
        }
    </style>
}

<title>@ViewData["Title"]</title>



<div class="sub-container-form">
    <form class="needs-validation" novalidate asp-area="CAS" asp-controller="RenterDriver" asp-action="AddRenterDriver" method="post" enctype="multipart/form-data">
        <div class="form-contain">
            <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationNationality" maxlength="100" width="80%" readonly hidden />
            <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationLessor" id="LessorID" maxlength="20" width="80%" value="@ViewBag.LessorID" readonly hidden />  @*hiddden*@
            @*RenterDriver code*@
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="form-label" for="RenterDriverID">@localizer["RenterDriverID"]</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationId" id="RenterDriverID" maxlength="20" width="80%" oninput="this.value = this.value.replace(/\D/g, '')" required />
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationId" class="text-danger"></span>
                            @Html.ValidationMessage("ExistID", null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="form-label" for="RenterDriverType">@localizer["RenterDriverType"]</label>
                </div>
                <div class="col-md-2">
                    @if (requestCulture1?.RequestCulture.UICulture.Name == "ar-EG")
                    {
                        <select class="form-select" asp-for="@Model.CrCasRenterPrivateDriverInformationIdtrype" style="width: 100%;" dir="rtl">
                            @foreach (var RenterDriverTypeAr in (List<SelectListItem>)ViewData["RenterDriverTypeAr"])
                            {
                                <option value="@RenterDriverTypeAr.Value" selected="@(RenterDriverTypeAr.Value.Trim() == "" ? "selected" : null)">@RenterDriverTypeAr.Text</option>
                            }
                        </select>


                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationIdtrype" class="text-danger"></span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <select class="form-select" asp-for="@Model.CrCasRenterPrivateDriverInformationIdtrype" style="width: 100%;">
                            @foreach (var RenterDriverTypeEn in (List<SelectListItem>)ViewData["RenterDriverTypeEn"])
                            {
                                <option value="@RenterDriverTypeEn.Value" selected="@(RenterDriverTypeEn.Value.Trim() == ""  ? "selected" : null)">@RenterDriverTypeEn.Text</option>
                            }
                        </select>

                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationIdtrype." class="text-danger"></span>
                            </div>
                        </div>
                    }

                </div>

            </div>


            @*RenterDriver name arabic*@
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="form-label" for="RenterDriverNameAr">@localizer["RenterDriverNameAr"]</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationArName" id="RenterDriverNameAr" maxlength="50" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required />
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationArName" class="text-danger"></span>
                            @Html.ValidationMessage("ExistAr", null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            @*RenterDriver name English*@
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="form-label" for="RenterDriverNameEn">@localizer["RenterDriverNameEn"]</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationEnName" maxlength="50" id="RenterDriverNameEn" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationEnName" class="text-danger"></span>
                            @Html.ValidationMessage("ExistEn", null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            @*RenterDriver dates Birthday *@
            <div class="row mt-2">
                @*RenterDriver Birthday *@
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="RenterDriverBirthday">@localizer["RenterDriverBirthday"]</label>
                        </div>
                        <div class="col-md-6 dateRelative">
                            <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationBirthDate" />
                            <div style="margin-top:2px">
                                <div style="height: 1.0em">
                                    <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationBirthDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*RenterDriver Issuedate *@
                <div class="col-md-3">
                    <div class="row">

                        <div class="col-md-5">
                            <label class="form-label" for="RenterDriverIssueDate">@localizer["RenterDriverIssueDate"]</label>
                        </div>
                        <div class="col-md-7 dateRelative">
                            <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationIssueIdDate" />
                            <div style="margin-top:2px">
                                <div style="margin-top:2px">
                                    <div style="height: 1.0em">
                                        <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationIssueIdDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*RenterDriver ExpireDate *@
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-5">
                            <label class="form-label" for="RenterDriverExpireDate">@localizer["RenterDriverExpireDate"]</label>
                        </div>
                        <div class="col-md-7 dateRelative">
                            <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationExpiryIdDate" />
                            <div style="margin-top:2px">
                                <div style="margin-top:2px">
                                    <div style="height: 1.0em">
                                        <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationExpiryIdDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @*LicenseID*@
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="RenterDriverLicenseNO">@localizer["RenterDriverLicenseNO"]</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationLicenseNo" id="RenterDriverLicenseNO" maxlength="20" width="80%" oninput="this.value = this.value.replace(/\D/g, '')" required />
                            <div style="margin-top:2px">
                                <div style="height: 1.0em">
                                    <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-5">
                            <label class="form-label" for="RenterDriverLicenseType">@localizer["RenterDriverLicenseType"]</label>
                        </div>
                        <div class="col-md-7">
                            @if (requestCulture2?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                <select class="form-select" asp-for="@Model.CrCasRenterPrivateDriverInformationLicenseType" style="width: 100%;" dir="rtl">
                                    @foreach (var RenterDriverLicenseTypeAr in (List<SelectListItem>)ViewData["RenterDriverLicenseTypeAr"])
                                    {
                                        <option value="@RenterDriverLicenseTypeAr.Value" selected="@(RenterDriverLicenseTypeAr.Value.Trim() == "" ? "selected" : null)">@RenterDriverLicenseTypeAr.Text</option>
                                    }
                                </select>


                                <div style="margin-top:2px">
                                    <div style="height: 1.35em">
                                        <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseType" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <select class="form-select" asp-for="@Model.CrCasRenterPrivateDriverInformationLicenseType" style="width: 100%;">
                                    @foreach (var RenterDriverLicenseTypeEn in (List<SelectListItem>)ViewData["RenterDriverLicenseTypeEn"])
                                    {
                                        <option value="@RenterDriverLicenseTypeEn.Value" selected="@(RenterDriverLicenseTypeEn.Value.Trim() == ""  ? "selected" : null)">@RenterDriverLicenseTypeEn.Text</option>
                                    }
                                </select>

                                <div style="margin-top:2px">
                                    <div style="height: 1.35em">
                                        <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseType" class="text-danger"></span>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>


            @*RenterDriver LicenseDate *@
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="LicenseIssueDate">@localizer["LicenseIssueDate"]</label>
                        </div>
                        <div class="col-md-6 dateRelative">
                            <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationLicenseDate" />
                            <div style="margin-top:2px">
                                <div style="margin-top:2px">
                                    <div style="height: 1.0em">
                                        <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                @*RenterDriver LicenseDate End *@
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-5">
                            <label class="form-label" for="LicenseExpireDate">@localizer["LicenseExpireDate"]</label>
                        </div>
                        <div class="col-md-7 dateRelative">
                            <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationLicenseExpiry" />
                            <div style="margin-top:2px">
                                <div style="margin-top:2px">
                                    <div style="height: 1.0em">
                                        <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseExpiry" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>




            @*RenterDriver Nationality and Gender *@
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="RenterDriverNationality">@localizer["RenterDriverNationality"]</label>
                        </div>
                        <div class="col-md-6">
                            @if (requestCulture3?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                <input type="text" class="form-control" id="Nationality" maxlength="50" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required />
                                <div style="margin-top:2px">
                                    <div style="height: 1.35em">
                                        <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationNationality" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <input type="text" class="form-control" id="Nationality" maxlength="50" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')" />


                                <div style="margin-top:2px">
                                    <div style="height: 1.35em">
                                        <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationNationality" class="text-danger"></span>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-5">
                            <label class="form-label" for="RenterDriverGender">@localizer["RenterDriverGender"]</label>
                        </div>
                        <div class="col-md-7">
                            @if (requestCulture4?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                <select class="form-select" asp-for="@Model.CrCasRenterPrivateDriverInformationGender" style="width: 100%;" dir="rtl">
                                    @foreach (var RenterDriverGenderAr in (List<SelectListItem>)ViewData["RenterDriverGenderAr"])
                                    {
                                        <option value="@RenterDriverGenderAr.Value" selected="@(RenterDriverGenderAr.Value.Trim() == "" ? "selected" : null)">@RenterDriverGenderAr.Text</option>
                                    }
                                </select>


                                <div style="margin-top:2px">
                                    <div style="height: 1.35em">
                                        <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationGender" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <select class="form-select" asp-for="@Model.CrCasRenterPrivateDriverInformationGender" style="width: 100%;">
                                    @foreach (var RenterDriverGenderEn in (List<SelectListItem>)ViewData["RenterDriverGenderEn"])
                                    {
                                        <option value="@RenterDriverGenderEn.Value" selected="@(RenterDriverGenderEn.Value.Trim() == ""  ? "selected" : null)">@RenterDriverGenderEn.Text</option>
                                    }
                                </select>

                                <div style="margin-top:2px">
                                    <div style="height: 1.35em">
                                        <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationGender" class="text-danger"></span>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>



            @*telephone and email*@
            <div class="row mt-2">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="RenterDriverMobile">@localizer["RenterDriverMobile"]</label>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationMobile" id="RenterDriverMobile" maxlength="10" oninput="this.value = this.value.replace(/\D/g, '')">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em">
                                            <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationMobile" class="text-danger" id="RenterDriverMobile"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select" asp-for="CrCasRenterPrivateDriverInformationKeyMobile" id="callingKey" style="width: 86px; margin-right: -25px;">
                                        @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeys"])
                                        {
                                            <option value="@callingKey.Text">@callingKey.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="form-label" for="RenterDriverEmail">@localizer["RenterDriverEmail"]</label>
                        </div>
                        <div class="col-md-7" style="margin-right: -15px;width: 606px;">
                            <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationEmail" maxlength="100" id="RenterDriverEmail" width="80%" oninput="this.value = this.value.replace(/[\u0600-\u06FF\u0750-\u077F\u08A0-\u08FF\uFB50-\uFDCF\uFDF0-\uFDFF\uFE70-\uFEFF]/g, '')">
                            <div style="margin-top:2px">
                                <div style="height: 1.0em">
                                    <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationEmail" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            @*RenterDriver reasons*@
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="form-label" for="RenterDriverReasons">@localizer["reasons"]</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" asp-for="CrCasRenterPrivateDriverInformationReasons" maxlength="100" id="RenterDriverReasons" width="80%" />
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationReasons" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*RenterDriver Images*@
            <div class="row mt-1">
                <div class="col-md-4">
                    <div class="file-upload">
                        <button class="file-upload-btn1" type="button" onclick="$('.file-upload-input-picture1').trigger('click')">@localizer["RenterDriverSignature"]</button>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input-picture1" type="file" onchange="readURL(this, 'picture1');" accept="image/*" id="SignatureImg" name="SignatureImg" />
                            <div class="drag-text">
                                <h3>@localizer["DragAndDrop"]</h3>
                            </div>
                        </div>
                        <div class="file-upload-content picture1">
                            <img class="file-upload-image picture1" src="#" alt="uploaded image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="file-upload">
                        <button class="file-upload-btn2" type="button" onclick="$('.file-upload-input-picture2').trigger('click')">@localizer["RenterDriverIDImg"]</button>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input-picture2" type="file" onchange="readURL(this, 'picture2');" accept="image/*" id="IDImg" name="IDImg" />
                            <div class="drag-text">
                                <h3>@localizer["DragAndDrop"]</h3>
                            </div>
                        </div>
                        <div class="file-upload-content picture2">
                            <img class="file-upload-image picture2" src="#" alt="uploaded image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="file-upload">
                        <button class="file-upload-btn3" type="button" onclick="$('.file-upload-input-picture3').trigger('click')">@localizer["RenterDriverLicenseImg"]</button>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input-picture3" type="file" onchange="readURL(this, 'picture3');" accept="image/*" id="LicenseImg" name="LicenseImg" />
                            <div class="drag-text">
                                <h3>@localizer["DragAndDrop"]</h3>
                            </div>
                        </div>
                        <div class="file-upload-content picture3">
                            <img class="file-upload-image picture3" src="#" alt="uploaded image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @Html.ValidationMessage("NoCHanged", null, new { @class = "text-danger" })
        </div>
        <div class="mt-3">
            <button class="btn btn-primary" type="submit">@localizer["Save"]</button>
            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="RenterDriver" asp-action="Index">
                @localizer["Back"]
            </a>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var today = new Date();

            var birthdate = $("#CrCasRenterPrivateDriverInformationBirthDate").val();
            var formattedbirthdate = new Date(birthdate);

            var IssueIdDate = $("CrCasRenterPrivateDriverInformationIssueIdDate").val();
            var IssueIdformattedDate = new Date(IssueIdDate);

            var ExpiryIdDate = $("CrCasRenterPrivateDriverInformationExpiryIdDate").val();
            var ExpiryIdformattedDate = new Date(ExpiryIdDate);


            var LicenseDate = $("CrCasRenterPrivateDriverInformationLicenseDate").val();
            var LicenseformattedDate = new Date(LicenseDate);



            var LicenseExpiryIdDate = $("CrCasRenterPrivateDriverInformationLicenseExpiry").val();
            var LicenseExpiryIdformattedDate = new Date(LicenseExpiryIdDate);

            if (!formattedbirthdate || formattedbirthdate === "") {
                formattedbirthdate = today; // Set date to today if it's empty or null
            }
            if (!IssueIdformattedDate || IssueIdformattedDate === "") {
                IssueIdformattedDate = today; // Set date to today if it's empty or null
            }
            if (!ExpiryIdformattedDate || ExpiryIdformattedDate === "") {
                ExpiryIdformattedDate = today; // Set date to today if it's empty or null
            }


            if (!LicenseformattedDate || LicenseformattedDate === "") {
                LicenseformattedDate = today; // Set date to today if it's empty or null
            }
            if (!LicenseExpiryIdformattedDate || LicenseExpiryIdformattedDate === "") {
                LicenseExpiryIdformattedDate = today; // Set date to today if it's empty or null
            }

            $("#CrCasRenterPrivateDriverInformationBirthDate").datepicker({
                dateFormat: 'yy/mm/dd',
                maxDate: today,
                defaultDate: formattedbirthdate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationBirthDate").datepicker("setDate", formattedbirthdate);
            $("#CrCasRenterPrivateDriverInformationBirthDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrCasRenterPrivateDriverInformationIssueIdDate").datepicker({
                dateFormat: 'yy/mm/dd',
                //minDate: today,
                defaultDate: IssueIdformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationIssueIdDate").datepicker("setDate", IssueIdformattedDate);
            $("#CrCasRenterPrivateDriverInformationIssueIdDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: ExpiryIdformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").datepicker("setDate", ExpiryIdformattedDate);
            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").click(function () {
                $(this).datepicker("show");
            });


            $("#CrCasRenterPrivateDriverInformationLicenseDate").datepicker({
                dateFormat: 'yy/mm/dd',
                //minDate: today,
                defaultDate: LicenseformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationLicenseDate").datepicker("setDate", LicenseformattedDate);
            $("#CrCasRenterPrivateDriverInformationLicenseDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: LicenseExpiryIdformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").datepicker("setDate", LicenseExpiryIdformattedDate);
            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").click(function () {
                $(this).datepicker("show");
            });



            $("#CrCasRenterPrivateDriverInformationBirthDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationIssueIdDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationLicenseDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');



            $(".datepicker-icon").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

            //$("#saveEdit").on("click", function (event) {
            //    event.preventDefault();
            //    CheckValidation('2201002', '@Status.Save').done(function (data) {
            //        if (data) {
            //            $('form').submit();
            //        }
            //    });
            //})
        })

    </script>



    <script>
        function validateInput(event, inId, InEr, No) {
            event.target.value = event.target.value.replace(/[^0-9]/g, '');

            const inputElement = document.getElementById(inId);
            const errorMessageElement = document.getElementById(InEr);

            const inputValue = inputElement.value;
            const isValid = inputValue.startsWith(No);

            if (!isValid) {
                errorMessageElement.textContent = errorMessageElement.getAttribute('data-val-err');
                inputElement.value = "";
            } else {
                errorMessageElement.textContent = '';
            }


        }
        function readURL(input, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var container = $(input).closest('.file-upload');
                    container.find('.file-upload-image.' + type).attr('src', e.target.result);
                    container.find('.file-upload-content.' + type).show();
                    container.find('.image-title.' + type).html(input.files[0].name);
                    container.find('.image-upload-wrap').hide();
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload(input);
            }
        }

        function removeUpload(button) {
            var container = $(button).closest('.file-upload');
            var type = container.find('.file-upload-content').hasClass('picture2') ? 'picture2' : (container.find('.file-upload-content').hasClass('picture1') ? 'picture1' : 'picture3');
            container.find('.file-upload-input-' + type).val('');
            container.find('.file-upload-image.' + type).attr('src', '#');
            container.find('.file-upload-content.' + type).hide();
            container.find('.image-upload-wrap').show();
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $(this).addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $(this).removeClass('image-dropping');
        });

    </script>

    <script>

        $(function () {
            $("#Nationality").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Action("GetRenterDriverNationalityEn", "RenterDriver")",
                        type: "GET",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.label,
                                    value: item.val
                                };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    var selectedChoice = ui.item.value;
                    $.ajax({
                        url: "@Url.Action("GetCode", "RenterDriver")",
                        dataType: "json",
                        type: "Get",
                        data: { selectedOption: selectedChoice },
                        success: function (data) {
                            $('#CrCasRenterPrivateDriverInformationNationality').val(data.data1);

                        },
                        error: function (xhr, status, error) {
                        }
                    });
                }
            });
        });



        $(function () {
            $("#Nationality").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Action("GetRenterDriverNationalityAr", "RenterDriver")",
                        type: "GET",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.label,
                                    value: item.val
                                };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    var selectedChoice = ui.item.value;
                    $.ajax({
                        url: "@Url.Action("GetCode", "RenterDriver")",
                        dataType: "json",
                        type: "Get",
                        data: { selectedOption: selectedChoice },
                        success: function (data) {
                            $('#CrCasRenterPrivateDriverInformationNationality').val(data.data1);

                        },
                        error: function (xhr, status, error) {
                        }
                    });
                }
            });
        });



    </script>
}