

@using Bnan.Ui.ViewModels.CAS
@using Bnan.Core.Extensions
@model FinancialTransactionOfSalesPointVM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<style>

    div.scroll {
        /*        background-color: #fed9ff;
                width: 600px;*/
        /*height: 150px;*/
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        /*padding: 20px;*/
        position: relative;
        /*overflow: auto;*/
        max-height: 35vh;
        width: 100%;
    }


    th.scroll_1 {
        top: 0;
        position: sticky;
        background-color: #E4F3FC;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        /*box-shadow: inset 0 0 5px grey;*/
        border-radius: 2px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        /*background: #b30000;*/
        border-radius: 2px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            /*background: #b30000;*/
        }
</style>
<style>
    #_Nc {
        align-items: center;
    }
</style>

<button onload="ChangeScroll()" hidden> click</button>
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{

    <div class="col-sm-12 scroll">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">

            <div>
                <tr role="row">
                <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["FTR_Serial_No"]</th>
                <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["FTR_Date_Issue"]</th>
                <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["FTR_Reference_Type"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_Creditor"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_Debtor"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_previuos_Balance"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_User_Transector"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTS_Pdf"]</th>
                @*<th class="scroll_1" aria-label="Position: activate to sort column ascending"></th>*@
                </tr>
            </div>
            <div >
            <tbody>

                    @{
                        int no = 1;

                    }
                    @foreach (var item in Model.crCasAccountReceipt)
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'">*@
                <tr onclick="getDetails('@item.CrCasAccountReceiptNo')" style="cursor:pointer;">
                        <td id="_Nc">@no</td>

                        <td id="_Nc">@item.CrCasAccountReceiptNo</td>


                        <td id="_Nc">@item.CrCasAccountReceiptDate?.ToString("dd/MM/yyyy")</td>
                        <td >@item.CrCasAccountReceiptReferenceTypeNavigation.CrMasSupAccountReceiptReferenceEnName</td>
                        <td id="_Nc">@item.CrCasAccountReceiptPayment?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasAccountReceiptReceipt?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasAccountReceiptRenterPreviousBalance?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td>@item.CrCasAccountReceiptUserNavigation.CrMasUserInformationEnName</td>

                            @{
                                var Link_pdf = item.CrCasAccountReceiptEnPdfFile;
                                var Target_pdf = "#";
                                if (Link_pdf?.Count() > 2)
                                {
                                    Target_pdf = "_blank";
                                }
                            }

                    <td>
                        <a href="@Link_pdf" target="@Target_pdf" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                    </td>
                        @*<td>@item.CrCasAccountReceiptReasons</td>*@


                    </tr>

                        no++;
                    }
            </tbody>
            </div>
            
        </table>
    </div>
}
else
{
    <div class="col-sm-12 scroll ">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <div >
                <tr role="row">
                <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["FTR_Serial_No"]</th>
                <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["FTR_Date_Issue"]</th>
                <th class="scroll_1"  aria-label="Position: activate to sort column ascending">@localizer["FTR_Reference_Type"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_Creditor"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_Debtor"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_previuos_Balance"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_User_Transector"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTS_Pdf"]</th>
                @*<th class="scroll_1" aria-label="Position: activate to sort column ascending"></th>*@
            </tr>
            </div>
            <tbody >

                @{
                    int no = 1;
                }



                @foreach (var item in Model.crCasAccountReceipt)
                {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'">*@
            <tr onclick="getDetails('@item.CrCasAccountReceiptNo')" style="cursor:pointer;">
                    <td id="_Nc">@no</td>

                    <td id="_Nc">@item.CrCasAccountReceiptNo</td>

                    <td id="_Nc">@item.CrCasAccountReceiptDate?.ToString("dd/MM/yyyy")</td>
                    <td>@item.CrCasAccountReceiptReferenceTypeNavigation.CrMasSupAccountReceiptReferenceArName</td>
                    <td id="_Nc">@item.CrCasAccountReceiptPayment?.ToString("N2",CultureInfo.InvariantCulture)</td>
                    <td id="_Nc">@item.CrCasAccountReceiptReceipt?.ToString("N2",CultureInfo.InvariantCulture)</td>
                    <td id="_Nc">@item.CrCasAccountReceiptRenterPreviousBalance?.ToString("N2",CultureInfo.InvariantCulture)</td>
                    <td>@item.CrCasAccountReceiptUserNavigation.CrMasUserInformationArName</td>


                        @{
                            var Link_pdf = item.CrCasAccountReceiptArPdfFile;
                            var Target_pdf = "#";
                            if (Link_pdf?.Count() > 2)
                            {
                                Target_pdf = "_blank";
                            }
                        }

                <td>
                    <a href="@Link_pdf" target="@Target_pdf" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                </td>

                    @*<td>@item.CrCasAccountReceiptReasons</td>*@


                </tr>
                    
                    no++;
                }

            </tbody>
        </table>
    </div>
}

@section scripts {

    <script>
        function ChangeScroll(){
            var el = document.getElementsByClassName("dataTables_scrollBody");
            el.style.max-height = "20vh";
        }

    </script>
    <script>
        function GetUpdatedValues(status) {
            //var code = document.getElementById("CrMasContractCompanyNo").value;
            var _max = document.getElementById("endDateInput").value;
            var _mini = document.getElementById("startDateInput").value;
            if (status == "All") {
                const yesBtn = document.getElementById('customRadioAll');

                // ✅ Set the radio button to checked
                yesBtn.checked = true;
            }
            //var status = $("input[name='customRadio']").val();
            $.ajax({
                type: "GET",
                data: { _max: _max, _mini: _mini, status: status },
                // url: "@Url.Action("GetAllContractsByDate_status", "ReportContract", new { Area = "CAS" })",
                url: '/CAS/ReportContract/GetAllContractsByDate_status',

                success: function (result) {
                    console.log(result);
                    $('#dataTableR1').html(result);
                    set_basic_datatable();
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            var startDate = document.getElementById('startDateInput');
            var endDate = document.getElementById('endDateInput');

            startDate.addEventListener('change', function () {
                console.log('Start date changed');
                GetUpdatedValues("All");
                // Handle logic for start date change here
            });

            endDate.addEventListener('change', function () {
                console.log('End date changed');
                GetUpdatedValues("All");
                // Handle logic for end date change here
            });
        });
    </script>
    @*Get Renter contract Using filter*@
    <script>
        //get Renter contract By Status function
        function GetRenterContractFitler(status) {
            $.ajax({
                type: "GET",
                data: {
                    status: status
                },
                url: "@Url.Action("GetRenterContractsByStatus", "ReportContract", new { Area = "CAS" })",
                success: function (response) {
                    $("#dataTableR1").html(response);
                    set_basic_datatable();
                },
            })
        }

        //on Click Filter Radio Button GetLessorsByStatus
        $("input[name='customRadio']").on("click", function () {
            // Clear the value from the search input
            $("#top-search").val("");
            //GetRenterContractFitler($(this).val())
            GetUpdatedValues($(this).val());
        })
    </script>
    }