@inject IViewLocalizer localizer
@model LessorImagesVM

@{
    ViewData["Page-title"] = localizer["Edit Lessor Images Data"];
    ViewData["Page-Hint"] = localizer["Edit Lessor Images Hint"];
}
@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<style>

    .row {
        align-items: baseline;
    }

    #signaturePreview, #imagePreview {
        display: block;
        margin-top: -5px;
        float: right;
        margin-right: 20px;
        height: 100px;
        width: 100px;
        object-fit: cover;
        border: .5px solid rgb(231, 231, 231);
        position: relative;
    }

    #spanInput {
        height: 35px;
    }

    .sub-container form .row > div:nth-child(odd):nth-child(-n+5), .sub-container-form form .row > div:nth-child(odd):nth-child(-n+5) {
        margin: 0;
    }

    .file-upload {
        background-color: #ffffff;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn {
        width: 200px;
        max-height: 200px;
        max-width: 200px;
        margin: 0;
        color: #fff;
        background: #727cf5;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #727cf5;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #5661e3;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

    /* .file-upload-btn:active {
                            border: 0;
                            transition: all .2s ease;
                        }*/

    .file-upload-content {
        display: none;
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 200px%;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        max-height: 200px;
        max-width: 200px;
        margin-top: 5px;
        border: 4px dashed rgb(231, 231, 231);
        position: relative;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: rgb(231, 231, 231);
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            padding: 60px 0;
        }

    .file-upload-image {
        height: 200px;
        width: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border: .5px solid rgb(231, 231, 231);
    }

    .remove-image {
        margin: 0;
        max-height: 200px;
        max-width: 200px;
        width: 100%;
        color: #fff;
        background: #fa5c7c;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #fa5c7c;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .remove-image:hover {
            background: #f35474;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }
</style>
<title>@ViewData["Title"]</title>
<div class="sub-container-form">
    <form class="needs-validation" novalidate asp-area="MAS" asp-controller="LessorImages" asp-action="Edit" enctype="multipart/form-data" method="post">
        <div class="row mt-3 text-center ">
            <div class="col-md-5 row">
                <div class="col-md-2">
                    <label class="form-label" for="UserCode">@localizer["LessorCode"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasLessorImageCode" id="lessorCode" readonly>
                </div>
            </div>
            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
            {
                <div class="col-md-5 row">
                    <div class="col-md-2">
                        <label class="form-label" for="UserNameAr">@localizer["LessorName"]</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" asp-for="CrMasLessorNameAr" readonly>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-5 row">
                    <div class="col-md-2">
                        <label class="form-label" for="UserNameAr">@localizer["LessorName"]</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" asp-for="CrMasLessorNameEn" readonly>
                    </div>
                </div>
            }
        </div>
        <div class="form-contain" style="height: 50vh;">

            <div class="row">
                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageLogo))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.logo1').trigger('click')">@localizer["logo1"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input logo1" type="file" onchange="readURL(this, 'logo1');" accept="image/*" id="CompanyLogo" name="CompanyLogo" value="@Model.CrMasLessorImageLogo?.ToString()" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content logo1" style="display:block">
                                <img class="file-upload-image logo1" src="@Url.Content(Model.CrMasLessorImageLogo?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.logo1').trigger('click')">@localizer["logo1"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input logo1" type="file" onchange="readURL(this, 'logo1');" accept="image/*" id="CompanyLogo" name="CompanyLogo" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content logo1" style="display:none">
                                <img class="file-upload-image logo1" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageStamp))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.stamp').trigger('click')">@localizer["stamp"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input stamp" type="file" onchange="readURL(this, 'stamp');" accept="image/*" id="Stamp" name="Stamp" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content stamp" style="display:block">
                                <img class="file-upload-image stamp" src="@Url.Content(Model.CrMasLessorImageStamp?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.stamp').trigger('click')">@localizer["stamp"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input stamp" type="file" onchange="readURL(this, 'stamp');" accept="image/*" id="Stamp" name="Stamp" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content stamp" style="display:none">
                                <img class="file-upload-image stamp" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageStampOutsideCity))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.StampOutsideCity').trigger('click')">@localizer["StampOutsideCity"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input StampOutsideCity" type="file" onchange="readURL(this, 'StampOutsideCity');" accept="image/*" id="StampOutsideCity" name="StampOutsideCity" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content StampOutsideCity" style="display:block">
                                <img class="file-upload-image StampOutsideCity" src="@Url.Content(Model.CrMasLessorImageStampOutsideCity?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.StampOutsideCity').trigger('click')">@localizer["StampOutsideCity"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input StampOutsideCity" type="file" onchange="readURL(this, 'StampOutsideCity');" accept="image/*" id="StampOutsideCity" name="StampOutsideCity" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content StampOutsideCity" style="display:none">
                                <img class="file-upload-image StampOutsideCity" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }



                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageStampOutsideCountry))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.StampOutsideCountry').trigger('click')">@localizer["StampOutsideCountry"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input StampOutsideCountry" type="file" onchange="readURL(this, 'StampOutsideCountry');" accept="image/*" id="StampOutsideCountry" name="StampOutsideCountry" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content StampOutsideCountry" style="display:block">
                                <img class="file-upload-image StampOutsideCountry" src="@Url.Content(Model.CrMasLessorImageStampOutsideCountry?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.StampOutsideCountry').trigger('click')">@localizer["StampOutsideCountry"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input StampOutsideCountry" type="file" onchange="readURL(this, 'StampOutsideCountry');" accept="image/*" id="StampOutsideCountry" name="StampOutsideCountry" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content StampOutsideCountry" style="display:none">
                                <img class="file-upload-image StampOutsideCountry" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageStampFullAmountPaid))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.StampFullAmountPaid').trigger('click')">@localizer["StampFullAmountPaid"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input StampFullAmountPaid" type="file" onchange="readURL(this, 'StampFullAmountPaid');" accept="image/*" id="StampFullAmountPaid" name="StampFullAmountPaid" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content StampFullAmountPaid" style="display:block">
                                <img class="file-upload-image StampFullAmountPaid" src="@Url.Content(Model.CrMasLessorImageStampFullAmountPaid?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.StampFullAmountPaid').trigger('click')">@localizer["StampFullAmountPaid"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input StampFullAmountPaid" type="file" onchange="readURL(this, 'StampFullAmountPaid');" accept="image/*" id="StampFullAmountPaid" name="StampFullAmountPaid" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content StampFullAmountPaid" style="display:none">
                                <img class="file-upload-image StampFullAmountPaid" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageSignatureDirector))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.SignatureDirector').trigger('click')">@localizer["SignatureDirector"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input SignatureDirector" type="file" onchange="readURL(this, 'SignatureDirector');" accept="image/*" id="SignatureDirector" name="SignatureDirector" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content SignatureDirector" style="display:block">
                                <img class="file-upload-image SignatureDirector" src="@Url.Content(Model.CrMasLessorImageSignatureDirector?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.SignatureDirector').trigger('click')">@localizer["SignatureDirector"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input SignatureDirector" type="file" onchange="readURL(this, 'SignatureDirector');" accept="image/*" id="SignatureDirector" name="SignatureDirector" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content SignatureDirector" style="display:none">
                                <img class="file-upload-image SignatureDirector" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageContractCard))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ContractCard').trigger('click')">@localizer["ContractCard"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input ContractCard" type="file" onchange="readURL(this, 'ContractCard');" accept="image/*" id="ContractCard" name="ContractCard" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ContractCard" style="display:block">
                                <img class="file-upload-image ContractCard" src="@Url.Content(Model.CrMasLessorImageContractCard?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ContractCard').trigger('click')">@localizer["ContractCard"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input ContractCard" type="file" onchange="readURL(this, 'ContractCard');" accept="image/*" id="ContractCard" name="ContractCard" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ContractCard" style="display:none">
                                <img class="file-upload-image ContractCard" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageContractExtensionCard))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.CreateContractWhatUp').trigger('click')">@localizer["ExtensionContractCard"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input ExtensionContractCard" type="file" onchange="readURL(this, 'ExtensionContractCard');" accept="image/*" id="ExtensionContractCard" name="ExtensionContractCard" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ExtensionContractCard" style="display:block">
                                <img class="file-upload-image ExtensionContractCard" src="@Url.Content(Model.CrMasLessorImageContractExtensionCard?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ExtensionContractCard').trigger('click')">@localizer["ExtensionContractCard"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input ExtensionContractCard" type="file" onchange="readURL(this, 'ExtensionContractCard');" accept="image/*" id="ExtensionContractCard" name="ExtensionContractCard" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ExtensionContractCard" style="display:none">
                                <img class="file-upload-image ExtensionContractCard" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageContract24Hour))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.Contract24HourCard').trigger('click')">@localizer["Contract24HourCard"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input Contract24HourCard" type="file" onchange="readURL(this, 'Contract24HourCard');" accept="image/*" id="Contract24HourCard" name="Contract24HourCard" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content Contract24HourCard" style="display:block">
                                <img class="file-upload-image Contract24HourCard" src="@Url.Content(Model.CrMasLessorImageContract24Hour?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {

                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.Contract24HourCard').trigger('click')">@localizer["Contract24HourCard"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input Contract24HourCard" type="file" onchange="readURL(this, 'Contract24HourCard');" accept="image/*" id="Contract24HourCard" name="Contract24HourCard" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content Contract24HourCard" style="display:none">
                                <img class="file-upload-image Contract24HourCard" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>


                }
                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageContract4Hour))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.Contract4Hour').trigger('click')">@localizer["Contract4Hour"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input Contract4Hour" type="file" onchange="readURL(this, 'Contract4Hour');" accept="image/*" id="Contract4Hour" name="Contract4Hour" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content Contract4Hour" style="display:block">
                                <img class="file-upload-image Contract4Hour" src="@Url.Content(Model.CrMasLessorImageContract4Hour?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.Contract4Hour').trigger('click')">@localizer["Contract4Hour"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input Contract4Hour" type="file" onchange="readURL(this, 'Contract4Hour');" accept="image/*" id="Contract4Hour" name="Contract4Hour" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content Contract4Hour" style="display:none">
                                <img class="file-upload-image Contract4Hour" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageContractFinished))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ContractFinished').trigger('click')">@localizer["ContractFinished"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input ContractFinished" type="file" onchange="readURL(this, 'ContractFinished');" accept="image/*" id="ContractFinished" name="ContractFinished" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ContractFinished" style="display:block">
                                <img class="file-upload-image ContractFinished" src="@Url.Content(Model.CrMasLessorImageContractFinished?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ContractFinished').trigger('click')">@localizer["ContractFinished"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input ContractFinished" type="file" onchange="readURL(this, 'ContractFinished');" accept="image/*" id="ContractFinished" name="ContractFinished" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ContractFinished" style="display:none">
                                <img class="file-upload-image ContractFinished" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageContractClosed))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ContractClosed').trigger('click')">@localizer["ContractClosed"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input ContractClosed" type="file" onchange="readURL(this, 'ContractClosed');" accept="image/*" id="ContractClosed" name="ContractClosed" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ContractClosed" style="display:block">
                                <img class="file-upload-image ContractClosed" src="@Url.Content(Model.CrMasLessorImageContractClosed?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ContractClosed').trigger('click')">@localizer["ContractClosed"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input ContractClosed" type="file" onchange="readURL(this, 'ContractClosed');" accept="image/*" id="ContractClosed" name="ContractClosed" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ContractClosed" style="display:none">
                                <img class="file-upload-image ContractClosed" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageContractCancelled))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ContractCancelled').trigger('click')">@localizer["ContractCancelled"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input ContractCancelled " type="file" onchange="readURL(this, 'ContractCancelled');" accept="image/*" id="ContractCancelled" name="ContractCancelled" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ContractCancelled" style="display:block">
                                <img class="file-upload-image ContractCancelled" src="@Url.Content(Model.CrMasLessorImageContractCancelled?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ContractCancelled').trigger('click')">@localizer["ContractCancelled"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input ContractCancelled" type="file" onchange="readURL(this, 'ContractCancelled');" accept="image/*" id="ContractCancelled" name="ContractCancelled" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ContractCancelled" style="display:none">
                                <img class="file-upload-image ContractCancelled" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }



                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageArCatchReceipt))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArCatchReceipt').trigger('click')">@localizer["ArCatchReceipt"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input ArCatchReceipt" type="file" onchange="readURL(this, 'ArCatchReceipt');" accept="image/*" id="ArCatchReceipt" name="ArCatchReceipt" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArCatchReceipt" style="display:block">
                                <img class="file-upload-image ArCatchReceipt" src="@Url.Content(Model.CrMasLessorImageArCatchReceipt?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArCatchReceipt').trigger('click')">@localizer["ArCatchReceipt"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input ArCatchReceipt" type="file" onchange="readURL(this, 'ArCatchReceipt');" accept="image/*" id="ArCatchReceipt" name="ArCatchReceipt" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArCatchReceipt" style="display:none">
                                <img class="file-upload-image ArCatchReceipt" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageArBillExchange))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArBillExchange').trigger('click')">@localizer["ArBillExchange"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input ArBillExchange" type="file" onchange="readURL(this, 'ArBillExchange');" accept="image/*" id="ArBillExchange" name="ArBillExchange" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArBillExchange" style="display:block">
                                <img class="file-upload-image ArBillExchange" src="@Url.Content(Model.CrMasLessorImageArBillExchange?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArBillExchange').trigger('click')">@localizer["ArBillExchange"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input ArBillExchange" type="file" onchange="readURL(this, 'ArBillExchange');" accept="image/*" id="ArBillExchange" name="ArBillExchange" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArBillExchange" style="display:none">
                                <img class="file-upload-image ArBillExchange" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageArBoxFeeding))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArBoxFeeding').trigger('click')">@localizer["ArBoxFeeding"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input ArBoxFeeding" type="file" onchange="readURL(this, 'ArBoxFeeding');" accept="image/*" id="ArBoxFeeding" name="ArBoxFeeding" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArBoxFeeding" style="display:block">
                                <img class="file-upload-image ArBoxFeeding" src="@Url.Content(Model.CrMasLessorImageArBoxFeeding?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArBoxFeeding').trigger('click')">@localizer["ArBoxFeeding"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input ArBoxFeeding " type="file" onchange="readURL(this, 'ArBoxFeeding');" accept="image/*" id="ArBoxFeeding" name="ArBoxFeeding" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArBoxFeeding" style="display:none">
                                <img class="file-upload-image ArBoxFeeding" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageArDeliveryCustody))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArDeliveryCustody').trigger('click')">@localizer["ArDeliveryCustody"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input ArDeliveryCustody" type="file" onchange="readURL(this, 'ArDeliveryCustody');" accept="image/*" id="ArDeliveryCustody" name="ArDeliveryCustody" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArDeliveryCustody" style="display:block">
                                <img class="file-upload-image ArDeliveryCustody" src="@Url.Content(Model.CrMasLessorImageArDeliveryCustody?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArDeliveryCustody').trigger('click')">@localizer["ArDeliveryCustody"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input ArDeliveryCustody" type="file" onchange="readURL(this, 'ArDeliveryCustody');" accept="image/*" id="ArDeliveryCustody" name="ArDeliveryCustody" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArDeliveryCustody" style="display:none">
                                <img class="file-upload-image ArDeliveryCustody" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageArTransferFtenant))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArTransferFtenant').trigger('click')">@localizer["ArTransferFtenant"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input ArTransferFtenant" type="file" onchange="readURL(this, 'ArTransferFtenant');" accept="image/*" id="ArTransferFtenant" name="ArTransferFtenant" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArTransferFtenant" style="display:block">
                                <img class="file-upload-image ArTransferFtenant" src="@Url.Content(Model.CrMasLessorImageArTransferFtenant?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArTransferFtenant').trigger('click')">@localizer["ArTransferFtenant"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input ArTransferFtenant" type="file" onchange="readURL(this, 'ArTransferFtenant');" accept="image/*" id="ArTransferFtenant" name="ArTransferFtenant" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArTransferFtenant" style="display:none">
                                <img class="file-upload-image ArTransferFtenant" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageArTransferTtenant))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArTransferTtenant').trigger('click')">@localizer["ArTransferTtenant"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input ArTransferTtenant" type="file" onchange="readURL(this, 'ArTransferTtenant');" accept="image/*" id="ArTransferTtenant" name="ArTransferTtenant" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArTransferTtenant" style="display:block">
                                <img class="file-upload-image ArTransferTtenant" src="@Url.Content(Model.CrMasLessorImageArTransferTtenant?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.ArTransferTtenant').trigger('click')">@localizer["ArTransferTtenant"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input ArTransferTtenant" type="file" onchange="readURL(this, 'ArTransferTtenant');" accept="image/*" id="ArTransferTtenant" name="ArTransferTtenant" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content ArTransferTtenant" style="display:none">
                                <img class="file-upload-image ArTransferTtenant" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageEnCatchReceipt))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnCatchReceipt').trigger('click')">@localizer["EnCatchReceipt"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input EnCatchReceipt" type="file" onchange="readURL(this, 'EnCatchReceipt');" accept="image/*" id="EnCatchReceipt" name="EnCatchReceipt" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnCatchReceipt" style="display:block">
                                <img class="file-upload-image EnCatchReceipt" src="@Url.Content(Model.CrMasLessorImageEnCatchReceipt?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnCatchReceipt').trigger('click')">@localizer["EnCatchReceipt"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input EnCatchReceipt" type="file" onchange="readURL(this, 'EnCatchReceipt');" accept="image/*" id="EnCatchReceipt" name="EnCatchReceipt" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnCatchReceipt" style="display:none">
                                <img class="file-upload-image EnCatchReceipt" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageEnBillExchange))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnBillExchange').trigger('click')">@localizer["EnBillExchange"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input EnBillExchange " type="file" onchange="readURL(this, 'EnBillExchange');" accept="image/*" id="EnBillExchange" name="EnBillExchange" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnBillExchange" style="display:block">
                                <img class="file-upload-image EnBillExchange" src="@Url.Content(Model.CrMasLessorImageEnBillExchange?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnBillExchange').trigger('click')">@localizer["EnBillExchange"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input EnBillExchange" type="file" onchange="readURL(this, 'EnBillExchange');" accept="image/*" id="EnBillExchange" name="EnBillExchange" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnBillExchange" style="display:none">
                                <img class="file-upload-image EnBillExchange" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageEnBoxFeeding))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnBoxFeeding').trigger('click')">@localizer["EnBoxFeeding"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input EnBoxFeeding" type="file" onchange="readURL(this, 'EnBoxFeeding');" accept="image/*" id="EnBoxFeeding" name="EnBoxFeeding" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnBoxFeeding" style="display:block">
                                <img class="file-upload-image EnBoxFeeding" src="@Url.Content(Model.CrMasLessorImageEnBoxFeeding?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnBoxFeeding').trigger('click')">@localizer["EnBoxFeeding"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input EnBoxFeeding" type="file" data-re="r" onchange="readURL(this, 'EnBoxFeeding');" accept="image/*" id="EnBoxFeeding" name="EnBoxFeeding" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnBoxFeeding" style="display:none">
                                <img class="file-upload-image EnBoxFeeding" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageEnDeliveryCustody))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnDeliveryCustody').trigger('click')">@localizer["EnDeliveryCustody"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input EnDeliveryCustody" type="file" onchange="readURL(this, 'EnDeliveryCustody');" accept="image/*" id="EnDeliveryCustody" name="EnDeliveryCustody" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnDeliveryCustody" style="display:block">
                                <img class="file-upload-image EnDeliveryCustody" src="@Url.Content(Model.CrMasLessorImageEnDeliveryCustody?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnDeliveryCustody').trigger('click')">@localizer["EnDeliveryCustody"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input EnDeliveryCustody" type="file" data-re="r" onchange="readURL(this, 'EnDeliveryCustody');" accept="image/*" id="EnDeliveryCustody" name="EnDeliveryCustody" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnDeliveryCustody" style="display:none">
                                <img class="file-upload-image EnDeliveryCustody" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageEnTransferFtenant))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnTransferFtenant').trigger('click')">@localizer["EnTransferFtenant"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input EnTransferFtenant" type="file" onchange="readURL(this, 'EnTransferFtenant');" accept="image/*" id="EnTransferFtenant" name="EnTransferFtenant" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnTransferFtenant" style="display:block">
                                <img class="file-upload-image EnTransferFtenant" src="@Url.Content(Model.CrMasLessorImageEnTransferFtenant?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnTransferFtenant').trigger('click')">@localizer["EnTransferFtenant"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input EnTransferFtenant" type="file" data-re="r" onchange="readURL(this, 'EnTransferFtenant');" accept="image/*" id="EnTransferFtenant" name="EnTransferFtenant" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnTransferFtenant" style="display:none">
                                <img class="file-upload-image EnTransferFtenant" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.CrMasLessorImageEnTransferTtenant))
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnTransferTtenant').trigger('click')">@localizer["EnTransferTtenant"]</button>
                            <div class="image-upload-wrap" style="display:none">
                                <input class="file-upload-input EnTransferTtenant" type="file" onchange="readURL(this, 'EnTransferTtenant');" accept="image/*" id="EnTransferTtenant" name="EnTransferTtenant" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnTransferTtenant" style="display:block">
                                <img class="file-upload-image EnTransferTtenant" src="@Url.Content(Model.CrMasLessorImageEnTransferTtenant?.ToString())" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-4 col-6 mt-1">
                        <div class="file-upload">
                            <button class="file-upload-btn" type="button" onclick="$('.EnTransferTtenant').trigger('click')">@localizer["EnTransferTtenant"]</button>
                            <div class="image-upload-wrap" style="display:block">
                                <input class="file-upload-input EnTransferTtenant" type="file" data-re="r" onchange="readURL(this, 'EnTransferTtenant');" accept="image/*" id="EnTransferTtenant" name="EnTransferTtenant" />
                                <div class="drag-text">
                                    <h3>@localizer["DragAndDrop"]</h3>
                                </div>
                            </div>
                            <div class="file-upload-content EnTransferTtenant" style="display:none">
                                <img class="file-upload-image EnTransferTtenant" src="#" alt="uploaded image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
        <div class="mt-3">
            <a class="btn btn-primary ms-2" id="saveBtn">@localizer["Save"]</a>
            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="MAS" asp-controller="LessorImages" asp-action="Index">
                @localizer["Back"]
            </a>
        </div>

    </form>
</div>


@section Scripts {
    <script>
        function readURL(input, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var container = $(input).closest('.file-upload');
                    container.find('.file-upload-image.' + type).attr('src', e.target.result);
                    container.find('.file-upload-content.' + type).show();
                    container.find('.image-title.' + type).html(input.files[0].name);
                    container.find('.image-upload-wrap').hide();
                };
                reader.readAsDataURL(input.files[0]);
                console.log(input)
                $(input).removeAttr("data-r")
            } else {
                removeUpload(input);
            }
        }


        function removeUpload(button) {
            var container = $(button).closest('.file-upload');
            var imageContent = container.find('.file-upload-content');
            var type = imageContent.attr('class').split(' ')[1];
            var c = $(button).parent().siblings(".file-upload-image").attr("src");

            container.find('.file-upload-input-' + type).val('');
            // container.find('.file-upload-image.' + type).attr('src', '#');
            container.find('.file-upload-content.' + type).hide();
            container.find('.image-upload-wrap').show();
            console.log(button)
            console.log(555)
            console.log(c)
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $(this).addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $(this).removeClass('image-dropping');
        });
    </script>
    <script>

        $("#saveBtn").on("click", function (event) {
            event.preventDefault();

            var lessorCode = document.getElementById("lessorCode").value;
            var formData = new FormData();
            var imagesForRemove = [];

            var fileInputs = document.querySelectorAll('input[type="file"]');
            for (var i = 0; i < fileInputs.length; i++) {
                var fileInput = fileInputs[i];
                var id = fileInput.getAttribute('id');
                var file = fileInput.files[0];
                var deleteImageSrc = fileInput.getAttribute('data-r');
                console.log(deleteImageSrc)
                if (deleteImageSrc != "" && deleteImageSrc != null) {
                    imagesForRemove.push({
                        id: id,
                        src: deleteImageSrc
                    });
                } else {
                    formData.append(id, file);
                }
            }
            if (imagesForRemove.length > 0) {
                formData.append('imagesForRemove', JSON.stringify(imagesForRemove));
            }
            console.log(formData)
            console.log(imagesForRemove)
            $.ajax({
                url: '/MAS/LessorImages/EditImages',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                headers: {
                    'lessorcode': lessorCode
                },
                success: function (response) {
                    if (response) {
                        window.location.href = "/MAS/LessorImages/SuccesssMessageForLessorImages";
                    }
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    console.log(error);
                }
            });
        });


        $(".remove-image").on("click", function () {
            var src = $(this).parent().parent().find("img").attr("src")
            console.log(src)
            $(this).parent().parent().siblings(".image-upload-wrap").find(" > input").attr("data-r", src)
        })


    </script>
   
}