@using Bnan.Core.Extensions
@model IEnumerable<CrMasLessorInformation>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = @localizer["Lessors Data"];
    ViewData["Page-Hint"] = @localizer["LessorsImages Hint"];
}
<style>
    body {
        overflow: hidden
    }

    @@media (max-width: 600px) {
        #basic-datatable1_wrapper .row:first-child > div {
            text-align: center;
        }

            #basic-datatable1_wrapper .row:first-child > div:last-child > * {
                text-align: center;
            }
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

</style>

<div class="sub-container">
    <div class="container-fluid">
        <div class="row">
            @*filter*@
            <div class="col-sm-12 col-md-9">
                <div class="col-sm-12 col-md-4 p-0">
                    <a type="button" class="btn btn-danger" title="@localizer["Back"]" asp-area="MAS" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>
                </div>
            </div>

            @*search And Fitler Radio Button*@
            <div class="col-sm-12 col-md-3 p-0">
                <input class="form-control" type="search" id="top-search" style="width: 96%;" placeholder="@localizer["search"]...">
            </div>
        </div>
        <div class=dataTable>
            @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
            {
                <div class="col-sm-12">
                    <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
                        <thead>
                            <tr role="row">
                                <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["LessorNo"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["LessorName"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["DirName"]</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int no = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr onclick="location.href='@Url.Action("Edit", "LessorImages", new { id = item.CrMasLessorInformationCode })'">
                                    <td>@no</td>
                                    <td>@item.CrMasLessorInformationCode</td>
                                    <td>@item.CrMasLessorInformationEnLongName</td>
                                    <td>@item.CrMasLessorInformationDirectorEnName</td>
                                </tr>
                                no++;
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="col-sm-12">
                    <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
                        <thead>
                            <tr role="row">
                                <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                                <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["LessorNo"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["LessorName"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["DirName"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int no = 1;
                            }
                            @foreach (var item in Model)
                            {

                                <tr onclick="location.href='@Url.Action("Edit", "LessorImages", new { id = item.CrMasLessorInformationCode })'" style="cursor:pointer; ">
                                    <td>@no</td>
                                    <td>@item.CrMasLessorInformationCode</td>
                                    <td>@item.CrMasLessorInformationArLongName</td>
                                    <td>@item.CrMasLessorInformationDirectorArName</td>
                                </tr>

                                no++;
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
   
   
}


<style>
    .wrapper {
        margin-bottom: 60px;
        overflow: hidden;
        background-image: url("~/Pictures/bg.jpg") !important;
    }

    .table-bordered td,
    .table-bordered th {
        border: none;
    }
</style>

