@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.BS;
@using Newtonsoft.Json;
@model BSLayoutVM
@inject IViewLocalizer localizer
<!--Avaliable Cars-->
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}







<div id="carousel3" class="carousel slide carousel-dark" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner" id="carousel-inner2">
        @if (Model.AvaliableCars != null)
        {
            @foreach (var item in Model.AvaliableCars)
            {
                <div class="carousel-item animate @(item == Model.AvaliableCars.First() ? "active" : "")">

                    <div class="product1 p-2 pt-0">
                        <div class="row flex-row-reverse">
                            <div class="col-md-8">
                                <div class="row " id="rented_data1">
                                    <div class="col-lg-12 pb-1">
                                        <p class="product-data1">
                                            @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                                            {
                                            <p class="product-data1"> @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionConcatenateEnName</p>
                                            }
                                            else
                                            {
                                            <p class="product-data1"> @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionConcatenateArName</p>
                                            }
                                        </p>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="row product-data2">
                                            <div class="col-auto">
                                                <img src="~/BranchSys/img/transimission2.png">
                                            </div>
                                            <div class="col-auto">
                                                <img src="~/BranchSys/img/gas1.png">

                                            </div>
                                            <div class="col-auto">
                                                <p> @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionBagBags <img src="~/BranchSys/img/lbag2.png"> </p>

                                            </div>
                                            <div class="col-auto">
                                                <p> @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionSmallBags <img src="~/BranchSys/img/sbag2.png"></p>

                                            </div>
                                            <div class="col-auto">
                                                <p>  @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionPassengers <img src="~/BranchSys/img/people2.png"></p>

                                            </div>
                                            <div class="col-auto">
                                                <p>@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionDoor <img src="~/BranchSys/img/doors2.png"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row car_img  align-items-center">
                                        <div class="col-md-9 text-end">
                                            <img class="product-image w-100" src="@Url.Content(item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionImage)"
                                                 alt="@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionConcatenateArName">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="faq-container1">
                                                    <div class="faq ">
                                                        @{
                                                            var carPrice = item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault(x => x.CrCasPriceCarBasicNo == item.CrCasCarInformationPriceNo);
                                                        }
                                                        <h3 class="faq-title">@localizer["Price"]</h3>
                                                        <div class="faq-text px-2">
                                                            <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                <div class="col-lg-7 tabs">
                                                                    @localizer["ExtraHourValue"]
                                                                </div>
                                                                <div class="col-lg-5 ">@carPrice?.CrCasPriceCarBasicExtraHourValue?.ToString("N2", CultureInfo.InvariantCulture)</div>
                                                            </div>
                                                            <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                <div class="col-lg-7 tabs">
                                                                    @localizer["AdditionalKmValue"]
                                                                </div>
                                                                <div class="col-lg-5 ">@carPrice?.CrCasPriceCarBasicAdditionalKmValue?.ToString("N2", CultureInfo.InvariantCulture)</div>
                                                            </div>
                                                            <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                <div class="col-lg-7 tabs">
                                                                    @localizer["Monthly"]
                                                                </div>
                                                                <div class="col-lg-5 ">@carPrice?.CrCasPriceCarBasicMonthlyRent?.ToString("N2", CultureInfo.InvariantCulture)</div>
                                                            </div>
                                                            <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                <div class="col-lg-7 tabs">
                                                                    @localizer["Weekly"]
                                                                </div>
                                                                <div class="col-lg-5 ">@carPrice?.CrCasPriceCarBasicWeeklyRent?.ToString("N2", CultureInfo.InvariantCulture)</div>
                                                            </div>
                                                            <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                <div class="col-lg-7 tabs">
                                                                    @localizer["Daily"]
                                                                </div>
                                                                <div class="col-lg-5 ">@carPrice?.CrCasPriceCarBasicDailyRent?.ToString("N2", CultureInfo.InvariantCulture)</div>
                                                            </div>
                                                        </div>
                                                        <button class="faq-toggle">
                                                            <i class="fas fa-chevron-down"></i>
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                   
                                                    <div class="faq ">
                                                        @{
                                                            var contract = item.CrCasRenterContractBasics.FirstOrDefault(x => x.CrCasRenterContractBasicCarSerailNo == item.CrCasCarInformationSerailNo);
                                                        }
                                                        <h3 class="faq-title">@localizer["TermsRented"]</h3>
                                                        <div class="faq-text px-2">
                                                            <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                <div class="col-lg-7 tabs">
                                                                    @localizer["DailyFreeKm"]
                                                                </div>
                                                                <div class="col-lg-5 ">@contract?.CrCasRenterContractBasicTotalDailyFreeKm</div>
                                                            </div>
                                                            <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                <div class="col-lg-7 tabs">
                                                                    @localizer["FreeAdditionalHours"]
                                                                </div>
                                                                <div class="col-lg-5 ">@contract?.CrCasRenterContractBasicTotalFreeHours</div>
                                                            </div>
                                                            <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                <div class="col-lg-7  tabs">
                                                                    @localizer["AdditionalKmValue"]
                                                                </div>
                                                                <div class="col-lg-5">
                                                                    @contract?.CrCasRenterContractBasicKmValue?.ToString("N2", CultureInfo.InvariantCulture)
                                                                </div>
                                                            </div>
                                                            <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                <div class="col-lg-7  tabs">
                                                                    @localizer["ExtraHourValue"]
                                                                </div>
                                                                <div class="col-lg-5">
                                                                    @contract?.CrCasRenterContractBasicHourValue?.ToString("N2", CultureInfo.InvariantCulture)
                                                                </div>
                                                            </div>
                                                            <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                <div class="col-lg-7  tabs">
                                                                    @localizer["Age"]
                                                                </div>
                                                                <div class="col-lg-5">
                                                                    @carPrice?.CrCasPriceCarBasicMaxAge : @carPrice?.CrCasPriceCarBasicMinAge
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="faq-toggle">
                                                            <i class="fas fa-chevron-down"></i>
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                    <div class="faq ">
                                                        @{
                                                            var maintainaces = item.CrCasCarDocumentsMaintenances.Where(x => x.CrCasCarDocumentsMaintenanceProceduresClassification == "13");
                                                        }
                                                        <h3 class="faq-title">@localizer["Maintenance"]</h3>
                                                        <div class="faq-text px-2  scroll-faq-text">
                                                            <div class="inner-scroll-faq-text">
                                                                @foreach (var main in maintainaces)
                                                                {
                                                                    <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                        <div class="col-lg-6  tabs">
                                                                            @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                                                                            {
                                                                                @main.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresEnName
                                                                            }
                                                                            else
                                                                            {
                                                                                @main.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresArName
                                                                            }
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            @if (main.CrCasCarDocumentsMaintenanceStatus == Status.Active)
                                                                            {
                                                                                @localizer["CActive"]
                                                                            }
                                                                            else if (main.CrCasCarDocumentsMaintenanceStatus == Status.AboutToExpire)
                                                                            {
                                                                                @localizer["OnExpired"]
                                                                            }
                                                                            else if (main.CrCasCarDocumentsMaintenanceStatus == Status.Expire)
                                                                            {
                                                                                @localizer["Expired"]
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <button class="faq-toggle">
                                                            <i class="fas fa-chevron-down"></i>
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                    <div class="faq ">
                                                        @{
                                                            var docs = item.CrCasCarDocumentsMaintenances.Where(x => x.CrCasCarDocumentsMaintenanceProceduresClassification == "12");
                                                        }
                                                        <h3 class="faq-title">@localizer["Documents Cars"]</h3>
                                                        <div class="faq-text px-2  scroll-faq-text">
                                                            <div class="inner-scroll-faq-text">
                                                                @foreach (var doc in docs)
                                                                {
                                                                    <div class="row flex-row-reverse px-lg-2 pb-3">
                                                                        <div class="col-lg-6  tabs">
                                                                            @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                                                                            {
                                                                                @doc.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresEnName
                                                                            }
                                                                            else
                                                                            {
                                                                                @doc.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresArName
                                                                            }
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            @if (doc.CrCasCarDocumentsMaintenanceStatus == Status.Active)
                                                                            {
                                                                                @localizer["CActive"]
                                                                            }
                                                                            else if (doc.CrCasCarDocumentsMaintenanceStatus == Status.AboutToExpire)
                                                                            {
                                                                                @localizer["OnExpired"]
                                                                            }
                                                                            else if (doc.CrCasCarDocumentsMaintenanceStatus == Status.Expire)
                                                                            {
                                                                                @localizer["Expired"]
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <button class="faq-toggle">
                                                            <i class="fas fa-chevron-down"></i>
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <!-- Previous and Next buttons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev" hidden>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel3" id="nextButton3" data-bs-slide="next" hidden>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<script>
    $(document).ready(function () {
        // Trigger a click event on the "Next" control button after a delay of 5 seconds
        setTimeout(function () {
            $('#nextButton3').trigger('click');
        }, 5000); // 5000 milliseconds = 5 seconds
    });
</script>
@* <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner2">
        @if (Model.AvaliableCars != null)
        {
            @foreach (var item in Model.AvaliableCars)
            {
                <div class="carousel-item animate @(item == Model.AvaliableCars.First() ? "active" : "")">
                    <div class="product p-2 pt-0">
                        <div class="row" id="available_data1">
                            <div class="col-md-7 col-lg-7">
                                <div class="row product-data2">
                                    <div class="col-auto">
                                        <img src="~/BranchSys/img/transimission2.png">
                                    </div>
                                    <div class="col-auto">
                                        <img src="~/BranchSys/img/gas1.png">

                                    </div>
                                    <div class="col-auto">
                                        <p> @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionBagBags <img src="~/BranchSys/img/lbag2.png"> </p>

                                    </div>
                                    <div class="col-auto">
                                        <p> @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionSmallBags <img src="~/BranchSys/img/sbag2.png"></p>

                                    </div>
                                    <div class="col-auto">
                                        <p>  @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionPassengers <img src="~/BranchSys/img/people2.png"></p>

                                    </div>
                                    <div class="col-auto">
                                        <p>@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionDoor <img src="~/BranchSys/img/doors2.png"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-5">
                                @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                                {
                                    <p class="product-data1"> @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionConcatenateEnName</p>
                                }
                                else
                                {
                                    <p class="product-data1"> @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionConcatenateArName</p>
                                }
                            </div>
                        </div>
                        <div class="row car_img img-car-avaliable">
                            <img class="product-image" src="@Url.Content(item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionImage)"
                                 alt="@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionConcatenateArName">
                        </div>
                        <div class="row" id="available_data2">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="collapse" id="collapse-price-${@item.CrCasCarInformationSerailNo+p}">
                                            <div class="row">
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 ">
                                                    <p class="pb-0">@localizer["ExtraHour"]</p>
                                                    <p>@item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicExtraHourValue</p>
                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                    <p>@localizer["ExtraKm"]</p>
                                                    <p>@item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicAdditionalKmValue</p>
                                                </div>
                                                @if (@item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicIsAdditionalDriver == true)
                                                {
                                                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                        <p>@localizer["AdditionalDriver"]</p>
                                                        <p>@item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicAdditionalDriverValue</p>
                                                    </div>
                                                }
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                    <p>@localizer["TaxRate"]</p>
                                                    <p>@item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicRentalTaxRate</p>
                                                </div>
                                                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                    <p> @localizer["Monthly"]</p>
                                                    <p>@(item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicMonthlyRent * item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicMonthlyDay)</p>
                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                    <p>@localizer["Weekly"]</p>
                                                    <p>@(item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicWeeklyRent * item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicWeeklyDay)</p>
                                                </div>
                                                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                                    <p>@localizer["Daily"]</p>
                                                    <p>@item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicDailyRent</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-link  pb-0" type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse-price-${@item.CrCasCarInformationSerailNo+p}"
                                            aria-expanded="false"
                                            aria-controls="collapse-price-${@item.CrCasCarInformationSerailNo+p}">
                                        <img src="~/BranchSys/img/vector.png" class="products-collapse-buttons-img">
                                        <p>@localizer["Price"]</p>
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="collapse" id="collapse-info-${@item.CrCasCarInformationSerailNo+i}">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                    <p>@localizer["Age"]</p>
                                                    <p>
                                                        @item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicMaxAge :
                                                        @item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicMinAge
                                                    </p>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                    <p>@localizer["MaximumHours"]</p>
                                                    <p>@item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicHourMax</p>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                    <p>@localizer["FreeHours"]</p>
                                                    <p>@item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicFreeAdditionalHours</p>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                    <p>@localizer["DailyFreeKilos"]</p>
                                                    <p>@item.CrCasCarInformationDistributionNavigation.CrCasPriceCarBasics.FirstOrDefault().CrCasPriceCarBasicNoDailyFreeKm</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-link pb-0" type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse-info-${@item.CrCasCarInformationSerailNo+i}"
                                            aria-expanded="false"
                                            aria-controls="collapse-info-${@item.CrCasCarInformationSerailNo+i}">
                                        <img src="~/BranchSys/img/vector.png" class="products-collapse-buttons-img">
                                        @localizer["RentalTerms"]
                                    </button>
                                </div>
                                <div class="row ">
                                    <div class="col">
                                        <div class="collapse" id="collapse-fixing-${@item.CrCasCarInformationSerailNo+f}">
                                            <div class="row maintenance">
                                                @foreach (var maintaince in Model.DocumentsMaintenances.FindAll(x => x.CrCasCarDocumentsMaintenanceSerailNo == item.CrCasCarInformationSerailNo &&
                                               x.CrCasCarDocumentsMaintenanceProceduresClassification == "13"))
                                                {
                                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                        <p>@maintaince.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresArName</p>
                                                        @if (maintaince.CrCasCarDocumentsMaintenanceStatus == Status.Active)
                                                        {
                                                            <p> @localizer["CActive"] </p>
                                                        }
                                                        else if (maintaince.CrCasCarDocumentsMaintenanceStatus == Status.AboutToExpire)
                                                        {
                                                            <p> @localizer["OnExpired"] </p>
                                                        }
                                                        else
                                                        {
                                                            <p> @localizer["Expired"] </p>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-link btn-link-collapse-fix pb-0" type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse-fixing-${@item.CrCasCarInformationSerailNo+f}"
                                            aria-expanded="false"
                                            aria-controls="collapse-fixing-${@item.CrCasCarInformationSerailNo+f}">
                                        <img src="~/BranchSys/img/vector.png" class="products-collapse-buttons-img">
                                        @localizer["Maintenance"]
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="collapse" id="collapse-doc-${@item.CrCasCarInformationSerailNo+d}">
                                            <div class="row">
                                                @foreach (var maintaince in Model.DocumentsMaintenances.FindAll(x => x.CrCasCarDocumentsMaintenanceSerailNo == item.CrCasCarInformationSerailNo &&
                                               x.CrCasCarDocumentsMaintenanceProceduresClassification == "12"))
                                                {
                                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                        <p>@maintaince.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresArName</p>
                                                        @if (maintaince.CrCasCarDocumentsMaintenanceStatus == Status.Active)
                                                        {
                                                            <p> @localizer["CActive"] </p>
                                                        }
                                                        else if (maintaince.CrCasCarDocumentsMaintenanceStatus == Status.AboutToExpire)
                                                        {
                                                            <p> @localizer["OnExpired"] </p>
                                                        }
                                                        else
                                                        {
                                                            <p> @localizer["Expired"] </p>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-link btn-link-collapse-docs pb-0" type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse-doc-${@item.CrCasCarInformationSerailNo+d}"
                                            aria-expanded="false"
                                            aria-controls="collapse-doc-${@item.CrCasCarInformationSerailNo+d}">
                                        <img src="~/BranchSys/img/vector.png" class="products-collapse-buttons-img">
                                        @localizer["Documents Cars"]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</div> *@
