@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.BS;
@using Newtonsoft.Json;
@model BSLayoutVM
@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner1">
        @if (Model.RentedCars != null)
        {
            @foreach (var item in Model.RentedCars)
            {
                <div class="carousel-item animate @(item == Model.RentedCars.First() ? "active" : "")">
                    <div class="product1 p-2 pt-0">
                        <div class="row" id="rented_data1">
                            <div class="col-md-7 col-lg-7">
                                <div class="row product-data2">
                                    <div class="col-auto">
                                        <img src="~/BranchSys/img/transimission2.png">
                                    </div>
                                    <div class="col-auto">
                                        <img src="~/BranchSys/img/gas1.png">

                                    </div>
                                    <div class="col-auto">
                                        <p> ۱ <img src="~/BranchSys/img/lbag2.png"> </p>

                                    </div>
                                    <div class="col-auto">
                                        <p> ۲ <img src="~/BranchSys/img/sbag2.png"></p>

                                    </div>
                                    <div class="col-auto">
                                        <p>  ٥ <img src="~/BranchSys/img/people2.png"></p>

                                    </div>
                                    <div class="col-auto">
                                        <p>٤ <img src="~/BranchSys/img/doors2.png"></p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-5">
                                @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                                {
                                    <p class="product-data1"> @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionConcatenateEnName</p>
                                }
                                else
                                {
                                    <p class="product-data1"> @item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionConcatenateArName</p>
                                }
                            </div>
                        </div>
                        <div class="row car_img">
                            <img class="product-image" src="@Url.Content(item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionImage)"
                                 alt="@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionConcatenateArName">
                        </div>
                        <div class="row" id="rented_data2">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="collapse" id="collapse-price-${@item.CrCasCarInformationSerailNo}">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                    <p class="rented-p"> @localizer["EndContract"]</p>
                                                    <p>۲۰۲٤/۱/۱۲</p>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                    <p class="rented-p"> @localizer["StartContract"]</p>
                                                    <p>۲۰۲۳/۳/۱۲</p>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                    <p class="rented-p">@localizer["Renter"]</p>
                                                    <p>حسين محمد علي </p>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                                    <p class="rented-p">@localizer["ContractNo"]</p>
                                                    <p>۹۸۸٦۲۳٤٥۰۲۲۳</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-link" type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse-price-${@item.CrCasCarInformationSerailNo}"
                                            aria-expanded="false"
                                            aria-controls="collapse-price-${@item.CrCasCarInformationSerailNo}">
                                        <img src="~/BranchSys/img/vector.png" class="products-collapse-buttons-img">
                                        @localizer["ContractSummary"]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
