

@using Bnan.Core.Extensions
@model IEnumerable<CrMasRenterInformation>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@* 
  "RenterInformationCode": "Code",
  "RenterInformationId": "ID",
  "RenterInformationNationality": "Nationality",
  "RenterInformationAddress": "Address",
  "RenterInformationProfession": "Profession",
  "RenterInformationSector": "Sector",
 *@
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <thead>
                <tr role="row">
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterInformationId"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationNationality"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationAddress"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationProfession"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationSector"]</th>
                    @* <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th> *@
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasRenterInformationStatus == @Status.Deleted || item.CrMasRenterInformationStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterInformation", new { id = item.CrMasRenterInformationId })'" style="cursor:pointer;color:red">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrMasRenterInformationId</td>
                            <td>@item.CrMasRenterInformationEnName</td>
                            <td>@item.CrMasRenterInformationNationalityNavigation.CrMasSupRenterNationalitiesEnName</td>
                            <td> Adress </td> 
                            <td>@item.CrMasRenterInformationProfessionNavigation.CrMasSupRenterProfessionsEnName</td>
                            <td>@item.CrMasRenterInformationSectorNavigation.CrMasSupRenterSectorEnName</td>

                            @* <td>

                                @if (@item.CrMasRenterInformationStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrMasRenterInformationStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            </td> *@
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterInformation", new { id = item.CrMasRenterInformationId })'">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrMasRenterInformationId</td>
                            <td>@item.CrMasRenterInformationArName</td>
                            <td>@item.CrMasRenterInformationNationalityNavigation.CrMasSupRenterNationalitiesArName</td>
                            <td> Adress </td>
                            <td>@item.CrMasRenterInformationProfessionNavigation.CrMasSupRenterProfessionsArName</td>
                            <td>@item.CrMasRenterInformationSectorNavigation.CrMasSupRenterSectorArName</td>
                            @* <td>

                                @if (@item.CrMasRenterInformationStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                            </td> *@
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterInformationId"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationNationality"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationAddress"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationProfession"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationSector"]</th>
                    @* <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th> *@
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasRenterInformationStatus == @Status.Deleted || item.CrMasRenterInformationStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterInformation", new { id = item.CrMasRenterInformationId })'" style="cursor:pointer;color:red">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrMasRenterInformationId</td>
                            <td>@item.CrMasRenterInformationEnName</td>
                            <td>@item.CrMasRenterInformationNationalityNavigation.CrMasSupRenterNationalitiesEnName</td>
                            <td> Adress </td>
                            <td>@item.CrMasRenterInformationProfessionNavigation.CrMasSupRenterProfessionsEnName</td>
                            <td>@item.CrMasRenterInformationSectorNavigation.CrMasSupRenterSectorEnName</td>
                            
                            @* <td>
                                &emsp;
                                @if (@item.CrMasRenterInformationStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrMasRenterInformationStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            </td> *@
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterInformation", new { id = item.CrMasRenterInformationId })'">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrMasRenterInformationId</td>
                            <td>@item.CrMasRenterInformationArName</td>
                            <td>@item.CrMasRenterInformationNationalityNavigation.CrMasSupRenterNationalitiesArName</td>
                            <td> Adress </td>
                            <td>@item.CrMasRenterInformationProfessionNavigation.CrMasSupRenterProfessionsArName</td>
                            <td>@item.CrMasRenterInformationSectorNavigation.CrMasSupRenterSectorArName</td>
                            
                            @* <td>
                                &emsp;
                                @if (@item.CrMasRenterInformationStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                            </td> *@
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}