

@using Bnan.Ui.ViewModels.CAS
@using Bnan.Core.Extensions
@model FinancialTransactionOfEmployeeVM


@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["Edit FinancialTransactionOfEmployee Data"];
    ViewData["Page-Hint"] = localizer["Edit FinancialTransactionOfEmployee Hint"];
}

<title>@ViewData["Title"]</title>




<style>

    #LessorInfoEmailWhatisapp, #LessorMobilePhone, #LessorCallFree {
        width: 101%;
    }

    .text-danger {
        white-space: nowrap;
    }

    .file-upload {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn {
        width: 154px;
        margin: 0;
        color: #fff;
        background: #727cf5;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #727cf5;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 680;
    }

        .file-upload-btn:hover {
            background: #5661e3;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

    .file-upload-input-picture, .file-upload-input-signature {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        height: 180px;
        width: 154px;
        margin-top: 5px;
        border: 4px dashed rgb(231, 231, 231);
        position: relative;
        display: none;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: rgb(231, 231, 231);
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        color: #222;
        width: 154px;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            padding: 60px 0;
            font-size: 17px
        }

    .file-upload-image {
        height: 145px;
        width: 154px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border: .5px solid rgb(231, 231, 231);
    }

    .remove-image {
        margin: 0;
        max-height: 200px;
        max-width: 200px;
        width: 100%;
        color: #fff;
        background: #fa5c7c;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #fa5c7c;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 680;
    }

    .image-upload-wrap {
        display: none
    }

    .file-upload-content {
        display: block
    }

    .remove-image:hover {
        background: #f35474;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }



    @@media (max-width: 1050px) {
        #SalesPointLessorInformationSigntureImage {
            position: absolute;
            top: 145%;
            right: 5%;
        }
    }

    @@media (max-width: 767px) {
        #SalesPointLessorInformationSigntureImage {
            position: absolute;
            top: 330%;
            right: 30%;
        }
    }

    .dateInput {
        width: 155px !important;
    }

    .col-md-label-10 {
        /* x-lable (+) x-input == 390 px */
        /*width: 28.75%;*/
        width: 115.5px;
        height: 35px;
    }

    .col-md-input-10 {
        width: 275px;
        margin-top: -5px;
        height: 35px;
    }
    .personal-data{
        /*font-weight: bold;*/
        /*font-weight: 999;*/
    }
    .fontBold_Class{
        font-weight: 590;
        /*color:darkblue;*/
        color:#0B05B8;
    }


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<link href="~/BranchSys/Pages/css/mixed_style.css" rel="styleSheet" />


@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    @*<link href="~/BranchSys/Pages/css/English_style.css" rel="styleSheet" />*@
     <style>
        .modal-dialog {
            max-width: 610px;
            margin: 2rem auto;
            margin-left: 625px;
            margin-top: 140px;
        }
        .col-md-7{
            width:300px;
        }

        .col-md-5 {
            width: 200px;
        }
        .Direction_Page{
            direction:rtl;

        }

        .d-flex {
            gap: 15px;
            display: flex;
            -webkit-align-items: 0;
        }

        .mgCenter {
            margin-left:185px;
        }
        #SalesPointLessorInformationSigntureImage {
            position: absolute;
            top: 39%;
            left: 50%;
        }
        .t_mar{
            @*margin: 35px;*@
            margin-right: 20px;
            @*margin-top: 5px;*@
        }

        .col-md-label5 {
            /*width: 28.75%;*/
            width: 140px;
            height: 30px;
        }

        .col-md-input5 {
            width: 250px;
            margin-top: -8px;
            height: 30px;
        }

        .col-md-label10 {
            /*width: 28.75%;*/
            width: 80px;
            height: 30px;
        }

        .col-md-input10 {
            width: 310px;
            margin-top: -8px;
            height: 30px;
        }

        #Date_cusor1, #Date_cusor2 {
            margin-right: 13px;
        }
    </style>
}
else
{
    @*<link href="~/BranchSys/Pages/css/style.css" rel="styleSheet" />*@

    <style>
        .modal-dialog {
            max-width: 480px;
            margin: 2rem auto;
            margin-left: 625px;
            margin-top: 140px;
        }
        .col-md-7{
            width:270px;
        }

        .col-md-5 {
            width: 150px;
        }
        .Direction_Page {
            direction: ltr;
        }

        .d-flex {
            gap: 15px;
            display:flex;
            -webkit-align-items:0;
        }
        .mgCenter {
            margin-right: 148px;
        }
        #SalesPointLessorInformationSigntureImage {
            position: absolute;
            top: 39%;
            right: 50%;
        }

        .t_mar {
            @*margin: 35px;*@
            margin-left: 20px;
            @*margin-top: 5px;*@
        }
        .col-md-label5 {
            /*width: 28.75%;*/
            width: 90.5px;
            height: 30px;
        }

        .col-md-input5 {
            width: 300px;
            margin-top:-8px;
            height: 30px;
        }

        .col-md-label10 {
            /*width: 28.75%;*/
            width: 75px;
            height: 30px;
        }

        .col-md-input10 {
            width: 315px;
            margin-top: -8px;
            height: 30px;
        }
        #Date_cusor1, #Date_cusor2 {
            margin-left: 13px;
        }
    </style>
}


<div class="sub-container-form" id="CAS">
    <form class="needs-validation" novalidate asp-area="CAS" asp-controller="EmployeeLessorInformation" asp-action="Edit" method="post" enctype="multipart/form-data">
        @*<div class="form-contain" style="position:relative">*@ @*For Scrolling in Form*@
          <div class="" style="position:relative">
            @*<div class="col-sm-12 col-md-9" style="margin-top:20px;height:50px;">
                <div class="col-sm-12 col-md-4 p-0">
                    <a type="button" class="btn btn-danger" title="@localizer["Back"]" asp-area="CAS" asp-controller="CarContract" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>
                </div>
            </div>*@
            <div class="col-sm-12 col-md-9" style="margin-top:0px;height:10px;">
            </div>


                @*branch Code*@
            <div class="row mt-2" hidden>
                <div class="col-md-label5 formlabel">
                    <label class="form-label" for="branchCode">@localizer["Code"]</label>
                </div>
                <div class="col-md-4">
                        @*<input type="text" class="form-control" hidden asp-for="CrCasEmployeeLessorDealingMechanism" maxlength="100" width="80%" />*@
                        @*<input type="text" class="form-control" hidden asp-for="CrCasEmployeeLessorReasons" maxlength="100" width="80%" />*@

                </div>
            </div> @*End row*@

        
            @*// Arabic arabic  *@
    @if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
    {
    
                @*EmployeeLessorInformation ID Ar -- EmployeeLessorInformation name Ar -- profession Ar*@
                    @*<div class="row mt-2" style="height:10px;">
                    </div>*@
                    <div class="row mt-2" style="height:35px">
                    <div class="col-md-label10 formlabel" style="width:90px;" >
                        <label class="form-label" for="FTR_Id">@localizer["UserContractId"]</label>
                    </div>
                    <div class="col-md-input10 p-0 col-11" style="margin-top:-5px;width:255px;">

                            <input type="text" class="form-control" value="@ViewBag.Single_FT_EmployeeId" readonly maxlength="15" id="FTR_Id" style="width:96%" data-val-regex="@localizer["requiredNoLengthFiled","10"]" oninput="validateInput(event, 'EmployeeLessorInformationGovNo', 'gov-error', '7')" id="LessorGovNo">
                    </div>

                    <div class="col-md-label10 formlabel" style="width:53px;">
                        <label class="form-label" for="CrCasEmployeeLessorNavigation.CrMasEmployeeInformationArName">@localizer["RenterInformationName"]</label>
                    </div>
                    <div class="col-md-6 p-0 col-11" style="margin-top:-6px;width:337px;">
                            <input type="text" class="form-control" value="@ViewBag.Single_FT_EmployeeNameAr" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                    </div>

                </div> @*End row*@




                @*FTR_Balance -- AvailableBalance -- ReservedBalance *@
                <div class="row mt-2" style="height:35px">
                    <div class="col-md-label10 formlabel" style="width:50px;">
                        <label class="form-label" for="FTR_Balance">@localizer["FTR_Balance"]</label>
                    </div>
                    <div class="col-md-input10 p-0 col-11" style="margin-top:-5px;width:295px;">

                        <input type="text" class="form-control" value="@ViewBag.FTR_Balance" readonly maxlength="15" id="FTR_Balance" style="width:96%" data-val-regex="@localizer["requiredNoLengthFiled","10"]" oninput="validateInput(event, 'EmployeeLessorInformationGovNo', 'gov-error', '7')" id="LessorGovNo">
                    </div>

                    <div class="col-md-label10 formlabel" style="width:95px;">
                        <label class="form-label" for="AvailableBalance">@localizer["AvailableBalance"]</label>
                    </div>
                    <div class="col-md-6 p-0 col-11" style="margin-top:-6px;width:295px;">
                        <input type="text" class="form-control" id="AvailableBalance" value="@ViewBag.AvailableBalance" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                    </div>

                    <div class="col-md-label10 formlabel" style="width:105px;">
                        <label class="form-label" for="ReservedBalance">@localizer["ReservedBalance"]</label>
                    </div>
                    <div class="col-md-6 p-0 col-11" style="margin-top:-6px;width:285px;">
                        <input type="text" class="form-control" id="ReservedBalance" value="@ViewBag.ReservedBalance" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                    </div>
                </div> @*End row*@

               
                @* Fitler Radio Button And Date *@
                <div class="col-sm-12 col-md-14 " style="display:flex;justify-content:space-between;" id="status-filter">
                @*DateTime Inputs*@
                <div id="DateInputs" style="display:flex;gap: 15px;-webkit-flex-item-align:center;height:45px;">

                        <!-- Autoclose -->
                        <div style="width:30px;margin-top:7px;">
                            <label class="form-label " style="">@localizer["StartDate_from"]</label>
                        </div>

                        <div class="dateRelative " style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " value="@ViewBag.startDate" id="startDateInput" name="startDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor1" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; direction:rtl"></i>
                        </div>

                        <!-- Autoclose -->
                        <div style="width:50px;margin-top:7px;">
                        </div>
                        <div style="width:20px;margin-top:7px;">
                            <label class="form-label p-0 mt-0">@localizer["EndDate_to"]</label>
                        </div>

                        <div class="dateRelative " style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " id="endDateInput" name="endDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor2" value="@ViewBag.EndDate" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; direction:rtl"></i>
                        </div>
                        <div style="width:50px;">
                            <a class="btn btn-primary" onclick="DateChanged()">
                                <i class="mdi mdi-search-web"></i>
                            </a>
                        </div>
                    </div> @*End half row*@

            <div style="-webkit-flex-align:start;display:flex;gap:10px" class="mt-3" >


                <div style="display:flex; gap : 7px;">
                    <input type="radio" id="customRadioAll" name="customRadio" value="All" class="form-check-input p-0">
                    <label class="p-0" for="customRadioAll">@localizer["All"]</label>
                </div>
                    <div style="display:flex; gap : 7px;">
                    <input type="radio" id="FTE_status_deported" name="customRadio" value="deported" class="form-check-input">
                    <label class="p-0" for="FTE_status_deported">@localizer["FTE_status_deported"]</label>
                </div>
                    <div style="display:flex; gap : 7px;">
                        <input type="radio" id="FTE_status_Reserved" name="customRadio" value="Reserved" class="form-check-input">
                    <label class="p-0" for="FTE_status_Reserved">@localizer["FTE_status_Reserved"]</label>
                </div>
                    <div style="display:flex; gap : 7px;">
                        <input type="radio" id="FTE_status_Custody" name="customRadio" value="Custody" class="form-check-input">
                    <label class="p-0" for="FTE_status_Custody">@localizer["FTE_status_Custody"]</label>
                </div>
                </div>

                    </div> @*End row*@

    }
    @*// English english *@
    else if (requestCulture.RequestCulture.UICulture.Name == "en-US")
    {

                @*EmployeeLessorInformation ID En && EmployeeLessorInformation name En *@
                @*<div class="row mt-2" style="height:10px;">
                </div>*@
                <div class="row mt-2" style="height:35px;">
                    <div class=" formlabel" style="width:105px;">
                        <label class="form-label" for="FTR_Id">@localizer["UserContractId"]</label>
                    </div>
                    <div class=" p-0 col-11" style="margin-top:-5px;width:240px;">
                        <input type="text" class="form-control" value="@ViewBag.Single_FT_EmployeeId" readonly maxlength="15" id="FTR_Id" style="width:96%" data-val-regex="@localizer["requiredNoLengthFiled","10"]" oninput="validateInput(event, 'EmployeeLessorInformationGovNo', 'gov-error', '7')" id="LessorGovNo">
                    </div>

                    <div class="col-md-label10 formlabel" style="width:63px;">
                        <label class="form-label" for="CrCasEmployeeLessorNavigation.CrMasEmployeeInformationEnName">@localizer["RenterInformationName"]</label>
                    </div>
                    <div class="col-md-6 p-0 col-11" style="margin-top:-6px;width:327px;">
                            <input type="text" class="form-control" value="@ViewBag.Single_FT_EmployeeNameEn" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                    </div>

                </div> @*End row*@


                @*FTR_Balance -- AvailableBalance -- ReservedBalance *@
                <div class="row mt-2" style="height:35px">
                    <div class="col-md-label10 formlabel" style="width:70px;">
                        <label class="form-label" for="FTR_Balance">@localizer["FTR_Balance"]</label>
                    </div>
                    <div class="col-md-input10 p-0 col-11" style="margin-top:-5px;width:275px;">

                        <input type="text" class="form-control" value="@ViewBag.FTR_Balance" readonly maxlength="15" id="FTR_Balance" style="width:96%" data-val-regex="@localizer["requiredNoLengthFiled","10"]" oninput="validateInput(event, 'EmployeeLessorInformationGovNo', 'gov-error', '7')" id="LessorGovNo">
                    </div>

                    <div class="col-md-label10 formlabel" style="width:150px;">
                        <label class="form-label" for="AvailableBalance">@localizer["AvailableBalance"]</label>
                    </div>
                    <div class="col-md-6 p-0 col-11" style="margin-top:-6px;width:240px;">
                        <input type="text" class="form-control" id="AvailableBalance" value="@ViewBag.AvailableBalance" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                    </div>

                    <div class="col-md-label10 formlabel" style="width:155px;">
                        <label class="form-label" for="ReservedBalance">@localizer["ReservedBalance"]</label>
                    </div>
                    <div class="col-md-6 p-0 col-11" style="margin-top:-6px;width:235px;">
                        <input type="text" class="form-control" id="ReservedBalance" value="@ViewBag.ReservedBalance" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                    </div>
                </div> @*End row*@

               
                @* Fitler Radio Button And Date *@
                <div class="col-sm-12 col-md-14 " style="display:flex;justify-content:space-between;" id="status-filter">
                @*DateTime Inputs*@
                <div id="DateInputs" style="display:flex;gap: 15px;-webkit-flex-item-align:center;height:45px;">

                        <!-- Autoclose -->
                        <div style="width:30px;margin-top:7px;">
                            <label class="form-label " style="">@localizer["StartDate_from"]</label>
                        </div>

                        <div class="dateRelative " style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " value="@ViewBag.startDate" id="startDateInput" name="startDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor1" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; direction:rtl"></i>
                        </div>

                        <!-- Autoclose -->
                        <div style="width:50px;margin-top:7px;">
                        </div>
                        <div style="width:20px;margin-top:7px;">
                            <label class="form-label p-0 mt-0">@localizer["EndDate_to"]</label>
                        </div>

                        <div class="dateRelative " style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " id="endDateInput" name="endDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor2" value="@ViewBag.EndDate" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; direction:rtl"></i>
                        </div>
                        <div style="width:50px;">
                            <a class="btn btn-primary" onclick="DateChanged()">
                                <i class="mdi mdi-search-web"></i>
                            </a>
                        </div>
                    </div> @*End half row*@

            <div style="-webkit-flex-align:start;display:flex;gap:10px" class="mt-3" >


                <div style="display:flex; gap : 7px;">
                    <input type="radio" id="customRadioAll" name="customRadio" value="All" class="form-check-input p-0">
                    <label class="p-0" for="customRadioAll">@localizer["All"]</label>
                </div>
                    <div style="display:flex; gap : 7px;">
                    <input type="radio" id="FTE_status_deported" name="customRadio" value="deported" class="form-check-input">
                    <label class="p-0" for="FTE_status_deported">@localizer["FTE_status_deported"]</label>
                </div>
                    <div style="display:flex; gap : 7px;">
                        <input type="radio" id="FTE_status_Reserved" name="customRadio" value="Reserved" class="form-check-input">
                    <label class="p-0" for="FTE_status_Reserved">@localizer["FTE_status_Reserved"]</label>
                </div>
                    <div style="display:flex; gap : 7px;">
                        <input type="radio" id="FTE_status_Custody" name="customRadio" value="Custody" class="form-check-input">
                    <label class="p-0" for="FTE_status_Custody">@localizer["FTE_status_Custody"]</label>
                </div>
                </div>

                    </div> @*End row*@

                }


            <div class="dataTable t_mar" id="ReportsData" style="height:380px;">
                    <partial name="_DataTable_Internal_Contract" />
                </div>
                @if (ViewBag.CountRecord == 0)
                {
                    //<div class="row mt-2" id="Section" style="height:30px;">
                    //</div> @*End row*@
                }
            @*zip code And AdditionalNumber*@
            <div class="row mt-2">
            </div>
            @Html.ValidationMessage("NoCHanged", null, new { @class = "text-danger" })
        </div>
        <div class="mt-3" id="buttonContainer">

            @*<a class="btn btn-primary ms-1" id="saveEdit">@localizer["Save"]</a>*@
            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="FinancialTransactionOfEmployee" asp-action="Index">
                @localizer["Back"]
            </a>
        </div>

    </form>
</div>



<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content Direction_Page" style="width:700px;background-color:#FFE9D5;opacity:0.99;color:#784F38;font-weight: 480;">
            <div class="modal-header " style="border-bottom:0px;height:0px">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="width:30px;color:#074EAD;font-size:22px;background-color:#FFE9D5;border:none;">&times;</button>
                <h5 class="modal-title card-title text-center mgCenter" style="color:#784F38;font-size:16px;">@localizer["DetailsOfContract"]</h5>
            </div>
            <div class="modal-body p-0">
                <div class="data-details" style="margin-top:1px">
                    <div class="row flex-row-reverse">
                        <div class="col-md-7 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <p>@localizer["ReceiptNo"]</p>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="ReceiptNo"></p>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <p>@localizer["Date"]</p>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="Date"></p>
                            </div>
                        </div>

                    </div>

                    <div class="row flex-row-reverse">
                        <div class="col-md-7 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <P>@localizer["Creditor"]</P>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="Creditor"></P>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <P>@localizer["Debit"]</P>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="Debit"></P>
                            </div>
                        </div>

                    </div>
                    <div class="row flex-row-reverse">
                        <div class="col-md-7 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <P>@localizer["ReferenceNo"]</P>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="ReferenceNo"></P>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <P>@localizer["ReferenceType"]</P>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="ReferenceType"></P>
                            </div>
                        </div>

                    </div>
                    <div class="row flex-row-reverse">
                        <div class="col-md-7 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <P>@localizer["AccountBankCode"]</P>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="AccountBankCode"></p>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <P> @localizer["Bank"]</P>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="Bank"></P>
                            </div>
                        </div>

                    </div>
                    <div class="row flex-row-reverse">
                        <div class="col-md-7 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <p> @localizer["SalesPoint"] </p>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="SalesPoint"></p>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <P> @localizer["PaymentMethod"] </P>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="PaymentMethod"></P>
                            </div>
                        </div>

                    </div>
                    <div class="row flex-row-reverse">
                        <div class="col-md-7 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <p>@localizer["CustodyNo"]</p>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="CustodyNo"></P>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <P>@localizer["StatusReceipt"]</P>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="StatusReceipt"></P>
                            </div>
                        </div>
                    </div>
                    <div class="row flex-row-reverse">
                        <div class="col-md-7 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <p> @localizer["UserReceived"]</p>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="UserReceived"></P>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <P>@localizer["ReceivedDate"]</P>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="ReceivedDate"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row flex-row-reverse">
                        <div class="col-md-7 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                                <p> @localizer["reasons"]</p>
                            </div>
                            <div class="col-auto personal-data">
                                <p class="fontBold_Class" id="reasons"></P>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex flex-row-reverse">
                            <div class="col-auto p-0">
                            </div>
                            <div class="col-auto personal-data">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




@section scripts {


    <script>
        function getDetails(ReceiptNo) {
            console.log("Mazzen1")
            if (ReceiptNo != null && ReceiptNo != "" & ReceiptNo != undefined) {
                console.log("Mazzen2")
                $.ajax({
                    type: "GET",
                    data: {
                        ReceiptNo: ReceiptNo,
                    },
                    url: "@Url.Action("GetReceiptDetails", "FinancialTransactionOfEmployee", new { Area = "CAS" })",
                    success: function (response) {
                        if (response != null) {
                            console.log(response)
                            $("#ReceiptNo").text(response.receiptNo);
                            $("#Date").text(response.date);
                            $("#Creditor").text(response.creditor);
                            $("#Debit").text(response.debit);
                            $("#ReferenceNo").text(response.referenceNo);
                            $("#AccountBankCode").text(response.accountBankCode);
                            $("#Reasons").text(response.reasons);

                            if ("@requestCulture?.RequestCulture.UICulture.Name" == "ar-EG") {
                                $("#ReferenceType").text(response.referenceTypeAr);
                                $("#Bank").text(response.bankAr);
                                $("#SalesPoint").text(response.salesPointAr);
                                $("#PaymentMethod").text(response.paymentMethodAr);
                                $("#UserReceived").text(response.userReceivedAr);
                            }
                            else {
                                $("#ReferenceType").text(response.referenceTypeEn);
                                $("#Bank").text(response.bankEn);
                                $("#SalesPoint").text(response.salesPointEn);
                                $("#PaymentMethod").text(response.paymentMethodEn);
                                $("#UserReceived").text(response.userReceivedEn);
                            }

                            $("#ReceivedDate").text(response.receivedDate);
                            $("#CustodyNo").text(response.custodyNo);
                            if (response.statusReceipt == @Status.Custody) {
                                $("#StatusReceipt").text('@localizer["Custody"]');
                            }
                            else if (response.statusReceipt == @Status.Booked) {
                                $("#StatusReceipt").text('@localizer["booked"]');
                            }
                            else if (response.statusReceipt == @Status.Transfer) {
                                $("#StatusReceipt").text('@localizer["Transfer"]');
                            }
                            else if (response.statusReceipt == @Status.Change) {
                                $("#StatusReceipt").text('@localizer["TransferAuto"]');
                            }
                        }
                        $('#myModal').modal('show');
                    },
                });
            }
        }

        $(document).ready(function () {
            //// Handle click on PDF link to prevent modal trigger
            //$('#ReportsData').on('click', '.pdf-link', function (e) {
            //    e.stopPropagation(); // Prevent event from propagating to parent elements
            //});

            // Bind click event to open modal when clicking on the table row
            //$('#ReportsData').on('click', '.modal-trigger', function () {
            //    var receiptNo = $(this).data('id');
            //    getDetails(receiptNo);
            //});

            // Close modal when close button is clicked
            $('.close').click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>

    @*Get AccountBank Using filter*@

    <script>
        $(document).ready(function () {
            var today = new Date();
            var startDate = new Date();
            var EndDate = new Date();
            startDate.setDate(today.getDate() - 30);


            var startDates = $("startDateInput").val();
            var StartformattedDate = new Date(startDates);

            var EndDates = $("endDateInput").val();
            var EndformattedDate = new Date(EndDates);


            if (!StartformattedDate || StartformattedDate === "") {
                StartformattedDate = today; // Set date to today if it's empty or null
            }
            if (!EndformattedDate || EndformattedDate === "") {
                EndformattedDate = today; // Set date to today if it's empty or null
            }
            var narat = location.href.split("&")[2];
            console.log(narat);
            var dateFirst = narat.replace("_mini=", "");
            console.log(dateFirst);
            var StartformattedDate = new Date(dateFirst);

            var narat2 = location.href.split("&")[1];
            console.log(narat2);
            var dateLast = narat2.replace("_max=", "");
            console.log(dateLast);
            var EndformattedDate = new Date(dateLast);



            $("#startDateInput").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: StartformattedDate, // Set the minimum date to today
                maxDate: today,
            }).datepicker("widget").addClass("datepicker-widget");
            $("#startDateInput").datepicker("setDate", StartformattedDate);
            $("#startDateInput").click(function () {
                $(this).datepicker("show");
            });

            $("#endDateInput").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: EndformattedDate,// Set the minimum date to today
                maxDate: today,
            }).datepicker("widget").addClass("datepicker-widget");
            $("#endDateInput").datepicker("setDate", EndformattedDate);
            $("#endDateInput").click(function () {
                $(this).datepicker("show");
            });

            $("#Date_cusor1").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

            $("#Date_cusor2").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

        });
    </script>


    <script>
        function DateChanged() {
            var id = $("#FTR_Id").val();
            var mini = $("#startDateInput").val();
            var max = $("#endDateInput").val();
            var status = "All";
            var _mini = mini.replace("/", "-");
            var _max = max.replace("/", "-");
            if (status === "All") {
                const yesBtn = document.getElementById('customRadioAll');
                // ✅ Set the radio button to checked
                yesBtn.checked = true;
            }
            console.log(mini);
            console.log(_max);
            console.log(id);
            location.href = '@Url.Action("Edit2Date", "FinancialTransactionOfEmployee")?&_max=' + _max + '&_mini=' + _mini + '&status='+status+ '&id=' + id;


        }

    </script>
    <script>
        //get AccountBank By Status function
        function GetReportFitlerDate(status) {
            var id = $("#FTR_Id").val();
            var startDate = $("#startDateInput").val();
            var endDate = $("#endDateInput").val();

            console.log(startDate)
            console.log(endDate)
            if (status === "All") {
                const yesBtn = document.getElementById('customRadioAll');
                // ✅ Set the radio button to checked
                yesBtn.checked = true;
            }

            // Clear the value from the search input
            $("#top-search").val("");

            $.ajax({
                type: "GET",
                data: { _max: endDate,
                    _mini: startDate,
                    status: status,
                    id: id,
                 }, 
                url: "@Url.Action("GetAllContractsByDate_status", "FinancialTransactionOfEmployee", new { Area = "CAS" })",
            success: function (response) {
                $(".dataTable").html(response);
                set_basic_datatable();
                },
            })
        }
            //on Click Filter Radio Button GetLessorsByStatus
            $("input[name='customRadio']").on("click", function () {
                // Clear the value from the search input
                $("#top-search").val("");
                //GetRenterContractFitler($(this).val())
                GetReportFitlerDate($(this).val());
            });
        
    </script>
}



