@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.CAS

@model TaxOwed_VM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<style>

    div.scroll {
        /*        background-color: #fed9ff;
                        width: 600px;*/
        /*height: 150px;*/
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        /*padding: 20px;*/
        position: relative;
        /*overflow: auto;*/
        max-height: 27vh;
        width: 100%;
    }


    th.scroll_1 {
        top: 0px;
        position: sticky;
        background-color: #E4F3F9;
    }


    ::-webkit-scrollbar {
        display: block;
        width: 15px;
        opacity: 0;
    }


    ::-webkit-scrollbar-thumb {
        background-color: gray;
        border-right: none;
        border-left: none;
    }

    ::-webkit-scrollbar-track {
        /*box-shadow: inset 0 0 5px #CBD9DE;*/
        /*border-radius: 2px;*/
        /*background-color:transparent;*/
        background-color: #E4F3F9;
    }

    ::-webkit-scrollbar-track-piece:end {
        background: transparent;
        background-color: lightgray;
        margin-bottom: 0px;
    }

    ::-webkit-scrollbar-track-piece:start {
        background: transparent;
        background-color: lightgray;
        margin-top: 50px;
    }

</style>
<style>
    #_Nc {
        align-items: center;
    }
</style>

<style>
    #_Nc {
        text-align: center;
    }
</style>
<style>
    ._Tr_black {
        border-image: fill;
    }

    ._Tr_red {
        color: red;
    }
</style>

@{
    var class_color_black = "_Tr_black";
    var class_color_red = "_Tr_red";
    var color_tr = "";

}

<button onload="ChangeScroll()" hidden> click</button>
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{

    <div class="col-sm-12 scroll">
        @* For-scrolling *@
        <table id="basic-datatable2" class="table table-bordered dt-responsive nowrap w-100 no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable2_info" style="position: relative; width: 1166px; ">

            <div>
            <tr role="row">
                <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                <th class="scroll_1" style="text-align:start" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["TaxOwed_pay_Contract_No"]</th>
                <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Contract_Date"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Dues_Contract_Value"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Percentage"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Tax_Value"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Percentage_Tax"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Value_Tax"]</th>
            </tr>
    </div>
    <div>
        <tbody>

                    @{
                        int no = 1;
                    }
                    @foreach (var item in Model.CrCasAccountContractTaxOwed)
                    {
                        color_tr = class_color_black;

                        @*<tr onclick="location.href='@Url.Action("Edit", "CarContract", new { id = item.CrCasEmployeeContractBasic4.CrCasEmployeePrivateCarInformationId })'" style="cursor:pointer;color:red">*@
                <tr class="@color_tr">
                    <td id="_Nc">@no</td>
                    <td style="text-align:start"><input type="checkbox" id="@item.CrCasAccountContractTaxOwedContractValue" name="Contracts_checked" value="@item.CrCasAccountContractTaxOwedContractNo?.Trim()" onclick="CheckBoxClicked(this)"> @item.CrCasAccountContractTaxOwedContractNo?.Trim()</td>
                            @{
                        <td style="text-align:start">@item.CrCasAccountContractTaxOwedDate?.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasAccountContractTaxOwedContractValue?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasAccountContractTaxOwedPercentage?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasAccountContractTaxOwedValue?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc"></td>
                        <td id="_Nc"></td>
                            }
                </tr>


                        no++;
                    }
        </tbody>
    </div>

            </table>
        </div>
}
else
{
    <div class="col-sm-12 scroll">
        @* For-scrolling *@
        <table id="basic-datatable2" class="table table-bordered dt-responsive nowrap w-100 no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable2_info" style="position: relative; width: 1166px; ">

            <div>
            <tr role="row">
                <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                <th class="scroll_1" style="text-align:start" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["TaxOwed_pay_Contract_No"]</th>
                <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Contract_Date"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Dues_Contract_Value"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Percentage"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Tax_Value"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Percentage_Tax"]</th>
                <th class="scroll_1" id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["TaxOwed_pay_Value_Tax"]</th>
            </tr>
    </div>
    <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.CrCasAccountContractTaxOwed)
                {
                    color_tr = class_color_black;

                    @*<tr onclick="location.href='@Url.Action("Edit", "CarContract", new { id = item.CrCasEmployeeContractBasic4.CrCasEmployeePrivateCarInformationId })'" style="cursor:pointer;color:red">*@
            <tr class="@color_tr">
                <td id="_Nc">@no</td>
                <td style="text-align:start"><input type="checkbox" id="@item.CrCasAccountContractTaxOwedContractValue" name="Contracts_checked" value="@item.CrCasAccountContractTaxOwedContractNo?.Trim()" onclick="CheckBoxClicked(this)"> @item.CrCasAccountContractTaxOwedContractNo?.Trim()</td>
                        @{
                    <td style="text-align:start">@item.CrCasAccountContractTaxOwedDate?.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)</td>
                    <td id="_Nc">@item.CrCasAccountContractTaxOwedContractValue?.ToString("N2",CultureInfo.InvariantCulture)</td>
                    <td id="_Nc">@item.CrCasAccountContractTaxOwedPercentage?.ToString("N2",CultureInfo.InvariantCulture)</td>
                    <td id="_Nc">@item.CrCasAccountContractTaxOwedValue?.ToString("N2",CultureInfo.InvariantCulture)</td>
                    <td id="_Nc"></td>
                    <td id="_Nc"></td>
                        }
            </tr>


                    no++;
                }
    </tbody>
            </table>
        </div>
}
