@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.CAS

@model TaxOwed_VM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}"; 
    ViewData["Page-title"] = @localizer["TaxValues_Dues Data"];
    ViewData["Page-Hint"] = @localizer["TaxValues_Dues Hint"];
}

<style>
    body {
        overflow: hidden
    }

    @@media (max-width: 600px) {
        #basic-datatable1_wrapper .row:first-child > div {
            text-align: left;
            overflow: scroll;
            text-overflow: ellipsis;
        }

            #basic-datatable1_wrapper .row:first-child > div:last-child > * {
                text-align: right;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    /*     td,th {
                text-align: center;
            } */

    #_Nc {
        text-align: center;
    }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
@*<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<link href="~/BranchSys/Pages/css/mixed_style.css" rel="styleSheet" />


@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    @*<link href="~/BranchSys/Pages/css/English_style.css" rel="styleSheet" />*@
    <style>
        .modal-dialog {
            max-width: 610px;
            margin: 2rem auto;
            margin-left: 625px;
            margin-top: 140px;
        }

        .col-md-7 {
            width: 300px;
        }

        .col-md-5 {
            width: 200px;
        }

        .Direction_Page {
            direction: rtl;
        }

        .d-flex {
            gap: 15px;
            display: flex;
            -webkit-align-items: 0;
        }

        .mgCenter {
            margin-left: 185px;
        }

        #SalesPointLessorInformationSigntureImage {
            position: absolute;
            top: 39%;
            left: 50%;
        }

        .t_mar {
        @*margin: 35px;*@ margin-right: 20px;
        @*margin-top: 5px;*@
        }

        .col-md-label5 {
            /*width: 28.75%;*/
            width: 140px;
            height: 30px;
        }

        .col-md-input5 {
            width: 250px;
            margin-top: -8px;
            height: 30px;
        }

        .col-md-label10 {
            /*width: 28.75%;*/
            width: 80px;
            height: 30px;
        }

        .col-md-input10 {
            width: 310px;
            margin-top: -8px;
            height: 30px;
        }

        #Date_cusor2 {
            margin-right: 13px;
            direction: rtl;
        }
    </style>
}
else
{
    @*<link href="~/BranchSys/Pages/css/style.css" rel="styleSheet" />*@

    <style>
        .modal-dialog {
            max-width: 480px;
            margin: 2rem auto;
            margin-left: 625px;
            margin-top: 140px;
        }

        .col-md-7 {
            width: 270px;
        }

        .col-md-5 {
            width: 150px;
        }

        .Direction_Page {
            direction: ltr;
        }

        .d-flex {
            gap: 15px;
            display: flex;
            -webkit-align-items: 0;
        }

        .mgCenter {
            margin-right: 148px;
        }

        #SalesPointLessorInformationSigntureImage {
            position: absolute;
            top: 39%;
            right: 50%;
        }

        .t_mar {
        @*margin: 35px;*@ margin-left: 20px;
        @*margin-top: 5px;*@
        }

        .col-md-label5 {
            /*width: 28.75%;*/
            width: 90.5px;
            height: 30px;
        }

        .col-md-input5 {
            width: 300px;
            margin-top: -8px;
            height: 30px;
        }

        .col-md-label10 {
            /*width: 28.75%;*/
            width: 75px;
            height: 30px;
        }

        .col-md-input10 {
            width: 315px;
            margin-top: -8px;
            height: 30px;
        }

        #Date_cusor2 {
            margin-left: 13px;
            direction:ltr;
        }
    </style>
}

<div class="sub-container">
    <div class="container-fluid">
        <div class="row">
            @*filter*@
            <div class="col-sm-12 col-md-9">
                <div class="col-sm-12 col-md-4 p-0" style="height:50px">
                    <a type="button" class="btn btn-danger" title="@localizer["Back"]" asp-area="CAS" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>
                    @*<a class="btn btn-secondary InsertBtn" onclick="CheckValidation('1103002', '@Status.Insert', '@Url.Action("AddEmployeeContract", "EmployeeContract")')">
                        @localizer["Add EmployeeContract Data"]
                    </a> *@
                </div>
            </div>

            @*search And Fitler Radio Button*@
            @*<div class="col-sm-12 col-md-3 p-0">
                <div class="input-group" style="width: 95%;">
                    <input class="form-control dropdown-toggle" type="search" id="top-search" style="width: 96%;" placeholder="@localizer["search"]...">
                    <span class="mdi mdi-magnify search-icon" style="color:#a7a4a4;"></span>
                </div>
            </div>*@
     </div> 

        <div class="sub-container-form" id="CAS" style="height:540px;width:1667px;margin-inline-start:10px;">
            @*<form class="needs-validation" novalidate asp-area="CAS" asp-controller="TaxOwed" asp-action="AddPaymentTaxValues" method="post">*@
            <div  >
                <div style="height:450px">
                    @*Document Code*@
                    <div class="row mt-2" hidden>
                        <div class="col-md-4">
                            @*<input type="text" class="form-control" readonly asp-for="CrMasUserInformationLessor" />
                            <input type="text" class="form-control" readonly asp-for="CrMasUserInformationDefaultBranch" />
                            <input type="text" class="form-control" readonly asp-for="CrMasUserInformationCode" />*@
                        </div>
                    </div>
                    @*Document Branch*@
                    <div class="row mt-2">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <div class="col-md-1 formlabel" style="margin-top:7px;width:185px">
                                <label class="form-label">@localizer["TaxOwed_pay_pay_Tax_no"]</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-1 formlabel" style="margin-top:6px;width:160px">
                                <label class="form-label">@localizer["TaxOwed_pay_pay_Tax_no"]</label>
                            </div>
                        }
                        <div class="col-md-2 col-11">
                            <input type="text" class="form-control" id="New_TaxOwed_Tax_no" value="@Model.New_TaxOwed_Tax_no" readonly>
                            @*@if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                <input type="text" class="form-control" asp-for="CrMasUserInformationArName" readonly>
                            }
                            else
                            {
                                <input type="text" class="form-control" asp-for="CrMasUserInformationEnName" readonly>
                            }*@
                        </div>
                    </div>
                    @*DateTime Inputs*@
                    <div class="row mt-2" id="DateInputs" style="display:flex;gap: 15px;-webkit-flex-item-align:center;height:45px;">
                        <div class="col-md-1 formlabel" style="margin-top:7px;width:113px">
                            <label class="form-label">@localizer["TaxOwed_pay_Date"]</label>
                        </div>

                        <div class="dateRelative col-md-5 col-11" style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " id="endDateInput" name="endDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor2" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; "></i>
                        </div>
                        @*<div style="width:50px;">

                            <a class="btn btn-primary" id="GetAllCheckBox_Checked" onclick="GetAllCheckBox_Checked()">
                                <i class="mdi mdi-search-web"></i>
                            </a>
                        </div>*@
                    </div> @*End row*@
                    @*Value Offer*@
                    <div class="row mt-2">
                        <div class="col-md-1 formlabel" style="margin-top:6px;width:115px">
                            <label class="form-label">@localizer["TaxOwed_pay_pay_Tax_Total_Value"]</label>
                        </div>
                        <div class="col-md-2 col-8">
                            <input type="number" class="form-control" id="Amount_will_Pay" name="Amount_will_Pay" readonly value="@Model.Amount_will_Pay">
                        </div>
                    </div>
                    @*Reasons*@
                    <div class="row mt-2">
                        <div class="col-md-1 formlabel" style="margin-top:7px;width:125px">
                            <label class="form-label">@localizer["reasons"]</label>
                        </div>
                        <div class="col-md-5 col-11">
                            <input type="text" class="form-control" id="Reasons" name="Reasons" autocomplete="off" maxlength="100" style="width:500px;">
                        </div>
                    </div>

                    <div class="dataTable " style="height:240px;margin-top:15px;margin-inline-end:25px;">
                        <partial name="_DataTablePaymentTaxValues" />
                    </div>
                </div>
                <div style="margin-top:25px">
                    @*<button class='btn btn-primary' type="submit" >@localizer["Save"]</button>*@
                    <button class='btn btn-primary' onclick="GetAllCheckBox_Checked()">@localizer["Save"]</button>
                    <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="TaxOwed" asp-action="Index">
                        @localizer["Back"]
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>




<style>
    .wrapper {
        margin-bottom: 60px;
        overflow: hidden;
        background-image: url("~/Pictures/bg.jpg") !important;
    }

    .table-bordered td,
    .table-bordered th {
        border: none;
    }
</style>


@section scripts {


    @*Get AccountBank Using filter*@

    <script>
        $(document).ready(function () {
            var today = new Date();
            var startDate = new Date();
            var EndDate = new Date();
            startDate.setDate(today.getDate() - 30);


            var startDates = $("startDateInput").val();
            var StartformattedDate = new Date(startDates);

            var EndDates = $("endDateInput").val();
            var EndformattedDate = new Date(EndDates);


            if (!StartformattedDate || StartformattedDate === "") {
                StartformattedDate = today; // Set date to today if it's empty or null
            }
            if (!EndformattedDate || EndformattedDate === "") {
                EndformattedDate = today; // Set date to today if it's empty or null
            }




            $("#startDateInput").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: startDate, // Set the minimum date to today
                maxDate: today,
            }).datepicker("widget").addClass("datepicker-widget");
            $("#startDateInput").datepicker("setDate", startDate);
            $("#startDateInput").click(function () {
                $(this).datepicker("show");
            });

            $("#endDateInput").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: today,// Set the minimum date to today
                maxDate: today,
            }).datepicker("widget").addClass("datepicker-widget");
            $("#endDateInput").datepicker("setDate", today);
            $("#endDateInput").click(function () {
                $(this).datepicker("show");
            });

            $("#Date_cusor1").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

            $("#Date_cusor2").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

        });
    </script>

    <script>
        function GetAllCheckBox_Checked() {
            yourArray = [];
            // return list of All CheckBoxes Has Checked
            $("input:checkbox[name=Contracts_checked]:checked").each(function () {
                yourArray.push($(this).val());              
            });
            console.log(yourArray);
            var pay_date = document.getElementById("endDateInput").value;
            var reasons = document.getElementById("Reasons").value;
            var Total_Money = document.getElementById("Amount_will_Pay").value;
            var Serial_pay = document.getElementById("New_TaxOwed_Tax_no").value;
            var postData = { values: yourArray, pay_date: pay_date, reasons: reasons, Total_Money: Total_Money, Serial_pay: Serial_pay };

            //var array = []
            //var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
            //// return list of All CheckBoxes Has Checked
            //for (var i = 0; i < checkboxes.length; i++) {
            //    array.push(checkboxes[i].value);
            //}
            //console.log(array);
            //var postData = { values: yourArray };
            $.ajax({
                type: "Post",
                data: postData,
                url: "@Url.Action("AddPaymentTaxValues", "TaxOwed", new { Area = "CAS" })",
                success: function (response) {
                    console.log(response);
                    console.log("response success");
                    if (response.code === 1) {
                        //window.location = 'yourloginpage.html'
                        location.href = '@Url.Action("SuccessToast", "TaxOwed")?';
                    }
                    //$("#FromAccountNo").val(response.accountIban);
                    //@*if ("@requestCulture?.RequestCulture.UICulture.Name" == "ar-EG") {*@
                    //    $("#FromBank").val(response.bankNo);
                    //    $("#FromBankk").val(response.arBank);
                    //}
                    //else {
                    //    $("#FromBank").val(response.bankNo);
                    //    $("#FromBankk").val(response.arBank);

                    //}
                },
            })
        };
    </script>
    
    <script>
        //get AccountBank By Status function
        function GetReportFitlerDate(status) {
            var id = $("#FTR_Id").val();
            var startDate = $("#startDateInput").val();
            var endDate = $("#endDateInput").val();

            console.log(startDate)
            console.log(endDate)
            if (status === "All") {
                const yesBtn = document.getElementById('customRadioAll');
                // ✅ Set the radio button to checked
                yesBtn.checked = true;
            }

            // Clear the value from the search input
            $("#top-search").val("");

            $.ajax({
                type: "GET",
                data: {
                    _max: endDate,
                    _mini: startDate,
                    status: status,
                },
                url: "@Url.Action("GetAllContractsByDate_status", "TaxOwed", new { Area = "CAS" })",
                success: function (response) {
                    $(".dataTable").html(response);
                    set_basic_datatable();
                },
            })
        }
        //on Click Filter Radio Button GetLessorsByStatus
        $("input[name='customRadio']").on("click", function () {
            // Clear the value from the search input
            $("#top-search").val("");
            //GetRenterContractFitler($(this).val())
            GetReportFitlerDate($(this).val());
        });

        //on Click Filter Radio Button GetLessorsByStatus
        $("a[name='Button_DateFilter']").on("click", function () {
            // Clear the value from the search input
            $("#top-search").val("");
            //GetRenterContractFitler($(this).val())
            GetReportFitlerDate("All");
        });

        
    </script>

    <script>
        function AddToAmount(x){
            let Amount_will_Pay = document.getElementById("Amount_will_Pay");
            //let num2 = parseFloat("10.547892").toFixed(2)
            let Amount_will = parseFloat(Amount_will_Pay.value) + parseFloat(x);
            return Amount_will.toFixed(2);
        };
        function MinusFromAmount(x) {
            let Amount_will_Pay = document.getElementById("Amount_will_Pay");
            //let num2 = parseFloat("10.547892").toFixed(2)
            let Amount_will = parseFloat(Amount_will_Pay.value) - parseFloat(x);
            return Amount_will.toFixed(2);

        };

        function CheckBoxClicked(e) {
            let Amount_will_Pay = document.getElementById("Amount_will_Pay");
            if (e.checked) {
                var values = e.id;
                let newVal = AddToAmount(values);
                Amount_will_Pay.value = newVal
                console.log(newVal);
            } 
            else {
                var values = e.id;
                let newVal = MinusFromAmount(values);
                Amount_will_Pay.value = newVal
                console.log("No Value");
            }
        };
    </script>
}
