@using Bnan.Core.Extensions;
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@model IEnumerable<CrCasCarInformation>

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["Cars Data"];
    ViewData["Page-Hint"] = localizer["CarsForSale Hint"];
}


<style>
    body {
        overflow: hidden
    }

    @@media (max-width: 600px) {
        #basic-datatable_wrapper .row:first-child > div {
            text-align: center;
        }

            #basic-datatable_wrapper .row:first-child > div:last-child > * {
                text-align: center;
            }
    }
</style>
<div class="sub-container">
    <div class="container-fluid">
        <div class="row">
            @*filter*@
            <div class="col-sm-12 col-md-9">
                <div class="col-sm-12 col-md-4 p-0">
                    <a type="button" class="btn btn-danger" asp-area="CAS" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>
                </div>
            </div>
            @*search*@
            <div class="col-sm-12 col-md-3 p-0">
                <input class="form-control" type="search" id="top-search" style="width: 96%;" placeholder="@localizer["search"]...">
            </div>
            <div class="col-sm-12 col-md-12 mt-3" id="status-filter">
                <div class="form-check form-check-inline">
                    <input type="radio" id="customRadioAll" name="customRadio" value="all" class="form-check-input">
                    <label class="form-check-label" for="customRadioAll">@localizer["All"]</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="customRadioActive" name="customRadio" value="A" class="form-check-input">
                    <label class="form-check-label" for="customRadioActive">@localizer["NotOffered"]</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="customRadioStoped" name="customRadio" value="V" class="form-check-input">
                    <label class="form-check-label" for="customRadioStoped">@localizer["ForSaleAndRent"]</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="customRadioRemoved" name="customRadio" value="T" class="form-check-input">
                    <label class="form-check-label" for="customRadioRemoved">@localizer["ForSale"]</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="customRadioRemoved" name="customRadio" value="S" class="form-check-input">
                    <label class="form-check-label" for="customRadioRemoved">@localizer["Sold"]</label>
                </div>
            </div>
        </div>
        <div class="dataTable">
            <partial name="_CarsForSaleData" />
        </div>
    </div>
</div>

@section scripts {
    @*Get Cars Using filter*@
    <script>
        //get User By Status function
        function GetCarsFitler(status) {
            $.ajax({
                type: "GET",
                data: {
                    status: status
                },
                url: "@Url.Action("GetCarsByStatus", "CarsForSale", new { Area = "CAS" })",
                success: function (response) {
                    // set_nice_scroll();
                    console.log(response);
                    $(".dataTable").html(response);
                    set_basic_datatable();
                },
            })
        }

        //on Click Filter Radio Button GetLessorsByStatus
        $("input[name='customRadio']").on("click", function () {
            // Clear the value from the search input
            $("#top-search").val("");
            GetCarsFitler($(this).val())
        })
    </script>
}
