@using Bnan.Core.Extensions
@model IEnumerable<CrMasSysProcedure>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";   ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}


@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["ProcedureNo"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["ProcedureName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["ProcedureAlert"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasSysProceduresStatus == @Status.Deleted || item.CrMasSysProceduresStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Procedures", new { id = item.CrMasSysProceduresCode })'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrMasSysProceduresCode</td>
                            <td>@item.CrMasSysProceduresEnName</td>
                            @if (item.CrMasSysProceduresSubjectAlert == true)
                            {
                                <td>@localizer["ProceduresOn"]</td>
                            }
                            else
                            {
                                <td>@localizer["ProceduresOff"]</td>
                            }
                            <td>
                                @if (@item.CrMasSysProceduresStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrMasSysProceduresStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Procedures", new { id = item.CrMasSysProceduresCode })'">
                            <td>@no</td>
                            <td>@item.CrMasSysProceduresCode</td>
                            <td>@item.CrMasSysProceduresEnName</td>
                            @if (item.CrMasSysProceduresSubjectAlert == true)
                            {
                                <td>@localizer["ProceduresOn"]</td>
                            }
                            else
                            {
                                <td>@localizer["ProceduresOff"]</td>
                            }
                            <td>
                                @if (@item.CrMasSysProceduresStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["ProcedureNo"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["ProcedureName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["ProcedureAlert"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasSysProceduresStatus == @Status.Deleted || item.CrMasSysProceduresStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Procedures", new { id = item.CrMasSysProceduresCode })'" style="cursor:pointer; color:red ">
                            <td>@no</td>
                            <td>@item.CrMasSysProceduresCode</td>
                            <td>@item.CrMasSysProceduresArName</td>
                            @if (item.CrMasSysProceduresSubjectAlert == true)
                            {
                                <td>@localizer["ProceduresOn"]</td>
                            }
                            else
                            {
                                <td>@localizer["ProceduresOff"]</td>
                            }
                            <td>
                                @if (@item.CrMasSysProceduresStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrMasSysProceduresStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Procedures", new { id = item.CrMasSysProceduresCode })'" style="cursor:pointer; ">
                            <td>@no</td>
                            <td>@item.CrMasSysProceduresCode</td>
                            <td>@item.CrMasSysProceduresArName</td>
                            @if (@item.CrMasSysProceduresSubjectAlert == true)
                            {
                                <td>@localizer["ProceduresOn"]</td>
                            }
                            else
                            {
                                <td>@localizer["ProceduresOff"]</td>
                            }
                            <td>
                                @if (@item.CrMasSysProceduresStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
