@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS;
@using Newtonsoft.Json;
@model CasStatisticLayoutVM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options

<!--Avaliable Cars-->
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}



<style>

    div.scroll {
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        /*padding: 20px;*/
        position: relative;
        /*overflow: auto;*/
        max-height: 40vh;
        width: 100%;
    }


    th.scroll_1 {
        top: 0px;
        position: sticky;
        background-color: #E4F3F9;
    }


    ::-webkit-scrollbar {
        display: block;
        width: 15px;
        opacity: 0;
    }


    ::-webkit-scrollbar-thumb {
        background-color: gray;
        border-right: none;
        border-left: none;
    }

    ::-webkit-scrollbar-track {

        background-color: #E4F3F9;
    }

    ::-webkit-scrollbar-track-piece:end {
        background: transparent;
        background-color: lightgray;
        margin-bottom: 0px;
    }

    ::-webkit-scrollbar-track-piece:start {
        background: transparent;
        background-color: lightgray;
        margin-top: 50px;
    }

</style>
<style>
    #_Nc {
        align-items: center;
    }
</style>
<style>
    ._Tr_black {
        border-image:fill;
    }

    ._Tr_red {
        color:red;
    }
</style>

@{
    var class_color_black = "_Tr_black";
    var class_color_red = "_Tr_red";
    var color_tr = "";

}

@{
    var CarsCount = 1;
    CarsCount = ViewBag.count_Renters;
    var type = ViewBag.singleType;
    var ArName = "الأسم";
    var EnName = "Name";
switch (type)
        {
        case "0":
            ArName = "الجنسية";
            EnName = "Nationality";
            break;
        case "1":
            ArName = "العضوية";
            EnName = "MemperShip";
            break;
        case "2":
            ArName = "المهنة";
            EnName = "profession";
            break;
        case "3":
            ArName = "المنطقة";
            EnName = "Rigon";
            break;
        case "4":
            ArName = "المدينة";
            EnName = "City";
            break;
        case "5":
            ArName = "الفئة العمرية";
            EnName = "Age group";
            break;
        default:
            ArName = "الجنسية";
            EnName = "Nationality";
            break;
        }
}

<button onload="ChangeScroll()" hidden> click</button>
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{

    <div class="col-sm-12 scroll">
        @* For-scrolling *@
        <table id="basic-datatable2" class="table table-bordered dt-responsive nowrap w-100 no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable2_info" style="position: relative; width: 1166px; ">

            <div>
                <tr role="row">
                <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                @*<th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["CarStatistics_ID"]</th>*@
                <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending"> @EnName</th>
                <th class="scroll_1" style="text-align:center">@localizer["CarStatistics_Count"]</th>
                <th class="scroll_1" style="text-align:center" aria-label="Position: activate to sort column ascending">@localizer["CarStatistics_Percentage"]</th>
                </tr>
            </div>
            <div >
            <tbody>

                    @{
                        int no = 1;
                    }
                    @foreach (var item in Model.ChartBranchDataVM_2ForAll)
                    {
                    if (item.Code == "Aa")
                    {
                        color_tr = class_color_red;
                    }
                    else
                    {
                        color_tr = class_color_black;
                    }

                     
                    <tr class="@color_tr">
                        <td id="_Nc">@no</td>

                        @*<td id="_Nc">@item.Code</td>*@


                    <td style="text-align:start">@item.EnName</td>
                    <td style="text-align:center">@item.Value</td>

                    @{
                        var percentage = (double)item.Value/(double)CarsCount *100;
                    }
                    <td style="text-align:center">@percentage.ToString("N2",CultureInfo.InvariantCulture) %</td>




                    </tr>

                        no++;
                    }
            </tbody>
            </div>
            
        </table>
    </div>
}
else
{
    <div class="col-sm-12 scroll ">
        @* For-scrolling *@
        <table id="basic-datatable2" class="table table-bordered dt-responsive nowrap w-100 no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable2_info" style="position: relative; width: 1166px; ">
            <div >
                <tr role="row">
                <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                @*<th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["CarStatistics_ID"]</th>*@
                <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending"> @ArName</th>
                <th class="scroll_1" style="text-align:center">@localizer["CarStatistics_Count"]</th>
                <th class="scroll_1" style="text-align:center" aria-label="Position: activate to sort column ascending">@localizer["CarStatistics_Percentage"]</th>
                </tr>
            </div>
            <tbody >

                @{
                    int no = 1;
                }



                @foreach (var item in Model.ChartBranchDataVM_2ForAll)
                {
                    if (item.Code == "Aa")
                    {
                        color_tr = class_color_red;
                    }
                    else
                    {
                        color_tr = class_color_black;
                    }


            <tr class="@color_tr">
                        <td id="_Nc">@no</td>

                        @*<td id="_Nc">@item.Code</td>*@


                    <td style="text-align:start">@item.ArName</td>
                    <td style="text-align:center">@item.Value</td>

                    @{
                        var percentage = (double)item.Value/(double)CarsCount *100;
                    }
                    <td style="text-align:center">@percentage.ToString("N2",CultureInfo.InvariantCulture) %</td>



                    </tr>
                    
                    no++;
                }

            </tbody>
        </table>
    </div>
}

