@using Bnan.Core.Extensions
@model IEnumerable<CrCasBranchPost>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<style>
    #basic-datatable_wrapper .row:nth-child(2) {
        margin: 0;
    }
</style>
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["Branch"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["City"]</th>
                    <th aria-label="Office: activate to sort column ascending">@localizer["Manager"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["TelePhone"]</th>
                    <th aria-label="Start date: activate to sort column ascending">@localizer["MobilePhone"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["Cars"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == @Status.Deleted || item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Branches", new { id = item.CrCasBranchPostNavigation.CrCasBranchInformationCode })'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationEnShortName</td>
                            @if (@item.CrCasBranchPostCityNavigation == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostCityNavigation.CrMasSupPostCityConcatenateEnName</td>
                            }
                            <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationDirectorEnName</td>
                            @if (item.CrCasBranchPostNavigation.CrMasBranchInformationTeleKey != "" || item.CrCasBranchPostNavigation.CrMasBranchInformationTeleKey != null)
                            {
                                <td>@item.CrCasBranchPostNavigation.CrMasBranchInformationTeleKey @item.CrCasBranchPostNavigation.CrCasBranchInformationTelephone</td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationTelephone</td>
                            }
                            @if (item.CrCasBranchPostNavigation.CrMasBranchInformationMobileKey != "" || item.CrCasBranchPostNavigation.CrMasBranchInformationMobileKey != null)
                            {
                                <td>@item.CrCasBranchPostNavigation.CrMasBranchInformationMobileKey @item.CrCasBranchPostNavigation.CrCasBranchInformationMobile</td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationMobile</td>
                            }

                            <td>@item.CrCasBranchPostNavigation.CrCasCarInformations.Where(x=>x.CrCasCarInformationStatus!=Status.Deleted&&x.CrCasCarInformationStatus!=Status.Sold).Count()</td>
                            <td>
                                @if (@item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                                else if (@item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == Status.Hold)
                                {
                                    @localizer["Stoped"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Branches", new { id = item.CrCasBranchPostNavigation.CrCasBranchInformationCode})'" style="cursor:pointer;">
                            <td>@no</td>
                            <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationEnShortName</td>
                            @if (@item.CrCasBranchPostCityNavigation == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostCityNavigation.CrMasSupPostCityConcatenateEnName</td>
                            }
                            <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationDirectorEnName</td>
                            @if (item.CrCasBranchPostNavigation.CrMasBranchInformationTeleKey != "" || item.CrCasBranchPostNavigation.CrMasBranchInformationTeleKey != null)
                            {
                                <td>@item.CrCasBranchPostNavigation.CrMasBranchInformationTeleKey @item.CrCasBranchPostNavigation.CrCasBranchInformationTelephone</td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationTelephone</td>
                            }
                            @if (item.CrCasBranchPostNavigation.CrMasBranchInformationMobileKey != "" || item.CrCasBranchPostNavigation.CrMasBranchInformationMobileKey != null)
                            {
                                <td>@item.CrCasBranchPostNavigation.CrMasBranchInformationMobileKey @item.CrCasBranchPostNavigation.CrCasBranchInformationMobile</td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationMobile</td>
                            }
                            <td>@item.CrCasBranchPostNavigation.CrCasCarInformations.Where(x=>x.CrCasCarInformationStatus!=Status.Deleted&&x.CrCasCarInformationStatus!=Status.Sold).Count()</td>
                            <td>
                                @if (@item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                                else if (@item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == Status.Hold)
                                {
                                    @localizer["Stoped"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["Branch"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["City"]</th>
                    <th aria-label="Office: activate to sort column ascending">@localizer["Manager"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["TelePhone"]</th>
                    <th aria-label="Start date: activate to sort column ascending">@localizer["MobilePhone"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["Cars"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == @Status.Deleted || item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Branches", new { id = item.CrCasBranchPostNavigation.CrCasBranchInformationCode })'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationArShortName</td>
                            @if (@item.CrCasBranchPostCityNavigation == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostCityNavigation.CrMasSupPostCityConcatenateArName</td>
                            }
                            <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationDirectorArName</td>
                            @if (!string.IsNullOrEmpty(item.CrCasBranchPostNavigation.CrMasBranchInformationTeleKey) && !string.IsNullOrEmpty(item.CrCasBranchPostNavigation.CrCasBranchInformationTelephone))
                            {
                                <td>@item.CrCasBranchPostNavigation.CrMasBranchInformationTeleKey@item.CrCasBranchPostNavigation.CrCasBranchInformationTelephone</td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationTelephone</td>
                            }
                            @if (!string.IsNullOrEmpty(item.CrCasBranchPostNavigation.CrMasBranchInformationMobileKey) && !string.IsNullOrEmpty(item.CrCasBranchPostNavigation.CrCasBranchInformationMobile))
                            {
                                <td>@item.CrCasBranchPostNavigation.CrMasBranchInformationMobileKey@item.CrCasBranchPostNavigation.CrCasBranchInformationMobile</td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationMobile</td>
                            }
                            <td>@item.CrCasBranchPostNavigation.CrCasCarInformations.Where(x=>x.CrCasCarInformationStatus!=Status.Deleted&&x.CrCasCarInformationStatus!=Status.Sold).Count()</td>
                            <td>
                                @if (@item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                                else if (@item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrCasBranchPostNavigation.CrCasBranchInformationStatus == Status.Hold)
                                {
                                    @localizer["Stoped"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Branches", new { id = item.CrCasBranchPostNavigation.CrCasBranchInformationCode })'" style="cursor:pointer;">
                            <td>@no</td>
                            <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationArShortName</td>
                            @if (@item.CrCasBranchPostCityNavigation == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostCityNavigation.CrMasSupPostCityConcatenateArName</td>
                            }
                            <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationDirectorArName</td>
                            @if (!string.IsNullOrEmpty(item.CrCasBranchPostNavigation.CrMasBranchInformationTeleKey) && !string.IsNullOrEmpty(item.CrCasBranchPostNavigation.CrCasBranchInformationTelephone))
                            {
                                <td>@item.CrCasBranchPostNavigation.CrMasBranchInformationTeleKey@item.CrCasBranchPostNavigation.CrCasBranchInformationTelephone</td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationTelephone</td>
                            }
                            @if (!string.IsNullOrEmpty(item.CrCasBranchPostNavigation.CrMasBranchInformationMobileKey) && !string.IsNullOrEmpty(item.CrCasBranchPostNavigation.CrCasBranchInformationMobile))
                            {
                                <td>@item.CrCasBranchPostNavigation.CrMasBranchInformationMobileKey@item.CrCasBranchPostNavigation.CrCasBranchInformationMobile</td>
                            }
                            else
                            {
                                <td>@item.CrCasBranchPostNavigation.CrCasBranchInformationMobile</td>
                            }
                            <td>@item.CrCasBranchPostNavigation.CrCasCarInformations.Where(x=>x.CrCasCarInformationStatus!=Status.Deleted&&x.CrCasCarInformationStatus!=Status.Sold).Count()</td>
                            <td>

                                @localizer["Active"]

                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}


