@model Bnan.Ui.ViewModels.CAS.BranchVM

@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["Add Branch Data"];
    ViewData["Page-Hint"] = localizer["Add Branch Hint"];
}

<title>@ViewData["Title"]</title>

<style>

    #LessorInfoEmailWhatisapp, #LessorMobilePhone, #LessorCallFree {
        width: 101%;
    }

    .text-danger {
        white-space: nowrap;
    }

    .file-upload {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn {
        width: 154px;
        margin: 0;
        color: #fff;
        background: #727cf5;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #727cf5;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #5661e3;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

    .file-upload-input-picture, .file-upload-input-signature {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        height: 180px;
        width: 154px;
        margin-top: 5px;
        border: 4px dashed rgb(231, 231, 231);
        position: relative;
        display: none;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: rgb(231, 231, 231);
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            padding: 60px 0;
            font-size: 17px
        }

    .file-upload-image {
        height: 145px;
        width: 154px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border: .5px solid rgb(231, 231, 231);
    }

    .remove-image {
        margin: 0;
        max-height: 200px;
        max-width: 200px;
        width: 100%;
        color: #fff;
        background: #fa5c7c;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #fa5c7c;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

    .image-upload-wrap {
        display: block
    }

    .file-upload-content {
        display: none
    }

    .remove-image:hover {
        background: #f35474;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

  /*   #BranchSigntureImage {
        position: absolute;
        top: 53%;
        right: 35%;
    } */

    @@media (max-width: 1050px) {
        #BranchSigntureImage {
            position: absolute;
            top: 145%;
            right: 5%;
        }
    }

    @@media (max-width: 767px) {
        #BranchSigntureImage {
            position: absolute;
            top: 330%;
            right: 30%;
        }
    }
</style>


<div class="sub-container-form" id="CAS">
    <form class="needs-validation" novalidate asp-area="CAS" asp-controller="Branches" asp-action="AddBranch" enctype="multipart/form-data">
        <div class="form-contain" style="position:relative">
            @*branch Code*@
            <div class="row mt-2" hidden>
                <div class="col-md-1">
                    <label class="form-label" for="branchCode">@localizer["BranchCode"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationCode" id="LessorNameAr" maxlength="100" width="80%" value="@ViewBag.branchnumber" />
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationLessor" id="LessorNameAr" maxlength="100" width="80%" value="@ViewBag.lessornumber" />
                </div>
            </div>

            @*Branch name arabic*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationArName">@localizer["BranchNameAr"]</label>
                </div>
                <div class="col-md-5 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationArName" maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationArName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationArShortName">@localizer["BranchNameArShort"]</label>
                </div>
                <div class="col-md-2 col-11" style="margin-left: 3%;">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationArShortName" maxlength="20" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required>
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationArShortName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*Branch name English*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationEnName">@localizer["BranchNameEn"]</label>
                </div>
                <div class="col-md-5 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationEnName" maxlength="100" id="LessorNameEn" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationEnName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationEnShortName">@localizer["BranchNameEnShort"]</label>
                </div>
                <div class="col-md-2 col-11" style="margin-left: 3%;">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationEnShortName" maxlength="20" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationEnShortName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*Government and Tax and commercial number*@
            <div class="row mt-2">

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationTaxNo">@localizer["TaxNo"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationTaxNo" maxlength="15" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationTaxNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationGovernmentNo">@localizer["governmentNo"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationGovernmentNo" maxlength="10" id="BranchGovNo" oninput="this.value=this.value.replace(/[^0-9]/g,'')"  id="LessorGovNo">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationGovernmentNo" class="text-danger"  id="gov-error"></span>
                        </div>
                    </div>
                </div>



                <div class="col-md-1">
                </div>
                <div class="col-md-2 col-11">
                </div>


            </div>

            @*Mobil and telephone*@
            <div class="row mt-2">

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationTelephone">@localizer["TelePhone"]</label>
                </div>
                <div class="col-md-1 col-8 mobilCol">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationTelephone" style="width: 120%;" id="BranchCallFree" maxlength="15" data-val-regex="@localizer["requiredNoLengthFiled","9"]" oninput="validateInput(event, 'BranchCallFree', 'callfreeErorr', '1')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationTelephone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-1 p-0 CallingKeys">
                    <select class="form-select" asp-for="CrMasBranchInformationTeleKey" id="countryCode" style="width: 83px;">
                        @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeys"])
                        {
                            <option value="@callingKey.Text">@callingKey.Text</option>
                        }
                    </select>
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel" id="CASBranchMobilePhone">
                    <label class="form-label" asp-for="CrCasBranchInformationMobile">@localizer["MobilePhone"]</label>
                </div>
                <div class="col-md-1 col-8 TeleCol" style="padding-right:3px">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationMobile" style="width: 120%;" maxlength="15" id="BranchMobilePhone" width="80%">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationMobile" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-1 p-0 CallingKeys">
                    <select class="form-select" asp-for="CrMasBranchInformationMobileKey" id="countryCode" style="width: 83px;">
                        @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeys"])
                        {
                            <option value="@callingKey.Text">@callingKey.Text</option>
                        }
                    </select>
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*Director Name*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationDirectorArName">@localizer["DirNameAr"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationDirectorArName" maxlength="30" style="width:100%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationDirectorArName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 formlabel">
                    <label class="form-label" for="LessorDirNameEn">@localizer["DirNameEn"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationDirectorEnName" maxlength="30" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationDirectorEnName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*City and region*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostCity">@localizer["lessorCityPost"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostCity" autocomplete="off">

                    <div style="margin-top:12px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostCity" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="col-md-1">
                </div>
                <div class="col-md-4">
                </div>
            </div>

            @*district name arabic And English*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostArDistrict">@localizer["DistrictNameAr"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostArDistrict" id="LessorNameAr" maxlength="50" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostArDistrict" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostEnDistrict">@localizer["DistrictNameEn"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostEnDistrict" maxlength="50" id="LessorNameArShort" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostEnDistrict" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*street name arabic And English*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostArStreet">@localizer["StreetNameAr"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostArStreet" id="StreetNameAr" maxlength="50" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostArStreet" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostEnStreet">@localizer["StreetNameEn"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostEnStreet" id="StreetNameEn" maxlength="50" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostEnStreet" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*buliding Number  And Unit Number*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostBuilding">@localizer["BulidingNumber"]</label>
                </div>
                <div class="col-md-1 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostBuilding" id="BulidingNumber" maxlength="10" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostBuilding" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostUnitNo">@localizer["UnitNumber"]</label>
                </div>
                <div class="col-md-1 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostUnitNo" id="UnitNumber" maxlength="20" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostUnitNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostZipCode">@localizer["symbolMailAr"]</label>
                </div>
                <div class="col-md-1 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostZipCode" id="symbolMail" maxlength="10" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostAdditionalNumbers">@localizer["AdditionalNumber"]</label>
                </div>
                <div class="col-md-1 col-11" style="margin-left:2%">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostAdditionalNumbers" id="AdditionalNumber" maxlength="10" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostAdditionalNumbers" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="BranchSigntureImage">
                <div class="file-upload">
                    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input-signature').trigger('click')">@localizer["Signture"]</button>
                    <div class="image-upload-wrap">
                        <input class="file-upload-input-signature" type="file" onchange="readURL(this, 'signature');" accept="image/*" id="SigntureFile" name="SigntureFile" />
                        <div class="drag-text">
                            <h3>@localizer["DragAndDrop"]</h3>
                        </div>
                    </div>
                    <div class="file-upload-content signature">
                        <img class="file-upload-image signature" src="#" />
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                        </div>
                    </div>
                </div>
            </div>
            @*Reasons*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" asp-for="CrCasBranchInformationReasons">@localizer["reasons"]</label>
                </div>
                <div class="col-md-4 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationReasons" id="BulidingNumber" maxlength="100" width="80%" />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="CrCasBranchInformationReasons" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*zip code And AdditionalNumber*@
            @*       <div class="row mt-2">
            <div class="col-md-1 formlabel">
            <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostZipCode">@localizer["symbolMailAr"]</label>
            </div>
            <div class="col-md-2 col-11">
            <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostZipCode" id="symbolMail" maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
            <div style="margin-top:2px">
            <div style="height: 1.35em">
            <span asp-validation-for="BranchPostVM.CrCasBranchPostZipCode" class="text-danger"></span>
            </div>
            </div>
            </div>

            <div class="col-md-1 formlabel">
            <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostAdditionalNumbers">@localizer["AdditionalNumber"]</label>
            </div>
            <div class="col-md-2 col-11">
            <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostAdditionalNumbers" id="AdditionalNumber" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
            <div style="margin-top:2px">
            <div style="height: 1.35em">
            <span asp-validation-for="BranchPostVM.CrCasBranchPostAdditionalNumbers" class="text-danger"></span>
            </div>
            </div>
            </div>
            </div>*@
            @Html.ValidationMessage("NoCHanged", null, new { @class = "text-danger" })
        </div>
        <div class="mt-3">
            <button class="btn btn-primary" type="submit">@localizer["Save"]</button>
            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="Branches" asp-action="Branches">
                @localizer["Back"]
            </a>
        </div>
    </form>


</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateInput(event, inId, InEr, No) {
            event.target.value = event.target.value.replace(/[^0-9]/g, '');

            const inputElement = document.getElementById(inId);
            const errorMessageElement = document.getElementById(InEr);

            const inputValue = inputElement.value;
            const isValid = inputValue.startsWith(No);

            if (!isValid) {
                errorMessageElement.textContent = errorMessageElement.getAttribute('data-error');
                inputElement.value = "";
            } else {
                errorMessageElement.textContent = '';
            }
        }
    </script>
    <script>
        function readURL(input, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var container = $(input).closest('.file-upload');
                    container.find('.file-upload-image.' + type).attr('src', e.target.result);
                    container.find('.file-upload-content.' + type).show();
                    container.find('.image-title.' + type).html(input.files[0].name);
                    container.find('.image-upload-wrap').hide();
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload(input);
            }
        }

        function removeUpload(button) {
            var container = $(button).closest('.file-upload');
            var type = container.find('.file-upload-content').hasClass('signature') ? 'signature' : 'picture';
            container.find('.file-upload-input-' + type).val('');
            container.find('.file-upload-image.' + type).attr('src', '#');
            container.find('.file-upload-content.' + type).hide();
            container.find('.image-upload-wrap').show();
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $(this).addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $(this).removeClass('image-dropping');
        });
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCities", "Branches", new { Area = "CAS" })",
                success: function (response) {
                    console.log(response)
                    const newArray = response.map(obj => obj.text);
                    $("#BranchPostVM_CrCasBranchPostCity").autocomplete({
                        source: newArray,
                    });

                },
            })

        });


    </script>
}


