﻿@using Bnan.Core.Extensions;
@model Bnan.Ui.ViewModels.CAS.BranchVM

@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["Edit Branch Data"];
    ViewData["Page-Hint"] = localizer["Edit Branch Hint"];
}

<title>@ViewData["Title"]</title>

<style>

    #LessorInfoEmailWhatisapp, #LessorMobilePhone, #LessorCallFree {
        width: 101%;
    }

    .text-danger {
        white-space: nowrap;
    }

    .file-upload {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn {
        width: 154px;
        margin: 0;
        color: #fff;
        background: #727cf5;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #727cf5;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #5661e3;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

    .file-upload-input-picture, .file-upload-input-signature {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        height: 180px;
        width: 154px;
        margin-top: 5px;
        border: 4px dashed rgb(231, 231, 231);
        position: relative;
        display: none;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: rgb(231, 231, 231);
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            padding: 60px 0;
            font-size: 17px
        }

    .file-upload-image {
        height: 145px;
        width: 154px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border: .5px solid rgb(231, 231, 231);
    }

    .remove-image {
        margin: 0;
        max-height: 200px;
        max-width: 200px;
        width: 100%;
        color: #fff;
        background: #fa5c7c;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #fa5c7c;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

    .image-upload-wrap {
        display: none
    }

    .file-upload-content {
        display: block
    }

    .remove-image:hover {
        background: #f35474;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    #BranchSigntureImage {
        position: absolute;
        top: 39%;
        right: 50%;
    }

    @@media (max-width: 1050px) {
        #BranchSigntureImage {
            position: absolute;
            top: 145%;
            right: 5%;
        }
    }

    @@media (max-width: 767px) {
        #BranchSigntureImage {
            position: absolute;
            top: 330%;
            right: 30%;
        }
    }
</style>


<div class="sub-container-form" id="CAS">
    <form class="needs-validation" novalidate asp-area="CAS" asp-controller="Branches" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-contain" style="position:relative">
            @*branch Code*@
            <div class="row mt-2" hidden>
                <div class="col-md-1">
                    <label class="form-label" for="branchCode">@localizer["BranchCode"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" readonly asp-for="CrCasBranchInformationCode" maxlength="100" width="80%" />
                    <input type="text" class="form-control" readonly asp-for="CrCasBranchInformationLessor" maxlength="100" width="80%" />
                    <input type="text" class="form-control" readonly asp-for="CrCasBranchInformationStatus" maxlength="100" width="80%" />
                    <input type="text" class="form-control" readonly asp-for="CrCasBranchInformationTotalBalance" maxlength="100" width="80%" />
                    <input type="text" class="form-control" readonly asp-for="CrCasBranchInformationDirectorSignature" maxlength="100" width="80%" />
                    <input type="text" class="form-control" readonly id="SalesPointCount" value="@ViewBag.SalesPointCount" maxlength="100" width="80%" />
                </div>
            </div>

            @if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
            {
                @*Branch name arabic*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasBranchInformationArName">@localizer["BranchNameAr"]</label>
                    </div>
                    <div class="col-md-5 col-11">
                        <input type="text" class="form-control" asp-for="CrCasBranchInformationArName" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasBranchInformationArName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasBranchInformationArShortName">@localizer["BranchNameArShort"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" asp-for="CrCasBranchInformationArShortName" readonly width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasBranchInformationArShortName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>


                @*Branch name English*@
                <div class="row mt-2" hidden>
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasBranchInformationEnName">@localizer["BranchNameEn"]</label>
                    </div>
                    <div class="col-md-5 col-11">
                        <input type="text" class="form-control" asp-for="CrCasBranchInformationEnName" readonly maxlength="100" id="LessorNameEn" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasBranchInformationEnName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasBranchInformationEnShortName">@localizer["BranchNameEnShort"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" asp-for="CrCasBranchInformationEnShortName" readonly oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasBranchInformationEnShortName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            }

            else if (requestCulture.RequestCulture.UICulture.Name == "en-US")
            {

                @*Branch name arabic*@
                <div class="row mt-2" hidden>
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasBranchInformationArName">@localizer["BranchNameAr"]</label>
                    </div>
                    <div class="col-md-5 col-11">
                        <input type="text" class="form-control" asp-for="CrCasBranchInformationArName" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasBranchInformationArName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasBranchInformationArShortName">@localizer["BranchNameArShort"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" asp-for="CrCasBranchInformationArShortName" readonly width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasBranchInformationArShortName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>


                @*Branch name English*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasBranchInformationEnName">@localizer["BranchNameEn"]</label>
                    </div>
                    <div class="col-md-5 col-11">
                        <input type="text" class="form-control" asp-for="CrCasBranchInformationEnName" readonly maxlength="100" id="LessorNameEn" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasBranchInformationEnName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasBranchInformationEnShortName">@localizer["BranchNameEnShort"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" asp-for="CrCasBranchInformationEnShortName" readonly oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasBranchInformationEnShortName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            }


            @*Government and Tax and commercial number*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationGovernmentNo">@localizer["governmentNo"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationGovernmentNo" readonly maxlength="10" id="BranchGovNo" style="width:96%" data-val-regex="@localizer["requiredNoLengthFiled","10"]" oninput="validateInput(event, 'BranchGovNo', 'gov-error', '7')" id="LessorGovNo">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationGovernmentNo" class="text-danger" data-error="@localizer["requiredNoStartWithFiled7"]" id="gov-error"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 p-0 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationTaxNo">@localizer["TaxNo"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationTaxNo" readonly style="width:96%" maxlength="15" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationTaxNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                </div>
                <div class="col-md-2 col-11">
                </div>


            </div>

            @*Mobil and telephone*@
            <div class="row mt-2">

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationTelephone">@localizer["TelePhone"]</label>
                </div>
                <div class="col-md-1 col-8 mobilCol">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationTelephone" id="BranchCallFree" style="width: 120%;" maxlength="15" data-val-regex="@localizer["requiredNoLengthFiled","9"]" oninput="validateInput(event, 'BranchCallFree', 'callfreeErorr', '1')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationTelephone" class="text-danger" id="callfreeErorr" data-error="@localizer["requiredNoStartWithFiled1"]"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-1 p-0 CallingKeys">
                    <select class="form-select" asp-for="CrMasBranchInformationTeleKey" id="CAScountryCode" style="width: 83px;">
                        @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeys"])
                        {
                            <option value="@callingKey.Text">@callingKey.Text</option>
                        }
                    </select>
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel" id="CASBranchMobilePhone">
                    <label class="form-label" asp-for="CrCasBranchInformationMobile">@localizer["MobilePhone"]</label>
                </div>
                <div class="col-md-1 col-8 TeleCol">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationMobile" style="width: 120%;" maxlength="15" id="BranchMobilePhone" data-val-regex="@localizer["requiredNoLengthFiled","10"]" width="80%" oninput="validateInput(event, 'BranchMobilePhone', 'CommunicationMobileError', '5')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationMobile" class="text-danger" id="CommunicationMobileError" data-error="@localizer["requiredNoStartWithFiled5"]"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-1 p-0 CallingKeys">
                    <select class="form-select" asp-for="CrMasBranchInformationMobileKey" id="CAScountryCode" style="width: 83px;">
                        @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeys"])
                        {
                            <option value="@callingKey.Text">@callingKey.Text</option>
                        }
                    </select>
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*Director Name*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="CrCasBranchInformationDirectorArName">@localizer["DirNameAr"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationDirectorArName" maxlength="30" style="width:100%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationDirectorArName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 formlabel">
                    <label class="form-label" for="LessorDirNameEn">@localizer["DirNameEn"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationDirectorEnName" maxlength="30" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrCasBranchInformationDirectorEnName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*City and region*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostCity">@localizer["lessorCityPost"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" id="cities" class="form-control" name="BranchPostVM.CrCasBranchPostCity" value="@ViewBag.CrCasBranchPostCity" readonly autocomplete="off">

                    <div style="margin-top:12px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostCity" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="col-md-1">
                </div>
                <div class="col-md-4">
                </div>
            </div>

            @*district name arabic And English*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostArDistrict">@localizer["DistrictNameAr"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostArDistrict" id="LessorNameAr" maxlength="50" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostArDistrict" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostEnDistrict">@localizer["DistrictNameEn"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostEnDistrict" id="LessorNameArShort" maxlength="50" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostEnDistrict" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*street name arabic And English*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostArStreet">@localizer["StreetNameAr"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostArStreet" id="StreetNameAr" maxlength="50" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostArStreet" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostEnStreet">@localizer["StreetNameEn"]</label>
                </div>
                <div class="col-md-2 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostEnStreet" id="StreetNameEn" maxlength="50" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostEnDistrict" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*buliding Number  And Unit Number*@
            <div class="row mt-2">
                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostBuilding">@localizer["BulidingNumber"]</label>
                </div>
                <div class="col-md-1 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostBuilding" id="BulidingNumber" maxlength="10" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostBuilding" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostUnitNo">@localizer["UnitNumber"]</label>
                </div>
                <div class="col-md-1 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostUnitNo" maxlength="20" id="UnitNumber" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostUnitNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostZipCode">@localizer["symbolMailAr"]</label>
                </div>
                <div class="col-md-1 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostZipCode" id="symbolMail" maxlength="10" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 formlabel">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostAdditionalNumbers">@localizer["AdditionalNumber"]</label>
                </div>
                <div class="col-md-1 col-11">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostAdditionalNumbers" id="AdditionalNumber" width="80%" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostAdditionalNumbers" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="BranchSigntureImage">
                <div class="file-upload">
                    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input-signature').trigger('click')">@localizer["Signture"]</button>
                    <div class="image-upload-wrap">
                        <input class="file-upload-input-signature" type="file" onchange="readURL(this, 'signature');" accept="image/*" id="SigntureFile" name="SigntureFile" />
                        <div class="drag-text">
                            <h3>@localizer["DragAndDrop"]</h3>
                        </div>
                    </div>
                    <div class="file-upload-content signature">
                        <img class="file-upload-image signature" src="@Url.Content(Model.CrCasBranchInformationDirectorSignature)" />
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                        </div>
                    </div>
                </div>
            </div>
            @*Reasons*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" asp-for="CrCasBranchInformationReasons">@localizer["reasons"]</label>
                </div>
                <div class="col-md-4 col-11">
                    <input type="text" class="form-control" asp-for="CrCasBranchInformationReasons" id="BulidingNumber" maxlength="50" width="80%" />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="CrCasBranchInformationReasons" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*zip code And AdditionalNumber*@
            <div class="row mt-2">
            </div>
            @Html.ValidationMessage("NoCHanged", null, new { @class = "text-danger" })
        </div>
        <div class="mt-3" id="buttonContainer">
            <div class="btn btn-primary ms-1" id="saveEdit">@localizer["Save"]</div>
            @if (Model.CrCasBranchInformationStatus == "A")
            {
                <a type="button" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.Hold" data-bs-targett="#centermodalhold">
                    @localizer["Hold"]
                </a>
                <a type="button" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.Deleted" data-bs-targett="#centermodalDelete">
                    @localizer["Delete"]
                </a>
            }
            else if (Model.CrCasBranchInformationStatus == "H")
            {
                <a type="button" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.UnHold" data-bs-targett="#centermodalRHold">
                    @localizer["ReactiveHold"]
                </a>
                <a type="button" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.Deleted" data-bs-targett="#centermodalDelete">
                    @localizer["Delete"]
                </a>
            }
            else if (Model.CrCasBranchInformationStatus == "D")
            {
                <a type="button" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.Hold" data-bs-targett="#centermodalhold">
                    @localizer["Hold"]
                </a>
                <a type="button" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.UnDeleted" data-bs-targett="#centermodalRDelete">
                    @localizer["ReactiveDelete"]
                </a>
            }

            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="Branches" asp-action="Branches">
                @localizer["Back"]
            </a>
        </div>
    </form>


    <!-- MOdel-->
    <!-- Reactive Hold User MOdel-->
    <div class="modal fade" id="centermodalRHold" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>@localizer["SureToRetriveHoldBranch"]</h4>
                    <p>@localizer["HintSureToRetriveHBranch"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                    <button type="button" id="retriveUserButtonH" class="btn btn-primary">@localizer["Okay"]</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Reactive Delete User MOdel-->
    <div class="modal fade" id="centermodalRDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">
                    <h4>@localizer["SureToRetriveDeleteBranch"]</h4>
                    <p>@localizer["HintSureToRetriveDBranch"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                    <button type="button" id="retriveUserButtonD" class="btn btn-primary">@localizer["Okay"]</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Delete User MOdel-->
    <div class="modal fade" id="centermodalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">
                    <h4>@localizer["SureTodeleteBranch"]</h4>
                    <p> @localizer["HintSureTodeleteBranch"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                    <button type="button" id="deleteUserButton" class="btn btn-primary">@localizer["Okay"]</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Hold User MOdel-->
    <div class="modal fade" id="centermodalhold" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">
                    <h4>@localizer["SureToHoldBranch"]</h4>
                    <p> @localizer["HintSureToHoldBranch"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                    <button type="button" id="holdUserButton" class="btn btn-primary">@localizer["Okay"]</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateInput(event, inId, InEr, No) {
            event.target.value = event.target.value.replace(/[^0-9]/g, '');

            const inputElement = document.getElementById(inId);
            const errorMessageElement = document.getElementById(InEr);

            const inputValue = inputElement.value;
            const isValid = inputValue.startsWith(No);

            if (!isValid) {
                errorMessageElement.textContent = errorMessageElement.getAttribute('data-error');
                inputElement.value = "";
            } else {
                errorMessageElement.textContent = '';
            }
        }
    </script>
    <script>
        function readURL(input, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var container = $(input).closest('.file-upload');
                    container.find('.file-upload-image.' + type).attr('src', e.target.result);
                    container.find('.file-upload-content.' + type).show();
                    container.find('.image-title.' + type).html(input.files[0].name);
                    container.find('.image-upload-wrap').hide();
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload(input);
            }
        }

        function removeUpload(button) {
            var container = $(button).closest('.file-upload');
            var type = container.find('.file-upload-content').hasClass('signature') ? 'signature' : 'picture';
            container.find('.file-upload-input-' + type).val('');
            container.find('.file-upload-image.' + type).attr('src', '#');
            container.find('.file-upload-content.' + type).hide();
            container.find('.image-upload-wrap').show();
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $(this).addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $(this).removeClass('image-dropping');
        });
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCities", "Branches", new { Area = "CAS" })",
                success: function (response) {
                    console.log(response)
                    const newArray = response.map(obj => obj.text);
                    $("#cities").autocomplete({
                        source: newArray,
                    });

                },
            })

        });


    </script>

    <script>
        function updateUserStatus(status) {
            var Branchcode = document.getElementById("CrCasBranchInformationCode").value
            var LessorCode = document.getElementById("CrCasBranchInformationLessor").value

            $.ajax({
                type: "POST",
                url: "/CAS/Branches/EditStatus",
                data: { status: status, Branchcode: Branchcode, lessorCode: LessorCode },
                success: function (result) {
                    $('.modal').modal('hide');
                    window.location.href = "/CAS/Branches/Branches";
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Event listener for delete user button
        $('#deleteUserButton').click(function () {
            updateUserStatus('D');
        });

        // Event listener for hold user button
        $('#holdUserButton').click(function () {
            updateUserStatus('H');
        });
        // Event listener for retrieve user button
        $('#retriveUserButtonD').click(function () {
            updateUserStatus('A');
        });
        $('#retriveUserButtonH').click(function () {
            updateUserStatus('A');
        });

        $("#buttonContainer a").on("click", function (event) {
            var status = $(this).attr("data-error")
            var Modal = $(this).attr("data-bs-targett")
            var branchCode = $("#CrCasBranchInformationCode").val();
            var salespoint = $("#SalesPointCount").val();
            var Balance = $("#CrCasBranchInformationTotalBalance").val();
          
            if (branchCode!="100") {
                if(status=="D"){
                    if (Balance>0) {
                    toastr.options = { "positionClass": '@localizer["toastPostion"]', };
                    toastr.error('@localizer["toastMessagebranchHaveBalance"]');
                    }
                    else if (salespoint > 1) {
                        toastr.options = { "positionClass": '@localizer["toastPostion"]', };
                        toastr.error('@localizer["toastMessagebranchHaveSalesPoint"]');
                    }
                    else{
                        CheckValidation('2201001', status).done(function (data) {
                            if (data) $(Modal).modal('show');
                        });
                    }
                }
                else{
                    CheckValidation('2201001', status).done(function (data) {
                        if (data) $(Modal).modal('show');
                    });
                }
            }
            else{
                if (status=="H") {
                    toastr.options = { "positionClass": '@localizer["toastPostion"]', };
                    toastr.error('@localizer["toastMessageMainBranchHold"]');
                }
                else{
                    toastr.options = { "positionClass": '@localizer["toastPostion"]', };
                    toastr.error('@localizer["toastMessageMainBranchDelete"]');
                }
               
            }
            
        })


        $("#saveEdit").on("click", function (event) {
            event.preventDefault();
            CheckValidation('2201001', '@Status.Save').done(function (data) {
                if (data) {
                    $('form').submit();
                }
            });
        })

    </script>

}