@using System.Globalization;
@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS;
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@model IEnumerable<AdmintritiveCustodyVM>

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<style>
    .email {
        text-align: end;
    }
</style>

<div class="col-sm-12">
    <table id="basic-datatable" class="table dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" style="width:100%">
        <thead>
            <tr role="row">
                <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                <th aria-label="Position: activate to sort column ascending">@localizer["ReceviedCustodyNo"]</th>
              @*<th aria-label="Position: activate to sort column ascending">@localizer["Date"]</th>
                <th aria-label="Position: activate to sort column ascending">@localizer["FromDate"]</th>
                <th aria-label="Position: activate to sort column ascending">@localizer["ToDate"]</th> *@
                <th aria-label="Office: activate to sort column ascending">@localizer["SalesPoint"]</th>
                <th aria-label="Start date: activate to sort column ascending">@localizer["Creditor"]</th>
                <th aria-label="Start date: activate to sort column ascending">@localizer["Debit"]</th>
                <th aria-label="Start date: activate to sort column ascending">@localizer["UserName"]</th>
                <th aria-label="Start date: activate to sort column ascending">@localizer["Status"]</th>
                <th aria-label="Start date: activate to sort column ascending">@localizer["UserRecevied"]</th>
                <th aria-label="Start date: activate to sort column ascending">@localizer["DateReceived"]</th>
                <th aria-label="Start date: activate to sort column ascending">@localizer["reasons"]</th>
            </tr>
        </thead>
        <tbody>

            @{
                int no = 1;
            }
            @foreach (var item in Model)
            {
                <tr onclick="@(item.CrCasSysAdministrativeProceduresStatus != Status.Reject ? $"location.href='{Url.Action("Details", "ReceivedCustody", new { id = item.CrCasSysAdministrativeProceduresNo })}'" : null)">
                    <td>@no</td>
                    <td>@item.CrCasSysAdministrativeProceduresNo</td>
                    @*<td>@item.CrCasSysAdministrativeProceduresDate</td>
                     <td>@item.CrCasSysAdministrativeProceduresDocStartDate</td>
                    <td>@item.CrCasSysAdministrativeProceduresDocEndDate</td> *@
                    <td>
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            @item.SalesPointNavigation?.CrCasAccountSalesPointArName
                        }
                        else
                        {
                            @item.SalesPointNavigation?.CrCasAccountSalesPointEnName
                        }
                    </td>
                    <td>@item.CrCasSysAdministrativeProceduresCreditor</td>
                    <td>@item.CrCasSysAdministrativeProceduresDebit</td>
                    <td>
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            @item.UserInsertNavigation?.CrMasUserInformationArName
                        }
                        else
                        {
                            @item.UserInsertNavigation?.CrMasUserInformationEnName
                        }
                    </td>
                    <td>
                        @if (item.CrCasSysAdministrativeProceduresStatus == Status.Insert)
                        {
                            @localizer["UnderProcedure"]
                        }
                        else if (item.CrCasSysAdministrativeProceduresStatus == Status.Accept)
                        {
                            @localizer["Accepted"]
                        }
                        else if (item.CrCasSysAdministrativeProceduresStatus == Status.Reject)
                        {
                            @localizer["Rejected"]
                        }
                    </td>
                    <td>
                        @if (item.CrCasSysAdministrativeProceduresStatus != Status.Insert)
                        {
                            @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                @item.UserReceviedNavigation?.CrMasUserInformationArName
                            }
                            else
                            {
                                @item.UserReceviedNavigation?.CrMasUserInformationEnName
                            }
                        }
                    </td>
                    <td>@item.DatePassing</td>
                    <td>@item.CrCasSysAdministrativeProceduresReasons</td>
                </tr>
                no++;

            }

        </tbody>
    </table>
</div>

