@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS
@model Bnan.Ui.ViewModels.CAS.AdmintritiveCustodyVM
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["ReceviedCustodyDetails Data"];
    ViewData["Page-Hint"] = localizer["ReceviedCustodyDetails Hint"];
}
<style>

    .row {
        align-items: center;
    }

    

    ul {
        list-style-type: none;
    }
</style>
<div class="sub-container-form">
    <form id="form" class="needs-validation" novalidate asp-area="CAS" asp-controller="ReceivedCustody" asp-action="ActionCustody" enctype="multipart/form-data">
        <input type="hidden" id="status" name="status" />
        <input type="hidden" asp-for="SalesPointNavigation.CrCasAccountSalesPointCode" />
        <div class="form-contain">
            <div class="row">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">@localizer["ReceviedCustodyNo"]</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="CrCasSysAdministrativeProceduresNo" readonly />
                    </div>

                    <div class="col-md-1">
                        <label class="form-label">@localizer["Date"]</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" asp-for="CrCasSysAdministrativeProceduresDate" readonly />
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationSerailNo">@localizer["SalesPoint"]</label>
                    </div>
                    <div class="col-md-2">
                        @if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <input type="text" class="form-control" asp-for="SalesPointNavigation.CrCasAccountSalesPointArName" readonly />
                        }
                        else
                        {
                            <input type="text" class="form-control" asp-for="SalesPointNavigation.CrCasAccountSalesPointEnName" readonly />
                        }
                    </div>

                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationDistribution">@localizer["CustodyTotal"]</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" asp-for="TotalAmount" readonly />
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationSerailNo">@localizer["CreditorTotal"]</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="CrCasSysAdministrativeProceduresCreditor" readonly />
                    </div>

                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationDistribution">@localizer["DebitTotal"]</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" asp-for="CrCasSysAdministrativeProceduresDebit" readonly />
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationSerailNo">@localizer["FromDate"]</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="CrCasSysAdministrativeProceduresDocStartDate" readonly />
                    </div>

                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationDistribution">@localizer["ToDate"]</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" asp-for="CrCasSysAdministrativeProceduresDocEndDate" readonly />
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationSerailNo">@localizer["reasons"]</label>
                    </div>
                    <div class="col-md-5">
                        @if (Model.CrCasSysAdministrativeProceduresStatus == Status.Insert)
                        {
                            <input type="text" class="form-control" id="Reasons" name="Reasons" />
                        }
                        else
                        {
                            <input type="text" class="form-control" asp-for="CrCasSysAdministrativeProceduresReasons" />
                        }
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <table id="basic-datatable" class="table dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" style="width:100%">
                        <thead>
                            <tr role="row">
                                <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["ReceiptNo"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["Date"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["ReferenceNo"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["ReferenceType"]</th>
                                <th aria-label="Office: activate to sort column ascending">@localizer["PaymentMethod"]</th>
                                <th aria-label="Start date: activate to sort column ascending">@localizer["Creditor"]</th>
                                <th aria-label="Start date: activate to sort column ascending">@localizer["Debit"]</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int no = 1;
                            }
                            @foreach (var item in Model.AccountReceipt)
                            {
                                <tr>
                                    <td>@no</td>
                                    <td>@item.CrCasAccountReceiptNo</td>
                                    <td>@item.CrCasAccountReceiptDate?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</td>
                                    <td>@item.CrCasAccountReceiptReferenceNo</td>
                                    <td>
                                        @if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
                                        {
                                            @item.CrCasAccountReceiptReferenceTypeNavigation.CrMasSupAccountReceiptReferenceArName
                                        }
                                        else
                                        {
                                            @item.CrCasAccountReceiptReferenceTypeNavigation.CrMasSupAccountReceiptReferenceEnName
                                        }
                                    </td>
                                    <td>
                                        @if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
                                        {
                                            @item.CrCasAccountReceiptPaymentMethodNavigation.CrMasSupAccountPaymentMethodArName
                                        }
                                        else
                                        {
                                            @item.CrCasAccountReceiptPaymentMethodNavigation.CrMasSupAccountPaymentMethodEnName
                                        }
                                    </td>
                                    <td>@item.CrCasAccountReceiptPayment?.ToString("N2",CultureInfo.InvariantCulture)</td>
                                    <td>@item.CrCasAccountReceiptReceipt?.ToString("N2",CultureInfo.InvariantCulture)</td>
                                </tr>
                                no++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="mt-4" id="buttonContainer">
            @if (Model.CrCasSysAdministrativeProceduresStatus == Status.Insert)
            {
                <a class="btn btn-primary ms-1" id="Accept">
                    @localizer["Accept"]
                </a>
                <a class="btn btn-primary ms-1" id="Reject">
                    @localizer["Reject"]
                </a>
            }
            <a type="button" class="btn btn-danger ms-2" asp-area="CAS" asp-controller="ReceivedCustody" asp-action="Index">
                @localizer["Back"]
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the buttons
            var acceptButton = document.getElementById('Accept');
            var rejectButton = document.getElementById('Reject');

            // Add click event listeners
            acceptButton.addEventListener('click', function () {
                // Set the status field value to 'z'
                document.getElementById('status').value = '@Status.Accept';
                // Submit the form
                document.getElementById('form').submit();
            });

            rejectButton.addEventListener('click', function () {
                // Set the status field value to 'q'
                document.getElementById('status').value = '@Status.Reject';
                // Submit the form
                document.getElementById('form').submit();
            });
        });
    </script>
}