﻿@using Bnan.Ui.ViewModels.MAS
@model CrMasLessorInformationVM

@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["Add Lessor Data"];
    ViewData["Page-Hint"] = localizer["Add Lessor Hint"];
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>

    .row {
        align-items: center;
    }

    #signaturePreview, #imagePreview {
        display: none;
        margin-top: -5px;
        float: right;
        margin-right: 20px;
        height: 100px;
        position: relative;
        object-fit: cover;
        border: 1px solid rgb(231, 231, 231);
    }

    #spanInput {
        width: 100%;
        height: 35px;
        width: 65%;
        line-height: 20px;
    }

    .text-danger {
        white-space: nowrap;
    }

    #countryCode {
        text-align: left;
    }

    .select2-selection.select2-selection--single {
        border: none;
    }

    .select2-selection__rendered {
        height: 37px;
        display: block;
        width: 100%;
        padding: 0.45rem 0.9rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.5;
        color: #6c757d;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #dee2e6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 8px;
        right: 1px;
        width: 20px;
    }

</style>
<title>@ViewData["Title"]</title>



<div class="sub-container-form">
    <form class="needs-validation" novalidate asp-area="MAS" asp-controller="LessorsKSA" asp-action="AddLessorKSA" enctype="multipart/form-data">
        <div class="form-contain">
            @*lessor Code*@
            <div class="row mt-2" hidden>
                <div class="col-md-1">
                    <label class="form-label" for="LessorCode">@localizer["LessorCode"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationCode" maxlength="100" width="80%" value="@ViewBag.LessorCode" />
                </div>
            </div>

            @*lessor name arabic*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="LessorNameAr">@localizer["LessorNameAr"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationArLongName" id="LessorNameAr" maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationArLongName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" for="LessorNameArShort">@localizer["LessorNameArShort"]</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationArShortName" id="LessorNameArShort" maxlength="30" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required>
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationArShortName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*lessor name English*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="LessorNameEn">@localizer["LessosorNameEn"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationEnLongName" maxlength="100" id="LessorNameEn" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationEnLongName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" for="LessorNameEnShort">@localizer["LessosorNameEnShort"]</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationEnShortName" maxlength="30" id="LessorNameEnShort" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationEnShortName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*lessor government and Tax number And classification*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="LessorTaxNo">@localizer["TaxNo"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationTaxNo" data-val-regex="@localizer["requiredNoLengthFiled","15"]" maxlength="15" id="LessorTaxNo" width="80%" required />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationTaxNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="form-label" for="LessorClass">@localizer["Classification"]</label>
                </div>
                <div class="col-md-2">
                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                    {
                        <select class="form-select" asp-for="@Model.CrMasLessorInformationClassification" style="width: 100%;">
                            @foreach (var callingKey in (List<SelectListItem>)ViewData["ClassificationDropDownAr"])
                            {
                                <option value="@callingKey.Value" selected="@(callingKey.Value.Trim() == "" ? "selected" : null)">@callingKey.Text</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select class="form-select" asp-for="@Model.CrMasLessorInformationClassification" style="width: 100%;">
                            @foreach (var callingKey in (List<SelectListItem>)ViewData["ClassificationDropDownEn"])
                            {
                                <option value="@callingKey.Value" selected="@(callingKey.Value.Trim() == ""  ? "selected" : null)">@callingKey.Text</option>
                            }
                        </select>
                    }
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationClassification" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="col-md-1 m-0">
                    <label class="form-label" for="LessorGovNo">@localizer["governmentNo"]</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationGovernmentNo" maxlength="10" data-val-regex="@localizer["requiredNoLengthFiled","10"]" oninput="validateInput(event, 'LessorGovNo', 'gov-error', '7')" id="LessorGovNo">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationGovernmentNo" data-error="@localizer["requiredNoStartWithFiled7"]" class="text-danger" id="gov-error" style="white-space: initial;"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*Director Name*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="LessorDirNameAr">@localizer["DirNameAr"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationDirectorArName" maxlength="50" id="LessorDirNameAr" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationDirectorArName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" for="LessorDirNameEn">@localizer["DirNameEn"]</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationDirectorEnName" maxlength="50" id="LessorDirNameEn" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationDirectorEnName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*Twitter and telephone*@
            <div class="row mt-2">

                <div class="col-md-1">
                    <label class="form-label" for="LessorInfoEmailTwitter">@localizer["LessorTwitter"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationTwiter" maxlength="100" id="LessorInfoEmailTwitter">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationTwiter" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" for="LessorCallFree">@localizer["TelePhone"]</label>
                </div>
                <div class="col-md-2 m-0">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationCallFree" id="LessorCallFree" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="15" >
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
@*                            <span asp-validation-for="@Model.CrMasLessorInformationCallFree" class="text-danger" id="callfreeErorr" data-error="@localizer["requiredNoStartWithFiled1"]"></span>
*@                            <span asp-validation-for="@Model.CrMasLessorInformationCallFree" class="text-danger" id="callfreeErorr"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <select class="form-select" asp-for="CrMasLessorInformationCallFreeKey" id="countryCode" style="width: 90px;">
                        @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeys"])
                        {
                            <option value="@callingKey.Text">@callingKey.Text</option>
                        }
                    </select>
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


            @*Information email and lessorPhone *@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="LessorInfoEmail">@localizer["LessorEmail"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationEmail" maxlength="100" id="LessorInfoEmail" width="80%">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationEmail" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" for="LessorMobilePhone">@localizer["LessorPhone"]</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationCommunicationMobile" maxlength="15" oninput="this.value=this.value.replace(/[^0-9]/g,'')" id="LessorMobilePhone" width="80%">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
@*                            <span asp-validation-for="@Model.CrMasLessorInformationCommunicationMobile" class="text-danger" id="CommunicationMobileError" data-error="@localizer["requiredNoStartWithFiled5"]"></span>
*@                            <span asp-validation-for="@Model.CrMasLessorInformationCommunicationMobile" class="text-danger" id="CommunicationMobileError"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <select class="form-select" asp-for="CrMasLessorInformationCommunicationMobileKey" id="countryCode" style="width: 90px;">
                        @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeys"])
                        {
                            <option value="@callingKey.Text">@callingKey.Text</option>
                        }
                    </select>
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*facebook email and what's app*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="LessorInfoEmailFacebook">@localizer["LessorFacebook"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationFaceBook" maxlength="100" id="LessorInfoEmailFacebook" width="80%">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationFaceBook" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <label class="form-label" for="LessorInfoEmailWhatisapp">@localizer["LessorWhats"]</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" maxlength="15" asp-for="CrMasLessorInformationContWhatsapp" oninput="this.value=this.value.replace(/[^0-9]/g,'')" id="LessorInfoEmailWhatisapp">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationContWhatsapp" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <select class="form-select" asp-for="CrMasLessorInformationContWhatsappKey" id="countryCode" style="width: 90px;">
                        @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeysWhats"])
                        {
                            <option value="@callingKey.Text">@callingKey.Text</option>
                        }
                    </select>
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>

            @*contackemail and instagram*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="LessorInfoEmailCont">@localizer["LessorContractEmail"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasLessorInformationContEmail" maxlength="100" id="LessorInfoEmailCont" width="80%">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationContEmail" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" for="LessorInfoEmailInstagrame">@localizer["LessorInstagram"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" maxlength="100" asp-for="CrMasLessorInformationInstagram" id="LessorInfoEmailInstagrame">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="@Model.CrMasLessorInformationInstagram" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>

            @*City and region*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostCity">@localizer["lessorCityPost"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="BranchPostVM.CrCasBranchPostCity" id="CityField" autocomplete="off">

                    <div style="margin-top:12px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostCity" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="col-md-1">
                </div>
                <div class="col-md-4">
                </div>
            </div>

            @*district name arabic And English*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostArDistrict">@localizer["DistrictNameAr"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostArDistrict" id="LessorNameAr" maxlength="50" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostArDistrict" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostEnDistrict">@localizer["DistrictNameEn"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostEnDistrict" id="LessorNameArShort" maxlength="50" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostEnDistrict" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*street name arabic And English*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostArStreet">@localizer["StreetNameAr"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostArStreet" id="StreetNameAr" maxlength="50" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostArStreet" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostEnStreet">@localizer["StreetNameEn"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostEnStreet" id="StreetNameEn" maxlength="50" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostEnDistrict" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*buliding Number  And Unit Number*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostBuilding">@localizer["BulidingNumber"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostBuilding" id="BulidingNumber" maxlength="10" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostBuilding" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostUnitNo">@localizer["UnitNumber"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostUnitNo" id="UnitNumber" maxlength="20" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostUnitNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*zip code And AdditionalNumber*@
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostZipCode">@localizer["symbolMailAr"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostZipCode" id="symbolMail" maxlength="10" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="form-label" asp-for="BranchPostVM.CrCasBranchPostAdditionalNumbers">@localizer["AdditionalNumber"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="BranchPostVM.CrCasBranchPostAdditionalNumbers" maxlength="10" id="AdditionalNumber" width="80%" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="BranchPostVM.CrCasBranchPostAdditionalNumbers" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


            @Html.ValidationMessage("NoCHanged", null, new { @class = "text-danger" })
        </div>
        <div class="mt-3">
            <button class="btn btn-primary" type="submit">@localizer["Save"]</button>
            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="MAS" asp-controller="LessorsKSA" asp-action="Index">
                @localizer["Back"]
            </a>
        </div>
    </form>

</div>

@section Scripts {
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateInput(event, inId, InEr, No) {
            event.target.value = event.target.value.replace(/[^0-9]/g, '');

            const inputElement = document.getElementById(inId);
            const errorMessageElement = document.getElementById(InEr);

            const inputValue = inputElement.value;
            const isValid = inputValue.startsWith(No);

            if (!isValid) {
                errorMessageElement.textContent = errorMessageElement.getAttribute('data-error');
                inputElement.value = "";
            } else {
                errorMessageElement.textContent = '';
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCities", "LessorsKSA", new { Area = "MAS" })",
                success: function (response) {
                    console.log(response)
                    const newArray = response.map(obj => obj.text);
                    $("#CityField").autocomplete({
                        source: newArray
                    });
                },
            })

        });
    </script>

}