﻿@using Bnan.Core.Extensions
@model IEnumerable<CrMasContractCompany>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}";
}


@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["CompanyContractNo"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["CompanyContractType"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Date"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["StartDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["EndDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["pdf"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasContractCompanyStatus == @Status.Renewed || item.CrMasContractCompanyStatus == @Status.AboutToExpire ||
                   item.CrMasContractCompanyStatus == @Status.Expire || item.CrMasContractCompanyStatus == @Status.Deleted)
                    {
                        <tr style="cursor:pointer;color:red">
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@no</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyNumber</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyProceduresNavigation.CrMasSysProceduresEnName</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyDate?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyStartDate?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyEndDate?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">
                                @if (@item.CrMasContractCompanyStatus == @Status.Renewed)
                                {
                                    @localizer["NotRegister"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.AboutToExpire)
                                {
                                    @localizer["OnExpired"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                            </td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@no</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyNumber</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyProceduresNavigation.CrMasSysProceduresEnName</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyDate?.ToString("dd/MM/yyyy")</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyStartDate?.ToString("dd/MM/yyyy")</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyEndDate?.ToString("dd/MM/yyyy")</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">
                                @if (@item.CrMasContractCompanyStatus == @Status.Active)
                                {
                                    @localizer["CActive"]
                                }
                            </td>
                            @if (item.CrMasContractCompanyImage == "" || item.CrMasContractCompanyImage == null)
                            {
                                <td> @localizer["notfound"] </td>
                            }
                            else
                            {
                                <td onclick="window.open('@Url.Content(item.CrMasContractCompanyImage)' , '_blank');"> <i class="dripicons-document-new"></i> </td>
                            }
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["CompanyContractNo"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["CompanyContractType"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Date"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["StartDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["EndDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["pdf"]</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasContractCompanyStatus == @Status.Renewed || item.CrMasContractCompanyStatus == @Status.AboutToExpire ||
                   item.CrMasContractCompanyStatus == @Status.Expire || item.CrMasContractCompanyStatus == @Status.Deleted)
                    {
                        <tr style="cursor:pointer;color:red">
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@no</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyNumber</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyProceduresNavigation.CrMasSysProceduresArName</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyDate?.ToString("dd/MM/yyyy")</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyStartDate?.ToString("dd/MM/yyyy")</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyEndDate?.ToString("dd/MM/yyyy")</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">
                                @if (@item.CrMasContractCompanyStatus == @Status.Renewed)
                                {
                                    @localizer["NotRegister"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.AboutToExpire)
                                {
                                    @localizer["OnExpired"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                            </td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@no</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyNumber</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyProceduresNavigation.CrMasSysProceduresArName</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyDate?.ToString("dd/MM/yyyy")</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyStartDate?.ToString("dd/MM/yyyy")</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">@item.CrMasContractCompanyEndDate?.ToString("dd/MM/yyyy")</td>
                            <td onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">
                                @if (@item.CrMasContractCompanyStatus == @Status.Active)
                                {
                                    @localizer["CActive"]
                                }
                            </td>
                            @if (item.CrMasContractCompanyImage == "" || item.CrMasContractCompanyImage == null)
                            {
                                <td> @localizer["notfound"] </td>
                            }
                            else
                            {
                                <td onclick="window.open('@Url.Content(item.CrMasContractCompanyImage)' , '_blank');"> <i class="dripicons-document-new"></i> </td>
                            }
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}