﻿﻿@using Bnan.Core.Extensions
@model Bnan.Ui.ViewModels.MAS.ContractCompanyVM

@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@{
    ViewData["Page-title"] = localizer["EditContractCompany Data"];
    ViewData["Page-Hint"] = localizer["EditContractCompany Hint"];
}
<style>
    .row {
        align-items: baseline;
    }

    .text-danger {
        white-space: nowrap;
    }


    .form-check.form-check-inline {
        display: inline;
        align-items: baseline;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    .btn-outline-primary, .btn-outline-danger {
        width: 45px;
    }

    .datepicker-widget {
        display: none;
    }


    .datepicker-icon i {
        font-size: 18px;
        color: #999;
    }

    .dateRelative {
        position: relative;
    }

    .col-md-6 {
        width: 100px
    }

    .col-sm-12 {
        margin: 0;
        padding: 0;
    }

    #basic-datatable_wrapper {
        margin: 0;
        padding: 0;
    }

    #signaturePreview, #imagePreview {
        display: block;
        margin-top: -5px;
        float: right;
        margin-right: 20px;
        height: 100px;
        width: auto;
        object-fit: cover;
        border: .5px solid rgb(231, 231, 231);
        position: relative;
    }

    #spanInput {
        height: 35px;
    }

    .sub-container form .row > div:nth-child(odd):nth-child(-n+5), .sub-container-form form .row > div:nth-child(odd):nth-child(-n+5) {
        margin: 0;
    }

    .file-upload {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn {
        width: 200px;
        max-height: 200px;
        max-width: 200px;
        margin: 0;
        color: #fff;
        background: #727cf5;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #727cf5;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #5661e3;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

    .file-upload-input-picture, .file-upload-input-signature {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        max-height: 200px;
        max-width: 200px;
        margin-top: 5px;
        border: 4px dashed rgb(231, 231, 231);
        position: relative;
        display: none;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: rgb(231, 231, 231);
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            padding: 60px 0;
            font-size: 17px
        }

    .file-upload-image {
        height: 200px;
        max-width: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border: .5px solid rgb(231, 231, 231);
    }

    .remove-image {
        margin: 0;
        max-height: 200px;
        max-width: 200px;
        width: 100%;
        color: #fff;
        background: #fa5c7c;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #fa5c7c;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

    .image-upload-wrap {
        display: block
    }

    .file-upload-content {
        display: none
    }

    .remove-image:hover {
        background: #f35474;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    #CrMasSupCarDistributionYear,
    #CrMasSupCarDistributionPassengers,
    #CrMasSupCarDistributionDoor,
    #CrMasSupCarDistributionBagBags,
    #CrMasSupCarDistributionSmallBags {
        width: 50%
    }

    .text-danger {
        white-space: nowrap
    }

    @@media (max-width: 600px) {
        #CompanyContractImg {
            position: absolute;
            top: 70%;
            right: 75%;
            width: 243px;
        }
    }

</style>
@if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
{
    <style>
        .datepicker-icon {
            cursor: pointer;
            top: 8%;
            right: 77%;
        }
    </style>
}

@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    <style>
        .datepicker-icon {
            position: absolute;
            display: inline-block;
            top: 1px;
            left: 178px;
        }
    </style>
}

@if (Model.CrMasContractCompanyStatus != Status.Renewed)
{
    <style>
        .datepicker-icon {
            display: none
        }
    </style>
}
<title>@ViewData["Title"]</title>
<div class="sub-container-form">
    <form asp-action="Edit" asp-area="CAS" asp-controller="CompanyContracts" method="post" enctype="multipart/form-data" novalidate>
        <input type="hidden" class="form-control" asp-for="CrMasContractCompanyNo">
        <input type="hidden" class="form-control" asp-for="CrMasContractCompanyProcedures">
        <input type="hidden" class="form-control" asp-for="CrMasContractCompanyLessor">

        <div class="form-contain">
            <div class="row mt-3 ">
                @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                {
                    <div class="col-md-1">
                        <label class="form-label" for="UserNameAr">@localizer["CompanyContractType"]</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="ProdcudureArTaskName" readonly>
                    </div>
                }
                else
                {
                    <div class="col-md-1">
                        <label class="form-label" for="UserNameAr">@localizer["CompanyContractType"]</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="ProdcudureEnTaskName" readonly>
                    </div>
                }
            </div>
            @if (Model.CrMasContractCompanyStatus == "N" && Model.CrMasContractCompanyProcedures != "112")
            {
                <div class="row mt-4 ">
                    <div class="col-md-1">
                        <label class="form-label" for="UserCode">@localizer["CompanyContractNo"]</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="CrMasContractCompanyNumber" id="CrMasContractCompanyNumber" maxlength="20">
                    </div>
                </div>
                @*Date of CompanuContract*@
                <div class="row mt-3">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrMasContractCompanyDate">@localizer["Date"]</label>
                    </div>
                    <div class="col-md-2 col-8 dateRelative">
                        <input type="text" class="form-control dateInput" asp-for="CrMasContractCompanyDate">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrMasContractCompanyDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                @*Start and End Date*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrMasContractCompanyStartDate">@localizer["StartDate"]</label>
                    </div>
                    <div class="col-md-2 col-11 dateRelative">
                        <input type="text" class="form-control" asp-for="CrMasContractCompanyStartDate">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrMasContractCompanyStartDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 formlabel">
                        <label class="form-label" for="LessorDirNameEn">@localizer["EndDate"]</label>
                    </div>
                    <div class="col-md-2 col-11 dateRelative">
                        <input type="text" class="form-control" asp-for="CrMasContractCompanyEndDate">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrMasContractCompanyEndDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>



                @*User and Password*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["UserNumber"]</label>
                    </div>
                    <div class="col-md-2 col-11 dateRelative">
                        <input type="text" class="form-control" asp-for="CrMasContractCompanyUserId" maxlength="10" autocomplete="off" />
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrMasContractCompanyUserId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["Password"]</label>
                    </div>
                    <div class="col-md-2 col-11 dateRelative">
                        <input type="text" class="form-control" asp-for="CrMasContractCompanyUserPassword" maxlength="10" autocomplete="off" />
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrMasContractCompanyUserPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="CompanyContractImg">
                    <div class="file-upload">
                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input-signature').trigger('click')">@localizer["pdf"]</button>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input-signature" type="file" onchange="readURL(this, 'signature');" accept=".pdf, image/*" id="ContractImg" name="ContractImg" />
                            <div class="drag-text">
                                <h3>@localizer["DragAndDropFile"]</h3>
                            </div>
                        </div>

                        <div class="file-upload-content signature">
                            <img class="file-upload-image signature" src="@Url.Content(Model.CrMasContractCompanyImage)" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*Reasons*@



                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrMasContractCompanyReasons">@localizer["reasons"]</label>
                    </div>
                    <div class="col-md-5 col-11">
                        <input type="text" class="form-control" asp-for="CrMasContractCompanyReasons" autocomplete="off">

                        <div style="margin-top:12px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="CrMasContractCompanyReasons" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>

            }
            else if (Model.CrMasContractCompanyStatus == "A" && Model.CrMasContractCompanyProcedures == "112")
            {
                 <div class="row mt-3">
                    @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                    {
                            <!-- Autoclose -->
                            <div class="col-md-1">
                                <label class="form-label">@localizer["Date"]</label>
                            </div>
                            <div class="col-md-2 dateRelative">
                                <input type="text" class="form-control dateInput" value="@ViewBag.Date" id="dateInput" style="background-color:white" readonly />
                            </div>
                    }
                    else
                    {
                            <div class="col-md-1">
                                <label class="form-label">@localizer["Date"]</label>
                            </div>
                            <div class="col-md-2 dateRelative">
                                <input type="text" class="form-control dateInput" value="@ViewBag.Date" id="dateInput" style="background-color:white" readonly />
                            </div>
                    }
                    @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                    {
                            <div class="col-md-1">
                                <label class="form-label">@localizer["StartDate"]</label>
                            </div>
                            <div class="col-md-2 dateRelative">
                                <input type="text" class="form-control dateInput" value="@ViewBag.StartDate" id="startDateInput"  style="background-color:white" readonly />
                            </div>
                    }
                    else
                    {
                            <div class="col-md-1">
                                <label class="form-label">@localizer["StartDate"]</label>
                            </div>
                            <div class="col-md-2 dateRelative">
                                <input type="text" class="form-control dateInput" id="startDateInput" value="@ViewBag.StartDate"  style="background-color:white" readonly />
                            </div>
                    }
                    @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                    {
                            <div class="col-md-1">
                                <label class="form-label">@localizer["EndDate"]</label>
                            </div>
                            <div class="col-md-2 dateRelative">
                                <input type="text" class="form-control dateInput" id="endDateInput" value="@ViewBag.EndDate"  style="background-color:white" readonly />
                            </div>
                    }
                    else
                    {
                            <div class="col-md-1">
                                <label class="form-label">@localizer["EndDate"]</label>
                            </div>
                            <div class="col-md-2 dateRelative">
                                <input type="text" class="form-control dateInput" id="endDateInput" value="@ViewBag.EndDate"  style="background-color:white" readonly />
                            </div>
                    }
                </div>
                <div class="row mt-3 ">
                    @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                    {
                            <div class="col-md-1">
                                <label class="form-label" for="UserNameAr">@localizer["ContractCompanyActivation"]</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="@ViewBag.SelectOption" readonly>
                            </div>
                    }
                    else
                    {
                            <div class="col-md-1">
                                <label class="form-label" for="UserNameAr">@localizer["ContractCompanyActivation"]</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="@ViewBag.SelectOption" readonly>
                            </div>
                    }
                    @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                    {
                            <div class="col-md-1">
                                <label class="form-label" for="UserNameAr">@localizer["ContractCompanyAnnualFees"]</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="CrMasContractCompanyAnnualFees" style="width:125px" value="@ViewBag.CrMasContractCompanyAnnualFees" readonly>
                            </div>
                    }
                    else
                    {
                            <div class="col-md-1">
                                <label class="form-label" for="UserNameAr">@localizer["ContractCompanyAnnualFees"]</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="CrMasContractCompanyAnnualFees" style="width:125px" value="@ViewBag.CrMasContractCompanyAnnualFees" readonly>
                            </div>
                    }

                    @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                    {
                            <div class="col-md-1">
                                <label class="form-label" for="UserNameAr">@localizer["DiscountRate"]</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" style="width:90px" value="@ViewBag.CrMasContractCompanyDiscountRate" autocomplete="off" readonly>
                            </div>
                    }
                    else
                    {
                            <div class="col-md-1">
                                <label class="form-label" for="UserNameAr">@localizer["DiscountRate"]</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" style="width:90px" value="@ViewBag.CrMasContractCompanyDiscountRate" autocomplete="off" readonly>
                            </div>
                    }

                    @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                    {
                            <div class="col-md-1">
                                <label class="form-label" for="UserNameAr">@localizer["TaxRate"]</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" style="width:90px" autocomplete="off" value="@ViewBag.CrMasContractCompanyTaxRate" readonly>
                            </div>
                    }
                    else
                    {
                            <div class="col-md-1">
                                <label class="form-label" for="UserNameAr">@localizer["TaxRate"]</label>
                            </div>
                            <div class="col-md-1">
                                <input type="text" class="form-control" style="width:90px" autocomplete="off" value="@ViewBag.CrMasContractCompanyTaxRate" readonly>
                            </div>
                    }
                </div>
                @if (Model.CrMasContractCompanyActivation!="1")
                {
                    <div class="row mt-3 text-center " style="width: 1460px;">
                        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" style="position: relative; width: 1166px;">
                            <thead>
                                <tr role="row">
                                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                                    <th aria-label="Position: activate to sort column ascending">@localizer["From"]</th>
                                    <th aria-label="Position: activate to sort column ascending">@localizer["To"]</th>
                                    <th aria-label="Position: activate to sort column ascending">@localizer["Value"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int no = 1;
                                }
                                @foreach (var item in ViewBag.ContractsDetailed)
                                {
                                    <tr>
                                        <td>@no</td>
                                        <td>@item.CrMasContractCompanyDetailedFromPrice</td>
                                        <td>@item.CrMasContractCompanyDetailedToPrice</td>
                                        <td>@item.CrMasContractCompanyDetailedValue</td>
                                    </tr>
                                    no++;
                                }

                            </tbody>
                        </table>
                    </div>
                }
            }
            else if (Model.CrMasContractCompanyStatus == "N" && Model.CrMasContractCompanyProcedures == "112")
            {
                <div class="text-center">
                    <h3>@localizer["notRegisteration"]</h3>
                </div>
            }
            else
            {
                <div class="row mt-4 ">
                    <div class="col-md-1">
                        <label class="form-label" for="UserCode">@localizer["CompanyContractNo"]</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="CrMasContractCompanyNumber" id="CrMasContractCompanyNumber" readonly>
                    </div>
                </div>
                @*Date of CompanuContract*@
                <div class="row mt-3">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrMasContractCompanyDate">@localizer["Date"]</label>
                    </div>
                    <div class="col-md-2 col-8 dateRelative">
                        <input type="text" class="form-control dateInput" value="@ViewBag.Date" readonly>
                    </div>
                </div>
                @*Start and End Date*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrMasContractCompanyStartDate">@localizer["StartDate"]</label>
                    </div>
                    <div class="col-md-2 col-11 dateRelative">
                        <input type="text" class="form-control" value="@ViewBag.StartDate" readonly>
                    </div>
                    <div class="col-md-1 formlabel">
                        <label class="form-label" for="LessorDirNameEn">@localizer["EndDate"]</label>
                    </div>
                    <div class="col-md-2 col-11 dateRelative">
                        <input type="text" class="form-control" value="@ViewBag.EndDate" readonly>
                    </div>
                </div>
                @*User and Password*@
               @* <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["UserNumber"]</label>
                    </div>
                    <div class="col-md-2 col-11 dateRelative">
                        <input type="text" class="form-control" asp-for="CrMasContractCompanyUserId" maxlength="10" autocomplete="off" readonly />
                    </div>
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["Password"]</label>
                    </div>
                    <div class="col-md-2 col-11 dateRelative">
                        <input type="text" class="form-control" asp-for="CrMasContractCompanyUserPassword" maxlength="10" autocomplete="off" readonly />
                    </div>
                </div>*@
                <div id="CompanyContractImg">
                    <div class="file-upload">
                        @* <button class="file-upload-btn" type="button" onclick="$('.file-upload-input-signature').trigger('click')">@localizer["pdf"]</button>
                    <div class="image-upload-wrap" style="display:none">
                    <input class="file-upload-input-signature" type="file" onchange="readURL(this, 'signature');" accept=".pdf, image/*" id="ContractImg" name="ContractImg" />
                    <div class="drag-text">
                    <h3>@localizer["DragAndDropFile"]</h3>
                    </div>
                    </div>*@

                        <div class="file-upload-content signature" style="display:block">
                            @{
                                string imagePath = Model.CrMasContractCompanyImage;
                                if (!string.IsNullOrEmpty(imagePath))
                                {
                                    string extension = imagePath?.Substring(imagePath.Length - 3);
                                    if (extension == "pdf")
                                    {
                                        <a href="@Url.Content(Model.CrMasContractCompanyImage)" target="_blank">
                                            <img class="file-upload-image signature" for="pdf" src="~/images/common/pdf.png" />
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Content(Model.CrMasContractCompanyImage)" target="_blank">
                                            <img class="file-upload-image signature" for="pdf" src="@Url.Content(Model.CrMasContractCompanyImage)" />
                                        </a>
                                    }
                                }
                                else
                                {
                                    <span>@localizer["Contract"] @localizer["notfound"]</span>
                                }
                            }
                            @*  <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                        </div>*@
                        </div>
                    </div>
                </div>
                @*Reasons*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrMasContractCompanyReasons">@localizer["reasons"]</label>
                    </div>
                    <div class="col-md-5 col-11">
                        <input type="text" class="form-control" asp-for="CrMasContractCompanyReasons" readonly autocomplete="off">
                    </div>
                </div>

            }
        </div>



        <div class="mt-3">
            @if (Model.CrMasContractCompanyStatus == "N" && Model.CrMasContractCompanyProcedures != "112")
            {
                <a class="btn btn-primary" id="saveEdit">@localizer["Save"]</a>
            }
            @if (Model.CrMasContractCompanyStatus == "A"&& Model.CrMasContractCompanyProcedures != "112")
            {
                <a class="btn btn-primary ms-1" id="deleteButton" data-bs-toggle="modal" data-error="@Status.Deleted" data-bs-targett="#centermodalDelete">
                    @localizer["Delete"]
                </a>
            }
            <a type="button" class="btn btn-danger ms-1" title="@localizer["Back"]" asp-area="CAS" asp-controller="CompanyContracts" asp-action="CompanyContracts">
                @localizer["Back"]
            </a>
        </div>
        <input asp-for="CrMasContractCompanyDate" hidden />
        <input asp-for="CrMasContractCompanyStartDate" hidden />
        <input asp-for="CrMasContractCompanyEndDate" hidden />
    </form>
</div>

<!-- Delete Lessor Modal-->
<div class="modal fade" id="centermodalDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <h4>@localizer["SureTodelete"]</h4>
                <p> @localizer["HintSureTodeleteContractsCompany"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                <a onclick="deleteContract();" class="btn btn-primary">@localizer["Okay"]</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts {
    <script>
        $(document).ready(function () {
            var today = new Date();
            var startDate = new Date();
            var EndDate = new Date();

            var dates = $("#CrMasContractCompanyDate").val();
            var formattedDate = new Date(dates);

            var startDates = $("CrMasContractCompanyStartDate").val();
            var StartformattedDate = new Date(startDates);

            var EndDates = $("CrMasContractCompanyEndDate").val();
            var EndformattedDate = new Date(EndDates);

            if (!formattedDate || formattedDate === "") {
                formattedDate = today; // Set date to today if it's empty or null
            }
            if (!StartformattedDate || StartformattedDate === "") {
                StartformattedDate = today; // Set date to today if it's empty or null
            }
            if (!EndformattedDate || EndformattedDate === "") {
                EndformattedDate = today; // Set date to today if it's empty or null
            }


            $("#CrMasContractCompanyDate").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: formattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrMasContractCompanyDate").datepicker("setDate", formattedDate);
            $("#CrMasContractCompanyDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrMasContractCompanyStartDate").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: formattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrMasContractCompanyStartDate").datepicker("setDate", formattedDate);
            $("#CrMasContractCompanyStartDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrMasContractCompanyEndDate").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: formattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrMasContractCompanyEndDate").datepicker("setDate", formattedDate);
            $("#CrMasContractCompanyEndDate").click(function () {
                $(this).datepicker("show");
            });


            $("#CrMasContractCompanyDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrMasContractCompanyStartDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrMasContractCompanyEndDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');



            $(".datepicker-icon").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

            $("#saveEdit").on("click", function (event) {
                event.preventDefault();
                CheckValidation('2201003', '@Status.Save').done(function (data) {
                    if (data) {
                        $('form').submit();
                    }
                });
            })
        })
    </script>

    <script>
        function deleteContract() {
            var code = document.getElementById("CrMasContractCompanyNo").value;
            console.log();
            $.ajax({
                type: "POST",
                url: "/MAS/CompanyContracts/Delete",
                data: { code: code },
                success: function (result) {
                    $('.modal').modal('hide');
                    window.location.href = "/MAS/CompanyContracts/CompanyContracts";
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        $("#deleteButton").on("click", function () {
            var status = $(this).attr("data-error")
            var Modal = $(this).attr("data-bs-targett")
            CheckValidation('1101003', status).done(function (data) {
                if (data) $(Modal).modal('show');
            });
        })

    </script>
    <script>
        function readURL(input, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var container = $(input).closest('.file-upload');
                    if (input.files[0].type === 'application/pdf') {
                        container.find('.file-upload-image.' + type).attr('src', '/images/common/pdf.png');
                    } else {
                        container.find('.file-upload-image.' + type).attr('src', e.target.result);
                    }
                    container.find('.file-upload-content.' + type).show();
                    container.find('.image-title.' + type).html(input.files[0].name);
                    container.find('.image-upload-wrap').hide();
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload(input);
            }
        }

        function removeUpload(button) {
            var container = $(button).closest('.file-upload');
            var type = container.find('.file-upload-content').hasClass('signature') ? 'signature' : 'picture';
            container.find('.file-upload-input-' + type).val('');
            container.find('.file-upload-image.' + type).attr('src', '#');
            container.find('.file-upload-content.' + type).hide();
            container.find('.image-upload-wrap').show();
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $(this).addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $(this).removeClass('image-dropping');
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#submitBtn').click(function (event) {
                var CompanyContractCode = document.getElementById("CrMasContractCompanyNo").value;
                var DateContract = document.getElementById("dateInput").value;
                var StartDateContract = document.getElementById("startDateInput").value;
                var EndDateContract = document.getElementById("endDateInput").value;
                var UserId = document.getElementById("CrMasContractCompanyUserId").value;
                var Password = document.getElementById("CrMasContractCompanyUserPassword").value;

                console.log(555555);
                CheckValidation('2201003', '@Status.Insert').done(function (data) {
                    if (data) event.stopPropagation();
                });

                $.ajax({
                    url: '/CAS/CompanyContracts/Edit',
                    type: 'POST',
                    data: {
                        CompanyContractCode: CompanyContractCode,
                        DateContract: DateContract,
                        StartDateContract: StartDateContract,
                        EndDateContract: EndDateContract,
                        UserId: UserId,
                        Password: Password,
                    },
                    success: function (response) {
                        window.location.href = "/CAS/CompanyContracts/CompanyContracts";
                        toastr.options = { "positionClass": '@localizer["toastPostion"]', };
                        toastr.success('@localizer["ToastEdit"]');
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });

            });

        })

    </script>

    <script>
        function deleteContract() {
            var code = document.getElementById("CrMasContractCompanyNo").value;
            console.log();
            $.ajax({
                type: "POST",
                url: "/CAS/CompanyContracts/Delete",
                data: { code: code },
                success: function (result) {
                    $('.modal').modal('hide');
                    window.location.href = "/CAS/CompanyContracts/CompanyContracts";
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        $("#deleteButton").on("click", function () {
            var status = $(this).attr("data-error")
            var Modal = $(this).attr("data-bs-targett")
            CheckValidation('2201003', status).done(function (data) {
                if (data) $(Modal).modal('show');
            });
        })

    </script>
}
