@using Bnan.Ui.ViewModels.CAS
@model Bnan.Ui.ViewModels.CAS.CarsInforamtionVM
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["Add Car Data"];
    ViewData["Page-Hint"] = localizer["Add Car Hint"];
}
<style>

    .row {
        align-items: center;
    }

    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 10% !important;
    }
</style>
<style>
    .datepicker-widget {
        display: none;
    }


    .datepicker-icon i {
        font-size: 18px;
        color: #999;
    }

    .hasDatepicker {
    }

    .dateRelative {
        position: relative;
    }

    .form-contain {
        position: relative;
    }

    ul {
        list-style-type: none;
    }
</style>
@if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
{
    <style>
        .datepicker-icon {
            cursor: pointer;
            top: 8%;
            right: 77%;
        }
    </style>
}

@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    <style>
        .datepicker-icon {
            position: absolute;
            display: inline-block;
            top: 1px;
            left: 178px;
        }
    </style>
}
<title>@ViewData["Title"]</title>
<div class="sub-container-form">
    <form id="form" class="needs-validation" novalidate asp-area="CAS" asp-controller="CarsInformation" asp-action="AddCar" enctype="multipart/form-data">
        <div class="form-contain">
            <div class="row">
                <div class="row" style="height:6vh">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationSerailNo">@localizer["SerialNumber"]</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="CrCasCarInformationSerailNo" required maxlength="20" oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="CrCasCarInformationSerailNo" class="text-danger"></span>
                                @Html.ValidationMessage("IsExists", null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationDistribution">@localizer["Car"]</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="CrCasCarInformationDistribution" autocomplete="off">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="CrCasCarInformationDistribution" class="text-danger"></span>
                                @Html.ValidationMessage("CrMasSupCarDistributionConcatenateName", null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 style="font-size: 20px;">
                            <label class="mb-1">
                                @localizer["Advantages"]
                            </label>
                            <a class="plus-icon" onclick="showAdvantages()">
                                <i class="dripicons-plus"></i>
                            </a>
                        </h4>
                        <div id="Advantages" style="display: none;">
                            @foreach (var item in ViewBag.Advantages)
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" id="CheckBoxAdvantages@(item.CrMasSupCarAdvantagesCode)" data-id="@item.CrMasSupCarAdvantagesCode" style="height: 15px;width: 30px;" name="CheckBoxAdvantages[IndexOf(item)]" class="checkbox-Advantages" value="false" />
                                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                                            {
                                                <label for="Advantages">
                                                    @item.CrMasSupCarAdvantagesArName
                                                </label>
                                            }
                                            else
                                            {
                                                <label for="Advantages">
                                                    @item.CrMasSupCarAdvantagesEnName
                                                </label>
                                            }

                                        </h4>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <!--Registration Type -->
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationStructureNo">@localizer["StructureNo"]</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="CrCasCarInformationStructureNo" required maxlength="50" oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '')" />
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="CrCasCarInformationStructureNo" class="text-danger"></span>
                                @Html.ValidationMessage("IsExists", null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationRegistration">@localizer["RegistrationType"]</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select" asp-for="CrCasCarInformationRegistration" style="width: 100%;" dir="rtl" required>
                            <option value="" selected></option> <!-- Add an empty option as the first option -->
                            @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                @foreach (var RegistrationType in (List<SelectListItem>)ViewData["RegistrationTypeAr"])
                                {
                                    <option value="@RegistrationType.Value" selected="@(RegistrationType.Value.Trim() == "" ? "selected" : null)">@RegistrationType.Text</option>
                                }
                            }
                            else
                            {
                                @foreach (var RegistrationType in (List<SelectListItem>)ViewData["RegistrationTypeEn"])
                                {
                                    <option value="@RegistrationType.Value" selected="@(RegistrationType.Value.Trim() == "" ? "selected" : null)">@RegistrationType.Text</option>
                                }
                            }

                        </select>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="CrCasCarInformationRegistration" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--Fuel Type -->
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationFuel">@localizer["FuelType"]</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select" asp-for="CrCasCarInformationFuel" style="width: 100%;" dir="rtl" required>
                            <option value="" selected></option> <!-- Add an empty option as the first option -->
                            @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                @foreach (var FuelType in (List<SelectListItem>)ViewData["FuelTypeAr"])
                                {
                                    <option value="@FuelType.Value" selected="@(FuelType.Value.Trim() == "" ? "selected" : null)">@FuelType.Text</option>
                                }
                            }
                            else
                            {
                                @foreach (var FuelType in (List<SelectListItem>)ViewData["FuelTypeEn"])
                                {
                                    <option value="@FuelType.Value" selected="@(FuelType.Value.Trim() == "" ? "selected" : null)">@FuelType.Text</option>
                                }
                            }

                        </select>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="CrCasCarInformationFuel" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!--CVT Type -->
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationCvt">@localizer["CVTtype"]</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select" asp-for="CrCasCarInformationCvt" style="width: 100%;" dir="rtl" required>
                            <option value="" selected></option> <!-- Add an empty option as the first option -->
                            @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                @foreach (var CVTtype in (List<SelectListItem>)ViewData["CVTtypeAr"])
                                {
                                    <option value="@CVTtype.Value" selected="@(CVTtype.Value.Trim() == "" ? "selected" : null)">@CVTtype.Text</option>
                                }
                            }
                            else
                            {
                                @foreach (var CVTtype in (List<SelectListItem>)ViewData["CVTtypeEn"])
                                {
                                    <option value="@CVTtype.Value" selected="@(CVTtype.Value.Trim() == "" ? "selected" : null)">@CVTtype.Text</option>
                                }
                            }

                        </select>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="CrCasCarInformationCvt" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">@localizer["BoardNumber"]</label>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-4" style="width: 100px;">
                                <select class="form-select selectChar" name="firstChar" required data-val="true" data-val-required="@localizer["requiredFiled"]">
                                    <option value=""></option>
                                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                                    {
                                        <option value="Aأ">أ</option>
                                        <option value="Bب">ب</option>
                                        <option value="Jح">ح</option>
                                        <option value="Dد">د</option>
                                        <option value="Rر">ر</option>
                                        <option value="Sس">س</option>
                                        <option value="Xص">ص</option>
                                        <option value="Tط">ط</option>
                                        <option value="Eع">ع</option>
                                        <option value="Gق">ق</option>
                                        <option value="Kك">ك</option>
                                        <option value="Lل">ل</option>
                                        <option value="Zم">م</option>
                                        <option value="Nن">ن</option>
                                        <option value="Hهـ">هـ</option>
                                        <option value="Uو">و</option>
                                        <option value="Vي">ي</option>
                                    }
                                    else
                                    {
                                        <option value="Aأ">A</option>
                                        <option value="Bب">B</option>
                                        <option value="Jح">J</option>
                                        <option value="Dد">D</option>
                                        <option value="Rر">R</option>
                                        <option value="Sس">S</option>
                                        <option value="Xص">X</option>
                                        <option value="Tط">T</option>
                                        <option value="Eع">E</option>
                                        <option value="Gق">G</option>
                                        <option value="Kك">K</option>
                                        <option value="Lل">L</option>
                                        <option value="Zم">Z</option>
                                        <option value="Nن">N</option>
                                        <option value="Hهـ">H</option>
                                        <option value="Uو">U</option>
                                        <option value="Vي">V</option>
                                    }

                                </select>
                            </div>
                            <div class="col-md-4 colorMarginCar">
                                <select class="form-select selectChar" name="secondChar" required data-val="true" data-val-required="@localizer["requiredFiled"]">
                                    <option value=""></option>
                                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                                    {
                                        <option value="Aأ">أ</option>
                                        <option value="Bب">ب</option>
                                        <option value="Jح">ح</option>
                                        <option value="Dد">د</option>
                                        <option value="Rر">ر</option>
                                        <option value="Sس">س</option>
                                        <option value="Xص">ص</option>
                                        <option value="Tط">ط</option>
                                        <option value="Eع">ع</option>
                                        <option value="Gق">ق</option>
                                        <option value="Kك">ك</option>
                                        <option value="Lل">ل</option>
                                        <option value="Zم">م</option>
                                        <option value="Nن">ن</option>
                                        <option value="Hهـ">هـ</option>
                                        <option value="Uو">و</option>
                                        <option value="Vي">ي</option>
                                    }
                                    else
                                    {
                                        <option value="Aأ">A</option>
                                        <option value="Bب">B</option>
                                        <option value="Jح">J</option>
                                        <option value="Dد">D</option>
                                        <option value="Rر">R</option>
                                        <option value="Sس">S</option>
                                        <option value="Xص">X</option>
                                        <option value="Tط">T</option>
                                        <option value="Eع">E</option>
                                        <option value="Gق">G</option>
                                        <option value="Kك">K</option>
                                        <option value="Lل">L</option>
                                        <option value="Zم">Z</option>
                                        <option value="Nن">N</option>
                                        <option value="Hهـ">H</option>
                                        <option value="Uو">U</option>
                                        <option value="Vي">V</option>
                                    }

                                </select>
                            </div>
                            <div class="col-md-4 colorMarginCar2">
                                <select class="form-select selectChar" name="thirdChar" required data-val="true" data-val-required="@localizer["requiredFiled"]">
                                    <option value=""></option>
                                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                                    {
                                        <option value="Aأ">أ</option>
                                        <option value="Bب">ب</option>
                                        <option value="Jح">ح</option>
                                        <option value="Dد">د</option>
                                        <option value="Rر">ر</option>
                                        <option value="Sس">س</option>
                                        <option value="Xص">ص</option>
                                        <option value="Tط">ط</option>
                                        <option value="Eع">ع</option>
                                        <option value="Gق">ق</option>
                                        <option value="Kك">ك</option>
                                        <option value="Lل">ل</option>
                                        <option value="Zم">م</option>
                                        <option value="Nن">ن</option>
                                        <option value="Hهـ">هـ</option>
                                        <option value="Uو">و</option>
                                        <option value="Vي">ي</option>
                                    }
                                    else
                                    {
                                        <option value="Aأ">A</option>
                                        <option value="Bب">B</option>
                                        <option value="Jح">J</option>
                                        <option value="Dد">D</option>
                                        <option value="Rر">R</option>
                                        <option value="Sس">S</option>
                                        <option value="Xص">X</option>
                                        <option value="Tط">T</option>
                                        <option value="Eع">E</option>
                                        <option value="Gق">G</option>
                                        <option value="Kك">K</option>
                                        <option value="Lل">L</option>
                                        <option value="Zم">Z</option>
                                        <option value="Nن">N</option>
                                        <option value="Hهـ">H</option>
                                        <option value="Uو">U</option>
                                        <option value="Vي">V</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span class="text-danger" id="requriedMessageChar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" style="width: 45%;" name="BoardNumber" required maxlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                               data-val="true"
                               data-val-required="@localizer["requiredFiled"]" />
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                @Html.ValidationMessage("BoardNumber", null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!--MainColor -->

                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationMainColor">@localizer["MainColor"]</label>
                    </div>
                    <div class="col-md-1">
                        <select class="form-select" asp-for="CrCasCarInformationMainColor" style="width: 100%;" dir="rtl" required>
                            <option value="" selected></option> <!-- Add an empty option as the first option -->
                            @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                @foreach (var MainColor in (List<SelectListItem>)ViewData["ColorsAr"])
                                {
                                    <option value="@MainColor.Value" selected="@(MainColor.Value.Trim() == "" ? "selected" : null)">@MainColor.Text</option>
                                }
                            }
                            else
                            {
                                @foreach (var MainColor in (List<SelectListItem>)ViewData["ColorsEn"])
                                {
                                    <option value="@MainColor.Value" selected="@(MainColor.Value.Trim() == "" ? "selected" : null)">@MainColor.Text</option>
                                }
                            }

                        </select>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="CrCasCarInformationMainColor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!--secondery Color -->
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationSecondaryColor">@localizer["SecondryColor"]</label>
                    </div>
                    <div class="col-md-1 colSecondaryColor">
                        <select class="form-select colSecondaryColorSelect" asp-for="CrCasCarInformationSecondaryColor" style="width:83%" dir="rtl">
                            <option selected></option> <!-- Add an empty option as the first option -->
                            @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                @foreach (var SecondryColor in (List<SelectListItem>)ViewData["ColorsAr"])
                                {
                                    <option value="@SecondryColor.Value" selected="@(SecondryColor.Value.Trim() == "" ? "selected" : null)">@SecondryColor.Text</option>
                                }
                            }
                            else
                            {
                                @foreach (var SecondryColor in (List<SelectListItem>)ViewData["ColorsEn"])
                                {
                                    <option value="@SecondryColor.Value" selected="@(SecondryColor.Value.Trim() == "" ? "selected" : null)">@SecondryColor.Text</option>
                                }
                            }

                        </select>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                            </div>
                        </div>
                    </div>

                    <!--MattressColor -->
                    <div class="col-md-1 colMattressColor">
                        <label class="form-label" for="CrCasCarInformationSeatColor">@localizer["MattressColor"]</label>
                    </div>
                    <div class="col-md-1">
                        <select class="form-select" asp-for="CrCasCarInformationSeatColor" style="width: 100%;" dir="rtl">
                            <option selected></option>
                            @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                @foreach (var MattressColor in (List<SelectListItem>)ViewData["ColorsAr"])
                                {
                                    <option value="@MattressColor.Value" selected="@(MattressColor.Value.Trim() == "" ? "selected" : null)">@MattressColor.Text</option>
                                }
                            }
                            else
                            {
                                @foreach (var MattressColor in (List<SelectListItem>)ViewData["ColorsEn"])
                                {
                                    <option value="@MattressColor.Value" selected="@(MattressColor.Value.Trim() == "" ? "selected" : null)">@MattressColor.Text</option>
                                }
                            }

                        </select>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                            </div>
                        </div>
                    </div>
                    <!--FloorColor -->
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationFloorColor">@localizer["FloorColor"]</label>
                    </div>
                    <div class="col-md-1 colFloorColor">
                        <select class="form-select" asp-for="CrCasCarInformationFloorColor" style="width: 95%;" dir="rtl">
                            <option selected></option>
                            @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                @foreach (var FloorColor in (List<SelectListItem>)ViewData["ColorsAr"])
                                {
                                    <option value="@FloorColor.Value" selected="@(FloorColor.Value.Trim() == "" ? "selected" : null)">@FloorColor.Text</option>
                                }
                            }
                            else
                            {
                                @foreach (var FloorColor in (List<SelectListItem>)ViewData["ColorsEn"])
                                {
                                    <option value="@FloorColor.Value" selected="@(FloorColor.Value.Trim() == "" ? "selected" : null)">@FloorColor.Text</option>
                                }
                            }

                        </select>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationJoinedFleetDate">@localizer["JoinedFleetDate"]</label>
                    </div>
                    <div class="col-md-3 dateRelative">
                        <input type="text" class="form-control" asp-for="CrCasCarInformationJoinedFleetDate" oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
                        <div style="margin-top:2px">
                            <div style="height: 1.0em">
                                <span asp-validation-for="@Model.CrCasCarInformationJoinedFleetDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationCurrentMeter">@localizer["CurrentMeter"]</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="CrCasCarInformationCurrentMeter" maxlength="7" oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
                        <div style="margin-top:2px">
                            <div style="height: 1.0em">
                                <span asp-validation-for="@Model.CrCasCarInformationCurrentMeter" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationReasons">@localizer["reasons"]</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" asp-for="CrCasCarInformationReasons" style="width: 103%;" />
                        <div style="margin-top:2px">
                            <div style="height: 1.0em">
                                <span asp-validation-for="@Model.CrCasCarInformationReasons" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <a class="btn btn-primary" id="submitButton">@localizer["Save"]</a>
            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="CarsInformation" asp-action="CarsInformation">
                @localizer["Back"]
            </a>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            var today = new Date();
            $("#CrCasCarInformationJoinedFleetDate").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasCarInformationJoinedFleetDate").datepicker("setDate", today);
            $("#CrCasCarInformationJoinedFleetDate").click(function () {
                $(this).datepicker("show");
            });
            $("#CrCasCarInformationJoinedFleetDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $(".datepicker-icon").click(function () {
                $(this).prevAll('input').datepicker("show");
            });
        })

    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCarsName", "CarsInformation", new { Area = "CAS" })",
                success: function (response) {
                    console.log(response)
                    const newArray = response.map(obj => obj.text);
                    $("#CrCasCarInformationDistribution").autocomplete({
                        source: newArray,
                    });

                },
            })

        });


    </script>
    <script>
        function showAdvantages() {
            var list = document.getElementById("Advantages");
            var plusIcon = document.getElementById("plus-icon");
            if (list.style.display === "block") {
                list.style.display = "none";
            } else {
                list.style.display = "block";
            }
        }
    </script>
    <script>
        $(document).on("click", "[type='checkbox']", function (e) {
            if (this.checked) {
                $(this).attr("value", "true");
            } else {
                $(this).attr("value", "false");
            }
        });
    </script>
    <script>
        // Define the validation function
        function validateSelects() {
            var selects = document.querySelectorAll('.selectChar');
            var isValid = true;
            console.log("isValid", isValid);

            selects.forEach(function (select) {
                if (!select.value || select.value.trim() === "") {
                    isValid = false;
                    // Display error message
                    document.getElementById('requriedMessageChar').textContent = '@localizer["requiredFiled"]';
                    console.log("isValid", isValid);
                }
            });
            // Clear the error message if all fields are filled out
            if (isValid) {
                document.getElementById('requriedMessageChar').textContent = "";
            }
            return isValid;
        }
        document.addEventListener('DOMContentLoaded', function () {
            // Get the form element
            var form = document.getElementById('form');
            $("#submitButton").click(function (e) {
                e.preventDefault();
                validateSelects();
                if ($("#form").valid() && validateSelects()) {
                    // Get the selected checkboxes and their IDs
                    var checkboxes = document.querySelectorAll('.checkbox-Advantages');
                    var data = [];
                    checkboxes.forEach(function (checkbox) {
                        var id = checkbox.getAttribute('data-id');
                        var value = checkbox.value;
                        var checked = checkbox.checked;
                        data.push({ Id: id, Value: checked });
                    });

                    // Create a hidden input field with the data
                    var hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'CheckboxAdvantagesWithData');
                    hiddenInput.value = JSON.stringify(data);

                    //// Append the hidden input field to the form BEFORE checking validity
                    form.appendChild(hiddenInput);
                    form.submit();
                }


                //var allInputsValid = true;
                //var inputs = form.querySelectorAll('input[type="text"]');
                //var filteredInputs = [];

                //inputs.forEach(function (input) {
                //    var inputId = input.getAttribute('id');
                //    if (inputId !== 'CrMasUserInformationEmail' && inputId !== 'CrMasUserInformationMobileNo' && inputId !== "CrMasUserInformationReasons") {
                //        filteredInputs.push(input);
                //    }
                //});

                //filteredInputs.push(hiddenInput);

                //filteredInputs.forEach(function (input) {
                //    if (input.value == "" || input.value == null || !input.checkValidity()) {
                //        allInputsValid = false;
                //    }
                //});

                //var Spans = form.querySelectorAll('span');
                //Spans.forEach(function (span) {
                //    if (span.innerText !== '' && span.innerText !== null) {
                //        console.log(span.innerText)
                //        allInputsValid = false;
                //    }
                //})

                //if (allInputsValid) {
                //    form.submit();
                //}
            })
        });

    </script>
}