@using Bnan.Core.Extensions;
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@model IEnumerable<CrCasCarInformation>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? $"~{Context.Request.Path.Value}?serialNumber={HttpContextAccessor.HttpContext.Request.Query["serialNumber"]}" : $"~{Context.Request.Path.Value}?serialNumber={HttpContextAccessor.HttpContext.Request.Query["serialNumber"]}";

    ViewData["Page-title"] = localizer["Cars Data"];
    ViewData["Page-Hint"] = localizer["TransferCars Hint"];
}


<style>
    body {
        overflow: hidden
    }

    @@media (max-width: 600px) {
        #basic-datatable_wrapper .row:first-child > div {
            text-align: center;
        }

            #basic-datatable_wrapper .row:first-child > div:last-child > * {
                text-align: center;
            }
    }
</style>
<div class="sub-container">
    <div class="container-fluid">
        <div class="row">
            @*filter*@
            <div class="col-sm-12 col-md-9">
                <div class="col-sm-12 col-md-4 p-0">
                    <a type="button" class="btn btn-danger" asp-area="CAS" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>
                </div>
            </div>
            @*search*@
            <div class="col-sm-12 col-md-3 p-0">
                <input class="form-control" type="search" id="top-search" style="width: 96%;" placeholder="@localizer["search"]...">
            </div>
        </div>
        <div class="dataTable">
            @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
            {
                <div class="col-sm-12">
                    <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
                        <thead>
                            <tr role="row">
                                <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                                <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["SerialNumber"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["Car"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["Branch"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["Owner"]</th>
                                @*<th aria-label="Position: activate to sort column ascending">@localizer["ContractCount"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["DaysCount"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["LastDateContract"]</th>*@
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int no = 1;
                            }
                            @foreach (var item in Model)
                            {
                                @if (item.CrCasCarInformationStatus == @Status.Deleted || item.CrCasCarInformationStatus == @Status.Hold || item.CrCasCarInformationStatus == Status.Sold)
                                {
                                    <tr onclick="location.href='@Url.Action("TransfersCarToBranch", "CarsInformation", new { serialNumber = item.CrCasCarInformationSerailNo })'" style="cursor:pointer;color:red">
                                        <td>@no</td>
                                        <td>@item.CrCasCarInformationSerailNo</td>
                                        <td>@item.CrCasCarInformationConcatenateEnName</td>
                                        <td>@item.CrCasCarInformation1.CrCasBranchInformationEnShortName</td>
                                        <td>@item.CrCasCarInformation2.CrCasOwnersEnName</td>
                                        @*<td>@item.CrCasCarInformationConractCount?.ToString("N0")</td>
                                        <td>@item.CrCasCarInformationConractDaysNo?.ToString("N0")</td>
                                        <td>@item.CrCasCarInformationLastContractDate</td>*@
                                    </tr>
                                }
                                else
                                {
                                    <tr onclick="location.href='@Url.Action("TransfersCarToBranch", "CarsInformation", new { serialNumber = item.CrCasCarInformationSerailNo })'" style="cursor:pointer;">
                                        <td>@no</td>
                                        <td>@item.CrCasCarInformationSerailNo</td>
                                        <td>@item.CrCasCarInformationConcatenateEnName</td>
                                        <td>@item.CrCasCarInformation1.CrCasBranchInformationEnShortName</td>
                                        <td>@item.CrCasCarInformation2.CrCasOwnersEnName</td>
                                       @* <td>@item.CrCasCarInformationConractCount?.ToString("N0")</td>
                                        <td>@item.CrCasCarInformationConractDaysNo?.ToString("N0")</td>
                                        <td>@item.CrCasCarInformationLastContractDate</td>*@
                                    </tr>
                                }
                                no++;
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="col-sm-12">
                    <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
                        <thead>
                            <tr role="row">
                                <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                                <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["SerialNumber"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["Car"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["Branch"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["Owner"]</th>
                                @*<th aria-label="Position: activate to sort column ascending">@localizer["ContractCount"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["DaysCount"]</th>
                                <th aria-label="Position: activate to sort column ascending">@localizer["LastDateContract"]</th>*@
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int no = 1;
                            }
                            @foreach (var item in Model)
                            {
                                @if (item.CrCasCarInformationStatus == @Status.Deleted || item.CrCasCarInformationStatus == @Status.Hold || @item.CrCasCarInformationStatus == Status.Sold)
                                {
                                    <tr onclick="location.href='@Url.Action("TransfersCarToBranch", "CarsInformation", new { serialNumber = item.CrCasCarInformationSerailNo })'" style="cursor:pointer;color:red">
                                        <td>@no</td>
                                        <td>@item.CrCasCarInformationSerailNo</td>
                                        <td>@item.CrCasCarInformationConcatenateArName</td>
                                        <td>@item.CrCasCarInformation1.CrCasBranchInformationArShortName</td>
                                        <td>@item.CrCasCarInformation2.CrCasOwnersArName</td>
                                        @*<td>@item.CrCasCarInformationConractCount?.ToString("N0")</td>
                                        <td>@item.CrCasCarInformationConractDaysNo?.ToString("N0")</td>
                                        <td>@item.CrCasCarInformationLastContractDate</td>*@
                                    </tr>
                                }
                                else
                                {
                                    <tr onclick="location.href='@Url.Action("TransfersCarToBranch", "CarsInformation", new { serialNumber = item.CrCasCarInformationSerailNo })'" style="cursor:pointer;">
                                        <td>@no</td>
                                        <td>@item.CrCasCarInformationSerailNo</td>
                                        <td>@item.CrCasCarInformationConcatenateArName</td>
                                        <td>@item.CrCasCarInformation1.CrCasBranchInformationArShortName</td>
                                        <td>@item.CrCasCarInformation2.CrCasOwnersArName</td>
                                       @* <td>@item.CrCasCarInformationConractCount?.ToString("N0")</td>
                                        <td>@item.CrCasCarInformationConractDaysNo?.ToString("N0")</td>
                                        <td>@item.CrCasCarInformationLastContractDate</td>*@
                                    </tr>
                                }
                                no++;
                            }
                        </tbody>
                    </table>
                </div>
            }


        </div>
    </div>
</div>

@section scripts {
    @*Get Users Using filter*@
}
