@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS
@model Bnan.Ui.ViewModels.CAS.CarsInforamtionVM
@inject IViewLocalizer localizer
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? $"~{Context.Request.Path.Value}?serialNumber={HttpContextAccessor.HttpContext.Request.Query["serialNumber"]}" : $"~{Context.Request.Path.Value}?serialNumber={HttpContextAccessor.HttpContext.Request.Query["serialNumber"]}";
    ViewData["Page-title"] = localizer["TransferOwnerCarsEdit Data"];
    ViewData["Page-Hint"] = localizer["TransferOwnerCarsEdit Hint"];
}
<style>

    .row {
        align-items: center;
    }

    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 10% !important;
    }

    ul {
        list-style-type: none;
    }
</style>
<title>@ViewData["Title"]</title>
<div class="sub-container-form">
    <form id="form" class="needs-validation" novalidate asp-area="CAS" asp-controller="CarsInformation" asp-action="TransfersCarToOwner" enctype="multipart/form-data">
        <div class="form-contain">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationConcatenateArName">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationConcatenateEnName">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationPlateArNo">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationPlateEnNo">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationMainColor">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationDistribution">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationCurrentMeter">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationRegistration">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationCvt">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationFuel">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationBranch">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationLessor">
            <input type="hidden" class="form-control" asp-for="CrCasCarInformationOwner">
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="CrCasCarInformationSerailNo">@localizer["SerialNumber"]</label>
                </div>
                <div class="col-md-3" style="margin-left: 10px;">
                    <input type="text" class="form-control" asp-for="CrCasCarInformationSerailNo" readonly />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="CrCasCarInformationSerailNo">@localizer["Car"]</label>
                </div>
                <div class="col-md-4" style="margin-left: 10px;">
                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                    {
                        <input type="text" class="form-control" asp-for="CrCasCarInformationConcatenateArName" readonly />
                    }
                    else
                    {
                        <input type="text" class="form-control" asp-for="CrCasCarInformationConcatenateEnName" readonly />
                    }
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="CrCasCarInformationSerailNo">@localizer["CurrentOwner"]</label>
                </div>
                <div class="col-md-3" style="margin-left: 10px;">
                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                    {
                        <input type="text" class="form-control" asp-for="CrCasCarInformation2.CrCasOwnersArName" readonly />

                    }
                    else
                    {
                        <input type="text" class="form-control" asp-for="CrCasCarInformation2.CrCasOwnersEnName" readonly />
                    }
                </div>
            </div>
            <div class="row mt-2">
                <!--Registration Type -->
                <div class="col-md-1">
                    <label class="form-label" for="CrCasCarInformationRegistration">@localizer["NewOwner"]</label>
                </div>
                <div class="col-md-3">
                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                    {
                        <select class="form-select" id="NewOwner" name="NewOwner" style="width: 100%;" dir="rtl" required>
                            <option value="" selected></option> <!-- Add an empty option as the first option -->
                            @foreach (var owner in (List<SelectListItem>)ViewData["OwnersAr"])
                            {
                                <option value="@owner.Value" selected="@(owner.Value.Trim() == "" ? "selected" : null)">@owner.Text</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select class="form-select" id="NewOwner" name="NewOwner" style="width: 100%;" dir="ltr" required>
                            <option value="" selected></option> <!-- Add an empty option as the first option -->
                            @foreach (var owner in (List<SelectListItem>)ViewData["OwnersEn"])
                            {
                                <option value="@owner.Value" selected="@(owner.Value.Trim() == "" ? "selected" : null)">@owner.Text</option>
                            }
                        </select>
                    }
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span id="NewOwnerMessage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="CrCasCarInformationReasons">@localizer["reasons"]</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" asp-for="CrCasCarInformationReasons" style="width: 100%;" maxlength="100" />
                </div>
            </div>
        </div>
        <div class="mt-3">
            <a class="btn btn-primary" id="submitButton">@localizer["Save"]</a>
            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="CarsInformation" asp-action="TransfersOwner">
                @localizer["Back"]
            </a>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the form element
            $("#submitButton").click(function (e) {
                var form = document.getElementById('form');
                var select = document.getElementById("NewOwner").value
                var message = document.getElementById("NewOwnerMessage");
                e.preventDefault();
                if (select == null || select == "") {
                    message.innerText = '@localizer["requiredFiled"]';
                    return
                }
                else {
                    form.submit();
                }


            })
        });
    </script>



}