@using Bnan.Core.Extensions
@model IEnumerable<CrMasSupAccountReference>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}"; 
}
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RefrenceCode"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RefrenceNameEn"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasSupAccountPaymentMethodStatus == @Status.Deleted || item.CrMasSupAccountPaymentMethodStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "AccountRefrence", new { id = item.CrMasSupAccountReceiptReferenceCode })'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrMasSupAccountReceiptReferenceCode</td>
                            <td>@item.CrMasSupAccountReceiptReferenceEnName</td>
                            <td>
                                @if (@item.CrMasSupAccountPaymentMethodStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrMasSupAccountPaymentMethodStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "AccountRefrence", new { id = item.CrMasSupAccountReceiptReferenceCode })'">
                            <td>@no</td>
                            <td>@item.CrMasSupAccountReceiptReferenceCode</td>
                            <td>@item.CrMasSupAccountReceiptReferenceEnName</td>
                            <td>
                                @if (@item.CrMasSupAccountPaymentMethodStatus == Status.Acive)
                                {
                                    @localizer["Active"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RefrenceCode"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RefrenceNameAr"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasSupAccountPaymentMethodStatus == @Status.Deleted || item.CrMasSupAccountPaymentMethodStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "AccountRefrence", new { id = item.CrMasSupAccountReceiptReferenceCode })'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrMasSupAccountReceiptReferenceCode</td>
                            <td>@item.CrMasSupAccountReceiptReferenceArName</td>
                            <td>
                                @if (@item.CrMasSupAccountPaymentMethodStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrMasSupAccountPaymentMethodStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "AccountRefrence", new { id = item.CrMasSupAccountReceiptReferenceCode })'">
                            <td>@no</td>
                            <td>@item.CrMasSupAccountReceiptReferenceCode</td>
                            <td>@item.CrMasSupAccountReceiptReferenceArName</td>
                            <td>
                                @if (@item.CrMasSupAccountPaymentMethodStatus == Status.Acive)
                                {
                                    @localizer["Active"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}