@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS;
@using Microsoft.AspNetCore.Identity;
@using Newtonsoft.Json;
﻿@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Http.Features;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.Extensions.Options;
@using System.Globalization;
@model CasStatisticLayoutVM
@inject UserManager<CrMasUserInformation> userManager
@inject SignInManager<CrMasUserInformation> signinManager
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = @localizer["ContractStatistics Data"];
    ViewData["Page-Hint"] = @localizer["ContractStatistics Hint"];
}
    

    <style>
        .noti-icon-badge {
            display: inline-block;
            position: absolute;
            top: 22px;
            right: 6px;
            border-radius: 50%;
            height: 7px;
            width: 7px;
            background-color: #fa5c7c;
        }

        .alert {
            color: #fff;
            background-color: #FF992E;
            flex-direction: row-reverse;
            font-size: .7rem;
            font-weight: 600;
            margin-bottom: 0;
            border: 1px solid #4e73df;
            padding: 0.5rem 0.6rem;
        }

        .dropdown-item-custom {
            display: flex;
            flex-direction: row-reverse;
            /*padding-bottom: 0.5rem;*/
            border-bottom: 1px solid #e3e6f0;
            border-color:#74D9EB;
            font-size: .9rem;
            flex-direction: row-reverse;
        }
        
        .ended-Docs-Num {
            color: red;
        }

        .Not-ended-Docs-Num {
            color: #FF992E;
        }
    </style>


    @*/////////////////////////////*@
<style>
    body {
        overflow: hidden
    }

    @@media (max-width: 600px) {
        #basic-datatable1_wrapper .row:first-child > div {
            text-align: left;
            overflow: scroll;
            text-overflow: ellipsis;
        }

            #basic-datatable1_wrapper .row:first-child > div:last-child > * {
                text-align: right;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }


    #_Nc {
        text-align: center;
    }

</style>



<style>
    .wrapper {
        margin-bottom: 60px;
        overflow: hidden;
        background-image: url("~/Pictures/bg.jpg") !important;
    }

    .table-bordered td,
    .table-bordered th {
        border: none;
    }
</style>

@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    <style>
            .arrow {
            background: linear-gradient( -125deg, transparent 22px, #0488C7 22px) top left, linear-gradient( -55deg, transparent 22px, #0488C7 22px ) bottom left;
            background-size: 100% 50%;
                background-repeat: no-repeat;
            }

        .btn1 {
            margin: 8px auto;
            flex-shrink: 0;
            width: 660px;
            height: 64px;
            text-align: left;
            padding-left: 100px;
        }
    </style>
    <style>
        .arrow:hover {
            background: linear-gradient( -125deg, transparent 22px, #04AA6D 22px ) top left, linear-gradient( -55deg, transparent 22px, #04AA6D 22px) bottom left;
            background-size: 100% 50%;
            background-repeat: no-repeat;
        }

        .arrow:focus {
            background: linear-gradient( -125deg, transparent 22px, #04AA6D 22px ) top left, linear-gradient( -55deg, transparent 22px, #04AA6D 22px) bottom left;
            background-size: 100% 50%;
            background-repeat: no-repeat;
        }

        #Date_cusor1, #Date_cusor2 {
            margin-right: 13px;
            direction: rtl;
        }
    </style>

    }
    else
    {
    <style>
        .arrow {
            background: linear-gradient( 125deg, transparent 22px, #0488C7 22px ) top left, linear-gradient( 55deg, transparent 22px, #0488C7 22px) bottom left;
            background-size: 100% 50%;
            background-repeat: no-repeat;  
        }

        .btn1 {
            margin: 8px auto;
            flex-shrink: 0;
            width: 660px;
            height: 64px;
            text-align: right;
            padding-right: 100px;
        }
    </style>
    <style>
        .arrow:hover {
            background: linear-gradient( 125deg, transparent 22px, #04AA6D 22px ) top left, linear-gradient( 55deg, transparent 22px, #04AA6D 22px) bottom left;
            background-size: 100% 50%;
            background-repeat: no-repeat;
        }

        .arrow:focus {
            background: linear-gradient( 125deg, transparent 22px, #04AA6D 22px ) top left, linear-gradient( 55deg, transparent 22px, #04AA6D 22px) bottom left;
            background-size: 100% 50%;
            background-repeat: no-repeat;
        }

        #Date_cusor1, #Date_cusor2 {
            margin-left: 13px;
            direction: ltr;
        }
    </style>
    }



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>*@
@*<script type="text/javascript" src="jscript/graph.js"></script>*@

<style>
    .legend-item {
        font-size: .7rem;
        color: #000000;
    }
</style>


<div class="sub-container" style="margin-top:-20px;">
    <div class="container-fluid">
        <div class="row">
            @*filter*@
            <div >
                <div >
                    <a type="button" class="btn btn-danger" title="@localizer["Back"]" asp-area="CAS" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>



                <div class="row" id="second-row-of-charts" style="display:flex;justify-content:0;justify-content: space-between;">


                    <div class="" style="width:550px;">

            <div style="margin-top:20px;">
                                @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                                {
                                    <p class="form-label">@localizer["ContractStatistics_ContractCount"] <span style="margin-inline-start:45px;">@ViewBag.count_Renters</span></p>

                                }
                                else
                                {
                                    <p class="form-label">@localizer["ContractStatistics_ContractCount"] <span style="margin-inline-start:97px;">@ViewBag.count_Renters</span></p>

                                }
            </div>


                    <div class="Branch" style="display:flex;gap:10px;margin-top:10px">
                        <label for="brunch_name" style="padding-top:8px;width:160px;">@localizer["CarStatistics_Type"]</label>
                        <select class="text-right form-select" id="SelectedType" onchange="getSelectedType(this)"  style="width:150px;">
                            <option id="0" selected="selected" value="0">@localizer["ContractStatistics_Branch"]</option>
                            <option id="1" value="1">@localizer["ContractStatistics_Day_Create"]</option>
                            <option id="2" value="2">@localizer["ContractStatistics_Time_Create"]</option>
                            <option id="3" value="3">@localizer["ContractStatistics_Day_Count"]</option>
                            <option id="4" value="4">@localizer["ContractStatistics_Value_No"]</option>
                            <option id="5" value="5">@localizer["ContractStatistics_KM"]</option>
                            @*<option id="6" value="6">@localizer["ContractStatistics_Days"]</option>*@
                        </select>
                    </div>


                <div class="" style="display:flex;gap: 15px;-webkit-flex-item-align:center;height:45px;margin-top:5px">

                    <!-- Autoclose -->
                    <div style="width:30px;margin-top:7px;">
                        <label class="form-label " style="">@localizer["StartDate_from"]</label>
                    </div>
                    @*<div class="dateRelative" style="width:180px;">
                    <input type="date" class="form-control dateInput" max="2024-02-15" value="@ViewBag.StartDate" id="startDateInput" />
                    </div>*@
                    <div class="dateRelative " style="display:grid;width:220px;height:40px;">
                        <input type="text" class="form-control " id="startDateInput" name="startDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                        <i class="dripicons-calendar" id="Date_cusor1" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px;"></i>
                    </div>

                    <!-- Autoclose -->
                    <div style="width:50px;margin-top:7px;">
                        <label class="form-label p-0 mt-0">@localizer["EndDate_to"]</label>
                    </div>
                    @*                    <div class="dateRelative" style="width:180px;">
                    <input type="date" class="form-control dateInput" max="2024-02-15" value="@ViewBag.EndDate" id="endDateInput" style="background-color:white" />
                    </div>*@
                    <div class="dateRelative " style="display:grid;width:185px;height:40px;">
                        <input type="text" class="form-control " id="endDateInput" name="endDateInput" style="grid-column: 1;grid-row: 1;width:185px;" />
                        <i class="dripicons-calendar" id="Date_cusor2" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px;"></i>
                    </div>
                    <div style="width:50px;">
                        <a class="btn btn-primary" onclick="GetReportFitlerDate('All')">
                            <i class="mdi mdi-search-web"></i>
                        </a>
                    </div>
                </div>

                    <div class="partial" style="width:550px;margin-top:10px;">
                        <partial name="_PartialDatatable" />
                    </div>

                </div>



                <div class="partial row" style="width:1075px;margin-top:125px">
                    <partial name="_PartialChartData" />
                </div>


        </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <!--Charts-->

        <script>
            function GetAllByType(Type, listDrop, singleNo, startDate, endDate) {
            //console.log("Mazzen1")
            if (Type != null && Type != "" & Type != undefined) {
                //console.log("Mazzen2")
                    location.href = '@Url.Action("GetAllByType", "ContractStatistics")?Type=' + Type + '&listDrop=' + listDrop + '&singleNo=' + singleNo + '&startDate=' + startDate + '&endDate=' + endDate;
            }
        }
    </script>
    

    <script>


        $(document).ready(function () {
            // Bar Chart 2
            //Branch
            //DrawChart("response");
            var paymentMethodsBranchData = @Html.Raw(Json.Serialize(Model.ChartBranchDataVM));
            console.log(paymentMethodsBranchData);
            var labelsBranch;
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {

                labelsBranch = paymentMethodsBranchData.map(function (paymentMethod) {
                    return paymentMethod.enName;
                });
            }
            else {
                labelsBranch = paymentMethodsBranchData.map(function (paymentMethod) {
                    return paymentMethod.arName;
                });
            }


            var data = paymentMethodsBranchData.map(function (paymentMethod) {
                return paymentMethod.value;
            });

            var barChart2 = document.getElementById("barChart2").getContext("2d");
            var myChart = new Chart(barChart2, {
                type: "bar",
                data: {
                    labels: labelsBranch,
                    datasets: [
                        {
                            data: data,
                            backgroundColor: [
                                "rgba(255, 99, 132, 1)",
                                "rgba(54, 162, 235, 1)",
                                "rgba(255, 206, 86, 1)",
                                "rgba(75, 192, 192, 1)",
                                "rgba(75, 110, 192, 1)",
                                "rgba(153, 102, 255, 1)",
                                "rgba(255, 99, 132, 1)",
                                "rgba(54, 162, 235, 1)",
                                "rgba(255, 206, 86, 1)",
                                "rgba(75, 192, 192, 1)",
                            ],
                            barThickness: 42, //Width of each Bar
                        }
                    ]
                },
                options: {
                    plugins: {

                        legend: {
                            display: false
                        }

                    },
                    scales: {
                        x: {
                            beginAtZero: true,
                            ticks: {
                                font: {
                                    family: 'Cairo, sans-serif', // Change the font family
                                    size: 16,
                                    // Change the font size
                                }
                            }
                        },
                        y: {
                            beginAtZero: true,                      
                            ticks: {
                                font: {
                                    family: 'Cairo, sans-serif', // Change the font family
                                    size: 16,
                                    // Change the font size
                                }
                            }
                        }

                    }
                }
            });

        });

    </script>

    <script>
        //onchange="getSelectedType(this)"
        function getSelectedType(selectObject) {
            var single = selectObject.value; 
            var type = "";  
            switch (single) {
                    case "0":
                        type = "Branch";
                        break;
                    case "1":
                        type = "Day_Create";
                        break;
                    case "2":
                        type = "Time_Create";
                        break;
                    case "3":
                        type = "Day_Count";
                        break;
                    case "4":
                        type = "Value_No";
                        break;
                    case "5":
                        type = "KM";
                        break;
                    case "6":
                        type = "Days";
                        break;
                    default:
                        type = "Branch";
            }
            var listDrop ="@ViewBag.concate_DropDown";
            console.log(single);

            var startDate = $("#startDateInput").val();
            var endDate = $("#endDateInput").val();

            console.log(startDate)
            console.log(endDate)

            GetAllByType(type, listDrop, single, startDate, endDate);
            };
    </script>



    <script>
        $(document).ready(function () {
        var string ="@ViewBag.concate_DropDown";
        const usingSpread = [...string];
        const usingArrayFrom = Array.from(string);
        console.log(usingArrayFrom);

        var list_dropdown = ['0','1','2','3','4','5'];

        list_dropdown.forEach(myFunction_hide);

        usingArrayFrom.forEach(myFunction_show);
 
        function myFunction_hide(item, index) {
          var xitemId = "#"+item;
          console.log(xitemId);
          document.getElementById(item).style.display='none';
        }

        function myFunction_show(item, index) {
          var xitemId = "#"+item;
          console.log(xitemId);
          document.getElementById(item).style.display='inline';
        }

        });
    </script>


        @*Get AccountBank Using filter*@
        <script>
            $(document).ready(function () {
                var today = new Date();
                var startDate = new Date();
                var EndDate = new Date();
                startDate.setDate(today.getDate() - 30);

                var StartformattedDate = new Date('@ViewBag.StartDate');

                var EndformattedDate = new Date('@ViewBag.EndDate');

                var x_date = document.getElementById("startDateInput").value;
                var First_formattedDate = new Date(x_date);


                if (!StartformattedDate || StartformattedDate === "") {
                    StartformattedDate = today; // Set date to today if it's empty or null
                }
                if (!EndformattedDate || EndformattedDate === "") {
                    EndformattedDate = today; // Set date to today if it's empty or null
                }




                $("#startDateInput").datepicker({
                    dateFormat: 'yy/mm/dd',
                    defaultDate: StartformattedDate, // Set the minimum date to today
                    maxDate: today,
                }).datepicker("widget").addClass("datepicker-widget");
                $("#startDateInput").datepicker("setDate", StartformattedDate);
                $("#startDateInput").click(function () {
                    $(this).datepicker("show");
                });

                var First_formattedDate = $("#startDateInput").val();
                console.log(First_formattedDate);


                $("#endDateInput").datepicker({
                    dateFormat: 'yy/mm/dd',
                    defaultDate: EndformattedDate,// Set the minimum date to today
                    minDate: First_formattedDate,
                    maxDate: today,
                }).datepicker("widget").addClass("datepicker-widget");
                $("#endDateInput").datepicker("setDate", EndformattedDate);
                $("#endDateInput").click(function () {
                    $(this).datepicker("show");
                });

                //on Change StartDate set min of lastDate
                $('#startDateInput').datepicker().on('change', function (ev) {
                    var firstDate1 = $(this).val();
                    //alert(firstDate1);
                    $('#endDateInput').datepicker('option', {
                        minDate: new Date(firstDate1)
                    });
                });


                $("#Date_cusor1").click(function () {
                    $(this).prevAll('input').datepicker("show");
                });

                $("#Date_cusor2").click(function () {
                    $(this).prevAll('input').datepicker("show");
                });

            });
        </script>

        <script>
            //get AccountBank By Status function
            function GetReportFitlerDate() {
                var selectObject = document.getElementById("SelectedType");
                var value = selectObject.value;
                //var text = e.options[e.selectedIndex].text;
                var single = selectObject.value;
                var type = "";
                switch (single) {
                    case "0":
                        type = "Branch";
                        break;
                    case "1":
                        type = "Day_Create";
                        break;
                    case "2":
                        type = "Time_Create";
                        break;
                    case "3":
                        type = "Day_Count";
                        break;
                    case "4":
                        type = "Value_No";
                        break;
                    case "5":
                        type = "KM";
                        break;
                    case "6":
                        type = "Days";
                        break;
                    default:
                        type = "Branch";
                }
                var listDrop = "@ViewBag.concate_DropDown";
                console.log(single);


                var startDate = $("#startDateInput").val();
                var endDate = $("#endDateInput").val();

                console.log(startDate)
                console.log(endDate)

                GetAllByType(type, listDrop, single, startDate, endDate);


            }


        </script>
    
}

