@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.CAS;
@model IEnumerable<AdminstritiveProceduresVM>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["Date"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Target"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Money_AdMinstrative_Debit"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Money_AdMinstrative_Credit"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserInsert"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Money_AdMinstrative_Status"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["reasons"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@no</td>
                        <td>@item.CrCasSysAdministrativeProceduresDate?.ToString("dd/MM/yyyy")</td>
                        <td>@item.NameOfTargetEn</td>
                        <td>@item.CrCasSysAdministrativeProceduresDebit?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        @if (@item.CrCasSysAdministrativeProceduresCreditor == null)
                        {
                            <td>0.00</td>

                        }
                        else
                        {
                            <td>@item.CrCasSysAdministrativeProceduresCreditor?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        }
                        <td>@item.CrCasSysAdministrativeProceduresUserInsertNavigation.CrMasUserInformationEnName</td>
                        <td>@item.CrCasSysAdministrativeProceduresEnDescription</td>
                        <td>@item.CrCasSysAdministrativeProceduresReasons</td>
                        @*<td>@localizer["UnderProcessing"]</td>*@
                    </tr>
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["Date"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Target"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Money_AdMinstrative_Debit"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Money_AdMinstrative_Credit"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserInsert"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Money_AdMinstrative_Status"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["reasons"]</th>

                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@no</td>
                        <td>@item.CrCasSysAdministrativeProceduresDate?.ToString("dd/MM/yyyy")</td>
                        <td>@item.NameOfTargetAr</td>
                        <td>@item.CrCasSysAdministrativeProceduresDebit?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        @if (@item.CrCasSysAdministrativeProceduresCreditor == null)
                        {
                            <td>0.00</td>

                        }
                        else
                        {
                            <td>@item.CrCasSysAdministrativeProceduresCreditor?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        }
                        <td>@item.CrCasSysAdministrativeProceduresUserInsertNavigation.CrMasUserInformationArName</td>
                        <td>@item.CrCasSysAdministrativeProceduresArDescription</td>
                        <td>@item.CrCasSysAdministrativeProceduresReasons</td>
                        @*<td>@localizer["UnderProcessing"]</td>*@

                    </tr>
                    no++;
                }
            </tbody>
        </table>
    </div>
}