@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.CAS;
@model IEnumerable<AdminstritiveProceduresVM>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = @localizer["Money_AdministrativeProcedure Data"];
    ViewData["Page-Hint"] = @localizer["Money_AdministrativeProcedure Hint"];
}
<style>
    body {
        overflow: hidden
    }

    @@media (max-width: 600px) {
        #basic-datatable1_wrapper .row:first-child > div {
            text-align: center;
        }

            #basic-datatable1_wrapper .row:first-child > div:last-child > * {
                text-align: center;
            }
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    .datepicker-widget {
        display: none;
    }


    .datepicker-icon i {
        font-size: 18px;
        color: #999;
    }

    .dateRelative {
        position: relative;
    }
</style>
@if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
{
    <style>
        .datepicker-icon {
            cursor: pointer;
            top: 8%;
            right: 77%;
        }
    </style>
}

@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    <style>
        .datepicker-icon {
            position: absolute;
            display: inline-block;
            top: 1px;
            left: 178px;
        }
    </style>
}


<div class="sub-container">
    <div class="container-fluid">
        <div class="row">
            @*filter*@
            <div class="col-sm-12 col-md-1">
                <div class="col-sm-12 col-md-4 p-0">
                    <a type="button" class="btn btn-danger" title="@localizer["Back"]" asp-area="CAS" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-md-3 dateRelative">
                        <input type="text" class="form-control dateInput" id="startDate">
                    </div>
                    <div class="col-md-3 dateRelative">
                        <input type="text" class="form-control dateInput" id="endDate">
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-primary" onclick="GetAdminstritiveFitlerDate()">
                            <i class="mdi mdi-search-web"></i>
                        </a>
                    </div>
                </div>

            </div>
            @*search And Fitler Radio Button*@
            <div class="col-sm-12 col-md-3 p-0">
                <input class="form-control" type="search" id="top-search" style="width: 96%;" placeholder="@localizer["search"]...">
            </div>

        </div>
        <div class=dataTable>
            <partial name="_DataTableMoney_AdminstritiveProcedures" />
        </div>
    </div>
</div>

@section scripts {
    @*Get AccountBank Using filter*@
    <script>
        $(document).ready(function () {
            var today = new Date();
            var startDate = new Date();
            var EndDate = new Date();
            startDate.setDate(today.getDate() - 30);


            var startDates = $("startDate").val();
            //var StartformattedDate = new Date(startDates);
            var StartformattedDate = new Date('@ViewBag.startDate');
            //console.log(StartformattedDate);

            var EndDates = $("endDate").val();
            //var EndformattedDate = new Date(EndDates);
            var EndformattedDate = new Date('@ViewBag.endDate');
            //console.log(EndformattedDate);

            
            if (!StartformattedDate || StartformattedDate === "") {
                StartformattedDate = today; // Set date to today if it's empty or null
            }
            if (!EndformattedDate || EndformattedDate === "") {
                EndformattedDate = today; // Set date to today if it's empty or null
            }


           

            $("#startDate").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: StartformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#startDate").datepicker("setDate", StartformattedDate);
            $("#startDate").click(function () {
                $(this).datepicker("show");
            });

            $("#endDate").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: EndformattedDate,// Set the minimum date to today
                maxDate: EndformattedDate,
            }).datepicker("widget").addClass("datepicker-widget");
            $("#endDate").datepicker("setDate", EndformattedDate);
            $("#endDate").click(function () {
                $(this).datepicker("show");
            });


            $("#startDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#endDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');



            $(".datepicker-icon").click(function () {
                $(this).prevAll('input').datepicker("show");
            });
        })
    </script>
    <script>
        //get AccountBank By Status function
        function GetAdminstritiveFitlerDate() {

            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();

            console.log(startDate)
            console.log(endDate)
            $.ajax({
                type: "GET",
                data: {
                    startDate: startDate,
                    EndDate: endDate,
                },
                url: "@Url.Action("Money_AdminstritiveProceduresFilterDate", "Money_AdminstritiveProcedures", new { Area = "CAS" })",
                success: function (response) {
                    $(".dataTable").html(response);
                    set_basic_datatable();
                },
            })
        }

        
    </script>

}


<style>
    .wrapper {
        margin-bottom: 60px;
        overflow: hidden;
        background-image: url("~/Pictures/bg.jpg") !important;
    }

    .table-bordered td,
    .table-bordered th {
        border: none;
    }
</style>

