@using Bnan.Core.Extensions
@model IEnumerable<CrCasBranchDocument>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<style>
    #basic-datatable_wrapper .row:nth-child(2) {
        margin: 0;
    }
</style>
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["Branch"]</th>
                    <th aria-label="Office: activate to sort column ascending">@localizer["Document Type"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["TheNumber"]</th>
                    <th aria-label="Start date: activate to sort column ascending">@localizer["Date"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["StartDate"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["EndDate"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["Status"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["Documentphoto"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasBranchDocumentsStatus == @Status.Renewed)
                    {
                        <tr style="cursor:pointer;color:red">
                            <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@no</td>
                            @if (@item.CrCasBranchDocuments == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">
                                    @item.CrCasBranchDocuments.CrCasBranchInformationEnShortName
                                    @if (item.CrCasBranchDocumentsBranchStatus == Status.Hold)
                                    {
                                        <span class="text-danger">(@localizer["Holded"])</span>
                                    }
                                </td>
                            }
                            @if (@item.CrCasBranchDocumentsProceduresNavigation == null)
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'"></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsProceduresNavigation.CrMasSysProceduresEnName</td>
                            }


                            @if (@item.CrCasBranchDocumentsNo == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>  onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'" @item.CrCasBranchDocumentsNo</td>
                            }
                            @if (@item.CrCasBranchDocumentsDate == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsStartDate == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsStartDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsEndDate == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsEndDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsStatus == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                if (@item.CrCasBranchDocumentsStatus == Status.Renewed)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Renew"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.Active)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Active"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.AboutToExpire)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["AboutToExpire"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.Expire)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Expire"]</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            <td>
                        </tr>
                    }
                    else
                    {
                        <tr style="cursor:pointer;">
                            <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@no</td>
                            @if (@item.CrCasBranchDocuments == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">
                                    @item.CrCasBranchDocuments.CrCasBranchInformationEnShortName
                                    @if (item.CrCasBranchDocumentsBranchStatus == Status.Hold)
                                    {
                                        <span class="text-danger">(@localizer["Holded"])</span>
                                    }
                                </td>
                            }
                            @if (@item.CrCasBranchDocumentsProceduresNavigation == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsProceduresNavigation.CrMasSysProceduresEnName</td>
                            }

                            @if (@item.CrCasBranchDocumentsNo == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsNo</td>
                            }
                            @if (@item.CrCasBranchDocumentsDate == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsStartDate == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsStartDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsEndDate == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsEndDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsStatus == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                if (@item.CrCasBranchDocumentsStatus == Status.Renewed)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Renew"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.Active)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Active"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.AboutToExpire)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["AboutToExpire"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.Expire)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Expire"]</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            @if (item.CrCasBranchDocumentsImage == "" || item.CrCasBranchDocumentsImage == null)
                            {
                                <td> @localizer["notfound"] </td>

                            }
                            else
                            {
                                <td onclick="window.open('@Url.Content(item.CrCasBranchDocumentsImage)' , '_blank');"> <i class="dripicons-document-new"></i> </td>
                            }

                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["Branch"]</th>
                    <th aria-label="Office: activate to sort column ascending">@localizer["Document Type"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["TheNumber"]</th>
                    <th aria-label="Start date: activate to sort column ascending">@localizer["Date"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["StartDate"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["EndDate"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["Status"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["Documentphoto"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasBranchDocumentsStatus == @Status.Renewed)
                    {
                        <tr style="cursor:pointer;color:red">
                            <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@no</td>
                            @if (@item.CrCasBranchDocuments == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">
                                    @item.CrCasBranchDocuments.CrCasBranchInformationArShortName
                                    @if (item.CrCasBranchDocumentsBranchStatus == Status.Hold)
                                    {
                                        <span class="text-danger">(@localizer["Holded"])</span>
                                    }
                                </td>
                            }
                            @if (@item.CrCasBranchDocumentsProceduresNavigation == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsProceduresNavigation.CrMasSysProceduresArName</td>
                            }

                            @if (@item.CrCasBranchDocumentsNo == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsNo</td>
                            }
                            @if (@item.CrCasBranchDocumentsDate == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsStartDate == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsStartDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsEndDate == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsEndDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsStatus == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                if (@item.CrCasBranchDocumentsStatus == Status.Renewed)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Renew"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.Active)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Active"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.AboutToExpire)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["AboutToExpire"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.Expire)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Expire"]</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            <td> </td>
                        </tr>
                    }
                    else
                    {
                        <tr style="cursor:pointer;">
                            <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@no</td>
                            @if (@item.CrCasBranchDocuments == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">
                                    @item.CrCasBranchDocuments.CrCasBranchInformationArShortName
                                    @if (item.CrCasBranchDocumentsBranchStatus == Status.Hold)
                                    {
                                        <span class="text-danger">(@localizer["Holded"])</span>
                                    }
                                </td>
                            }
                            @if (@item.CrCasBranchDocumentsProceduresNavigation == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsProceduresNavigation.CrMasSysProceduresArName</td>
                            }

                            @if (@item.CrCasBranchDocumentsNo == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsNo</td>
                            }
                            @if (@item.CrCasBranchDocumentsDate == null)
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'"></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsStartDate == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsStartDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsEndDate == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@item.CrCasBranchDocumentsEndDate?.ToString("dd/MM/yyyy")</td>
                            }
                            @if (@item.CrCasBranchDocumentsStatus == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                if (@item.CrCasBranchDocumentsStatus == Status.Renewed)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Renew"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.Active)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Active"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.AboutToExpire)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["AboutToExpire"]</td>
                                }
                                else if (@item.CrCasBranchDocumentsStatus == Status.Expire)
                                {
                                    <td onclick="location.href='@Url.Action("Edit", "Documents", new { Procedureid = item.CrCasBranchDocumentsProcedures, BranchId = item.CrCasBranchDocumentsBranch })'">@localizer["Expire"]</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }

                            @if (item.CrCasBranchDocumentsImage == "" || item.CrCasBranchDocumentsImage == null)
                            {
                                <td> @localizer["notfound"] </td>

                            }
                            else
                            {
                                <td onclick="window.open('@Url.Content(item.CrCasBranchDocumentsImage)' , '_blank');"> <i class="dripicons-document-new"></i> </td>

                            }
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}


