@using System.Globalization;
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";   
    ViewData["Page-title"] = @localizer["Users Data"];
    ViewData["Page-Hint"] = @localizer["Users Hint"];
}

<style>
    .email {
        text-align: end;
    }
</style>
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" style="width:100%">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserNo"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserName"]</th>
                    <th aria-label="Office: activate to sort column ascending">@localizer["Employement"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["MobilePhone"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["LastExitDate"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["LastChangePassword"]</th>
                    <th aria-label="Start date: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasUserInformationStatus == "D" || item.CrMasUserInformationStatus == "H")
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Employees", new { id = item.CrMasUserInformationCode })'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrMasUserInformationCode</td>
                            <td>@item.CrMasUserInformationEnName</td>
                            <td>@item.CrMasUserInformationTasksEnName</td>
                            @if (item.CrMasUserInformationCallingKey != "" || item.CrMasUserInformationCallingKey != null)
                            {
                                <td>@item.CrMasUserInformationCallingKey @item.CrMasUserInformationMobileNo</td>
                            }
                            else
                            {
                                <td>@item.CrMasUserInformationMobileNo</td>
                            }
                            <td>@item.CrMasUserInformationExitLastDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrMasUserInformationChangePassWordLastDate?.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (@item.CrMasUserInformationStatus == "H")
                                {
                                    @localizer["Stoped"]
                                }
                                else if (@item.CrMasUserInformationStatus == "D")
                                {
                                    @localizer["Deleted"]
                                }
                                else
                                {
                                    @localizer["Active"]

                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Employees", new { id = item.CrMasUserInformationCode })'">
                            <td>@no</td>
                            <td>@item.CrMasUserInformationCode</td>
                            <td>@item.CrMasUserInformationEnName</td>
                            <td>@item.CrMasUserInformationTasksEnName</td>
                            @if (item.CrMasUserInformationCallingKey != "" || item.CrMasUserInformationCallingKey != null)
                            {
                                <td>@item.CrMasUserInformationCallingKey @item.CrMasUserInformationMobileNo</td>
                            }
                            else
                            {
                                <td>@item.CrMasUserInformationMobileNo</td>
                            }
                            <td>@item.CrMasUserInformationExitLastDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrMasUserInformationChangePassWordLastDate?.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (@item.CrMasUserInformationStatus == "H")
                                {
                                    @localizer["Stoped"]
                                }
                                else if (@item.CrMasUserInformationStatus == "D")
                                {
                                    @localizer["Deleted"]
                                }
                                else
                                {
                                    @localizer["Active"]

                                }
                            </td>
                        </tr>
                    }
                    no++;

                }

            </tbody>
        </table>
    </div>
}
else
{

    <div class="col-sm-12">
        <table id="basic-datatable" class="table dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["UserNo"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserName"]</th>
                    <th aria-label="Office: activate to sort column ascending">@localizer["Employement"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["MobilePhone"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["LastExitDate"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["LastChangePassword"]</th>
                    <th aria-label="Start date: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasUserInformationStatus == "D" || item.CrMasUserInformationStatus == "H")
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Employees", new { id = item.CrMasUserInformationCode })'" style="cursor:pointer; color:red ">
                            <td>@no</td>
                            <td>@item.CrMasUserInformationCode</td>
                            <td>@item.CrMasUserInformationArName</td>
                            <td>@item.CrMasUserInformationTasksArName</td>
                            @if (item.CrMasUserInformationCallingKey != "" || item.CrMasUserInformationCallingKey != null)
                            {
                                <td>@item.CrMasUserInformationCallingKey @item.CrMasUserInformationMobileNo</td>
                            }
                            else
                            {
                                <td>@item.CrMasUserInformationMobileNo</td>
                            }
                            <td>@item.CrMasUserInformationExitLastDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrMasUserInformationChangePassWordLastDate?.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (@item.CrMasUserInformationStatus == "H")
                                {
                                    @localizer["Stoped"]
                                }
                                else if (@item.CrMasUserInformationStatus == "D")
                                {
                                    @localizer["Deleted"]
                                }
                                else
                                {
                                    @localizer["Active"]

                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "Employees", new { id = item.CrMasUserInformationCode })'" style="cursor:pointer; ">
                            <td>@no</td>
                            <td>@item.CrMasUserInformationCode</td>
                            <td>@item.CrMasUserInformationArName</td>
                            <td>@item.CrMasUserInformationTasksArName</td>
                            @if (item.CrMasUserInformationCallingKey != "" || item.CrMasUserInformationCallingKey != null)
                            {
                                <td>@item.CrMasUserInformationCallingKey @item.CrMasUserInformationMobileNo</td>
                            }
                            else
                            {
                                <td>@item.CrMasUserInformationMobileNo</td>
                            }
                            <td>@item.CrMasUserInformationExitLastDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrMasUserInformationChangePassWordLastDate?.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (@item.CrMasUserInformationStatus == "H")
                                {
                                    @localizer["Stoped"]
                                }
                                else if (@item.CrMasUserInformationStatus == "D")
                                {
                                    @localizer["Deleted"]
                                }
                                else
                                {
                                    @localizer["Active"]

                                }
                            </td>
                        </tr>
                    }
                    no++;

                }
            </tbody>
        </table>
    </div>
}
