@model Bnan.Ui.ViewModels.CAS.ContractValiditionsVM

@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@{
    ViewData["Page-title"] = localizer["Edit ValiditionsContract Data"];
    ViewData["Page-Hint"] = localizer["Edit ValiditionsContract Hint"];
}


<style>
    .row {
        align-items: baseline;
    }
</style>
<style>
    .plus-icon {
        cursor: pointer
    }

    ul {
        list-style: none;
    }

    .sub-container-form form .form-contain {
        height: 50vh;
        margin-top: 10px
    }
</style>

<div class="sub-container-form">
    <div class="collapsible">
        <form asp-area="CAS" asp-action="EditEmployeeContractValiditions" asp-controller="Employees" method="post">
            <div class="row mt-3 text-center ">
                <div class="col-md-5 row">
                    <div class="col-md-2">
                        <label class="form-label" for="UserCode">@localizer["User Code"]</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="CrMasUserContractValidityUserId" name="CrMasUserContractValidityUserId" readonly>
                    </div>
                </div>
                @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                {
                    <div class="col-md-5 row">
                        <div class="col-md-2">
                            <label class="form-label" for="UserNameAr">@localizer["UserName"]</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control" asp-for="CrMasUserContractValidityUser.CrMasUserInformationArName" readonly>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-5 row">
                        <div class="col-md-2">
                            <label class="form-label" for="UserNameAr">@localizer["UserName"]</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control" asp-for="CrMasUserContractValidityUser.CrMasUserInformationEnName" readonly>
                        </div>
                    </div>
                }

            </div>
            <div class="form-contain mb-2" style="margin-right: 50px; margin-top:20px">
                <div class="mt-2">
                    <h4 style="font-size: 20px;">
                        <label for="Branches" class="mb-1">
                            @localizer["ContractCompany"]
                        </label>
                        <a class="plus-icon" onclick="showContractValidition()">
                            <i class="dripicons-plus"></i>
                        </a>
                    </h4>
                    <div id="ContractsValiditions" style="display: none;">
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "100").CrCasLessorMechanismActivate==true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "100");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityRegister ? "checked='checked'" : "") name="CrMasUserContractValidityRegister" value="@Model.CrMasUserContractValidityRegister" />
                                            <label for="@Model.CrMasUserContractValidityRegister">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityRegister ? "checked='checked'" : "") name="CrMasUserContractValidityRegister" value="@Model.CrMasUserContractValidityRegister" />
                                            <label for="@Model.CrMasUserContractValidityRegister">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "101").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "101");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityChamber ? "checked='checked'" : "") name="CrMasUserContractValidityChamber" value="@Model.CrMasUserContractValidityChamber" />
                                            <label for="@Model.CrMasUserContractValidityChamber">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityChamber ? "checked='checked'" : "") name="CrMasUserContractValidityChamber" value="@Model.CrMasUserContractValidityChamber" />
                                            <label for="@Model.CrMasUserContractValidityChamber">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                        }
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "102").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "102");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityTransferPermission ? "checked='checked'" : "") name="CrMasUserContractValidityTransferPermission" value="@Model.CrMasUserContractValidityTransferPermission" />
                                            <label for="@Model.CrMasUserContractValidityTransferPermission">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityTransferPermission ? "checked='checked'" : "") name="CrMasUserContractValidityTransferPermission" value="@Model.CrMasUserContractValidityTransferPermission" />
                                            <label for="@Model.CrMasUserContractValidityTransferPermission">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "103").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "103");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityLicenceMunicipale ? "checked='checked'" : "")name="CrMasUserContractValidityLicenceMunicipale" value="@Model.CrMasUserContractValidityLicenceMunicipale" />
                                            <label for="@Model.CrMasUserContractValidityLicenceMunicipale">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                 <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityLicenceMunicipale ? "checked='checked'" : "")name="CrMasUserContractValidityLicenceMunicipale" value="@Model.CrMasUserContractValidityLicenceMunicipale" />
                                            <label for="@Model.CrMasUserContractValidityLicenceMunicipale">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "104").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "104");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityCompanyAddress ? "checked='checked'" : "") name="CrMasUserContractValidityCompanyAddress" value="@Model.CrMasUserContractValidityCompanyAddress" />
                                            <label for="@Model.CrMasUserContractValidityCompanyAddress">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityCompanyAddress ? "checked='checked'" : "") name="CrMasUserContractValidityCompanyAddress" value="@Model.CrMasUserContractValidityCompanyAddress" />
                                            <label for="@Model.CrMasUserContractValidityCompanyAddress">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                    </div>
                </div>
                <div class="mt-2">
                    <h4 style="font-size: 20px;">
                        <label for="CarsDocuments" class="mb-1">
                            @localizer["CarsDocuments"]
                        </label>
                        <a class="plus-icon" onclick="showCarsDocuments()">
                            <i class="dripicons-plus"></i>
                        </a>
                    </h4>
                    <div id="CarsDocuments" style="display: none;">
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "120").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "120");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityTrafficLicense ? "checked='checked'" : "") name="CrMasUserContractValidityTrafficLicense" value="@Model.CrMasUserContractValidityTrafficLicense" />
                                            <label for="@Model.CrMasUserContractValidityTrafficLicense">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityTrafficLicense ? "checked='checked'" : "") name="CrMasUserContractValidityTrafficLicense" value="@Model.CrMasUserContractValidityTrafficLicense" />
                                            <label for="@Model.CrMasUserContractValidityTrafficLicense">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "121").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "121");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityInsurance ? "checked='checked'" : "") name="CrMasUserContractValidityInsurance" value="@Model.CrMasUserContractValidityInsurance" />
                                            <label for="@Model.CrMasUserContractValidityInsurance">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityInsurance ? "checked='checked'" : "") name="CrMasUserContractValidityInsurance" value="@Model.CrMasUserContractValidityInsurance" />
                                            <label for="@Model.CrMasUserContractValidityInsurance">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "122").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "122");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityOperatingCard ? "checked='checked'" : "") name="CrMasUserContractValidityOperatingCard" value="@Model.CrMasUserContractValidityOperatingCard" />
                                            <label for="@Model.CrMasUserContractValidityOperatingCard">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else{
                                 <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityOperatingCard ? "checked='checked'" : "") name="CrMasUserContractValidityOperatingCard" value="@Model.CrMasUserContractValidityOperatingCard" />
                                            <label for="@Model.CrMasUserContractValidityOperatingCard">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "123").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "123");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityChkecUp ? "checked='checked'" : "") name="CrMasUserContractValidityChkecUp" value="@Model.CrMasUserContractValidityChkecUp" />
                                            <label for="@Model.CrMasUserContractValidityChkecUp">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityChkecUp ? "checked='checked'" : "") name="CrMasUserContractValidityChkecUp" value="@Model.CrMasUserContractValidityChkecUp" />
                                            <label for="@Model.CrMasUserContractValidityChkecUp">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                    </div>
                </div>
                <div class="mt-2">
                    <h4 style="font-size: 20px;">
                        <label for="Branches" class="mb-1">
                            @localizer["CarsFixed"]
                        </label>
                        <a class="plus-icon" onclick="showCarsFixed()">
                            <i class="dripicons-plus"></i>
                        </a>
                    </h4>
                    <div id="CarsFixed" style="display: none;">
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "130").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "130");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityTires ? "checked='checked'" : "") name="CrMasUserContractValidityTires" value="@Model.CrMasUserContractValidityTires" />
                                            <label for="@Model.CrMasUserContractValidityTires">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityTires ? "checked='checked'" : "") name="CrMasUserContractValidityTires" value="@Model.CrMasUserContractValidityTires" />
                                            <label for="@Model.CrMasUserContractValidityTires">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "131").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "131");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityOil ? "checked='checked'" : "")name="CrMasUserContractValidityOil" value="@Model.CrMasUserContractValidityOil" />
                                            <label for="@Model.CrMasUserContractValidityOil">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityOil ? "checked='checked'" : "")name="CrMasUserContractValidityOil" value="@Model.CrMasUserContractValidityOil" />
                                            <label for="@Model.CrMasUserContractValidityOil">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                         @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "132").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "132");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityMaintenance ? "checked='checked'" : "")name="CrMasUserContractValidityMaintenance" value="@Model.CrMasUserContractValidityMaintenance" />
                                            <label for="@Model.CrMasUserContractValidityMaintenance">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityMaintenance ? "checked='checked'" : "")name="CrMasUserContractValidityMaintenance" value="@Model.CrMasUserContractValidityMaintenance" />
                                            <label for="@Model.CrMasUserContractValidityMaintenance">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                        }
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "133").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "133");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityFbrake ? "checked='checked'" : "") name="CrMasUserContractValidityFbrake" value="@Model.CrMasUserContractValidityFbrake" />
                                            <label for="@Model.CrMasUserContractValidityFbrake">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityFbrake ? "checked='checked'" : "") name="CrMasUserContractValidityFbrake" value="@Model.CrMasUserContractValidityFbrake" />
                                            <label for="@Model.CrMasUserContractValidityFbrake">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                        @if (Model.CrCasLessorMechanism.Find(x => x.CrCasLessorMechanismProcedures == "134").CrCasLessorMechanismActivate == true)
                        {
                            var procedure = Model.CrMasSysProcedure.Find(x => x.CrMasSysProceduresCode == "134");
                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityBbrake ? "checked='checked'" : "") name="CrMasUserContractValidityBbrake" value="@Model.CrMasUserContractValidityBbrake" />
                                            <label for="@Model.CrMasUserContractValidityBbrake">@procedure.CrMasSysProceduresArName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="list mt-2" style="font-size: 17px;">
                                    <li>
                                        <h4 class="mb-1">
                                            <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityBbrake ? "checked='checked'" : "") name="CrMasUserContractValidityBbrake" value="@Model.CrMasUserContractValidityBbrake" />
                                            <label for="@Model.CrMasUserContractValidityBbrake">@procedure.CrMasSysProceduresEnName</label>
                                        </h4>
                                    </li>
                                </ul>
                            }

                        }
                    </div>
                </div>
                <div class="mt-2">
                    <h4 style="font-size: 20px;">
                        <label for="Branches" class="mb-1">
                            @localizer["RenterAndDriver"]
                        </label>
                        <a class="plus-icon" onclick="showRenterAndDriver()">
                            <i class="dripicons-plus"></i>
                        </a>
                    </h4>
                    <div id="RenterAndDriver" style="display: none;">
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityId ? "checked='checked'" : "") name="CrMasUserContractValidityId" value="@Model.CrMasUserContractValidityId" />
                                    <label for="@Model.CrMasUserContractValidityId">@localizer["CrMasUserContractValidityId"]</label>
                                </h4>
                            </li>
                        </ul>
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityDrivingLicense ? "checked='checked'" : "") name="CrMasUserContractValidityDrivingLicense" value="@Model.CrMasUserContractValidityDrivingLicense" />
                                    <label for="@Model.CrMasUserContractValidityDrivingLicense">@localizer["CrMasUserContractValidityDrivingLicense"]</label>
                                </h4>
                            </li>
                        </ul>
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityRenterAddress ? "checked='checked'" : "") name="CrMasUserContractValidityRenterAddress" value="@Model.CrMasUserContractValidityRenterAddress" />
                                    <label for="@Model.CrMasUserContractValidityRenterAddress">@localizer["CrMasUserContractValidityRenterAddress"]</label>
                                </h4>
                            </li>
                        </ul>
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityEmployer ? "checked='checked'" : "") name="CrMasUserContractValidityEmployer" value="@Model.CrMasUserContractValidityEmployer" />
                                    <label for="@Model.CrMasUserContractValidityEmployer">@localizer["CrMasUserContractValidityEmployer"]</label>
                                </h4>
                            </li>
                        </ul>
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityAge ? "checked='checked'" : "") name="CrMasUserContractValidityAge" value="@Model.CrMasUserContractValidityAge" />
                                    <label for="@Model.CrMasUserContractValidityAge">@localizer["CrMasUserContractValidityAge"]</label>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mt-2">
                    <h4 style="font-size: 20px;">
                        <label for="Branches" class="mb-1">
                            @localizer["Contractss"]
                        </label>
                        <a class="plus-icon" onclick="showContracts()">
                            <i class="dripicons-plus"></i>
                        </a>
                    </h4>
                    <div id="Contracts" style="display: none;">
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityExtension ? "checked='checked'" : "") name="CrMasUserContractValidityCreate" value="@Model.CrMasUserContractValidityCreate" />
                                    <label for="@Model.CrMasUserContractValidityCreate">@localizer["CRMasUserContractValidityCreate"]</label>
                                </h4>
                            </li>
                        </ul>
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityExtension ? "checked='checked'" : "") name="CrMasUserContractValidityExtension" value="@Model.CrMasUserContractValidityExtension" />
                                    <label for="@Model.CrMasUserContractValidityExtension">@localizer["CrMasUserContractValidityExtension"]</label>
                                </h4>
                            </li>
                        </ul>
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityCancel ? "checked='checked'" : "") name="CrMasUserContractValidityCancel" value="@Model.CrMasUserContractValidityCancel" />
                                    <label for="@Model.CrMasUserContractValidityCancel">@localizer["CrMasUserContractValidityCancel"]</label>
                                </h4>
                            </li>
                        </ul>
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityEnd ? "checked='checked'" : "") name="CrMasUserContractValidityEnd" value="@Model.CrMasUserContractValidityEnd" />
                                    <label for="@Model.CrMasUserContractValidityEnd">@localizer["CrMasUserContractValidityEnd"]</label>
                                </h4>
                            </li>
                        </ul>
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <input type="checkbox" style="height: 15px;width: 30px;" @((bool)Model.CrMasUserContractValidityLessContractValue ? "checked='checked'" : "") name="CrMasUserContractValidityLessContractValue" value="@Model.CrMasUserContractValidityLessContractValue" />
                                    <label for="@Model.CrMasUserContractValidityLessContractValue">@localizer["CrMasUserContractValidityLessContractValue"]</label>
                                </h4>
                            </li>
                        </ul>
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <label for="@Model.CrMasUserContractValidityDiscountRate">@localizer["CrMasUserContractValidityDiscountRate"]</label>
                                    <input type="text" class="form-control" style="width: 80px; display: inline;margin-right: 37px;" asp-for="CrMasUserContractValidityDiscountRate" oninput="validateInput3Digit(this)" maxlength="5" />
                                </h4>
                            </li>
                        </ul>
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <label for="@Model.CrMasUserContractValidityKm">@localizer["CrMasUserContractValidityKm"]</label>
                                    <input type="text" class="form-control" style="width: 80px; display: inline;" asp-for="CrMasUserContractValidityKm" maxlength="3" />
                                </h4>
                            </li>
                        </ul>
                        <ul class="list mt-2" style="font-size: 17px;">
                            <li>
                                <h4 class="mb-1">
                                    <label for="@Model.CrMasUserContractValidityHour">@localizer["CrMasUserContractValidityHour"]</label>
                                    <input type="text" class="form-control" style="width: 80px; display: inline;" asp-for="CrMasUserContractValidityHour" maxlength="2" />
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="mt-3">
                <button class="btn btn-primary ms-2" type="submit" id="btn">@localizer["Save"]</button>
                <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="Employees" asp-action="EmployeeContractValiditions">
                    @localizer["Back"]
                </a>
            </div>

        </form>

    </div>
</div>
@section scripts {

    <script>
        function showContractValidition() {
            var list = document.getElementById("ContractsValiditions");
            var plusIcon = document.getElementById("plus-icon");
                if (list.style.display === "block") {
                    list.style.display = "none";
                } else {
                    list.style.display = "block";
                }
            checkbox.addEventListener("change", function () {
                showContractValidition();
            })
        }
        function showCarsDocuments() {
            var list = document.getElementById("CarsDocuments");
            var plusIcon = document.getElementById("plus-icon");
            if (list.style.display === "block") {
                list.style.display = "none";
            } else {
                list.style.display = "block";
            }
            checkbox.addEventListener("change", function () {
                showCarsDocuments();
            })
        }
        function showCarsFixed() {
            var list = document.getElementById("CarsFixed");
            var plusIcon = document.getElementById("plus-icon");
            if (list.style.display === "block") {
                list.style.display = "none";
            } else {
                list.style.display = "block";
            }
            checkbox.addEventListener("change", function () {
                showCarsFixed();
            })
        }
        function showRenterAndDriver() {
            var list = document.getElementById("RenterAndDriver");
            var plusIcon = document.getElementById("plus-icon");
            if (list.style.display === "block") {
                list.style.display = "none";
            } else {
                list.style.display = "block";
            }
            checkbox.addEventListener("change", function () {
                showRenterAndDriver();
            })
        }
        function showContracts() {
            var list = document.getElementById("Contracts");
            var plusIcon = document.getElementById("plus-icon");
            if (list.style.display === "block") {
                list.style.display = "none";
            } else {
                list.style.display = "block";
            }
            checkbox.addEventListener("change", function () {
                showContracts();
            })
        }

    </script>
    <script>
        $(document).ready(function () {
            var checkboxs = document.querySelectorAll("input[type='checkbox']")
            checkboxs.forEach(function (checkbox) {
                checkbox.checked = checkbox.checked !== null ? checkbox.checked : false;
            });
        });

        $(document).on("click", "[type='checkbox']", function (e) {
            if (this.checked) {
                $(this).attr("value", "true");
            } else {
                $(this).attr("value", "false");
            }
        });
       
    </script>
}