@model Bnan.Ui.ViewModels.Identitiy.RegisterViewModel

@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@{
    ViewData["Page-title"] = localizer["MyAccount Data"];
    ViewData["Page-Hint"] = localizer["MyAccount Hint"];
}
<style>
    .row {
        align-items: baseline;
    }

    #signaturePreview, #imagePreview {
        display: block;
        margin-top: -5px;
        float: right;
        margin-right: 20px;
        height: 100px;
        width: auto;
        object-fit: cover;
        border: .5px solid rgb(231, 231, 231);
        position: relative;
    }

    #spanInput {
        height: 35px;
    }

    .sub-container form .row > div:nth-child(odd):nth-child(-n+5), .sub-container-form form .row > div:nth-child(odd):nth-child(-n+5) {
        margin: 0;
    }

    .file-upload {
        background-color: #ffffff;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn {
        width: 200px;
        max-height: 200px;
        max-width: 200px;
        margin: 0;
        color: #fff;
        background: #727cf5;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #727cf5;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #5661e3;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

    /* .file-upload-btn:active {
                        border: 0;
                        transition: all .2s ease;
                    }*/

    .file-upload-content {
    }

    .file-upload-input-picture, .file-upload-input-signature {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 200px%;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        max-height: 200px;
        max-width: 200px;
        margin-top: 5px;
        border: 4px dashed rgb(231, 231, 231);
        position: relative;
        display: none;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: rgb(231, 231, 231);
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            padding: 60px 0;
        }

    .file-upload-image {
        height: 200px;
        max-width: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border: .5px solid rgb(231, 231, 231);
    }

    .remove-image {
        margin: 0;
        max-height: 200px;
        max-width: 200px;
        width: 100%;
        color: #fff;
        background: #fa5c7c;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #fa5c7c;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .remove-image:hover {
            background: #f35474;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

</style>
<title>@ViewData["Title"]</title>
<div class="sub-container-form">
    <form class="needs-validation" novalidate asp-area="CAS" asp-controller="Employees" asp-action="MyAccount" method="post" enctype="multipart/form-data">
        <div class="form-contain" style="position: relative">
            <div class="row mt-3">
                <div class="col-md-1">
                    <label class="form-label" for="UserCode">@localizer["User Code"]</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" asp-for="CrMasUserInformationCode" id="UserCode" readonly>
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                        </div>
                    </div>
                </div>
            </div>
            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
            {
                <div class="row mt-1">
                    <div class="col-md-1">
                        <label class="form-label" for="UserNameAr">@localizer["UserName"]</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="CrMasUserInformationArName" maxlength="100" width="50%" readonly>
                        <div style="margin-top:2px">
                            <div style="height: 1.0em">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-1">
                    <div class="col-md-1">
                        <label class="form-label" for="TasksArName">@localizer["TaskName"]</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="CrMasUserInformationTasksArName" maxlength="40" id="TasksArName" readonly>
                        <div style="margin-top:2px">
                            <div style="height: 1.0em">
                            </div>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="row mt-1">
                    <div class="col-md-1">
                        <label class="form-label" for="UserNameEn">@localizer["UserName"]</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="CrMasUserInformationEnName" id="UserNameEn" readonly>
                        <div style="margin-top:2px">
                            <div style="height: 1.0em">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-1">
                        <label class="form-label" for="TasksEnName">@localizer["TaskName"]</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="CrMasUserInformationTasksEnName" maxlength="40" id="TasksEnName" readonly>
                        <div style="margin-top:2px">
                            <div style="height: 1.0em">
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row mt-1">
                <div class="col-md-1">
                    <label class="form-label" for="CrMasUserInformationCreditLimit">@localizer["CreditLimit"]</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" style="width:155px" asp-for="CrMasUserInformationCreditLimit" id="CrMasUserInformationCreditLimit" readonly>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="CrMasUserInformationDefaultLanguage">@localizer["Language"]</label>
                </div>
                <div class="col-md-1" style="margin-right: 12px;">
                    <select class="form-select" asp-for="CrMasUserInformationDefaultLanguage" name="CrMasUserInformationDefaultLanguage">
                        <option value="Ar">Arabic</option>
                        <option value="En">English</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="UserPhone">@localizer["User Phone"]</label>
                </div>
                <div class="col-md-6">
                    <div class="row" style="margin-right: -12px;width:75%;">
                        <div class="col-md-4" style="margin-right: 12px;">
                            <input type="text" class="form-control" id="UserPhone" maxlength="20" asp-for="CrMasUserInformationMobileNo" data-val-required="@localizer["requiredFiled"]" data-val-minlength="@localizer["minLengthPhone"]" autocomplete="off" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                        </div>
                        <div class="col-md-2" style="margin-right: -23px;">
                            <select class="form-select" asp-for="CrMasUserInformationCallingKey" name="CrMasUserInformationCallingKey" style="width: 90px;">
                                @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeys"])
                                {
                                    <option value="@callingKey.Text" selected="@(callingKey.Text.Trim() == Model.CrMasUserInformationCallingKey ? "selected" : null)">@callingKey.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrMasUserInformationMobileNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-1">
                <div class="col-md-1">
                    <label class="form-label" for="Email">@localizer["Email"]</label>
                </div>
                <div class="col-md-4">
                    <input type="email" class="form-control" asp-for="CrMasUserInformationEmail" autocomplete="off" id="Email" style="margin-right: 12px;">
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrMasUserInformationEmail" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-4">
                    <div class="row">
                    <div class="col-md-3">
                        <label class="form-label" for="CrMasUserInformationCreditLimit">@localizer["RemindMe"]</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" style="width:155px;margin-right: 12px;" asp-for="CrMasUserInformationRemindMe" maxlength="50" id="CrMasUserInformationCreditLimit" autocomplete="off" data-val-required="@localizer["requiredFiled"]">
                        <div style="margin-top:2px">
                            <div style="height: 1.0em">
                                <span asp-validation-for="@Model.CrMasUserInformationRemindMe" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="row" style="margin-right: -84px;" id="timer">

                   <div class="col-md-2">
                        <label class="form-label" for="Email">@localizer["AutoLogout"]</label>
                    </div>
                    <div class="col-md-1">
                        <input type="number" class="form-control" asp-for="CrMasUserInformationExitTimer" style="margin-right: 12px;width:70px" autocomplete="off" id="ExitTimer" min="1" max="10"
                               oninput="if (this.value > 10) this.value = 10;"
                               onblur="if (this.value === '') this.value = 1;">
                    </div>
                </div>
                </div>
            </div>
            <div class="row" id="mediaQuer">
                <div class="col-md-3 mt-3">
                    <div class="file-upload">
                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input-picture').trigger('click')">@localizer["Picture"]</button>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input-picture" type="file" onchange="readURL(this, 'picture');" accept="image/*" id="UserImgFile" name="UserImgFile" />
                            <div class="drag-text">
                                <h3>@localizer["DragAndDrop"]</h3>
                            </div>
                        </div>
                        <div class="file-upload-content picture">
                            <img class="file-upload-image picture" src="@Url.Content(Model.CrMasUserInformationPicture?.ToString())" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="file-upload">
                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input-signature').trigger('click')">@localizer["Signture"]</button>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input-signature" type="file" onchange="readURL(this, 'signature');" accept="image/*" id="UserSignatureFile" name="UserSignatureFile" />
                            <div class="drag-text">
                                <h3>@localizer["DragAndDrop"]</h3>
                            </div>
                        </div>
                        <div class="file-upload-content signature">
                            <img class="file-upload-image signature" src="@Url.Content(Model.CrMasUserInformationSignature?.ToString())" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="mt-3">
@*             <button class="btn btn-primary ms-2" type="submit">@localizer["Save"]</button>
 *@            <a class="btn btn-primary ms-2" onclick="submitForm()" id="submit">@localizer["Save"]</a>

            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="Home" asp-action="Index">
                @localizer["Back"]
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function readURL(input, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var container = $(input).closest('.file-upload');
                    container.find('.file-upload-image.' + type).attr('src', e.target.result);
                    container.find('.file-upload-content.' + type).show();
                    container.find('.image-title.' + type).html(input.files[0].name);
                    container.find('.image-upload-wrap').hide();
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload(input);
            }
        }

        function removeUpload(button) {
            var container = $(button).closest('.file-upload');
            var type = container.find('.file-upload-content').hasClass('signature') ? 'signature' : 'picture';
            container.find('.file-upload-input-' + type).val('');
            container.find('.file-upload-image.' + type).attr('src', null)
            container.find('.file-upload-content.' + type).hide();
            container.find('.image-upload-wrap').show();
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $(this).addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $(this).removeClass('image-dropping');
        });

        function submitForm() {
            var form = document.querySelector("form");
            form.submit();
        }
    </script>
}