
@*
@using WhatsUp.Core.Extensions
@model Tuple<IEnumerable<CrMasSupRenterIdtype>, List<List<string>>>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}*@
@*
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <thead>
                <tr role="row">
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterIdTypeCode"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterIdTypeName"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Count"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.Item1)
                {
                    @if (item.CrMasSupRenterIdtypeStatus == @Status.Deleted || item.CrMasSupRenterIdtypeStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterIdType", new { id = item.CrMasSupRenterIdtypeCode })'" style="cursor:pointer;color:red">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrMasSupRenterIdtypeCode</td>
                            <td>@item.CrMasSupRenterIdtypeEnName</td>
                            <td id="_Nc">
                                @if (Model.Item2 != null)
                                {
                                    @foreach (var row in Model.Item2)
                                    {
                                        if (row[0] == @item.CrMasSupRenterIdtypeCode)
                                        {
                                            @row[1]
                                        }

                                    }
                                }
                            </td>
                            <td>

                                @if (@item.CrMasSupRenterIdtypeStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrMasSupRenterIdtypeStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterIdType", new { id = item.CrMasSupRenterIdtypeCode })'">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrMasSupRenterIdtypeCode</td>
                            <td>@item.CrMasSupRenterIdtypeEnName</td>
                            <td id="_Nc">
                                @if (Model.Item2 != null)
                                {
                                    @foreach (var row in Model.Item2)
                                    {
                                        if (row[0] == @item.CrMasSupRenterIdtypeCode)
                                        {
                                            @row[1]
                                        }

                                    }
                                }
                            </td>
                            <td>

                                @if (@item.CrMasSupRenterIdtypeStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}*@
@*else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterIdTypeCode"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterIdTypeName"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Count"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.Item1)
                {
                    @if (item.CrMasSupRenterIdtypeStatus == @Status.Deleted || item.CrMasSupRenterIdtypeStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterIdType", new { id = item.CrMasSupRenterIdtypeCode })'" style="cursor:pointer;color:red">
                            <td id="_Nc">&emsp; @no</td>
                            <td id="_Nc">&emsp; @item.CrMasSupRenterIdtypeCode</td>
                            <td>&emsp; @item.CrMasSupRenterIdtypeArName</td>
                            <td id="_Nc">
                                &emsp;
                                @if (Model.Item2 != null)
                                {
                                    @foreach (var row in Model.Item2)
                                    {
                                        if (row[0] == @item.CrMasSupRenterIdtypeCode)
                                        {
                                            @row[1]
                                        }

                                    }
                                }
                            </td>
                            <td>
                                &emsp;
                                @if (@item.CrMasSupRenterIdtypeStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrMasSupRenterIdtypeStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterIdType", new { id = item.CrMasSupRenterIdtypeCode })'">
                            <td id="_Nc">&emsp; @no</td>
                            <td id="_Nc">&emsp; @item.CrMasSupRenterIdtypeCode</td>
                            <td>&emsp; @item.CrMasSupRenterIdtypeArName</td>
                            <td id="_Nc">
                                &emsp;
                                @if (Model.Item2 != null)
                                {
                                    @foreach (var row in Model.Item2)
                                    {
                                        if (row[0] == @item.CrMasSupRenterIdtypeCode)
                                        {
                                            @row[1]
                                        }

                                    }
                                }
                            </td>
                            <td>
                                &emsp;
                                @if (@item.CrMasSupRenterIdtypeStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}*@