@model Bnan.Ui.ViewModels.Identitiy.LoginViewModel
@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var returnUrl = ViewData["returnUrl"];
}

<link rel="stylesheet" type="text/css" href="~/LoginAndSystems/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/LoginAndSystems/css/login.css">
@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    <link rel="stylesheet" type="text/css" href="~/LoginAndSystems/css/en-login-style.css">
}

<div class="limiter">
    <div class="navbar-div px-2">
        <nav class="navbar navbar-light">
            <a class="navbar-brand px-3">
                <div class="row d-flex navBrand-direction">
                    <img src="~/LoginAndSystems/images/logo 1.png" width="50" height="50" class="d-inline-block align-top" alt="">
                    <h1 class="mainTitle">@localizer["BnanCompany"]</h1>
                </div>
            </a>
            <div class="mode-btn">
                <label for="switch-mode">
                    @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                    {
                        <a asp-area="Identity" asp-controller="Account" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="ar-EG">
                            <p style="font-weight: 600;" class="Arabic"><i class="fa-solid fa-globe"></i>العربية</p>
                        </a>

                    }
                    else
                    {
                        <a asp-area="Identity" asp-controller="Account" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="en-US">
                            <p style="font-weight: 600;" class="english"><i class="fa-solid fa-globe"></i>English </p>
                        </a>
                    }
                </label>
            </div>

        </nav>
    </div>
    <div class="container-login">

        <div class="wrap-login d-flex align-items-center justify-content-center py-3">
            <div class="login-pic col-lg-5 text-center">
                <img src="~/LoginAndSystems/images/Rectangle 133.png" alt="IMG">
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <form class="login100-form validate-form" asp-action="Login" id="login-form">
                    <div class="input-label-div">
                        <label for="employee-number">@localizer["EmployeeNo"]</label>
                        <div class="wrap-input100 validate-input">
                            <input class="form-control input100" asp-for="UserName" type="username" id="employee-number" autocomplete="off" autofocus="true" onkeydown="transferFocus(event)">
                            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                            @Html.ValidationMessage("stat", null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-label-div">
                        <label for="password">@localizer["Password"]</label>
                        <div class="wrap-input100 validate-input">
                            <input type="password" asp-for="Password" name="password" id="password" class="form-control input100" autocomplete="off">
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            @Html.ValidationMessage("Hint", null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            @localizer["Login"]
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row w-100 align-items-center" style="flex-direction: row-reverse;">
            <div class="col-lg-10 d-flex text-white align-items-center ">
                <div class="col d-flex companyName" style="flex-direction: column ;align-items:flex-end">
                    <span>@localizer["FooterLogin1"]</span>
                    <span style="font-size: small;"> <span>©2020 </span>@localizer["FooterLogin2"]</span>
                </div>
                <img src="~/LoginAndSystems/images/C 1.png">
            </div>
            <div class="col-md-2 d-flex align-items-center" style="justify-content: space-evenly;">
                <a href="https://966530648535+/"><img src="~/LoginAndSystems/images/واتساب.png"></a>
                <a href="https://www.youtube.com/Ghyom0"><img src="~/LoginAndSystems/images/youtube.png"></a>
                <a href="#"><img src="~/LoginAndSystems/images/Rectangle 142.png"></a>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</div>
@section Scripts {
    <!---===============================================================================================-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginAndSystems/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginAndSystems/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="~/LoginAndSystems/js/main.js"></script>
    <script src="~/LoginAndSystems/js/login.js"></script>
    <script>
        function transferFocus(event) {
            if (event.keyCode === 13) {
                event.preventDefault();

                var secondInput = document.getElementById("password");
                secondInput.focus();
            }
        }
    </script>
}
@* <div class="limiter">
    <div class="navbar-div px-2">
        <nav class="navbar navbar-light">
            <a class="navbar-brand ">
                <div class="d-flex navBrand-direction">
                    <img src="~/LoginAndSystems/images/logo 1.png" width="50" height="50" class="d-inline-block align-top" alt="">
                    <h1>@localizer["BnanCompany"]</h1>
                </div>
            </a>
            <div class="mode-btn">
                <label for="switch-mode">
                    @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                    {
                        <a asp-area="Identity" asp-controller="Account" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="ar-EG">
                            <p style="font-weight: 600;" class="Arabic"> العربية <img src="~/LoginAndSystems/images/Group.png"> </p>
                        </a>

                    }
                    else
                    {
                        <a asp-area="Identity" asp-controller="Account" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="en-US">
                            <p style="font-weight: 600;" class="english"><img src="~/LoginAndSystems/images/Group.png"> English </p>
                        </a>
                    }
                </label>
            </div>

        </nav>
    </div>
    <div class="container-login">

        <div class="wrap-login">
            <div class="login-pic">
                <img src="~/LoginAndSystems/images/Rectangle 133.png" alt="IMG">
            </div>
            <div>
                <form class="login100-form validate-form" asp-action="Login" id="login-form">
                    <div class="input-label-div">
                        <label for="employee-number">@localizer["EmployeeNo"]</label>
                        <div class="wrap-input100 validate-input">
                            <input class="form-control input100" asp-for="UserName" type="username" id="employee-number" autocomplete="off">
                            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                            @Html.ValidationMessage("stat", null,  new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-label-div">
                        <label for="password">@localizer["Password"]</label>
                        <div class="wrap-input100 validate-input">
                            <input type="password" asp-for="Password" name="password" id="password" class="form-control input100" autocomplete="off">
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            @Html.ValidationMessage("Hint", null,  new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="d-flex align-items-center" style="gap: 5px;">
                        <input type="checkbox" value="lsRememberMe" id="rememberMe" name="rememberMe"> <label for="rememberMe"
                                                                                                              style="margin-bottom: 0px;">Remember me</label>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            @localizer["Login"]
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footerLogin" style="height:9%">
        <div class="row w-100 align-items-center" style="flex-direction: row-reverse;">
            <div class="col d-flex text-white align-items-center ">
                <div class="col d-flex" style="flex-direction: column ;align-items:flex-end">
                    <span>@localizer["FooterLogin1"]</span>
                    <span style="font-size: small;"> <span>©2020 </span>@localizer["FooterLogin2"] </span>
                </div>
                <img src="~/LoginAndSystems/images/C 1.png">
            </div>
            <div class="col-2 d-flex align-items-center" style="justify-content: space-evenly;">
                <a href="https://966530648535+/"><img src="~/LoginAndSystems/images/واتساب.png"></a>
                <a href="https://www.youtube.com/Ghyom0"><img src="~/LoginAndSystems/images/youtube.png"></a>
                <a href="#"><img src="~/LoginAndSystems/images/Rectangle 142.png"></a>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</div> *@



