@using Bnan.Core.Extensions;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@inject UserManager<CrMasUserInformation> userManager
@inject SignInManager<CrMasUserInformation> signinManager
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var user = await userManager.GetUserAsync(User);
    var lessorInfo = await userManager.Users.Include(l => l.CrMasUserInformationLessorNavigation).ThenInclude(l => l.CrMasLessorImage).FirstOrDefaultAsync(x => x.UserName == user.UserName);
    var lessorCompanyContract = await userManager.Users.Include(l => l.CrMasUserInformationLessorNavigation).ThenInclude(l => l.CrMasContractCompanies).FirstOrDefaultAsync(x => x.UserName == user.UserName);
    var userInfo = await userManager.Users
          .Include(l => l.CrMasUserMainValidations)
          .Include(l => l.CrMasUserSubValidations)
          .Include(l => l.CrMasUserInformationLessorNavigation)
          .FirstOrDefaultAsync(l => l.UserName == user.UserName);
    string url = Context.Request.Path;
    string urlhost = Context.Request.Host.Value;
    string full = urlhost + url;
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var returnUrl = ViewData["returnUrl"];
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/LoginAndSystems/css/systems.css">
@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    <link rel="stylesheet" type="text/css" href="~/LoginAndSystems/css/en-systems-style.css">
}
<div class="navbar-div px-lg-5 px-3">
    <nav class="navbar">
        <div class="col-12 col-lg-9 brand">
            <a class="navbar-brand">
                <div class="row align-items-end flex-row-reverse mx-2">
                    <div class="col-auto">
                        @if (lessorInfo?.CrMasUserInformationLessorNavigation?.CrMasLessorImage?.CrMasLessorImageLogo != null)
                        {
                            <img src="@Url.Content(lessorInfo?.CrMasUserInformationLessorNavigation?.CrMasLessorImage?.CrMasLessorImageLogo)" class="d-inline-block align-top logo" alt="logo-image">
                        }
                    </div>
                    <div class="col">
                        @if (signinManager.IsSignedIn(User))
                        {
                            @if (requestCulture.RequestCulture.UICulture.Name != "en-US")
                            {
                                <h1>@lessorInfo.CrMasUserInformationLessorNavigation?.CrMasLessorInformationArLongName</h1>
                            }
                            else
                            {
                                <h1>@lessorInfo.CrMasUserInformationLessorNavigation?.CrMasLessorInformationEnLongName</h1>
                            }
                        }
                    </div>

                </div>
            </a>
        </div>
        <div class="col">
            <div class="mode-btn">
                <label for="switch-mode">
                    @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                    {
                        <a asp-area="Identity" asp-controller="Account" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="ar-EG">
                            <p style="font-weight: 600;" class="Arabic"> <i class="fa-solid fa-globe"></i> العربية</p>
                        </a>

                    }
                    else
                    {
                        <a asp-area="Identity" asp-controller="Account" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="en-US">
                            <p style="font-weight: 600;" class="english"><i class="fa-solid fa-globe"></i> English </p>
                        </a>
                    }
                </label>
            </div>
            <a asp-action="Logout" asp-area="Identity" asp-controller="Account" class="exit"><img src="~/LoginAndSystems/images/Group 1.png"></a>
        </div>
    </nav>
</div>
<div class="wrapper flex-grow-1 d-flex align-items-center ">
    <div class="limiter">

        <div class="container">
            <div class="row px-4">
                <div class="col-md-12 text-end">
                    <!-- <p>مرحبًا،<span> محمد عبدالله </span></p> -->
                </div>

            </div>
        </div>
        <div class="container container-Systems">
            <div class="row g-3  card-row w-75 justify-content-center">
                @if (user.CrMasUserInformationAuthorizationOwner == true)
                {
                    <div class="col-md-4 card1">
                        <div class="system-card">
                            <a href="#">
                                <div class="card-content" style="overflow:hidden;">
                                    <div class="img-hover-zoom">
                                        <img class="w-100" src="~/LoginAndSystems/images/Rectangle 136 (1).png" alt="iamge for owners card">
                                    </div>
                                    <div class="card-name1 row p-3 card-content-text ">
                                        <div class="col-auto">
                                            <p class="owners">@localizer["Owner"]</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                @if (user.CrMasUserInformationAuthorizationBranch == true)
                {
                    <div class="col-md-4 card2">
                        <div class="system-card">
                            <a asp-area="BS" asp-controller="Home" asp-action="Index">
                                <div class="card-content" style="overflow:hidden;">
                                    <img class="w-100" src='~/LoginAndSystems/images/branch.png'  alt="iamge for branches card" />
                                    <div class="card-name2 row p-3 card-content-text">
                                        <div class="col-auto">
                                            <p class="branches">@localizer["Branches"]</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                @if (user.CrMasUserInformationAuthorizationAdmin == true)
                {
                    <div class="col-md-4 card3">
                        <div class="system-card">
                            <a asp-area="CAS" asp-controller="Home" asp-action="index">
                                <div class="card-content" style="overflow:hidden;">
                                    <div class="img-hover-zoom">
                                        <img class="w-100" src="~/LoginAndSystems/images/management.png" alt="iamge for Administration card">
                                    </div>
                                    <div class="card-name3 row p-3 card-content-text ">
                                        <div class="col-auto">
                                            <p class="Administration">@localizer["CasSystem"]</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>
 <partial name="_ExpirationModalSystems" />
 <!-- Footer -->
<footer>
    <div class="before-footer-widget">
        <svg width: 100%; viewbox="0 0 2444 132">
            <path fill="rgba(254, 248, 232, 1)" fill-rule="evenodd"
                  d="M1222 0h1222c-444.13 88-852.127 132-1223.993 132C849.253 132 442.585 88.263 0 .789V0h1222z">
            </path>
        </svg>

    </div>
</footer>

<!-- Footer-->

@* <div class="limiter">
    <div class="navbar-div px-2">
        <nav class="navbar">
            <div class="col brand">
                <a class="navbar-brand">
                    <h1>
                        @if (signinManager.IsSignedIn(User))
                        {
                            @if (requestCulture.RequestCulture.UICulture.Name != "en-US")
                            {
                                @Html.Raw(lessorInfo.CrMasUserInformationLessorNavigation?.CrMasLessorInformationArLongName)
                            }
                            else
                            {
                                @Html.Raw(lessorInfo.CrMasUserInformationLessorNavigation?.CrMasLessorInformationEnLongName)
                            }
                        }
                    </h1>
                    @if (lessorInfo?.CrMasUserInformationLessorNavigation?.CrMasLessorImage?.CrMasLessorImageLogo != null)
                    {
                        <img src="@Url.Content(lessorInfo?.CrMasUserInformationLessorNavigation?.CrMasLessorImage?.CrMasLessorImageLogo)" style="height:46px" class="d-inline-block align-top" alt="logo-image">
                    }
                </a>
            </div>
            <div class="col">
                <div class="mode-btn">
                    <label for="switch-mode">
                        @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                        {
                            <a asp-area="Identity" asp-controller="Account" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="ar-EG">
                                <p style="font-weight: 600;" class="Arabic"> العربية <img src="~/LoginAndSystems/images/Group.png"> </p>
                            </a>

                        }
                        else
                        {
                            <a asp-area="Identity" asp-controller="Account" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="en-US">
                                <p style="font-weight: 600;" class="english"><img src="~/LoginAndSystems/images/Group.png"> English </p>
                            </a>
                        }
                    </label>
                </div>
                <a asp-action="Logout" asp-area="Identity" asp-controller="Account" class="exit"><img src="~/LoginAndSystems/images/Group 1.png"></a>
            </div>
        </nav>
    </div>
    <div class="container container-Systems">
        @if (lessorInfo.CrMasUserInformationLessorNavigation.CrMasLessorInformationStatus==Status.Hold)
        {
            <div class="row" style="justify-content: center;width: 85%;">
                <p>
                    <span style="color:red;font-weight:600">
                        @localizer["CompanyIsHoldInSystems"]
                    </span>
                </p>
            </div>
        }
        else if (user.CrMasUserInformationStatus == Status.Hold)
        {
            <div class=" d-flex align-items-center on-mobile" style="color:red; font-weight:bold;font-size:14px;margin-top: 3%;">
                @localizer["EmployeeHoldedInBS"]
            </div>
        }
        else if (lessorCompanyContract?.CrMasUserInformationLessorNavigation?.CrMasContractCompanies.LastOrDefault(x => x.CrMasContractCompanyLessor == lessorInfo.CrMasUserInformationLessor && x.CrMasContractCompanyProcedures == "112")?.CrMasContractCompanyStatus == Status.Renewed)
        {
            <div class="row" style="justify-content: center;width: 85%;">
                <p>
                    <span style="color:red;font-weight:600">
                        @localizer["ContractNewDanger"]
                    </span>
                </p>
            </div>
        }
        else if (lessorCompanyContract?.CrMasUserInformationLessorNavigation?.CrMasContractCompanies.LastOrDefault(x => x.CrMasContractCompanyLessor == lessorInfo.CrMasUserInformationLessor && x.CrMasContractCompanyProcedures == "112")?.CrMasContractCompanyStatus == Status.Expire)
        {
            <div class="row" style="justify-content: center;width: 85%;">
                <p>
                    <span style="color:red;font-weight:600">
                        @localizer["ContractExpireDanger"]
                    </span>
                </p>
            </div>
        }
        else if (lessorCompanyContract?.CrMasUserInformationLessorNavigation?.CrMasContractCompanies.LastOrDefault(x => x.CrMasContractCompanyLessor == lessorInfo.CrMasUserInformationLessor && x.CrMasContractCompanyProcedures == "112")?.CrMasContractCompanyStatus == Status.AboutToExpire)
        {
            <div class="row" style="justify-content: center;width: 85%;">
                <p>
                    <span style="color:red;font-weight:600">
                        @localizer["ContractAboutExpireDanger"]
                    </span>
                </p>
            </div>
        }
        <div class="row pb-4">
            @if (user.CrMasUserInformationAuthorizationOwner == true)
            {
                <div class="col">
                    <div class="system-card">
                        <a href="#">
                            <div class="card-content" style="overflow:hidden;">
                                <div class="img-hover-zoom">
                                    <img class="w-100" src="~/LoginAndSystems/images/Rectangle 136 (1).png" alt="iamge for owners card">
                                </div>
                                <div class="card-name1 row p-3 card-content-text ">
                                    <div class="col-auto">
                                        <p class="owners">@localizer["Owner"]</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
            @if (user.CrMasUserInformationAuthorizationBranch == true)
            {
                <div class="col">
                    <div class="system-card">
                        <a asp-area="BS" asp-controller="Home" asp-action="Index">
                            <div class="card-content" style="overflow:hidden;">
                                <img class="w-100" src='~/LoginAndSystems/images/branch.png' alt="iamge for branches card" />
                                <div class="card-name2 row p-3 card-content-text">
                                    <div class="col-auto">
                                        <p class="branches">@localizer["Branches"]</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
            @if (user.CrMasUserInformationAuthorizationAdmin == true)
            {
                <div class="col">
                    <div class="system-card">
                        <a asp-area="CAS" asp-controller="Home" asp-action="index">
                            <div class="card-content" style="overflow:hidden;">
                                <div class="img-hover-zoom">
                                    <img class="w-100" src="~/LoginAndSystems/images/management.png" alt="iamge for Administration card">
                                </div>
                                <div class="card-name3 row p-3 card-content-text ">
                                    <div class="col-auto">
                                        <p class="Administration">@localizer["CasSystem"] </p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Footer -->
    <partial name="_ExpirationModalSystems" />
    <footer>
        <div class="before-footer-widget">
            <svg width: 100%; viewbox="0 0 2444 132">
                <path fill="rgba(254, 248, 232, 1)" fill-rule="evenodd"
                      d="M1222 0h1222c-444.13 88-852.127 132-1223.993 132C849.253 132 442.585 88.263 0 .789V0h1222z">
                </path>
            </svg>

        </div>
    </footer>
</div> *@
@section Scripts {
    <!---===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>

    <!--link to make javascript function operate-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!--makes bootsrab animation works-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!--===============================================================================================-->
    <!--===============================================================================================-->

    <script>
        @*Expireation pop up modal*@
            // $(document).ready(function () {
            //     // Set an initial timeout of 60 seconds (in milliseconds)
            //     var exitUser = "@user.CrMasUserInformationExitTimer";
            //     let timeout = parseInt(exitUser) * 60 * 1000;
            //     let timer;
            //     console.log(exitUser)
            //     // Function to start the countdown
            //     function startCountdown() {
            //         timer = setInterval(updateCountdown, 1000);
            //     }
            //     function clearCountdown() {
            //         clearInterval(timer);
            //     }

            //     // Function to update the countdown display
            //     function updateCountdown() {
            //         let countdownElem = $('#countdown');
            //         let timeLeft = parseInt(countdownElem.text());

            //         if (timeLeft > 1) {
            //             countdownElem.text(timeLeft - 1);
            //         } else {
            //             clearInterval(timer);
            //             logout();
            //         }
            //     }

            //     // Function to logout the user
            //     function logout() {
            //         $.ajax({
            //             type: "GET",
            //             url: "@Url.Action("Logout", "Account", new { Area = "Identity" })",
            //             success: function (response) {
            //                 window.location.href = "@Url.Action("Index", "Account", new { Area = "Identity" })";
            //             },
            //         })
            //     }

            //     // Add event listener to detect no activity
            //     let idleTimeout = null;

            //     $(document).on('click keydown mousemove', function () {
            //         clearTimeout(idleTimeout);
            //         idleTimeout = setTimeout(function () {
            //             if ($('#popup').is(':visible')) {
            //                 return; // Popup already displayed, so ignore this event
            //             }

            //             $('#popup').modal("show");
            //             startCountdown();
            //         }, timeout);
            //     });

            //     // Add event listener to continue button
            //     $('#continueBtn').click(function () {
            //         $('#countdown').text("60");
            //         clearCountdown();
            //         clearTimeout(idleTimeout);
            //         $('#popup').modal("hide");
            //     });

            //     // Add event listener to logout button
            //     $('#logoutBtn').click(function () {
            //         clearTimeout(idleTimeout);
            //         logout();
            //     });
            // });
            $(document).ready(function () {
                // Set an initial timeout of 60 seconds (in milliseconds)
                var exitUser = "@user.CrMasUserInformationExitTimer";
                let timeout = parseInt(exitUser) * 60 * 1000;
                let timer;

                // Function to start the countdown
                function startCountdown() {
                    timer = setInterval(updateCountdown, 1000);
                }
                function clearCountdown() {
                    clearInterval(timer);
                }

                // Function to update the countdown display
                function updateCountdown() {
                    let countdownElem = $('#countdown');
                    let timeLeft = parseInt(countdownElem.text());

                    if (timeLeft > 1) {
                        countdownElem.text(timeLeft - 1);
                    } else {
                        clearInterval(timer);
                        logout();
                    }
                }

                // Function to logout the user
                function logout() {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("Logout", "Account", new { Area = "Identity" })",
                        success: function (response) {
                            window.location.href = "@Url.Action("Index", "Account", new { Area = "Identity" })";
                        },
                    })
                }

                // Add event listener to detect no activity
                let idleTimeout = null;

                $(document).on('click', function () {
                    $('#countdown').text("60");
                    clearCountdown();
                    clearTimeout(idleTimeout);
                    $('#popup').modal("hide");
                    updateLastAction();
                    idleTimeout = setTimeout(function () {
                        if ($('#popup').is(':visible')) {
                            return; // Popup already displayed, so ignore this event
                        }

                        $('#popup').modal("show");
                        startCountdown();
                    }, timeout);
                });
                $(document).on('mousemove', function () {
                    // $('#countdown').text("60");
                    // clearCountdown();
                    clearTimeout(idleTimeout);
                    // $('#popup').modal("hide");
                    idleTimeout = setTimeout(function () {
                        if ($('#popup').is(':visible')) {
                            return; // Popup already displayed, so ignore this event
                        }
                        $('#popup').modal("show");
                        startCountdown();
                    }, timeout);
                });

                // Add event listener to continue button
                $('#continueBtn').click(function () {
                    $('#countdown').text("60");
                    clearCountdown();
                    clearTimeout(idleTimeout);
                    $('#popup').modal("hide");
                });

                // Add event listener to logout button
                $('#logoutBtn').click(function () {
                    clearTimeout(idleTimeout);
                    logout();
                });
                // Function to update last action date in the database
                function updateLastAction() {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("UpdateLastActionDate", "Account", new { Area = "Identity" })",
                        success: function (response) {
                            // Handle success
                            console.log(response)
                        },
                        error: function (xhr, status, error) {
                            // Handle error
                        }
                    });
                }

            });
    </script>
}
