

@using Bnan.Ui.ViewModels.MAS
@using Bnan.Core.Extensions
@model Bnan.Ui.ViewModels.MAS.CarCategoryVM

@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@{
    ViewData["Page-title"] = localizer["Edit Categorys Data"];
    ViewData["Page-Hint"] = localizer["Edit Categorys Hint"];
}

<title>@ViewData["Title"]</title>

<style>
    .row {
        align-items: center;
    }

    #signaturePreview, #imagePreview {
        display: block;
        margin-top: -5px;
        float: right;
        margin-right: 20px;
        height: 100px;
        width: auto;
        object-fit: cover;
        border: .5px solid rgb(231, 231, 231);
        position: relative;
    }

    #spanInput {
        height: 35px;
    }

    .sub-container form .row > div:nth-child(odd):nth-child(-n+5), .sub-container-form form .row > div:nth-child(odd):nth-child(-n+5) {
        margin: 0;
    }

    .file-upload {
        background-color: #ffffff;
        width: 200px;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn, .file-upload-btn2, .file-upload-btn3 {
        width: 200px;
        max-height: 200px;
        max-width: 200px;
        margin: 0;
        color: #fff;
        background: #727cf5;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #727cf5;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #5661e3;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

    /* .file-upload-btn:active {
                        border: 0;
                        transition: all .2s ease;
                    }*/

    .file-upload-content {
    }

    .file-upload-input-picture1, .file-upload-input-signature, .file-upload-input-picture2, .file-upload-input-picture3 {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        max-height: 200px;
        max-width: 200px;
        width: 200px;
        margin-top: 5px;
        border: 4px dashed rgb(231, 231, 231);
        position: relative;
        display: none;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: rgb(231, 231, 231);
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            padding: 60px 0;
        }

    .file-upload-image {
        height: 200px;
        max-width: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border: .5px solid rgb(231, 231, 231);
    }

    .remove-image {
        margin: 0;
        max-height: 200px;
        max-width: 200px;
        width: 200px;
        color: #fff;
        background: #fa5c7c;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #fa5c7c;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .remove-image:hover {
            background: #f35474;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }


</style>
@* 
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
 *@

@* @ViewBag.CarCategorys_Count
 *@
<div class="sub-container-form">
    <form class="needs-validation" novalidate asp-area="MAS" asp-controller="CarCategory" asp-action="Edit" method="post" enctype="multipart/form-data">
        @* <div class="form-contain"> //to make Scroll *@ 
            @*CarCategory Code*@
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="form-label" for="CarCategoryCode">@localizer["CarCategoryCode"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasSupCarCategoryCode" id="CarCategoryCode" maxlength="100" width="80%" readonly />
                    <input type="text" class="form-control" asp-for="CrMasSupCarCategoryStatus" id="CarCategoryStatus" maxlength="100" width="80%" hidden />
                    <input type="text" class="form-control" asp-for="CrMasSupCarCategoryEnName" id="CrMasSupCarCategoryEnName" maxlength="100" width="80%" hidden />
                    <input type="text" class="form-control" asp-for="CrMasSupCarCategoryArName" id="CrMasSupCarCategoryArName" maxlength="100" width="80%" hidden />
                    <input type="text" class="form-control" asp-for="CrMasSupCarCategoryGroup" id="CrMasSupCarCategoryGroup" maxlength="100" width="80%" hidden />
                @* <input type="text" class="form-control" asp-for="CrMasSupCarCategoryImage" id="CrMasSupCarCategoryAcceptImage" maxlength="100" width="80%" hidden /> *@

                </div>
            </div>

            @* @if (requestCulture.RequestCulture.UICulture.Name != "en-US") *@
            
                @*CarCategory name arabic*@
                <div class="row mt-2">
                    <div class="col-md-2">
                        <label class="form-label" for="CarCategoryNameAr">@localizer["CarCategoryNameAr"]</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="CrMasSupCarCategoryArName" id="CarCategoryNameAr" maxlength="50" width="80%" data-val-required="@localizer["requiredFiled"]" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" readonly />
                        <div style="margin-top:2px">
                            <div style="height: 1.0em">
                                <span asp-validation-for="@Model.CrMasSupCarCategoryArName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @*CarCategory name English*@
                <div class="row mt-2">
                    <div class="col-md-2">
                        <label class="form-label" for="CarCategoryNameEn">@localizer["CarCategoryNameEn"]</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="CrMasSupCarCategoryEnName" data-val-required="@localizer["requiredFiled"]" maxlength="50" id="CarCategoryNameEn" width="80%" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')" readonly />
                        <div style="margin-top:2px">
                            <div style="height: 1.0em">
                                <span asp-validation-for="@Model.CrMasSupCarCategoryEnName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            
            @*reasons*@
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="form-label" for="Reasons">@localizer["reasons"]</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" asp-for="CrMasSupCarCategoryReasons" maxlength="100" id="CarCategoryReasons" width="80%" autocomplete="off">
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrMasSupCarCategoryReasons" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

        @* </div> *@

        @Html.ValidationMessage("NoCHanged", null, new { @class = "text-danger" })

        <div class="mt-4" id="buttonContainer">

            <button type="submit" id="saveEdit" class="btn btn-primary ms-1">@localizer["Save"]</button>

            @if (Model.CrMasSupCarCategoryStatus == "A")
            {
                <a type="button" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.Hold" data-bs-targett="#centermodalhold">
                    @localizer["Hold"]
                </a>
                <a type="button" id="DeleteButton" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.Deleted" data-bs-targett="#centermodalDelete">
                    @localizer["Delete"]
                </a>
            }
            else if (Model.CrMasSupCarCategoryStatus == "H")
            {
                <a type="button" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.UnHold" data-bs-targett="#centermodalRHold">
                    @localizer["ReactiveHold"]
                </a>
                <a type="button" id="DeleteButton" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.Deleted" data-bs-targett="#centermodalDelete">
                    @localizer["Delete"]
                </a>
            }
            else if (Model.CrMasSupCarCategoryStatus == "D")
            {
                <a type="button" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.Hold" data-bs-targett="#centermodalhold">
                    @localizer["Hold"]
                </a>
                <a type="button" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.UnDeleted" data-bs-targett="#centermodalRDelete">
                    @localizer["ReactiveDelete"]
                </a>
            }

            <a type="button" class="btn btn-danger ms-2" asp-area="MAS" asp-controller="CarCategory" asp-action="Index">
                @localizer["Back"]
            </a>
         </div> 
    </form>
</div>


<!-- MOdel-->
<!-- Reactive Hold CarCategory MOdel-->
<div class="modal fade" id="centermodalRHold" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                    <h4>@localizer["SureToRetriveHold"]</h4>
                    <p>@localizer["HintSureToRetriveHCarCategory"]</p>               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                <button type="button" id="retriveUserButtonH" class="btn btn-primary">@localizer["Okay"]</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Reactive Delete CarCategory MOdel-->
<div class="modal fade" id="centermodalRDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                    <h4>@localizer["SureToRetriveDelete"]</h4>
                    <p>@localizer["HintSureToRetriveDCarCategory"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                <button type="button" id="retriveUserButtonD" class="btn btn-primary">@localizer["Okay"]</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Delete CarCategory Modal-->
<div class="modal fade" id="centermodalDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        

            
                @if (ViewBag.CarCategorys_Count == 0 || ViewBag.CarCategorys_Count == '0')
                {
            <div class="modal-content">
                <div class="modal-body">
                    <h4>@localizer["SureTodelete"]</h4>
                    <p> @localizer["HintSureTodeleteCarCategory"]</p>
                
                </div>
                <div class="modal-footer">
                
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                    <button type="button" id="deleteUserButton" class="btn btn-primary">@localizer["Okay"]</button>
                </div>
            </div>

            <!-- /.modal-content -->
                } 
        
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Hold CarCategory MOdel-->
<div class="modal fade" id="centermodalhold" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <h4>@localizer["SureToHold"]</h4>
                <p> @localizer["HintSureToHoldCarCategory"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                <button type="button" id="holdUserButton" class="btn btn-primary">@localizer["Okay"]</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<input hidden value=@ViewBag.CarCategorys_Count id="CC_id" />
<input hidden value=@localizer["toastPostion"] id="tostPose_id" />
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function updateCarCategoryStatus(status) {
            var code = document.getElementById("CarCategoryCode").value;
            $.ajax({
                type: "POST",
                url: "/MAS/CarCategory/EditStatus",
                data: { status: status, code: code },
                success: function (result) {
                    $('.modal').modal('hide');
                    window.location.href = "/MAS/CarCategory/Index";
                    console.log(result);

                },
                error: function (error) {
                    console.log(error);
                }
            });

        }

        // Event listener for delete Lessor button
        $('#deleteUserButton').click(function () {
            updateCarCategoryStatus('D');
        });

        // Event listener for hold Lessor button
        $('#holdUserButton').click(function () {
            updateCarCategoryStatus('H');
        });

        // Event listener for retrieve Lessor button
        $('#retriveUserButtonD').click(function () {
            updateCarCategoryStatus('Reactivate');
        });

        $('#retriveUserButtonH').click(function () {
            updateCarCategoryStatus('Reactivate');
        });

        $("#buttonContainer a").on("click", function (event) {
            var status = $(this).attr("data-error")
            var Modal = $(this).attr("data-bs-targett")
            CheckValidation('1107006', status).done(function (data) {
                if (data) $(Modal).modal('show');
            });
        })

        $("#saveEdit").on("click", function (event) {
            event.preventDefault();
            CheckValidation('1107006', '@Status.Insert').done(function (data) {
                if (data) {
                    $('form').submit();
                }
            });
        })
    </script>
    <script>
        function validateInput(event, inId, InEr, No) {
            event.target.value = event.target.value.replace(/[^0-9]/g, '');

            const inputElement = document.getElementById(inId);
            const errorMessageElement = document.getElementById(InEr);

            const inputValue = inputElement.value;
            const isValid = inputValue.startsWith(No);

            if (!isValid) {
                errorMessageElement.textContent = errorMessageElement.getAttribute('data-val-err');
                inputElement.value = "";
            } else {
                errorMessageElement.textContent = '';
            }
        }

    </script>

    <script>
        var cultureInfo_ = '@System.Globalization.CultureInfo.CurrentCulture.Name'; // OK Done OK OK

        $('#DeleteButton').click(function () {
            let cc = '@ViewBag.CarCategorys_Count';
            console.log(cc);
            console.log(cultureInfo_);
            if (cc != 0 && cc != '0') {
                if (cultureInfo_ == "en-US") {
                    console.log(cc);
                    toastr.options.timeOut = 7000; // 7s
                    toastr.options.positionClass = 'toast-top-right';
                    toastr.error("Sorry You Can't Delete this");
                }
                //else if (cultureInfo_ == "ar-EG") {
                else {
                    console.log(cc);
                    toastr.options.timeOut = 7000; // 7s
                    toastr.options.positionClass = 'toast-top-left';
                    toastr.error("للأسف لا تستطيع حذفه");
                }
            }
        });

    </script>
}



