@using Bnan.Core.Extensions
@model IEnumerable<CrMasContractCompany>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}


@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["CompanyContractNo"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["LessorName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["ContractCompanyActivation"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Date"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["StartDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["EndDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasContractCompanyStatus == @Status.Renewed || item.CrMasContractCompanyStatus == @Status.AboutToExpire ||
                   item.CrMasContractCompanyStatus == @Status.Expire || item.CrMasContractCompanyStatus == @Status.Deleted)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrMasContractCompanyNo</td>
                            <td>@item.CrMasContractCompanyLessorNavigation.CrMasLessorInformationArLongName</td>
                            <td>
                                @if (item.CrMasContractCompanyActivation == "1")
                                {
                                    @localizer["Subscribtion"]
                                }
                                else if (item.CrMasContractCompanyActivation == "2")
                                {
                                    @localizer["Value"]
                                }
                                else if (item.CrMasContractCompanyActivation == "3")
                                {
                                    @localizer["Rate"]
                                }
                            </td>
                            <td>@item.CrMasContractCompanyDate?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</td>
                            <td>@item.CrMasContractCompanyStartDate?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</td>
                            <td>@item.CrMasContractCompanyEndDate?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</td>
                            <td>
                                @if (@item.CrMasContractCompanyStatus == @Status.Renewed)
                                {
                                    @localizer["NotRegister"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.AboutToExpire)
                                {
                                    @localizer["OnExpired"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">
                            <td>@no</td>
                            <td>@item.CrMasContractCompanyNo</td>
                            <td>@item.CrMasContractCompanyLessorNavigation.CrMasLessorInformationArLongName</td>
                            <td>
                                @if (item.CrMasContractCompanyActivation == "1")
                                {
                                    @localizer["Subscribtion"]
                                }
                                else if (item.CrMasContractCompanyActivation == "2")
                                {
                                    @localizer["Value"]
                                }
                                else if (item.CrMasContractCompanyActivation == "3")
                                {
                                    @localizer["Rate"]
                                }
                            </td>
                            <td>@item.CrMasContractCompanyDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrMasContractCompanyStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrMasContractCompanyEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (@item.CrMasContractCompanyStatus == @Status.Active)
                                {
                                    @localizer["CActive"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["CompanyContractNo"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["LessorName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["ContractCompanyActivation"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Date"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["StartDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["EndDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrMasContractCompanyStatus == @Status.Renewed || item.CrMasContractCompanyStatus == @Status.AboutToExpire ||
                   item.CrMasContractCompanyStatus == @Status.Expire || item.CrMasContractCompanyStatus == @Status.Deleted)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrMasContractCompanyNo</td>
                            <td>@item.CrMasContractCompanyLessorNavigation.CrMasLessorInformationArLongName</td>
                            <td>
                                @if (item.CrMasContractCompanyActivation == "1")
                                {
                                    @localizer["Subscribtion"]
                                }
                                else if (item.CrMasContractCompanyActivation == "2")
                                {
                                    @localizer["Value"]
                                }
                                else if (item.CrMasContractCompanyActivation == "3")
                                {
                                    @localizer["Rate"]
                                }
                            </td>
                            <td>@item.CrMasContractCompanyDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrMasContractCompanyStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrMasContractCompanyEndDate?.ToString("dd/MM/yyyy")</td>

                            <td>
                                @if (@item.CrMasContractCompanyStatus == @Status.Renewed)
                                {
                                    @localizer["NotRegister"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.AboutToExpire)
                                {
                                    @localizer["OnExpired"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else if (@item.CrMasContractCompanyStatus == @Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "CompanyContracts", new { id = item.CrMasContractCompanyNo })'">
                            <td>@no</td>
                            <td>@item.CrMasContractCompanyNo</td>
                            <td>@item.CrMasContractCompanyLessorNavigation.CrMasLessorInformationArLongName</td>
                            <td>
                                @if (item.CrMasContractCompanyActivation == "1")
                                {
                                    @localizer["Subscribtion"]
                                }
                                else if (item.CrMasContractCompanyActivation == "2")
                                {
                                    @localizer["Value"]
                                }
                                else if (item.CrMasContractCompanyActivation == "3")
                                {
                                    @localizer["Rate"]
                                }
                            </td>
                            <td>@item.CrMasContractCompanyDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrMasContractCompanyStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrMasContractCompanyEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (@item.CrMasContractCompanyStatus == @Status.Active)
                                {
                                    @localizer["CActive"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
