

@using Bnan.Core.Extensions
@model List<CrMasUserLogin>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    @* <div class="col-sm-12"> *@
    @* <div style="overflow-y: scroll;overflow-x: scroll; "> *@
    @* <div style="width:150;height: 300px "> *@
        @* For-scrolling *@
    <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;margin: 0 auto;width:100%; ">
            <thead>
                <tr>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["UserLoginDateTime"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserLoginConcate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserLoginName"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                
                    {
                        @* <tr onclick="location.href='@Url.Action("Edit", "UserLogin", new { id = item.CrMasUserLoginsCode })'" style="cursor:pointer;color:red"> *@
                    <tr style="cursor:pointer;color:black">
                        <td id="_Nc">@item.CrMasUserLoginNo</td>
                        <td id="_Nc">@item.CrMasUserLoginEntryDate?.ToString("yyyy/MM/dd") - @item.CrMasUserLoginEntryTime</td>
                        <td>@item.CrMasUserLoginConcatenateOperationEnDescription</td>
                        <td>@item.CrMasUserLoginUserNavigation.CrMasUserInformationEnName</td>
   
                    </tr>

                    no++;
                }
            </tbody>
        </table>
            @* </div> *@
        @* </div> *@
    @* </div> *@
}
else
{
        @* <div style="overflow-x: scroll; "> *@

    //dt-responsive nowrap w-100 dataTable no-footer
    <table id="basic-datatable" class="table table-bordered table-hover dtr-inline dt-responsive dataTable" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;margin: 0 auto;">
            <thead>
                <tr>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["UserLoginDateTime"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserLoginConcate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserLoginName"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)

                {
                    @* <tr onclick="location.href='@Url.Action("Edit", "UserLogin", new { id = item.CrMasUserLoginsCode })'" style="cursor:pointer;color:red"> *@
                            <tr style="cursor:pointer;color:black">
                        <td id="_Nc">@item.CrMasUserLoginNo</td>
                        @* <td id="_Nc"> @item.CrMasUserLoginEntryDate @item.CrMasUserLoginEntryTime</td> *@
                        @* <td id="_Nc"> @Model.Item2[Model.Item2.IndexOf(Model.Item2.Last())][1]</td> *@
                        <td id="_Nc"> @item.CrMasUserLoginEntryDate?.ToString("yyyy/MM/dd") - @item.CrMasUserLoginEntryTime</td>
                        <td>@item.CrMasUserLoginConcatenateOperationArDescription</td>
                        <td>@item.CrMasUserLoginUserNavigation.CrMasUserInformationArName</td>

                    </tr>

                    no++;
                }
            </tbody>
        </table>


    @* </div> *@
      
}
@section script{
    <script>
        new DataTable('#basic-datatable', {
            scrollX: true
        });
    </script>
}