

@using Bnan.Core.Extensions
@model Tuple<IEnumerable<CrMasUserLogin>, List<List<string>>>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    @*Mazen- For Scrolling*@
    @*
<style >
        .container-scrol {
            overflow: scroll;
            height: 180px;
            width: 900px;
        }

        table {
            border-collapse: collapse;
        }

            table th,
            table td {
                max-width: 600px;
                padding: 8px 16px;
                border: 1px solid #ddd;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            table thead {
                position: sticky;
                inset-block-start: 0;
                background-color: #ddd;
            }
</style>
    <div class="container-scrol">
        <table class="table table-hover" >*@

     <div class="col-sm-12"> 
        @* For-scrolling *@

            <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
                <thead>
                <tr>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["UserLoginDateTime"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Lessor_Name"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserLoginName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserLoginConcate"]</th>

                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.Item1)
                
                    {
                        @* <tr onclick="location.href='@Url.Action("Edit", "UserLogin", new { id = item.CrMasUserLoginsCode })'" style="cursor:pointer;color:red"> *@
                    <tr style="cursor:pointer;color:black">
                        @* <td id="_Nc">@item.CrMasUserLoginNo</td> *@
                        <td id="_Nc">@no</td>
                        <td id="_Nc"> @Model.Item2[no][1]</td>
                        <td>@item.CrMasUserLoginLessorNavigation.CrMasLessorInformationEnShortName</td>
                        <td>@item.CrMasUserLoginUserNavigation.CrMasUserInformationEnName</td>
                        <td>@item.CrMasUserLoginConcatenateOperationEnDescription</td>


                    </tr>

                    no++;
                }
            </tbody>
        </table>
            @* </div> *@
        @* </div> *@
     </div> 
}
else
{

    <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <thead>
                <tr>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["UserLoginDateTime"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Lessor_Name"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserLoginName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["UserLoginConcate"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.Item1)

                {
                    @* <tr onclick="location.href='@Url.Action("Edit", "UserLogin", new { id = item.CrMasUserLoginsCode })'" style="cursor:pointer;color:red"> *@
                       <tr style="cursor:pointer;color:black">
                        @* <td id="_Nc">@item.CrMasUserLoginNo</td> *@
                        <td id="_Nc">@no</td>
                        @* <td id="_Nc"> @item.CrMasUserLoginEntryDate @item.CrMasUserLoginEntryTime</td> *@
                        @* <td id="_Nc"> @Model.Item2[Model.Item2.IndexOf(Model.Item2.Last())][1]</td> *@
                        <td id="_Nc"> @Model.Item2[no][1]</td>
                        <td>@item.CrMasUserLoginLessorNavigation.CrMasLessorInformationArShortName</td>
                        <td>@item.CrMasUserLoginUserNavigation.CrMasUserInformationArName</td>
                        <td>@item.CrMasUserLoginConcatenateOperationArDescription</td>


                    </tr>

                    no++;
                }
            </tbody>
        </table>


    </div>
      
}
@section script{
    <script>
        new DataTable('#basic-datatable', {
            scrollX: true
        });
    </script>
}