

@using Bnan.Core.Extensions
@model List<CrMasUserLogin>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}"; 
    ViewData["Page-title"] = @localizer["UserLogin Data"];
    ViewData["Page-Hint"] = @localizer["UserLogin Hint"];
}
<style>
    body {
        overflow: hidden
    }

    @@media (max-width: 600px) {
        #basic-datatable1_wrapper .row:first-child > div {
            text-align: left;
        }

            #basic-datatable1_wrapper .row:first-child > div:last-child > * {
                text-align: right;
            }
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    .row {
        align-items: baseline;
    }

    .text-danger {
        white-space: nowrap;
    }

    .dateInput {
        width: 155px !important;
    }

    .form-check.form-check-inline {
        display: inline;
        align-items: baseline;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    .btn-outline-primary, .btn-outline-danger {
        width: 45px;
    }

    .datepicker-widget {
        display: none;
    }


    .datepicker-icon i {
        font-size: 18px;
        color: #999;
    }

    .dateRelative {
        position: relative;
    }

    .col-md-6 {
        width: 100px
    }

    .col-sm-12 {
        margin: 0;
        padding: 0;
    }

    #basic-datatable_wrapper {
        margin: 0;
        padding: 0;
        margin-right: 35px;
    }

/*     td,th {
        text-align: center;
    } */

/*     #_Nc {
        text-align: center;
    } */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
    }

    .gv-table-container {
        overflow-x: scroll;
    }
</style>

<div class="sub-container">
    <div class="container-fluid">
        <div class="row">
            @*filter*@
            <div class="col-sm-12 col-md-9" style="-webkit-flex-item-align:center;">
                <div class="col-sm-12 col-md-4 p-0">
                    <a type="button" class="btn btn-danger" title="@localizer["Back"]" asp-area="MAS" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>
            @*      <a class="btn btn-secondary InsertBtn" onclick="CheckValidation('1104001', '@Status.Insert', '@Url.Action("AddCarRegistration", "CarRegistration")')">
                        @localizer["Add Registrations Data"]
                    </a>  *@
                </div>
            
            @*DateTime Inputs*@
                <div class="grid-container">
                    <div class="grid-child">
                        <div class="col-md-3">
                            <label class="form-label">@localizer["StartDate"]</label>
                        </div>
                        <div class="col-md-6 dateRelative">
                        <input type="date" class="form-control dateInput" max="2024-02-15" id="startDateInput" />
                        </div>
                    </div>



                    <div class="grid-child">
                        <div class="col-md-2">
                            <label class="form-label">@localizer["EndDate"]</label>
                        </div>
                        <div class="col-md-6 dateRelative">
                            <input type="date" class="form-control dateInput" max="2024-02-15" id="endDateInput" style="background-color:white" />
                        </div>
                    </div>
                </div>

            </div>
                
            @*search And Fitler Radio Button*@
            <div class="col-sm-12 col-md-3 p-0">
                <input class="form-control" type="search" id="top-search" style="width: 96%;" placeholder="@localizer["search"]...">
            </div>
@*             <div class="col-sm-12 col-md-12 mt-3" id="status-filter">
                <div class="form-check form-check-inline">
                    <input type="radio" id="customRadioAll" name="customRadio" value="All" class="form-check-input">
                    <label class="form-check-label" for="customRadioAll">@localizer["All"]</label>
                </div>
                

            </div> *@
        </div>
        <div class=dataTable>
            <partial name="_DataTableReport1" />
        </div>
    </div>
</div>

@section scripts {
    <script>
        var date = new Date();
        var tday = date.getDate();
        var tMonth = date.getMonth() + 1;
        if (tday < 10) {
            tday = '0' + tday;
        }
        if (tMonth < 10) {
            tMonth = '0' + tMonth;
        }
        var tYear = date.getFullYear();

        var maxDate = tYear + '-' + tMonth + '-' + tday;
        //endDateInput
        document.getElementById('endDateInput').setAttribute('max', maxDate);
        //startDateInput
        document.getElementById('startDateInput').setAttribute('max', maxDate);
    </script>
    <script>
        new DataTable('#basic-datatable', {
            scrollX: true
        });
    </script>
    <script>
        function GetUpdatedValues() {
            //var code = document.getElementById("CrMasContractCompanyNo").value;
            var _max = document.getElementById("endDateInput").value;
            var _mini = document.getElementById("startDateInput").value;
            $.ajax({
                type: "GET",
                data: { _max: _max , _mini: _mini },
                url: "@Url.Action("GetUserLoginByDate", "Report1", new { Area = "MAS" })",
                success: function (result) {
                    console.log(result);
                    $(".dataTable").html(result);
                    set_basic_datatable();
                }
            });
        }
        $("#deleteButton").on("click", function () {
            var status = $(this).attr("data-error")
            var Modal = $(this).attr("data-bs-targett")
            CheckValidation('1101003', status).done(function (data) {
                if (data) $(Modal).modal('show');
            });
        })
        
        document.addEventListener("DOMContentLoaded", function () {
            var startDate = document.getElementById('startDateInput');
            var endDate = document.getElementById('endDateInput');

            startDate.addEventListener('change', function () {
                console.log('Start date changed');
                // Handle logic for start date change here
            });

            endDate.addEventListener('change', function () {
                console.log('End date changed');
                GetUpdatedValues();
                // Handle logic for end date change here
            });
        });
    </script>
}


@* <style>
    .wrapper {
        margin-bottom: 60px;
        overflow: hidden;
        background-image: url("~/Pictures/bg.jpg") !important;
    }

    .table-bordered td,
    .table-bordered th {
        border: none;
    }


</style> *@

