

@using Bnan.Core.Extensions
@* @model IEnumerable<CrMasUserLogin>
*@
@model Tuple<IEnumerable<CrMasUserLogin>, List<List<string>>>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}"; 
    ViewData["Page-title"] = @localizer["UserLogin Data"];
    ViewData["Page-Hint"] = @localizer["UserLogin Hint"];
}
<style>
    body {
        overflow: hidden
    }

    @@media (max-width: 600px) {
        #basic-datatable1_wrapper .row:first-child > div {
            text-align: left;
        }

            #basic-datatable1_wrapper .row:first-child > div:last-child > * {
                text-align: right;
            }
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

/*     td,th {
        text-align: center;
    } */

/*     #_Nc {
        text-align: center;
    } */
</style>

<div class="sub-container">
    <div class="container-fluid">
        <div class="row">
            @*filter*@
            <div class="col-sm-12 col-md-9">
                <div class="col-sm-12 col-md-4 p-0">
                    <a type="button" class="btn btn-danger" title="@localizer["Back"]" asp-area="MAS" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>
            @*      <a class="btn btn-secondary InsertBtn" onclick="CheckValidation('1104001', '@Status.Insert', '@Url.Action("AddCarRegistration", "CarRegistration")')">
                        @localizer["Add Registrations Data"]
                    </a>  *@
                </div>
            
            @*DateTime Inputs*@
            <label>@localizer["Add minDate Data"]</label>
                <input name="_mini" id="_mini" type="date" name="_max" id="_max" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
            <label>@localizer["Add MaxDate Data"]</label>
                <input type="date" name="_max" id="_max" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
            </div>
            @*search And Fitler Radio Button*@
            <div class="col-sm-12 col-md-3 p-0">
                <input class="form-control" type="search" id="top-search" style="width: 96%;" placeholder="@localizer["search"]...">
            </div>
@*             <div class="col-sm-12 col-md-12 mt-3" id="status-filter">
                <div class="form-check form-check-inline">
                    <input type="radio" id="customRadioAll" name="customRadio" value="All" class="form-check-input">
                    <label class="form-check-label" for="customRadioAll">@localizer["All"]</label>
                </div>
                

            </div> *@
        </div>
        <div class=dataTable>
            <partial name="_DataTableReport1" />
        </div>
    </div>
</div>

@section scripts {
    @*Get CarRegistration Using filter*@
    <script>
        //get CarRegistration By Status function
        function GetReport1Fitler(_max, _mini) {
            $.ajax({
                type: "GET",
                data: {
                    _max: _max, _mini: _mini
                },
                url: "@Url.Action("GetUserLoginByDate", "Report1", new { Area = "MAS" })",
                success: function (response) {
                    $(".dataTable").html(response);
                    set_basic_datatable();
                },
            })
        }

        //on Click Filter Radio Button GetCarRegistrationByStatus
        $("input[name='_max']").on("Change", function () {
            const min = document.getElementById('_mini').value;
            GetReport1Fitler($(this).val(), min)
        })
    </script>
}


<style>
    .wrapper {
        margin-bottom: 60px;
        overflow: hidden;
        background-image: url("~/Pictures/bg.jpg") !important;
    }

    .table-bordered td,
    .table-bordered th {
        border: none;
    }
</style>

