

@using Bnan.Core.Extensions
@* @model IEnumerable<CrMasUserLogin>
*@
@model Tuple<IEnumerable<CrMasUserLogin>, List<List<string>>>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}"; 
    ViewData["Page-title"] = @localizer["UserLogin Data"];
    ViewData["Page-Hint"] = @localizer["UserLogin Hint"];
}
<style>
    body {
        overflow: hidden;
    }

    @@media (max-width: 600px) {
        #basic-datatable1_wrapper .row:first-child > div {
            text-align: left;
        }

            #basic-datatable1_wrapper .row:first-child > div:last-child > * {
                text-align: right;
            }
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    .row {
        align-items: baseline;
    }

    .text-danger {
        white-space: nowrap;
    }

    .dateInput {
        width: 155px !important;
    }

    .form-check.form-check-inline {
        display: inline;
        align-items: baseline;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    .btn-outline-primary, .btn-outline-danger {
        width: 45px;
    }

    .datepicker-widget {
        display: none;
    }


    .datepicker-icon i {
        font-size: 18px;
        color: #999;
    }

    .dateRelative {
        position: relative;
    }

    .col-md-6 {
        width: 100px
    }

    .col-sm-12 {
        margin: 0;
        padding: 0;
    }

    #basic-datatable_wrapper {
        margin: 0;
        padding: 0;
        margin-right: 35px;
    }

/*     td,th {
        text-align: center;
    } */

/*     #_Nc {
        text-align: center;
    } */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
    }

    .gv-table-container {
        overflow-x: scroll;
    }
</style>

@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    <style>
        #RenterLessorInformationSigntureImage {
            position: absolute;
            top: 39%;
            left: 50%;
        }

        .col-md-label5 {
            /*width: 28.75%;*/
            width: 105.5px;
        }

        .col-md-input5 {
            width: 285px;
        }

        #Date_cusor1, #Date_cusor2 {
            margin-right: 13px;
        }
    </style>
}
else
{
    <style>
        #RenterLessorInformationSigntureImage {
            position: absolute;
            top: 39%;
            right: 50%;
        }

        .col-md-label5 {
            /*width: 28.75%;*/
            width: 85.5px;
        }

        .col-md-input5 {
            width: 305px;
        }

        #Date_cusor1, #Date_cusor2 {
            margin-left: 13px;
        }
    </style>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="sub-container">
    <div class="container-fluid">
        <div class="row">
            @*filter*@
            <div class="col-sm-12 col-md-9" style="-webkit-flex-item-align:center;">
                <div class="col-sm-12 col-md-4 p-0">
                    <a type="button" class="btn btn-danger" title="@localizer["Back"]" asp-area="MAS" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>
                    @*      <a class="btn btn-secondary InsertBtn" onclick="CheckValidation('1104001', '@Status.Insert', '@Url.Action("AddCarRegistration", "Report1")')">
                    @localizer["Add Registrations Data"]
                    </a>  *@
                </div>

            </div>



            @*search And Fitler Radio Button*@
            <div class="col-sm-12 col-md-3 p-0">
                <input class="form-control" type="search" id="top-search" style="width: 96%;" placeholder="@localizer["search"]...">
            </div>
            <div class="col-sm-12 col-md-14 mt-3" style="display:flex;justify-content:space-between;" id="status-filter">
                    
                    @*DateTime Inputs*@
                    <div class="" style="display:flex;gap: 15px;-webkit-flex-item-align:center;">

                        <!-- Autoclose -->
                        <div style="width:30px;margin-top:7px;">
                            <label class="form-label " style="">@localizer["StartDate_from"]</label>
                        </div>
                        @*<div class="dateRelative" style="width:180px;">
                        <input type="date" class="form-control dateInput" max="2024-02-15" value="@ViewBag.StartDate" id="startDateInput" />
                        </div>*@
                        <div class="dateRelative " style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " id="startDateInput" name="startDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor1" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; direction:ltr"></i>
                        </div>

                        <!-- Autoclose -->
                        <div style="width:50px;margin-top:7px;">
                            <label class="form-label p-0 mt-0">@localizer["EndDate_to"]</label>
                        </div>
                        @*                    <div class="dateRelative" style="width:180px;">
                        <input type="date" class="form-control dateInput" max="2024-02-15" value="@ViewBag.EndDate" id="endDateInput" style="background-color:white" />
                        </div>*@
                        <div class="dateRelative " style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " id="endDateInput" name="endDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor2" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; direction:ltr"></i>
                        </div>
                        <div style="width:50px;">
                            <a class="btn btn-primary" onclick="GetReportFitlerDate()">
                                <i class="mdi mdi-search-web"></i>
                            </a>
                        </div>
                    </div>


                    <div style="-webkit-flex-align:start;display:flex;gap:15px" class="p-0">

                    </div>
                </div>
        </div>
        <div class="dataTable " id="dataTableR1">
            <partial name="_DataTableReport1" />
        </div>
    </div>
</div>
<input type="text" hidden id="aaa" />
@*
@section scripts {
    <script>
        var date = new Date();
        var tday = date.getDate();
        var tMonth = date.getMonth() + 1;
        if (tday < 10) {
            tday = '0' + tday;
        }
        if (tMonth < 10) {
            tMonth = '0' + tMonth;
        }
        var tYear = date.getFullYear();

        var maxDate = tYear + '-' + tMonth + '-' + tday;
        //endDateInput
        document.getElementById('endDateInput').setAttribute('max', maxDate);
        //startDateInput
        document.getElementById('startDateInput').setAttribute('max', maxDate);
    </script>
    <script>
        new DataTable('#basic-datatable', {
            scrollX: true
        });
    </script>
    <script>
        function GetUpdatedValues() {
            //var code = document.getElementById("CrMasContractCompanyNo").value;
            var _max = document.getElementById("endDateInput1").value;
            var _mini = document.getElementById("startDateInput1").value;
            $.ajax({
                type: "GET",
                data: { _max: _max, _mini: _mini },
                // url: "@Url.Action("GetUserLoginByDate", "Report1", new { Area = "MAS" })",
                url: '/MAS/Report1/GetUserLoginByDate',

                success: function (result) {
                    console.log(result);
                    $('#dataTableR1').html(result);
                    set_basic_datatable();
                }
            });
        }
        $("#deleteButton").on("click", function () {
            var status = $(this).attr("data-error")
            var Modal = $(this).attr("data-bs-targett")
            CheckValidation('1101003', status).done(function (data) {
                if (data) $(Modal).modal('show');
            });
        })

        document.addEventListener("DOMContentLoaded", function () {
            var startDate = document.getElementById('startDateInput1');
            var endDate = document.getElementById('endDateInput1');

            startDate.addEventListener('change', function () {
                // Clear the value from the search input
                $("#top-search").val("");
                console.log('Start date changed');
                GetUpdatedValues();
                // Handle logic for start date change here
            });

            endDate.addEventListener('change', function () {
                // Clear the value from the search input
                $("#top-search").val("");
                console.log('End date changed');
                GetUpdatedValues();
                // Handle logic for end date change here
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            var today = new Date();
            var formattedDate = $.datepicker.formatDate('yy/mm/dd', today);
            var format_startDate = document.getElementById('startDateInput1');
            var format_EndDate = document.getElementById('endDateInput1');

            
            console.log(today); // Tue Mar 12 2024 16:34:36
            console.log(formattedDate); // '2024/12/12'
            console.log(format_startDate); // '2024/12/12'
            //console.log(@ViewBag.StartDate); // '2024/12/12'

            $("#startDateInput1").datepicker({
                dateFormat: 'yy/mm/dd',
                //minDate: '2024/12/12',
                maxDate: formattedDate,
                //defaultDate: formattedDate // Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            //$("#startDateInput1").datepicker("setDate", '2024/12/12');
            $("#startDateInput1").click(function () {
                $(this).datepicker("show");
            });
            $("#Date_cusor1").click(function () {
                $(this).datepicker("show");
            });

            $("#endDateInput1").datepicker({
                dateFormat: 'yy/mm/dd',
                //minDate: '2024/12/12',
                maxDate: formattedDate,
                //defaultDate: formattedDate // Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            //$("#endDateInput1").datepicker("setDate", '2024/12/12');
            $("#endDateInput1").click(function () {
                $(this).datepicker("show");
            });
            $("#Date_cusor2").click(function () {
                $(this).datepicker("show");
            });
        });
    </script>

}*@

    @*Get AccountBank Using filter*@
    <script>
        $(document).ready(function () {
            var today = new Date();
            var startDate = new Date();
            var EndDate = new Date();
            startDate.setDate(today.getDate() - 30);


            var startDates = $("startDateInput").val();
            var StartformattedDate = new Date(startDates);

            var EndDates = $("endDateInput").val();
            var EndformattedDate = new Date(EndDates);


            if (!StartformattedDate || StartformattedDate === "") {
                StartformattedDate = today; // Set date to today if it's empty or null
            }
            if (!EndformattedDate || EndformattedDate === "") {
                EndformattedDate = today; // Set date to today if it's empty or null
            }




            $("#startDateInput").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: startDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#startDateInput").datepicker("setDate", startDate);
            $("#startDateInput").click(function () {
                $(this).datepicker("show");
            });

            $("#endDateInput").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: today,// Set the minimum date to today
                maxDate: today,
            }).datepicker("widget").addClass("datepicker-widget");
            $("#endDateInput").datepicker("setDate", today);
            $("#endDateInput").click(function () {
                $(this).datepicker("show");
            });

            $("#Date_cusor1").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

            $("#Date_cusor2").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

        });
    </script>
    <script>
        //get AccountBank By Status function
        function GetReportFitlerDate() {

            var startDate = $("#startDateInput").val();
            var endDate = $("#endDateInput").val();

            console.log(startDate)
            console.log(endDate)


            // Clear the value from the search input
            $("#top-search").val("");

            $.ajax({
                type: "GET",
                data: {
                    _max: endDate,
                    _mini: startDate,  
                },
                url: "@Url.Action("GetUserLoginByDate", "Report1", new { Area = "MAS" })",
                success: function (response) {
                    $(".dataTable").html(response);
                    set_basic_datatable();
                },
            })
        }
        //on Click Filter Radio Button GetLessorsByStatus
        $("input[name='customRadio']").on("click", function () {
            // Clear the value from the search input
            $("#top-search").val("");
            //GetRenterContractFitler($(this).val())
            GetReportFitlerDate();
        });

    </script>

    }

<style>
    .wrapper {
        margin-bottom: 60px;
        overflow: hidden;
        background-image: url("~/Pictures/bg.jpg") !important;
    }

    .table-bordered td,
    .table-bordered th {
        border: none;
    }


</style>

