@using Bnan.Ui.ViewModels.CAS
@using Bnan.Core.Extensions
@model ReportActiveContractVM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    @*Mazen- For Scrolling*@
    @*
<style >
        .container-scrol {
            overflow: scroll;
            height: 180px;
            width: 900px;
        }

        table {
            border-collapse: collapse;
        }

            table th,
            table td {
                max-width: 600px;
                padding: 8px 16px;
                border: 1px solid #ddd;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            table thead {
                position: sticky;
                inset-block-start: 0;
                background-color: #ddd;
            }
</style>
    <div class="container-scrol">
        <table class="table table-hover" >*@

     <div class="col-sm-12"> 
        @* For-scrolling *@

            <table id="basic-datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
                <thead>
                <tr>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterContractId"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["His_Date"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["FTS_Branch"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Renter_Name"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Car_Name"]</th>
                    <th data-orderable="false" style="text-align:start">@localizer["Status"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Contract"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.crCasRenterContractBasic)
                
                    {
                    @* <tr onclick="location.href='@Url.Action("Edit", "UserLogin", new { id = item.CrMasUserLoginsCode })'" style="cursor:pointer;color:red"> *@
                    if(item.CrCasRenterContractBasicStatus == "E")
                    {
                        <tr id="Tr_Color" style="color:red">
                            @* <td id="_Nc">@item.CrMasUserLoginNo</td> *@
                            <td id="_Nc">@no</td>
                            @if (item.CrCasRenterContractBasicCopy > 0)
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                            }
                            else
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            }
                            <td>@item.CrCasRenterContractBasicIssuedDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasic1?.CrCasBranchInformationEnName</td>
                            <td>
                                @if (item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationEnName?.Count()> 45)
                                {
                                    @item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationEnName?.Substring(0,45)

                                }
                                else
                                {
                                    @item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationEnName

                                }
                            </td>
                            <td>@item.CrCasRenterContractBasicCarSerailNoNavigation?.CrCasCarInformationConcatenateEnName</td>
                            <td>
                                @{
                                    var Alert_single = Model.crCasRenterContractAlert?.FirstOrDefault(x => x.CrCasRenterContractAlertNo == item.CrCasRenterContractBasicNo);
                                }
                                
                                @if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                @localizer["Expired"]
                                }
                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "0" && item.CrCasRenterContractBasicStatus == "A")
                                {
                                    @localizer["Sh_Today_Expired"]
                                }
                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "1")
                                {
                                    @localizer["Sh_Tommorow_Expired"]
                                }
                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "2")
                                {
                                    @localizer["Sh_after_long_Expired"]
                                }

                            </td>


                            @{
                                var Link_pdf = item.CrCasRenterContractBasicEnPdfFile;
                                var Target_pdf = "#";
                                if (Link_pdf?.Count() > 2)
                                {
                                    Target_pdf = "_blank";
                                }
                            }

                            <td id="_Nc">
                                <a href="@Link_pdf" target="@Target_pdf" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr id="Tr_Color" >
                            @* <td id="_Nc">@item.CrMasUserLoginNo</td> *@
                            <td id="_Nc">@no</td>
                            @if (item.CrCasRenterContractBasicCopy > 0)
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                            }
                            else
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            }
                            <td>@item.CrCasRenterContractBasicIssuedDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasic1?.CrCasBranchInformationEnName</td>
                            <td>
                                @if (item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationEnName?.Count() > 45)
                                {
                                    @item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationEnName?.Substring(0,45)

                                }
                                else
                                {
                                    @item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationEnName

                                }
                            </td>
                            <td>@item.CrCasRenterContractBasicCarSerailNoNavigation?.CrCasCarInformationConcatenateEnName</td>
                            <td>
                                @{
                                    var Alert_single = Model.crCasRenterContractAlert?.FirstOrDefault(x => x.CrCasRenterContractAlertNo == item.CrCasRenterContractBasicNo);
                                }

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }

                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "0" && item.CrCasRenterContractBasicStatus == "A")
                                {
                                @localizer["Sh_Today_Expired"]
                                }
                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "1")
                                {
                                @localizer["Sh_Tommorow_Expired"]
                                }
                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "2")
                                {
                                @localizer["Sh_after_long_Expired"]
                                }

                            </td>


                            @{
                                var Link_pdf = item.CrCasRenterContractBasicEnPdfFile;
                                var Target_pdf = "#";
                                if (Link_pdf?.Count() > 2)
                                {
                                    Target_pdf = "_blank";
                                }
                            }

                            <td id="_Nc">
                                <a href="@Link_pdf" target="@Target_pdf" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                            </td>

                        </tr>
                    }

                    no++;
                }
            </tbody>
        </table>
            @* </div> *@
        @* </div> *@
     </div> 
}
else
{

    <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <thead>
                <tr>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterContractId"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["His_Date"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["FTS_Branch"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Renter_Name"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Car_Name"]</th>
                    <th class=" text-end" data-orderable="false">@localizer["Status"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Contract"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.crCasRenterContractBasic)

                {
                    @* <tr onclick="location.href='@Url.Action("Edit", "UserLogin", new { id = item.CrMasUserLoginsCode })'" style="cursor:pointer;color:red"> *@
                    if(item.CrCasRenterContractBasicStatus == "E")
                    {
                        <tr id="Tr_Color" style="color:red">
                            @* <td id="_Nc">@item.CrMasUserLoginNo</td> *@
                            <td id="_Nc">@no</td>

                            @if (item.CrCasRenterContractBasicCopy > 0)
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                            }
                            else
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            }
                            <td>@item.CrCasRenterContractBasicIssuedDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasic1?.CrCasBranchInformationArName</td>
                            <td>
                                @if (item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationArName?.Count() > 45)
                                {
                                    @item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationArName?.Substring(0,45)

                                }
                                else
                                {
                                    @item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationArName

                                }
                            </td>
                            <td>@item.CrCasRenterContractBasicCarSerailNoNavigation?.CrCasCarInformationConcatenateArName</td>
                            <td>
                                @{
                                    var Alert_single = Model.crCasRenterContractAlert?.FirstOrDefault(x => x.CrCasRenterContractAlertNo == item.CrCasRenterContractBasicNo);
                                }

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "0" && item.CrCasRenterContractBasicStatus == "A")
                                {
                                @localizer["Sh_Today_Expired"]
                                }
                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "1")
                                {
                                @localizer["Sh_Tommorow_Expired"]
                                }
                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "2")
                                {
                                @localizer["Sh_after_long_Expired"]
                                }

                            </td>


                            @{
                                var Link_pdf = item.CrCasRenterContractBasicArPdfFile;

                                var Target_pdf = "#";
                                if (Link_pdf?.Count() > 2)
                                {
                                    Link_pdf = Link_pdf.Replace("~", "");
                                    Target_pdf = "_blank";
                                }
                            }

                            <td id="_Nc">
                                <a href="@Link_pdf" target="@Target_pdf" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr id="Tr_Color">
                            @* <td id="_Nc">@item.CrMasUserLoginNo</td> *@
                            <td id="_Nc">@no</td>

                        @if (item.CrCasRenterContractBasicCopy > 0)
                        {
                    <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                        }
                        else
                        {
                    <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                        }

                            <td>@item.CrCasRenterContractBasicIssuedDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasic1?.CrCasBranchInformationArName</td>
                            <td>
                                @if (item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationArName?.Count() > 45)
                                {
                                    @item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationArName?.Substring(0,45)

                                }
                                else
                                {
                                    @item.CrCasRenterContractBasic5?.CrCasRenterLessorNavigation?.CrMasRenterInformationArName

                                }
                            </td>
                            <td>@item.CrCasRenterContractBasicCarSerailNoNavigation?.CrCasCarInformationConcatenateArName</td>
                            <td>
                                @{
                                    var Alert_single = Model.crCasRenterContractAlert?.FirstOrDefault(x => x.CrCasRenterContractAlertNo == item.CrCasRenterContractBasicNo);
                                }

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "0" && item.CrCasRenterContractBasicStatus == "A")
                                {
                                @localizer["Sh_Today_Expired"]
                                }
                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "1")
                                {
                                @localizer["Sh_Tommorow_Expired"]
                                }
                                else if (@Alert_single?.CrCasRenterContractAlertContractActiviteStatus == "2")
                                {
                                @localizer["Sh_after_long_Expired"]
                                }

                            </td>


                            @{
                                var Link_pdf = item.CrCasRenterContractBasicArPdfFile;
                                var Target_pdf = "#";
                                if (Link_pdf?.Count() > 2)
                                {
                                    Target_pdf = "_blank";
                                }
                            }

                            <td id="_Nc">
                                <a href="@Link_pdf" target="@Target_pdf" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                            </td>
                        </tr>
                    }

                    no++;
                }
            </tbody>
        </table>


    </div>
      
}
@section script{
    @*<script>
        var x = document.getElementById("Tr_Color");
        x.style.color = "red";
    </script>*@
    <script>
        function Tr_red_Color(){
            var vv = document.getElementById("Tr_Color");
            vv.style.color = "red";
            var x = document.querySelector("Tr_Color");
            x.setAttribute("style", "color:red;");
        }

    </script>
    <script>
        new DataTable('#basic-datatable', {
            scrollX: true
        });
    </script>
}