﻿﻿﻿@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Http.Features;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Options;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Http.Extensions;
@inject UserManager<CrMasUserInformation> userManager
@inject SignInManager<CrMasUserInformation> signinManager
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var returnUrl = ViewData["returnUrl"];
    string url = Context.Request.Path;
    string urlhost = Context.Request.Host.Value;
    string full = urlhost + url;
    var user = await userManager.GetUserAsync(User);
    var lessorInfo = await userManager.Users.Include(l => l.CrMasUserInformationLessorNavigation).FirstOrDefaultAsync(x => x.UserName == user.UserName);
    var userInfo = await userManager.Users
          .Include(l => l.CrMasUserMainValidations)
          .Include(l => l.CrMasUserSubValidations)
          .Include(l => l.CrMasUserInformationLessorNavigation)
          .FirstOrDefaultAsync(l => l.UserName == user.UserName);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <!-- third party css -->
    <link href="~/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
    <link href="~/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">
    <link href="~/css/vendor/buttons.bootstrap5.css" rel="stylesheet" type="text/css">
    <link href="~/css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css">

    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/Bnan.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Bnan.png" type="image/png" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    @*select2*@
    <link rel="stylesheet" href="~/css/select2.min.css" />
    @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
    {
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Poppins:wght@300&display=swap" rel="stylesheet">
    }
    <link rel="stylesheet" href="~/css/app.min.css" />
    <link rel="stylesheet" href="~/css/icons.min.css" />
    <link rel="stylesheet" href="~/css/select2.min.css" />
    @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
    {
        <link rel="stylesheet" href="~/css/ar.css" />
    }
    <link rel="stylesheet" href="~/css/toastr.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/ico" href="~/Bnan.png">


    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
</head>
<body class="show" id="CAS" data-layout-config="{&quot;leftSideBarTheme&quot;:&quot;dark&quot;,&quot;layoutBoxed&quot;:false, &quot;leftSidebarCondensed&quot;:false, &quot;leftSidebarScrollable&quot;:false,&quot;darkMode&quot;:false, &quot;showRightSidebarOnStart&quot;: true}" data-leftbar-theme="dark" style="visibility: visible;">

    <div class="wrapper">
        <div class="leftside-menu menuitem-active">

            <!-- LOGO -->
            <a href="index.html" class="logo text-center logo-light">
                <span class="logo-sm">
                    <img src="~/images/Bnan/Support Image/C.png" alt="" style="height:80px">
                </span>
            </a>

            <!-- LOGO -->
            <a href="index.html" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img src="~/Pictures/logo-dark.png" alt="" height="16">
                </span>
                <span class="logo-sm">
                    <img src="~/Pictures/logo_sm_dark.png" alt="" height="16">
                </span>
            </a>

            <div class="h-100 show" id="leftside-menu-container" data-simplebar="init">
                <div class="simplebar-wrapper" style="margin: 0px;">
                    <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                            <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;">
                                <div class="simplebar-content" style="padding: 0px;">


                                    <!--- Sidemenu -->
                                    <ul class="side-nav">
                                        <li class="side-nav-title side-nav-item"></li>
                                        @if (userInfo?.CrMasUserMainValidations != null)
                                        {
                                            @if (userInfo.CrMasUserMainValidations.FirstOrDefault(l => l.CrMasUserMainValidationMainTasks == "101")?.CrMasUserMainValidationAuthorization == true)
                                            {


                                                @*Company*@
                                                <li class="side-nav-item">
                                                    <a data-bs-toggle="collapse" href="#sidebarCompany" aria-expanded="false" aria-controls="sidebarCompany" class="side-nav-link collapsed">
                                                        <i class="uil-home-alt"></i>
                                                        <span> @localizer["Companies"]</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="sidebarCompany" style="">
                                                        <ul class="side-nav-second-level">
                                                            @if (userInfo?.CrMasUserSubValidations != null)
                                                            {
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1101001")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Lessor Data*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="LessorsKSA" asp-action="index"> @localizer["CompaniesInformations"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1101002")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @* Supprot Photo*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="LessorImages" asp-action="Index">@localizer["Supportphotos"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1101003")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Contracts*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="CompanyContracts" asp-action="CompanyContracts">@localizer["Contracts"]</a>
                                                                    </li>
                                                                }
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1101004")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Dues*@
                                                                    <li>
                                                                        <a>@localizer["Dues"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1101005")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Clearingdues*@
                                                                    <li>
                                                                        <a>@localizer["Clearingdues"]</a>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </li>

                                            }
                                        }
                                        @if (userInfo?.CrMasUserMainValidations != null)
                                        {
                                            @if (userInfo.CrMasUserMainValidations.FirstOrDefault(l => l.CrMasUserMainValidationMainTasks == "102")?.CrMasUserMainValidationAuthorization == true)
                                            {
                                                @*Bnan*@
                                                <li class="side-nav-item">
                                                    <a data-bs-toggle="collapse" href="#sidebarcars" aria-expanded="false" aria-controls="sidebarcars" class="side-nav-link collapsed">
                                                        <i class="mdi mdi-bus-multiple"></i>
                                                        <span> @localizer["Bnan"]</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="sidebarcars">
                                                        <ul class="side-nav-second-level">
                                                            @if (userInfo.CrMasUserSubValidations != null)
                                                            {
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1102001")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*contracts*@
                                                                    <li>
                                                                        <a> @localizer["Contracts"]</a>
                                                                    </li>
                                                                }
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1102002")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Documents*@
                                                                    <li>
                                                                        <a>@localizer["Documents"]</a>
                                                                    </li>
                                                                }

                                                            }

                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                        }


                                        @if (userInfo?.CrMasUserMainValidations != null)
                                        {
                                            @if (userInfo.CrMasUserMainValidations.FirstOrDefault(l => l.CrMasUserMainValidationMainTasks == "103")?.CrMasUserMainValidationAuthorization == true)
                                            {
                                                @*Renters*@
                                                <li class="side-nav-item">
                                                    <a data-bs-toggle="collapse" href="#sidebarRenter" aria-expanded="false" aria-controls="sidebarRenter" class="side-nav-link collapsed">
                                                        <i class="mdi mdi-account-supervisor"></i>
                                                        <span> @localizer["Renter"]</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="sidebarRenter" style="">
                                                        <ul class="side-nav-second-level">
                                                            @if (userInfo.CrMasUserSubValidations != null)
                                                            {
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1103001")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Renter Data*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="RenterInformation" asp-action="Index">@localizer["Renter Data"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1103002")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Renter Contract*@
                                                                    <li>
                                                                        <a>@localizer["Renter Contract"]</a>
                                                                    </li>
                                                                }

                                                            }

                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                        }


                                        @if (userInfo?.CrMasUserMainValidations != null)
                                        {
                                            @if (userInfo.CrMasUserMainValidations.FirstOrDefault(l => l.CrMasUserMainValidationMainTasks == "104")?.CrMasUserMainValidationAuthorization == true)
                                            {
                                                @*اwhite-spaceace*@
                                                <li class="side-nav-item">
                                                    <a data-bs-toggle="collapse" href="#sidebarReport" aria-expanded="false" aria-controls="sidebarReport" class="side-nav-link collapsed">
                                                        <i class="mdi mdi-arrange-send-backward"></i>
                                                        <span> @localizer["Reports"]</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="sidebarReport" style="">
                                                        <ul class="side-nav-second-level">
                                                            @if (userInfo.CrMasUserSubValidations != null)
                                                            {
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1104001")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    
                                                                    @*Report1*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="Report1" asp-action="Index">@localizer["Report1"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1104002")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Report2*@
                                                                    <li>
                                                                        <a> @localizer["Report2"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1104003")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Report3*@
                                                                    <li>
                                                                        <a> @localizer["Report3"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1104004")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Report4*@
                                                                    <li>
                                                                        <a> @localizer["Report4"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1104005")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Report5*@
                                                                    <li>
                                                                        <a> @localizer["Report5"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1104006")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Report6*@
                                                                    <li>
                                                                        <a> @localizer["Report6"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1104007")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Report7*@
                                                                    <li>
                                                                        <a> @localizer["Report7"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1104008")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Report8*@
                                                                    <li>
                                                                        <a> @localizer["Report8"]</a>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                        }

                                        @if (userInfo?.CrMasUserMainValidations != null)
                                        {
                                            @if (userInfo.CrMasUserMainValidations.FirstOrDefault(l => l.CrMasUserMainValidationMainTasks == "105")?.CrMasUserMainValidationAuthorization == true)
                                            {
                                                @*users*@
                                                <li class="side-nav-item">
                                                    <a data-bs-toggle="collapse" href="#sidebarUsers" aria-expanded="false" aria-controls="sidebarUsers" class="side-nav-link collapsed">
                                                        <i class="mdi mdi-account-multiple"></i>
                                                        <span> @localizer["Users"]</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="sidebarUsers" style="">
                                                        <ul class="side-nav-second-level">

                                                            @if (userInfo.CrMasUserSubValidations != null)
                                                            {
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1105001")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*UsersInfo*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="Users" asp-action="Users">@localizer["UsersInfo"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1105002")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Users' Responsibilities System*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="Users" asp-action="SystemValiditions"> @localizer["Users' Responsibilities System"]</a>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                        }

                                        @if (userInfo?.CrMasUserMainValidations != null)
                                        {
                                            @if (userInfo.CrMasUserMainValidations.FirstOrDefault(l => l.CrMasUserMainValidationMainTasks == "106")?.CrMasUserMainValidationAuthorization == true)
                                            {
                                                @*RnetersServices*@
                                                <li class="side-nav-item">
                                                    <a data-bs-toggle="collapse" href="#sidebarUsersServices" aria-expanded="false" aria-controls="sidebarServices" class="side-nav-link collapsed">
                                                        <i class="mdi mdi-shield-account"></i>
                                                        <span> @localizer["RentersServices"]</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="sidebarUsersServices" style="">
                                                        <ul class="side-nav-second-level">
                                                            @if (userInfo.CrMasUserSubValidations != null)
                                                            {
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1106001")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*UserIdType*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="RenterIdType" asp-action="Index"> @localizer["UserIdType"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1106002")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Driving License Type*@
                                                                    <li>
                                                                        <a>@localizer["DrivingLicenseType"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1106003")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Nationalities*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="RenterNationality" asp-action="Index">@localizer["Nationalities"]</a>
                                                                    </li>

                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1106004")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Professions*@
                                                                    <li>
                                                                        <a>@localizer["Professions"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1106005")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Employers*@
                                                                    <li>
                                                                        <a>@localizer["Employers"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1106006")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Membership*@
                                                                    <li>
                                                                        <a>@localizer["MembershipConditions"]</a>
                                                                    </li>
                                                                }


                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1106007")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Sectors*@
                                                                    <li>
                                                                        <a>@localizer["Sectors"]</a>
                                                                    </li>
                                                                }
                                                            }

                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                        }


                                        @if (userInfo?.CrMasUserMainValidations != null)
                                        {
                                            @if (userInfo.CrMasUserMainValidations.FirstOrDefault(l => l.CrMasUserMainValidationMainTasks == "107")?.CrMasUserMainValidationAuthorization == true)
                                            {
                                                @*CarsServices*@
                                                <li class="side-nav-item">
                                                    <a data-bs-toggle="collapse" href="#sidebarCarsServices" aria-expanded="false" aria-controls="sidebarServices" class="side-nav-link collapsed">
                                                        <i class="mdi mdi-car"></i>
                                                        <span> @localizer["CarsServices"]</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="sidebarCarsServices" style="">
                                                        <ul class="side-nav-second-level">

                                                            @if (userInfo.CrMasUserSubValidations != null)
                                                            {

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1107001")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Registration Type*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="CarRegistration" asp-action="Index">@localizer["RegistrationType"]</a>
                                                                    </li>                                                                    
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1107002")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Fuel Type*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="CarFuel" asp-action="Index">@localizer["FuelType"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1107003")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*CVTType*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="CarCvt" asp-action="Index">@localizer["CVTType"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1107004")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Brands*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="CarBrand" asp-action="Index">@localizer["Brands"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1107005")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Models*@
                                                                    <li>
                                                                        <a>@localizer["Models"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1107007")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Categories Distribution*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="CarDistribution" asp-action="CarDistribution">@localizer["CategoriesDistribution"]</a>
                                                                    </li>
                                                                }


                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1107006")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Categories*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="CarCategory" asp-action="Index">@localizer["Categories"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1107008")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Advantages*@
                                                                    <li>
                                                                        <a asp-area="MAS" asp-controller="CarAdvantage" asp-action="Index">@localizer["Advantages"]</a>
                                                                    </li>
                                                                }
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1107009")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Colors*@
                                                                    <li>
                                                                        <a>@localizer["Colors"]</a>
                                                                    </li>
                                                                }

                                                            }
                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                        }

                                        @if (userInfo?.CrMasUserMainValidations != null)
                                        {
                                            @if (userInfo.CrMasUserMainValidations.FirstOrDefault(l => l.CrMasUserMainValidationMainTasks == "108")?.CrMasUserMainValidationAuthorization == true)
                                            {
                                                @*MailsServices*@
                                                <li class="side-nav-item">
                                                    <a data-bs-toggle="collapse" href="#sidebarMailsServices" aria-expanded="false" aria-controls="sidebarUsers" class="side-nav-link collapsed">
                                                        <i class="mdi mdi-email-multiple"></i>
                                                        <span> @localizer["MailsServices"]</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="sidebarMailsServices" style="">
                                                        <ul class="side-nav-second-level">

                                                            @if (userInfo.CrMasUserSubValidations != null)
                                                            {
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1108001")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Regions*@
                                                                    <li>
                                                                        <a asp-action="Index" asp-controller="PostRegion" asp-area="MAS"> @localizer["Regions"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1108002")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Cities*@
                                                                    <li>
                                                                        <a asp-action="Index" asp-controller="PostCity" asp-area="MAS"> @localizer["Cities"]</a>
                                                                    </li>
                                                                }


                                                            }

                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                        }

                                        @if (userInfo?.CrMasUserMainValidations != null)
                                        {
                                            @if (userInfo.CrMasUserMainValidations.FirstOrDefault(l => l.CrMasUserMainValidationMainTasks == "109")?.CrMasUserMainValidationAuthorization == true)
                                            {
                                                @*AccountsServices*@
                                                <li class="side-nav-item">
                                                    <a data-bs-toggle="collapse" href="#sidebarAccountsServices" aria-expanded="false" aria-controls="sidebarUsers" class="side-nav-link collapsed">
                                                        <i class="mdi mdi-bank-outline"></i>
                                                        <span> @localizer["AccountsServices"]</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="sidebarAccountsServices" style="">
                                                        <ul class="side-nav-second-level">
                                                            @if (userInfo.CrMasUserSubValidations != null)
                                                            {
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1109001")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Banks*@
                                                                    <li>
                                                                        <a asp-action="Index" asp-controller="Bank" asp-area="MAS"> @localizer["Banks"]</a>
                                                                    </li>
                                                                }


                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1109002")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Payment Methods*@
                                                                    <li>
                                                                        <a asp-action="Index" asp-controller="Payment" asp-area="MAS"> @localizer["PaymentMethods"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1109003")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Reference*@


                                                                    <li>
                                                                        <a asp-action="Index" asp-controller="AccountRefrence" asp-area="MAS"> @localizer["Reference"]</a>
                                                                    </li>

                                                                }


                                                            }

                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                        }
                                        @if (userInfo?.CrMasUserMainValidations != null)
                                        {
                                            @if (userInfo.CrMasUserMainValidations.FirstOrDefault(l => l.CrMasUserMainValidationMainTasks == "110")?.CrMasUserMainValidationAuthorization == true)
                                            {
                                                @*RentalContracts*@
                                                <li class="side-nav-item">
                                                    <a data-bs-toggle="collapse" href="#sidebarRentalContracts" aria-expanded="false" aria-controls="sidebarUsers" class="side-nav-link collapsed">
                                                        <i class="mdi mdi-file-multiple"></i>
                                                        <span> @localizer["RentalContracts"]</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="sidebarRentalContracts" style="">
                                                        <ul class="side-nav-second-level">

                                                            @if (userInfo.CrMasUserSubValidations != null)
                                                            {
                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1110001")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Additionals*@
                                                                    <li>
                                                                        <a asp-action="Index" asp-controller="ContractAdditional" asp-area="MAS"> @localizer["Additionals"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1110002")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Choices*@
                                                                    <li>
                                                                        <a asp-action="Index" asp-controller="ContractOptions" asp-area="MAS"> @localizer["Choices"]</a>
                                                                    </li>
                                                                }

                                                                @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1110003")?.CrMasUserSubValidationAuthorization == true)
                                                                {
                                                                    @*Virtual Inspection*@
                                                                    <li>
                                                                        <a asp-action="Index" asp-controller="CarCheckup" asp-area="MAS"> @localizer["VirtualInspection"]</a>
                                                                    </li>
                                                                }
                                                            }

                                                        </ul>
                                                    </div>
                                                </li>

                                            }
                                        }
                                        @if (userInfo?.CrMasUserMainValidations != null)
                                        {

                                            @*Services*@
                                            <li class="side-nav-item">
                                                <a data-bs-toggle="collapse" href="#sidebarServices" aria-expanded="false" aria-controls="sidebarUsers" class="side-nav-link collapsed">
                                                    <i class="mdi mdi-arrange-bring-to-front"></i>
                                                    <span> @localizer["Services"]</span>
                                                    <span class="menu-arrow"></span>
                                                </a>
                                                <div class="collapse" id="sidebarServices" style="">
                                                    <ul class="side-nav-second-level">
                                                        @if (userInfo.CrMasUserSubValidations != null)
                                                        {

                                                            @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1111001")?.CrMasUserSubValidationAuthorization == true)
                                                            {
                                                                @*Systems*@
                                                                <li>
                                                                    <a> @localizer["Systems"]</a>
                                                                </li>
                                                            }

                                                            @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1111002")?.CrMasUserSubValidationAuthorization == true)
                                                            {
                                                                @*Main Tasks*@
                                                                <li>
                                                                    <a> @localizer["MainTasks"]</a>
                                                                </li>
                                                            }

                                                            @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1111003")?.CrMasUserSubValidationAuthorization == true)
                                                            {
                                                                @*Sub Tasks*@
                                                                <li>
                                                                    <a> @localizer["SubTasks"]</a>
                                                                </li>
                                                            }

                                                            @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1111004")?.CrMasUserSubValidationAuthorization == true)
                                                            {
                                                                @*Groups*@
                                                                <li>
                                                                    <a> @localizer["Groups"]</a>
                                                                </li>
                                                            }

                                                            @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1111005")?.CrMasUserSubValidationAuthorization == true)
                                                            {
                                                                @*Procedures*@
                                                                <li>
                                                                    <a asp-area="MAS" asp-controller="Procedures" asp-action="GetProcedures">@localizer["Procedures"]</a>
                                                                </li>
                                                            }

                                                            @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1111006")?.CrMasUserSubValidationAuthorization == true)
                                                            {
                                                                @*Registration Status*@
                                                                <li>
                                                                    <a> @localizer["RegistrationStatus"]</a>
                                                                </li>
                                                            }

                                                            @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1111007")?.CrMasUserSubValidationAuthorization == true)
                                                            {
                                                                @*Membership Conditions*@
                                                                <li>
                                                                    <a> @localizer["MembershipConditions"]</a>
                                                                </li>
                                                            }
                                                            @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1111008")?.CrMasUserSubValidationAuthorization == true)
                                                            {
                                                                @*Membership Conditions*@
                                                                <li>
                                                                    <a> @localizer["Evaluation"]</a>
                                                                </li>
                                                            }
                                                            @if (userInfo?.CrMasUserSubValidations.FirstOrDefault(l => l.CrMasUserSubValidationSubTasks == "1111009")?.CrMasUserSubValidationAuthorization == true)
                                                            {
                                                                @*Membership Conditions*@
                                                                <li>
                                                                    <a> @localizer["ClassifyCompanies"]</a>
                                                                </li>
                                                            }
                                                            @*Messages To Users*@
                                                            <li>
                                                                <a>@localizer["Messages To Users"]</a>
                                                            </li>

                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                    <!-- End Sidebar -->

                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        </div>
                    </div><div class="simplebar-placeholder" style="width: 70px; height: 1150px;"></div>
                </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; transform: translate3d(0px, 0px, 0px); display: none;"></div></div>
            </div>
            <!-- Sidebar -left -->

        </div>
        <div class="content-page" style="margin-top: 30px;">
            <div class="content">
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-menu float-end mb-0">
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">
                                @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                                {
                                    <a class="dropdown-item notify-item-lang" asp-area="MAS" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="ar-EG">
                                        <span class="align-middle">عربى</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="dropdown-item notify-item-lang" asp-area="MAS" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="en-US">
                                        <span class="align-middle">English</span>
                                    </a>
                                }

                            </a>

                        </li>

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">
                                <i class="dripicons-bell noti-icon"></i>
                                <span class="noti-icon-badge"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-278px, 72px);" data-popper-placement="bottom-end">

                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="m-0">
                                        <span class="float-end">
                                            <a href="javascript: void(0);" class="text-dark">
                                                <small>Clear All</small>
                                            </a>
                                        </span>Notification
                                    </h5>
                                </div>

                                <div style="max-height: 230px;" data-simplebar="init">
                                    <div class="simplebar-wrapper" style="margin: 0px;">
                                        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                                                    <div class="simplebar-content" style="padding: 0px;">
                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon bg-primary">
                                                                <i class="mdi mdi-comment-account-outline"></i>
                                                            </div>
                                                            <p class="notify-details">
                                                                Caleb Flakelar commented on Admin
                                                                <small class="text-muted">1 min ago</small>
                                                            </p>
                                                        </a>

                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon bg-info">
                                                                <i class="mdi mdi-account-plus"></i>
                                                            </div>
                                                            <p class="notify-details">
                                                                New user registered.
                                                                <small class="text-muted">5 hours ago</small>
                                                            </p>
                                                        </a>

                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon">
                                                                <img src="assets/Pictures/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="">
                                                            </div>
                                                            <p class="notify-details">Cristina Pride</p>
                                                            <p class="text-muted mb-0 user-msg">
                                                                <small>Hi, How are you? What about our next meeting</small>
                                                            </p>
                                                        </a>

                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon bg-primary">
                                                                <i class="mdi mdi-comment-account-outline"></i>
                                                            </div>
                                                            <p class="notify-details">
                                                                Caleb Flakelar commented on Admin
                                                                <small class="text-muted">4 days ago</small>
                                                            </p>
                                                        </a>

                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon">
                                                                <img src="assets/Pictures/users/avatar-4.jpg" class="img-fluid rounded-circle" alt="">
                                                            </div>
                                                            <p class="notify-details">Karen Robinson</p>
                                                            <p class="text-muted mb-0 user-msg">
                                                                <small>Wow ! this admin looks good and awesome design</small>
                                                            </p>
                                                        </a>

                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon bg-info">
                                                                <i class="mdi mdi-heart"></i>
                                                            </div>
                                                            <p class="notify-details">
                                                                Carlos Crouch liked
                                                                <b>Admin</b>
                                                                <small class="text-muted">13 days ago</small>
                                                            </p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="simplebar-placeholder" style="width: 318px; height: 389px;"></div>
                                    </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 135px; display: block; transform: translate3d(0px, 94px, 0px);"></div></div>
                                </div>

                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                    View All
                                </a>

                            </div>
                        </li>

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">
                                <i class="dripicons-message noti-icon"></i>
                                <span class="noti-icon-badge-message"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-278px, 72px);" data-popper-placement="bottom-end">

                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="m-0">
                                        <span class="float-end">
                                            <a href="javascript: void(0);" class="text-dark">
                                                <small>Clear All</small>
                                            </a>
                                        </span>Notification
                                    </h5>
                                </div>

                                <div style="max-height: 230px;" data-simplebar="init">
                                    <div class="simplebar-wrapper" style="margin: 0px;">
                                        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                                                    <div class="simplebar-content" style="padding: 0px;">
                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon bg-primary">
                                                                <i class="mdi mdi-comment-account-outline"></i>
                                                            </div>
                                                            <p class="notify-details">
                                                                Caleb Flakelar commented on Admin
                                                                <small class="text-muted">1 min ago</small>
                                                            </p>
                                                        </a>

                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon bg-info">
                                                                <i class="mdi mdi-account-plus"></i>
                                                            </div>
                                                            <p class="notify-details">
                                                                New user registered.
                                                                <small class="text-muted">5 hours ago</small>
                                                            </p>
                                                        </a>

                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon">
                                                                <img src="assets/Pictures/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="">
                                                            </div>
                                                            <p class="notify-details">Cristina Pride</p>
                                                            <p class="text-muted mb-0 user-msg">
                                                                <small>Hi, How are you? What about our next meeting</small>
                                                            </p>
                                                        </a>

                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon bg-primary">
                                                                <i class="mdi mdi-comment-account-outline"></i>
                                                            </div>
                                                            <p class="notify-details">
                                                                Caleb Flakelar commented on Admin
                                                                <small class="text-muted">4 days ago</small>
                                                            </p>
                                                        </a>

                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon">
                                                                <img src="assets/Pictures/users/avatar-4.jpg" class="img-fluid rounded-circle" alt="">
                                                            </div>
                                                            <p class="notify-details">Karen Robinson</p>
                                                            <p class="text-muted mb-0 user-msg">
                                                                <small>Wow ! this admin looks good and awesome design</small>
                                                            </p>
                                                        </a>

                                                        <!-- item-->
                                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                            <div class="notify-icon bg-info">
                                                                <i class="mdi mdi-heart"></i>
                                                            </div>
                                                            <p class="notify-details">
                                                                Carlos Crouch liked
                                                                <b>Admin</b>
                                                                <small class="text-muted">13 days ago</small>
                                                            </p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="simplebar-placeholder" style="width: 318px; height: 389px;"></div>
                                    </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 135px; display: block; transform: translate3d(0px, 94px, 0px);"></div></div>
                                </div>

                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                    View All
                                </a>

                            </div>
                        </li>

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="@Url.Content(user.CrMasUserInformationPicture?.ToString())" class="rounded-circle">
                                </span>
                                <span>
                                    @if (signinManager.IsSignedIn(User))
                                    {
                                        @if (requestCulture.RequestCulture.UICulture.Name != "en-US")
                                        {
                                            <span class="account-user-name">@((await userManager.GetUserAsync(User)).CrMasUserInformationArName)</span>
                                            <span class="account-position">@((await userManager.GetUserAsync(User)).CrMasUserInformationTasksArName)</span>
                                        }
                                        else
                                        {
                                            <span class="account-user-name">@((await userManager.GetUserAsync(User)).CrMasUserInformationEnName)</span>
                                            <span class="account-position">@((await userManager.GetUserAsync(User)).CrMasUserInformationTasksEnName)</span>
                                        }

                                    }
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                <!-- item-->
                                <div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">@localizer["Welcome"]</h6>
                                </div>

                                <!-- item-->
                                <a asp-area="MAS" asp-controller="Users" asp-action="MyAccount" class="dropdown-item notify-item" id="myAcc">
                                    <i class="mdi mdi-account-circle me-1"></i>
                                    <span>@localizer["My Account"]</span>
                                </a>
                                <a asp-area="MAS" asp-controller="Users" asp-action="ChangePassword" class="dropdown-item notify-item" id="changePass">
                                    <i class="mdi mdi-onepassword me-1"></i>
                                    <span>@localizer["ChangePassword"]</span>
                                </a>
                                <!-- item-->
                                <a asp-area="Identity" asp-controller="Account" asp-action="Logout" class="dropdown-item notify-item" id="logout">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>@localizer["logout"]</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="button-menu-mobile open-left" style="height: 85px;">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <button class="button-menu-mobile button-menu-mobile-logo open-left">
                        <img src="~/images/Bnan/Support Image/C.png" alt="" style="height: 90px;width: 100px;">
                    </button>
                    <button class="button-menu-mobile open-left lessor-title" style="font-size:19px;font-weight:800;margin-right: 55px; white-space: nowrap;">
                        @if (signinManager.IsSignedIn(User))
                        {
                            @if (requestCulture.RequestCulture.UICulture.Name != "en-US")
                            {
                                @Html.Raw(lessorInfo.CrMasUserInformationLessorNavigation?.CrMasLessorInformationArLongName)
                            }
                            else
                            {
                                @Html.Raw(lessorInfo.CrMasUserInformationLessorNavigation?.CrMasLessorInformationEnLongName)

                            }
                        }
                    </button>
                </div>
                <!-- Expiration Modal -->
                <partial name="_ExpirationModalMAS" />
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box me-2">
                            <div class="page-title-left">
                                <h4 class="page-title">@ViewData["Page-Title"]</h4>
                            </div>
                            <div class="page-title-left me-2">
                                <h5 class="page-title-hint">@ViewData["Page-Hint"]</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="~/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="~/js/vendor/dataTables.buttons.min.js"></script>
    <script src="~/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="~/js/vendor/dataTables.select.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/js/toastr.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    <script src="~/js/site.js"></script>

    @*set datatable*@
    <script>
        function set_basic_datatable() {
            var table = $("#basic-datatable").DataTable({
                scrollY: "48vh",
                pageLength: 7,
                scrollCollapse: true,
                paging: false,
                paginate: false,
                language: {
                    search: `@localizer["search"]`
                }
            });

            $('#top-search').on('keyup', function () {
                table.search(this.value).draw();
            });
        }
        set_basic_datatable();
    </script>
    @*Expireation pop up modal*@
    <script>
        $(document).ready(function () {
            // Set an initial timeout of 60 seconds (in milliseconds)
            var exitUser="@user.CrMasUserInformationExitTimer";
            let timeout = parseInt(exitUser)*60*1000;
            let timer;
            // Function to start the countdown
            function startCountdown() {
                timer = setInterval(updateCountdown, 1000);
            }
            function clearCountdown() {
                clearInterval(timer);
            }

            // Function to update the countdown display
            function updateCountdown() {
                let countdownElem = $('#countdown');
                let timeLeft = parseInt(countdownElem.text());

                if (timeLeft > 1) {
                    countdownElem.text(timeLeft - 1);
                } else {
                    clearInterval(timer);
                    logout();
                }
            }

            // Function to logout the user
            function logout() {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Logout", "Account", new { Area = "Identity" })",
                    success: function (response) {
                        window.location.href = "@Url.Action("Index", "Account", new { Area = "Identity" })";
                    },
                })
            }

            // Add event listener to detect no activity
            let idleTimeout = null;

            $(document).on('click keydown mousemove', function () {
                clearTimeout(idleTimeout);
                idleTimeout = setTimeout(function () {
                    if ($('#popup').is(':visible')) {
                        return; // Popup already displayed, so ignore this event
                    }

                    $('#popup').modal("show");
                    startCountdown();
                }, timeout);
            });

            // Add event listener to continue button
            $('#continueBtn').click(function () {
                $('#countdown').text("60");
                clearCountdown();
                clearTimeout(idleTimeout);
                $('#popup').modal("hide");
            });

            // Add event listener to logout button
            $('#logoutBtn').click(function () {
                clearTimeout(idleTimeout);
                logout();
            });
        });
    </script>

    @*Check UserValdtion *@
    <script>
        function CheckValidation(subTaskCodeProcdure, status, url) {
            return $.ajax({
                type: "GET",
                async: false,
                data: {
                    subTaskCodeProcdure: subTaskCodeProcdure,
                    status: status
                },
                url: "@Url.Action("CheckUserSubValidationProcdures", "LessorsKSA")",
                success: function (response) {
                    if (response == true) {
                        if (url != null) {
                            window.location.href = url;
                        }
                    } else {
                        toastr.options = { "positionClass": '@localizer["toastPostion"]', };
                        toastr.error('@localizer["toastMessage"]');
                        
                    }
                },
            })
        }
    </script>

    @*select 2*@
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>

    @*Enhance Template*@
    <script>
        $(document).ready(function () {
            if (window.location.href == "https://" + "@urlhost" + "/MAS/Home/Index") {
                localStorage.removeItem("li");
                localStorage.removeItem("lino");
            }

            localStorage.setItem("li", $("@ViewData["id"]").attr("id"));
            localStorage.setItem("lino", "@ViewData["no"]");

            var ParentNode = localStorage.getItem("li");
            var NoNode = (parseInt(localStorage.getItem("lino")) + 1).toString();

            $(`#${ParentNode}`).addClass("show");
            $(`#${ParentNode}`).siblings("a").attr("aria-expanded", "true");
            $(`#${ParentNode}`).parent().addClass("menuitem-active");
            $(`#${ParentNode}`).find(`.side-nav-second-level li:nth-child(${NoNode})`).addClass("active");
            $(".dropdown.notification-list > a").on("click", function () {
                $(this).find(".dropdown-menu").toggleClass("show");
                // $(this).siblings().find(".dropdown-menu").removeClass("show");
            });
        });

        $('.button-menu-mobile.open-left').click(function () {
            if ($('body').attr('data-leftbar-compact-mode')) {
                $('body').removeAttr('data-leftbar-compact-mode');
            } else {
                $('body').attr('data-leftbar-compact-mode', 'condensed');
            }
            $(".side-nav-item").on("click", function () {
                console.log($(this).find(" > a").attr('aria-expanded'));
                if ($(this).find(" > a").attr('aria-expanded') === "false") {
                    $(this).find(" > a").attr('aria-expanded', "true");
                    console.log("if false => true");
                } else {
                    $(this).find(" > a").attr('aria-expanded', "false");
                    console.log("if true => false");
                }
            });
        });

        $(".side-nav-item").on("click", function () {
            $(this).toggleClass("menuitem-active");
            $(this).find(".side-nav-link").toggleClass("collapsed");
            if (!$(this).find(".collapse").hasClass("show")) {
                $(this).find(".collapse").removeClass("collapse").addClass("collapsing").animate({
                    height: $(this).find(".side-nav-second-level").height()
                }, 400).removeClass("collapsing").addClass("collapse").addClass("show");
                $(this).siblings().find(" > a").attr('aria-expanded', false);
            } else {
                $(this).find(".show").animate({
                    height: "0"
                }, 400).addClass("collapse").removeClass("show");
            }
            $(this).siblings().find(".collapse").removeClass("show");
            $(this).siblings().removeClass("menuitem-active");
        });

        //$(".side-nav-second-level li").on("click", function(event) {
        //  localStorage.setItem("li", $(this).parent().parent().attr("id"));
        // localStorage.setItem("lino", $(this).index());
        //event.stopPropagation();
        //});



        $("#logout, #myAcc, #changePass").on("click", function () {
            localStorage.removeItem("li");
            localStorage.removeItem("lino");
        });
        // this script to set number and length input type number
        function validateInputNumber(input) {
            // Remove any non-numeric characters
            input.value = input.value.replace(/[^0-9.]/g, '');
            // Remove multiple decimal points
            input.value = input.value.replace(/(\..*)\./g, '$1');
            // // Limit input length to 10 characters
            // if (input.value.length > 10) {
            //     input.value = input.value.slice(0, 10);
            // }
        }

                                // auto complete off in all input
                                //document.addEventListener("DOMContentLoaded", function () {
                                //    // Get all input fields in the document
                                //    var inputFields = document.querySelectorAll("input");

                                //    // Loop through each input field
                                //    inputFields.forEach(function (input) {
                                //        // Set the autocomplete attribute to "off"
                                //        input.setAttribute("autocomplete", "off");
                                //    });
                                //});
    </script>
</body>
</html>