@using Bnan.Ui.ViewModels.CAS
@model Bnan.Ui.ViewModels.CAS.OwnersVM
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["Add Owners Data"];
    ViewData["Page-Hint"] = localizer["Add Owners Hint"];
}
<style>

    .row {
        align-items: center;
    }

    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 10% !important;
    }
</style>
<title>@ViewData["Title"]</title>



<div class="sub-container-form">
    <form class="needs-validation" novalidate asp-area="CAS" asp-controller="Owners" asp-action="AddOwner" enctype="multipart/form-data">
        <div class="form-contain">

            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label">@localizer["Id"]</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" asp-for="CrCasOwnersCode" width="80%" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g,'')" autocomplete="off"/>
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrCasOwnersCode" class="text-danger"></span>
                            @Html.ValidationMessage("OwnerIsExist", null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

           
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label">@localizer["Commercial_No"]</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" asp-for="CrCasOwnersCommercialNo" width="80%" maxlength="20" autocomplete="off" />
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrCasOwnersCommercialNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="AccountBankNameAr">@localizer["OwnersArName"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrCasOwnersArName" maxlength="50" width="80%" required oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" autocomplete="off" />
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrCasOwnersArName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="AccountBankNameAr">@localizer["OwnersEnName"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrCasOwnersEnName" maxlength="50" width="80%" required oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')" autocomplete="off" />
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrCasOwnersEnName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label" for="CrCasAccountBankReasons">@localizer["reasons"]</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" asp-for="CrCasOwnersReasons" maxlength="100" width="80%" autocomplete="off" />
                </div>
            </div>
        </div>




        <div class="mt-3">
            <button class="btn btn-primary" type="submit">@localizer["Save"]</button>
            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="Owners" asp-action="Owners">
                @localizer["Back"]
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}