@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.CAS

@model UserContractVM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@* 
  "RenterInformationCode": "Code",
  "RenterInformationId": "ID",
  "RenterInformationNationality": "Nationality",
  "RenterInformationAddress": "Address",
  "RenterInformationProfession": "Profession",
  "RenterInformationWorkPlace": "Work Place",
 
  
 *@
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    
       <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">

            <thead>
                <tr role="row">
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterInformationId"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["DateLast_Contract"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Contract_Count"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Days_Count"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["KM_Count"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.crCasRenterContractBasics)
                {

                    @*<tr onclick="location.href='@Url.Action("Edit", "UserContract", new { id = item.CrCasRenterContractBasic3.CrCasRenterPrivateDriverInformationId })'" style="cursor:pointer;color:red">*@
                    <tr onclick="location.href='@Url.Action("Edit", "UserContract", new { id = item.CrCasRenterContractBasicUserInsert })'">
                        <td id="_Nc">@no</td>
                        <td id="_Nc">@item.CrCasRenterContractBasicUserInsert</td>
                            <td>@Model.crMasUserInformation.FirstOrDefault(x=>x.CrMasUserInformationCode == item.CrCasRenterContractBasicUserInsert).CrMasUserInformationArName</td>
                            <td>@item.CrCasRenterContractBasic3?.CrCasRenterPrivateDriverInformationLastContract?.ToString("dd/MM/yyyy")</td>

                            <td id="_Nc">@item.CrCasRenterContractBasic3?.CrCasRenterPrivateDriverInformationContractCount</td>
                            <td id="_Nc">@item.CrCasRenterContractBasic3?.CrCasRenterPrivateDriverInformationDaysCount</td>
                            <td id="_Nc">@item.CrCasRenterContractBasic3?.CrCasRenterPrivateDriverInformationTraveledDistance</td>

                            
                            <td>

                                @if (@item.CrCasRenterContractBasic3.CrCasRenterPrivateDriverInformationStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                                else if (@item.CrCasRenterContractBasic3.CrCasRenterPrivateDriverInformationStatus == Status.Rented)
                                {
                                @localizer["Rented_n"]
                                }
                                else if (@item.CrCasRenterContractBasic3.CrCasRenterPrivateDriverInformationStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            else if (@item.CrCasRenterContractBasic3.CrCasRenterPrivateDriverInformationStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else
                                {

                                }
                            </td>
                        </tr>
                    
                    
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <thead>
                <tr role="row">
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterInformationId"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["DateLast_Contract"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Contract_Count"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Days_Count"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["KM_Count"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.crCasRenterContractBasics)
                {

                    @*<tr onclick="location.href='@Url.Action("Edit", "UserContract", new { id = item.CrCasRenterContractBasic3.CrCasRenterPrivateDriverInformationId })'" style="cursor:pointer;color:red">*@
                    <tr onclick="location.href='@Url.Action("Edit", "UserContract", new { id = item.CrCasRenterContractBasicUserInsert })'">
                        <td id="_Nc">@no</td>
                        <td id="_Nc">@item.CrCasRenterContractBasicUserInsert</td>
                        <td>@item.CrCasRenterContractBasic3?.CrCasRenterPrivateDriverInformationArName</td>
                        <td>@item.CrCasRenterContractBasic3?.CrCasRenterPrivateDriverInformationLastContract?.ToString("dd/MM/yyyy")</td>

                        <td id="_Nc">@item.CrCasRenterContractBasic3?.CrCasRenterPrivateDriverInformationContractCount</td>
                        <td id="_Nc">@item.CrCasRenterContractBasic3?.CrCasRenterPrivateDriverInformationDaysCount</td>
                        <td id="_Nc">@item.CrCasRenterContractBasic3?.CrCasRenterPrivateDriverInformationTraveledDistance</td>

                        
                        <td>

                            @if (@item.CrCasRenterContractBasic3.CrCasRenterPrivateDriverInformationStatus == Status.Active)
                            {
                                @localizer["Active"]
                            }
                            else if (@item.CrCasRenterContractBasic3.CrCasRenterPrivateDriverInformationStatus == Status.Rented)
                            {
                                @localizer["Rented_n"]
                            }
                            else if (@item.CrCasRenterContractBasic3.CrCasRenterPrivateDriverInformationStatus == Status.Hold)
                            {
                                @localizer["Hold"]
                            }
                            else if (@item.CrCasRenterContractBasic3.CrCasRenterPrivateDriverInformationStatus == Status.Deleted)
                            {
                                @localizer["Deleted"]
                            }
                            else
                            {

                            }
                        </td>
                    </tr>
                    
                    
                    no++;
                }
            </tbody>
        </table>
    </div>
}