@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.BS;
@model BSLayoutVM

@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}



@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    @foreach (var item in Model.CarsFilter)
    {
        <tr style="border-bottom: 1px solid #39629C;cursor: pointer;" class="next ">
            <td data-serial-number="@item.CrCasCarInformationSerailNo">
                <div class="row"
                     style="flex-direction: row-reverse;">
                    <div class="col-sm-12  col-md-12 col-lg-2 p-1">
                        <img src="@Url.Content(item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionImage?.ToString())" style="height: 130px;width: 150px;">
                    </div>
                    <div class="col-sm-12  col-md-12 pt-3 col-lg-6 details-car-fieldset">
                        <p>@item.CrCasCarInformationConcatenateEnName</p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 pt-3 icon-details-car-fieldset">
                        <p>
                            <img src="~/BranchSys/CreateContract/img/Rectangle 93.png">
                            <img src="~/BranchSys/CreateContract/img/Rectangle 143.png ">
                            <img src="~/BranchSys/CreateContract/img/Rectangle 96.png"><span>@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionSmallBags</span>
                            <img src="~/BranchSys/CreateContract/img/Rectangle 95.png"><span>@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionBagBags</span>
                            <img src="~/BranchSys/CreateContract/img/Rectangle 97.png"><span>@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionPassengers</span>
                            <img src="~/BranchSys/CreateContract/img/Rectangle 98 (1).png"><span>@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionDoor</span>
                        </p>
                        <p>
                            <span>@localizer["CurrentMeter"]:</span>
                            <span>@item.CrCasCarInformationCurrentMeter</span>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    }
}
else
{
    @foreach (var item in Model.CarsFilter)
    {
        <tr style="border-bottom: 1px solid #39629C;cursor: pointer;" class="next " data-serialNnumber="@item.CrCasCarInformationSerailNo">
            <td data-serial-number="@item.CrCasCarInformationSerailNo">
                <div class="row"
                     style="flex-direction: row-reverse;">
                    <div class="col-sm-12  col-md-12 col-lg-2 p-1">
                        <img src="@Url.Content(item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionImage?.ToString())" style="height: 130px;width: 150px;">
                    </div>
                    <div class="col-sm-12  col-md-12 pt-3 col-lg-6 details-car-fieldset">
                        <p>@item.CrCasCarInformationConcatenateArName</p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 pt-3 icon-details-car-fieldset">
                        <p>
                            <img src="~/BranchSys/CreateContract/img/Rectangle 93.png">
                            <img src="~/BranchSys/CreateContract/img/Rectangle 143.png ">
                            <img src="~/BranchSys/CreateContract/img/Rectangle 96.png"><span>@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionSmallBags</span>
                            <img src="~/BranchSys/CreateContract/img/Rectangle 95.png"><span>@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionBagBags</span>
                            <img src="~/BranchSys/CreateContract/img/Rectangle 97.png"><span>@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionPassengers</span>
                            <img src="~/BranchSys/CreateContract/img/Rectangle 98 (1).png"><span>@item.CrCasCarInformationDistributionNavigation.CrMasSupCarDistributionDoor</span>
                        </p>
                        <p>
                            <span>@localizer["CurrentMeter"]:</span>
                            <span>@item.CrCasCarInformationCurrentMeter</span>
                        </p>
                        @if (item.CrCasCarDocumentsMaintenances.Where(x=>x.CrCasCarDocumentsMaintenanceProceduresClassification=="12"&&x.CrCasCarDocumentsMaintenanceStatus!=Status.Active).Count()>0)
                        {
                            <p>
                                <span style="color:red">راجع وثائق السيارة</span>
                            </p>
                        }
                        @if (item.CrCasCarDocumentsMaintenances.Where(x => x.CrCasCarDocumentsMaintenanceProceduresClassification == "13" && x.CrCasCarDocumentsMaintenanceStatus != Status.Active).Count() > 0)
                        {
                            <p>
                                <span style="color:red">راجع صيانة السيارة</span>
                            </p>
                        }
                    </div>
                </div>
            </td>

        </tr>
    }
}

