@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.CAS;
@model List<RenterLessorVM>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = @localizer["TransferFromTenant Data"];
    ViewData["Page-Hint"] = @localizer["TransferFromTenant Hint"];
}
<style>
    body {
        overflow: hidden
    }

    @@media (max-width: 600px) {
        #basic-datatable1_wrapper .row:first-child > div {
            text-align: center;
        }

            #basic-datatable1_wrapper .row:first-child > div:last-child > * {
                text-align: center;
            }
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>

<div class="sub-container">
    <div class="container-fluid">
        <div class="row">
            @*filter*@
            <div class="col-sm-12 col-md-9">
                <div class="col-sm-12 col-md-4 p-0">
                    <a type="button" class="btn btn-danger" title="@localizer["Back"]" asp-area="CAS" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>
                </div>
            </div>

            @*search And Fitler Radio Button*@
            <div class="col-sm-12 col-md-3 p-0">
                <input class="form-control" type="search" id="top-search" style="width: 96%;" placeholder="@localizer["search"]...">
            </div>
        </div>
        <div class=dataTable>
            <div class="col-sm-12">
                <table id="basic-datatable" class="table dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" style="width:100%">
                    <thead>
                        <tr role="row">
                            <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                            <th aria-label="Position: activate to sort column ascending">@localizer["Id"]</th>
                            <th aria-label="Position: activate to sort column ascending">@localizer["Name"]</th>
                            <th aria-label="Office: activate to sort column ascending">@localizer["FirstVisit"]</th>
                            <th aria-label="Start date: activate to sort column ascending">@localizer["LastContract"]</th>
                            <th aria-label="Start date: activate to sort column ascending">@localizer["Balance"]</th>
                            <th aria-label="Start date: activate to sort column ascending">@localizer["AmountsTraded"]</th>
                            <th aria-label="Start date: activate to sort column ascending">@localizer["ContractCountt"]</th>
                            <th aria-label="Start date: activate to sort column ascending">@localizer["DealingMechanism"]</th>
                            <th aria-label="Start date: activate to sort column ascending">@localizer["Evaluation"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int no = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr onclick="location.href='@Url.Action("TransferFrom", "TransferFromTenant", new { id = item.CrCasRenterLessorId })'">
                                <td>@no</td>
                                <td>@item.CrCasRenterLessorId</td>
                                <td>
                                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                                    {
                                        @item.CrCasRenterLessorNavigation.CrMasRenterInformationArName
                                    }
                                    else
                                    {
                                        @item.CrCasRenterLessorNavigation.CrMasRenterInformationEnName
                                    }
                                </td>
                                <td>@item.CrCasRenterLessorDateFirstInteraction?.ToString("yyyy/MM/dd")</td>
                                <td>@item.CrCasRenterLessorDateLastContractual?.ToString("yyyy/MM/dd")</td>
                                <td>@item.CrCasRenterLessorBalance?.ToString("N2",CultureInfo.InvariantCulture)</td>
                                <td>@item.CrCasRenterLessorContractTradedAmount</td>
                                <td>@item.CrCasRenterLessorContractCount</td>
                                <td>
                                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                                    {
                                        @item.CrMasSysEvaluation.CrMasSysEvaluationsArDescription
                                    }
                                    else
                                    {
                                        @item.CrMasSysEvaluation.CrMasSysEvaluationsEnDescription
                                    }
                                </td>
                                <td>@item.CrCasRenterLessorEvaluationValue</td>
                            </tr>
                            no++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {

}




