    @using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS
@model Bnan.Ui.ViewModels.CAS.RenterLessorVM
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["TransferFromTenant Data"];
    ViewData["Page-Hint"] = localizer["TransferFromTenant Edit Hint"];
}
<style>


</style>
<div class="sub-container-form">
    <form id="form" class="needs-validation" novalidate asp-area="CAS" asp-controller="TransferFromTenant" asp-action="TransferFrom" enctype="multipart/form-data">
        <input type="hidden" id="status" name="status" />
        <div class="form-contain">
            <div class="row">
                <div class="col-md-1">
                    <label class="form-label">@localizer["TransferNo"]</label>
                </div>
                <div class="col-md-3">
                    <input type="text" asp-for="AdminstritiveNo" class="form-control" readonly />
                </div>
            </div>
            <div class="row mt-2">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label">@localizer["Id"]</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="CrCasRenterLessorId" readonly />
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1">
                    <label class="form-label">@localizer["Name"]</label>
                </div>
                <div class="col-md-5">
                    @if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
                    {
                        <input type="text" class="form-control" asp-for="CrCasRenterLessorNavigation.CrMasRenterInformationArName" readonly />
                    }
                    else
                    {
                        <input type="text" class="form-control" asp-for="CrCasRenterLessorNavigation.CrMasRenterInformationEnName" readonly />
                    }
                </div>

            </div>
            <div class="row mt-2">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationSerailNo">@localizer["AccountNo"]</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="RenterInformationIban" maxlength="50" oninput="this.value=this.value.replace(/[^a-zA-Z0-9]/g,'')" />
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.RenterInformationIban" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationDistribution">@localizer["Bank"]</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select valid" asp-for="BankSelected" required>
                            <option selected disabled></option>
                            @foreach (var item in Model.Banks)
                            {
                                if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                                {
                                    <option class="text-right" value="@item.CrMasSupAccountBankCode">
                                        @item.CrMasSupAccountBankArName
                                    </option>
                                }
                                else
                                {
                                    <option class="text-left" value="@item.CrMasSupAccountBankCode">
                                        @item.CrMasSupAccountBankEnName
                                    </option>
                                }
                            }
                        </select>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.BankSelected" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationSerailNo">@localizer["Date"]</label>
                    </div>
                    <div class="col-md-2">
                        <input type="date" class="form-control" asp-for="TransferDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.TransferDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationDistribution">@localizer["ToAccount"]</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select valid" asp-for="FromAccountBankSelected" onchange="GetAccountNo()" required>
                            <option selected disabled></option>
                            @foreach (var item in Model.AccountBanks)
                            {
                                if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                                {
                                    <option class="text-right" value="@item.CrCasAccountBankCode">
                                        @item.CrCasAccountBankArName
                                    </option>
                                }
                                else
                                {
                                    <option class="text-left" value="@item.CrCasAccountBankCode">
                                        @item.CrCasAccountBankEnName
                                    </option>
                                }
                            }
                        </select>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.FromAccountBankSelected" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationDistribution">@localizer["ToAccountNo"]</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="FromAccountNo" name="FromAccountNo" readonly />
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationDistribution">@localizer["Bank"]</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="FromBankk" name="FromBankk" readonly />
                        <input type="text" asp-for="FromBank" hidden />
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationDistribution">@localizer["AmountTransfer"]</label>
                    </div>
                    <div class="col-md-1">
                        <input type="text" class="form-control" asp-for="Amount" maxlength="10" oninput="handleAmountPayed(this)" style="width:120%" />
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="row">
                    <div class="col-md-1">
                        <label class="form-label" for="CrCasCarInformationSerailNo">@localizer["reasons"]</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" asp-for="Reasons" maxlength="100" />
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-4" id="buttonContainer">
            <button class="btn btn-primary ms-1" type="submit">@localizer["Save"]</button>
            <a type="button" class="btn btn-danger ms-2" asp-area="CAS" asp-controller="TransferFromTenant" asp-action="Index">
                @localizer["Back"]
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script>
        function GetAccountNo() {
            var selectedBankCode = $("#FromAccountBankSelected").val();
            console.log(selectedBankCode)

            $.ajax({
                type: "GET",
                data: {
                    AccountNo: selectedBankCode
                },
                url: "@Url.Action("GetAccountBankNo", "TransferFromTenant", new { Area = "CAS" })",
                success: function (response) {
                    console.log(response)
                    $("#FromAccountNo").val(response.accountIban);
                    if ("@requestCulture?.RequestCulture.UICulture.Name" == "ar-EG") {
                        $("#FromBank").val(response.bankNo);
                        $("#FromBankk").val(response.arBank);
                    }
                    else {
                        $("#FromBank").val(response.bankNo);
                        $("#FromBankk").val(response.arBank);

                    }
                },
            })
        }
        function handleAmountPayed(input) {
            // Remove non-digit characters and additional decimal points
            input.value = input.value.replace(/[^0-9\.]/g, '');
            const decimalIndex = input.value.indexOf('.');
            // Limit to 9 digits before and after the decimal point
            if (decimalIndex !== -1) {
                const digitsBeforeDecimal = input.value.substring(0, decimalIndex);
                const digitsAfterDecimal = input.value.substring(decimalIndex + 1);

                // Limit to 2 digits after the decimal point
                input.value = digitsBeforeDecimal.substr(0, 7) + '.' + digitsAfterDecimal.substr(0, 2);

                // Remove additional decimal points
                if (input.value.indexOf('.', decimalIndex + 1) !== -1) {
                    const lastValidIndex = input.value.lastIndexOf('.');
                    input.value = input.value.substring(0, lastValidIndex) + input.value.substring(lastValidIndex + 1);
                }
            } else {
                // Limit to 7 digits before the decimal point
                input.value = input.value.substr(0, 7);
            }   
        }
    </script>

}