@using Bnan.Core.Extensions
@model IEnumerable<CrCasAccountSalesPoint>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["SalesPointCode"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["SalesPointName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Branch"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["BankName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["AccountBank"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasAccountSalesPointStatus == @Status.Deleted || item.CrCasAccountSalesPointStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "SalesPoints", new { id = item.CrCasAccountSalesPointCode })'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrCasAccountSalesPointNo</td>
                            <td>@item.CrCasAccountSalesPointEnName</td>
                            <td>@item.CrCasAccountSalesPointNavigation.CrCasBranchInformationEnShortName</td>
                            <td>@item.CrCasAccountSalesPointBankNavigation.CrMasSupAccountBankEnName</td>
                            <td>
                                @item.CrCasAccountSalesPointAccountBankNavigation.CrCasAccountBankEnName
                                @if (item.CrCasAccountSalesPointBankStatus == Status.Hold)
                                {
                                    <span class="text-danger">(@localizer["Holded"])</span>
                                }
                            </td>

                            <td>
                                @if (@item.CrCasAccountSalesPointStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrCasAccountSalesPointStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "SalesPoints", new { id = item.CrCasAccountSalesPointCode })'">
                            <td>@no</td>
                            <td>@item.CrCasAccountSalesPointNo</td>
                            <td>@item.CrCasAccountSalesPointEnName</td>
                            <td>@item.CrCasAccountSalesPointNavigation.CrCasBranchInformationEnShortName</td>
                            <td>@item.CrCasAccountSalesPointBankNavigation.CrMasSupAccountBankEnName</td>
                            <td>
                                @item.CrCasAccountSalesPointAccountBankNavigation.CrCasAccountBankEnName
                                @if (item.CrCasAccountSalesPointBankStatus == Status.Hold)
                                {
                                    <span class="text-danger">(@localizer["Holded"])</span>
                                }
                            </td>

                            <td>
                                @if (@item.CrCasAccountSalesPointStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["SalesPointCode"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["SalesPointName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Branch"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["BankName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["AccountBank"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasAccountSalesPointStatus == @Status.Deleted || item.CrCasAccountSalesPointStatus == @Status.Hold)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "SalesPoints", new { id = item.CrCasAccountSalesPointCode })'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrCasAccountSalesPointNo</td>
                            <td>@item.CrCasAccountSalesPointArName</td>
                            <td>@item.CrCasAccountSalesPointNavigation.CrCasBranchInformationArShortName</td>
                            <td>@item.CrCasAccountSalesPointBankNavigation.CrMasSupAccountBankArName</td>
                            <td>
                                @item.CrCasAccountSalesPointAccountBankNavigation.CrCasAccountBankArName
                                @if (item.CrCasAccountSalesPointBankStatus == Status.Hold)
                                {
                                    <span class="text-danger">(@localizer["Holded"])</span>
                                }
                            </td>

                            <td>
                                @if (@item.CrCasAccountSalesPointStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrCasAccountSalesPointStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "SalesPoints", new { id = item.CrCasAccountSalesPointCode })'">
                            <td>@no</td>
                            <td>@item.CrCasAccountSalesPointNo</td>
                            <td>@item.CrCasAccountSalesPointArName</td>
                            <td>@item.CrCasAccountSalesPointNavigation.CrCasBranchInformationArShortName</td>
                            <td>@item.CrCasAccountSalesPointBankNavigation.CrMasSupAccountBankArName</td>
                            <td>
                                @item.CrCasAccountSalesPointAccountBankNavigation.CrCasAccountBankArName
                                @if (item.CrCasAccountSalesPointBankStatus == Status.Hold)
                                {
                                    <span class="text-danger">(@localizer["Holded"])</span>
                                }
                            </td>

                            <td>
                                @if (@item.CrCasAccountSalesPointStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}