@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.BS;
@model BSLayoutVM
@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}





<table class="table table-bordered table-hover" id="reportTable">
    <thead>
        <tr>
            <th scope="col" class="@(requestCulture?.RequestCulture.UICulture.Name == "ar-EG" ? "text-right" : "text-left")">
                @localizer["Status"]
            </th>
            <th scope="col">@localizer["PreviousBalance"]</th>
            <th scope="col">@localizer["Debit"]</th>
            <th scope="col">@localizer["Creditor"]</th>
            <th scope="col" class="@(requestCulture?.RequestCulture.UICulture.Name == "ar-EG" ? "text-right" : "text-left")">
                @localizer["PaymentMethod"]
            </th>
            <th scope="col" class="@(requestCulture?.RequestCulture.UICulture.Name == "ar-EG" ? "text-right" : "text-left")">
                @localizer["ReferenceType"]
            </th>
            <th scope="col">@localizer["Date"]</th>
            <th scope="col">@localizer["ReceiptNo"]</th>
            <th scope="col">@localizer["No"]</th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;
        }
        @if (Model.AccountReceipts.Count()>0)
        {
            @foreach (var item in Model.AccountReceipts)
            {
                <tr class="modal-trigger" data-id="@item.CrCasAccountReceiptNo">
                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                    {
                        <td class="text-right">
                            @if (@item.CrCasAccountReceiptIsPassing == Status.Custody)
                            {
                                @localizer["Custody"]
                            }
                            else if (@item.CrCasAccountReceiptIsPassing == Status.Booked)
                            {
                                @localizer["booked"]
                            }
                            else if (@item.CrCasAccountReceiptIsPassing == Status.Transfer)
                            {
                                @localizer["Transfer"]
                            }
                            else if (@item.CrCasAccountReceiptIsPassing == Status.Change)
                            {
                                @localizer["TransferAuto"]
                            }
                        </td>
                    }
                    else
                    {
                        <td class="text-left">
                            @if (item.CrCasAccountReceiptIsPassing == Status.Custody)
                            {
                                @localizer["Custody"]
                            }
                            else if (item.CrCasAccountReceiptIsPassing == Status.Booked)
                            {
                                @localizer["booked"]
                            }
                            else if (item.CrCasAccountReceiptIsPassing == Status.Transfer)
                            {
                                @localizer["Transfer"]
                            }
                        </td>
                    }
                    <td>@item.CrCasAccountReceiptUserPreviousBalance?.ToString("N2",CultureInfo.InvariantCulture)</td>
                    <td>@item.CrCasAccountReceiptReceipt?.ToString("N2",CultureInfo.InvariantCulture)</td>
                    <td>@item.CrCasAccountReceiptPayment?.ToString("N2",CultureInfo.InvariantCulture)</td>
                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                    {
                        <td class="text-right">@item.CrCasAccountReceiptPaymentMethodNavigation?.CrMasSupAccountPaymentMethodArName</td>
                    }
                    else
                    {
                        <td class="text-left">@item.CrCasAccountReceiptPaymentMethodNavigation?.CrMasSupAccountPaymentMethodEnName</td>
                    }
                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                    {
                        <td class="text-right">@item.CrCasAccountReceiptReferenceTypeNavigation?.CrMasSupAccountReceiptReferenceArName</td>
                    }
                    else
                    {
                        <td class="text-left">@item.CrCasAccountReceiptReferenceTypeNavigation?.CrMasSupAccountReceiptReferenceEnName</td>
                    }
                    <td>  @item.CrCasAccountReceiptDate?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</td>
                    <td class="contract_number" data-bs-toggle="modal" data-bs-target="#myModal">@item.CrCasAccountReceiptNo</td>
                    <td scope="row">@no</td>
                </tr>
                no++;
            }
        }
        
    </tbody>
</table>


<input id="TotalCreditor" value="@Model.TotalCreditor" hidden />
<input id="TotalDebit" value="@Model.TotalDebit" hidden />