@using Bnan.Ui.ViewModels.BS;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@model BSLayoutVM
@inject UserManager<CrMasUserInformation> userManager
@inject SignInManager<CrMasUserInformation> signinManager
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = "Index";
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    // var user = await userManager.GetUserAsync(User);
    // var userInfo = await userManager.Users
    //   .Include(l => l.CrMasUserMainValidations)
    //   .Include(l => l.CrMasUserSubValidations)
    //   .Include(x => x.CrMasUserBranchValidities)
    //   .Include(l => l.CrMasUserInformationLessorNavigation)
    //   .FirstOrDefaultAsync(l => l.UserName == user.UserName);
}
<!-- Main Content -->
<link href="~/BranchSys/css/FeedBox/feed.css" rel="styleSheet">
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <link href="~/BranchSys/css/FeedBox/En-feed.css" rel="styleSheet">
}
<style>
    /* .row-data{
                        align-items: baseline
                    } */
</style>


<div class="container-fluid mt-5" id="grad1">
    <section class="section-mainCard">
        <div class="row justify-content-center w-75">
            <div class="col-md-11 col-sm-10 col-md-8 col-lg-11 col-xl-9  text-center p-0 ">
                <div class="card main-card " style="font-weight: 600;">
                    <div class="row pt-2">
                        <a class="col pt-2 d-flex" asp-action="Index" asp-area="BS" asp-controller="Home">
                            <img src="~/BranchSys/img/cancel.png" alt="cancle_icon" class="cancle-icon">
                        </a>
                    </div>
                    <div class="row justify-content-center d-flex" >
                        <span class="card-title">
                            @localizer["Feedbox"]
                        </span>
                    </div>
                    <div class="row justify-content-center " >
                        <div class="col-11 mx-0">
                            @if (Model.CrCasSysAdministrativeProcedure != null)
                            {
                                <form id="msform" asp-action="AcceptOrNot" asp-controller="FeedBox" asp-area="BS">
                                    <input hidden name="AdministrativeNo" asp-for="@Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresNo">
                                    <input hidden id="status" name="status">
                                    <fieldset style="padding-bottom: 0;">
                                        <div class="form-card">
                                            <div class="row data-row ">
                                                <div class="col-auto">
                                                    <p id="feed-number"> @localizer["FeedNo"] </p>
                                                </div>
                                                <div class="col-auto personal-data">
                                                    <p>@Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresNo</p>
                                                </div>

                                            </div>
                                            <div class="row data-row ">
                                                <div class="col-auto">
                                                    <p id="feeder"> @localizer["Feeder"]</p>

                                                </div>
                                                <div class="col-auto personal-data">
                                                    @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                                                    {
                                                        <p>@userManager.FindByIdAsync(Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresUserInsert).Result.CrMasUserInformationEnName</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@userManager.FindByIdAsync(Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresUserInsert).Result.CrMasUserInformationArName</p>
                                                    }
                                                </div>

                                            </div>
                                            <div class="row data-row ">
                                                <div class="col-auto">
                                                    <p id="date-of-feeding">@localizer["Date"]</p>

                                                </div>
                                                <div class="col-auto personal-data">
                                                    <p>@Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresDate?.ToString("dd/MM/yyyy")</p>
                                                </div>

                                            </div>
                                            <div class="row data-row ">
                                                <div class="col-auto">
                                                    <p id="money-amount">@localizer["FeedBoxAmount"]</p>
                                                </div>
                                                <div class="col-auto personal-data">
                                                    <p>@Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresDebit</p>
                                                </div>

                                            </div>
                                            <div class="row data-row ">
                                                <div class="col-auto">
                                                    <p id="notes">@localizer["reasons"]</p>
                                                </div>
                                                <div class="col-sm-5 col-md-5 col-lg-5">
                                                    <input class="form-control"
                                                           id="reasons" rows="1" maxlength="100" name="reasons" asp-for="CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresReasons">
                                                </div>

                                            </div>
                                            <div class="row  data-row ">
                                                <div class="col-auto warninng-p">
                                                    <p style="color: #FF2828;">@localizer["HintFeedBox"]</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row button-row">
                                            <div class="button-card p-1">
                                                <a class="btn  save-button" onclick="AcceptOrNot('Q')">
                                                    @localizer["Accept"]
                                                </a>
                                            </div>
                                            <div class="button-card p-1">
                                                <a class="btn save-button" onclick="AcceptOrNot('Z')">
                                                    @localizer["Reject"]
                                                </a>
                                            </div>
                                        </div>

                                    </fieldset>

                                </form>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Footer -->
<footer class="fixed-bottom-xl">
    <div class="before-footer-widget">
        <svg width: 100%; height:auto viewbox="0 0 2444 132">
            <path fill="rgba(254, 248, 232, 1)" fill-rule="evenodd"
                  d="M1222 0h1222c-444.13 88-852.127 132-1223.993 132C849.253 132 442.585 88.263 0 .789V0h1222z">
            </path>
        </svg>
    </div>
</footer>
<!-- Footer-->

@section Scripts {

    <script>
        // function AcceptOrNot(status) {
        //     var reasons = $("#exampleFormControlTextarea1").val();
        //     $.ajax({
        //         url: "/BS/FeedBox/AcceptOrNot", // Update with your controller and action
        //         type: "POST",
        //         data: { status: status, reasons: reasons },
        //         success: function (result) {
        //             window.location.href = "/BS/FeedBox/SuccesssMessageForFeedBox";
        //         },
        //         error: function () {
        //             // Handle errors if necessary
        //             console.log("Error occurred");
        //         }
        //     });
        // }
        function AcceptOrNot(status) {
            // Set the value of the hidden input field
            document.getElementById('status').value = status;

            // Submit the form
            document.getElementById('msform').submit();
        }
    </script>
}