@using Bnan.Ui.ViewModels.BS;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@model BSLayoutVM
@inject UserManager<CrMasUserInformation> userManager
@inject SignInManager<CrMasUserInformation> signinManager
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = "Index";
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    // var user = await userManager.GetUserAsync(User);
    // var userInfo = await userManager.Users
    //   .Include(l => l.CrMasUserMainValidations)
    //   .Include(l => l.CrMasUserSubValidations)
    //   .Include(x => x.CrMasUserBranchValidities)
    //   .Include(l => l.CrMasUserInformationLessorNavigation)
    //   .FirstOrDefaultAsync(l => l.UserName == user.UserName);
}

<link href="~/BranchSys/Pages/css/style.css" rel="styleSheet">
@if (requestCulture?.RequestCulture.UICulture.Name != "ar-EG")
{
    <link href="~/BranchSys/Pages/css/English_style.css" rel="styleSheet">
}




<div class="container-fluid">
    <section class="section-mainCard">
        <div class="row justify-content-center w-100 h-100">
            <div class="col-11 col-sm-10 col-md-11 col-lg-11 col-xl-10 text-center p-0 ">
                <div class="card main-card ">
                    <div class="row pt-2">
                        <a style="width: fit-content;" asp-action="Index" asp-area="BS" asp-controller="Home">
                            <img src="~/BranchSys/img/cancel.png" alt="cancle_icon" class="cancle-icon">
                        </a>
                    </div>
                    <div class="row layout-row">

                        <div class="row" style="flex-direction: row-reverse;">
                            <div class="col justify-content-center d-flex title-row">
                                <h1 class="card-title">
                                    @localizer["Feedbox"]
                                </h1>
                            </div>

                        </div>
                        <div class="row justify-content-center h-100 content-row">

                            <div class="col-md-11 mx-0 h-100">
                                <form id="msform" asp-action="AcceptOrNot" asp-controller="FeedBox" asp-area="BS">
                                    <input hidden name="AdministrativeNo" asp-for="@Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresNo">
                                    <input hidden id="status" name="status">
                                    <fieldset>
                                        <div class="form-card  px-lg-5 py-lg-5 feed-card">
                                            <div class="row data-row">
                                                <div class="col-auto">
                                                    <p id="feed-number"> @localizer["FeedNo"] </p>

                                                </div>
                                                <div class="col-auto personal-data">
                                                    <p>@Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresNo</p>
                                                </div>
                                            </div>
                                            <div class="row data-row">
                                                <div class="col-auto">
                                                    <p id="feed-number"> @localizer["Feeder"]</p>

                                                </div>
                                                <div class="col-auto personal-data">
                                                    @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                                                    {
                                                        <p>@userManager.FindByIdAsync(Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresUserInsert).Result.CrMasUserInformationEnName</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@userManager.FindByIdAsync(Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresUserInsert).Result.CrMasUserInformationArName</p>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row data-row">
                                                <div class="col-auto">
                                                    <p id="feed-number">@localizer["Date"]</p>

                                                </div>
                                                <div class="col-auto personal-data">
                                                    <p>@Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresDate?.ToString("yyyy/MM/dd", CultureInfo.InvariantCulture)</p>
                                                </div>
                                            </div>
                                            <div class="row data-row">
                                                <div class="col-auto">
                                                    <p id="feed-number">@localizer["FeedBoxAmount"]</p>

                                                </div>
                                                <div class="col-auto personal-data">
                                                    <p>@Model.CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresDebit?.ToString("N2",CultureInfo.InvariantCulture)</p>
                                                </div>
                                            </div>
                                            <div class="row data-row ">
                                                <div class="col-auto">
                                                    <p id="notes">@localizer["reasons"]</p>
                                                </div>
                                                <div class="col-sm-7 col-md-7 col-lg-7">
                                                    <input class="form-control textarea-inputs @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? "text-left" : "text-right")"
                                                           id="reasons" maxlength="100" name="reasons" asp-for="CrCasSysAdministrativeProcedure.CrCasSysAdministrativeProceduresReasons">
                                                </div>

                                            </div>
                                            <div class="row data-row text-end">
                                                <div class="col-md-6">
                                                    <p style="color: rgba(255, 40, 40, 1);">@localizer["HintFeedBox"]</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row button-row pt-3 pb-2 ps-4"
                                             style=" justify-content: space-between;">
                                            <div class="button-card gap-4">
                                                <a class="btn btn-custom"  onclick="AcceptOrNot('Z')"> @localizer["Reject"]</a>
                                                <a class="btn btn-custom" onclick="AcceptOrNot('Q')" >@localizer["Accept"]</a>
                                            </div>
                                            <div class="button-card"></div>
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<!-- Footer -->
<footer class="fixed-bottom-xl">
    <div class="before-footer-widget">
        <svg width: 100%; height:auto viewbox="0 0 2444 132">
            <path fill="rgba(254, 248, 232, 1)" fill-rule="evenodd"
                  d="M1222 0h1222c-444.13 88-852.127 132-1223.993 132C849.253 132 442.585 88.263 0 .789V0h1222z">
            </path>
        </svg>
    </div>
</footer>
<!-- Footer-->

@section Scripts {

    <script>
        // function AcceptOrNot(status) {
        //     var reasons = $("#exampleFormControlTextarea1").val();
        //     $.ajax({
        //         url: "/BS/FeedBox/AcceptOrNot", // Update with your controller and action
        //         type: "POST",
        //         data: { status: status, reasons: reasons },
        //         success: function (result) {
        //             window.location.href = "/BS/FeedBox/SuccesssMessageForFeedBox";
        //         },
        //         error: function () {
        //             // Handle errors if necessary
        //             console.log("Error occurred");
        //         }
        //     });
        // }
        function AcceptOrNot(status) {
            // Set the value of the hidden input field
            document.getElementById('status').value = status;

            // Submit the form
            document.getElementById('msform').submit();
        }
    </script>
}