

@using Bnan.Core.Extensions
@model IEnumerable<CrCasRenterPrivateDriverInformation>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@* 
  "RenterInformationCode": "Code",
  "DriverContractId": "ID",
  "RenterInformationNationality": "Nationality",
  "RenterInformationAddress": "Address",
  "RenterInformationProfession": "Profession",
  "RenterInformationWorkPlace": "Work Place",
 
  
 *@
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    
       <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">

            <thead>
                <tr role="row">
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["DriverContractId"]</th>
                    <th style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["RenterInformationName"]</th>
                    <th style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["DateLast_Contract"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Contract_Count"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Days_Count"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["KM_Count"]</th>
                    <th style="text-align:start" data-orderable="false" aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {

                    @*<tr onclick="location.href='@Url.Action("Edit", "DriverContract", new { id = item.CrCasRenterPrivateDriverInformationId })'" style="cursor:pointer;color:red">*@
                    <tr onclick="location.href='@Url.Action("Edit", "DriverContract", new { id = item.CrCasRenterPrivateDriverInformationId })'" >
                        <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrCasRenterPrivateDriverInformationId</td>
                        <td style="text-align:start">@item?.CrCasRenterPrivateDriverInformationEnName</td>
                        <td style="text-align:start">@item?.CrCasRenterPrivateDriverInformationLastContract?.ToString("dd/MM/yyyy")</td>

                            <td id="_Nc">@item?.CrCasRenterPrivateDriverInformationContractCount</td>
                            <td id="_Nc">@item?.CrCasRenterPrivateDriverInformationDaysCount</td>
                        <td id="_Nc">@item?.CrCasRenterPrivateDriverInformationTraveledDistance?.ToString("N2",CultureInfo.InvariantCulture)</td>


                        <td style="text-align:start">

                                @if (@item.CrCasRenterPrivateDriverInformationStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                                else if (@item.CrCasRenterPrivateDriverInformationStatus == Status.Rented)
                                {
                                @localizer["Rented_n"]
                                }
                                else if (@item.CrCasRenterPrivateDriverInformationStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                            else if (@item.CrCasRenterPrivateDriverInformationStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else
                                {

                                }
                            </td>
                        </tr>
                    
                    
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <thead>
                <tr role="row">
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["DriverContractId"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationName"]</th>
                    <th style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["DateLast_Contract"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Contract_Count"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Days_Count"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["KM_Count"]</th>
                    <th data-orderable="false" aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {

                    @*<tr onclick="location.href='@Url.Action("Edit", "DriverContract", new { id = item.CrCasRenterPrivateDriverInformationId })'" style="cursor:pointer;color:red">*@
                    <tr onclick="location.href='@Url.Action("Edit", "DriverContract", new { id = item.CrCasRenterPrivateDriverInformationId })'">
                        <td id="_Nc">&emsp; @no</td>
                        <td id="_Nc">&emsp; @item.CrCasRenterPrivateDriverInformationId</td>
                        <td style="text-align:start">@item?.CrCasRenterPrivateDriverInformationArName</td>
                        <td style="text-align:start">@item?.CrCasRenterPrivateDriverInformationLastContract?.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)</td>

                        <td id="_Nc">&emsp; @item?.CrCasRenterPrivateDriverInformationContractCount</td>
                        <td id="_Nc">&emsp; @item?.CrCasRenterPrivateDriverInformationDaysCount</td>
                        <td id="_Nc">&emsp; @item?.CrCasRenterPrivateDriverInformationTraveledDistance?.ToString("N2",CultureInfo.InvariantCulture)</td>


                        <td style="text-align:start">

                            @if (@item.CrCasRenterPrivateDriverInformationStatus == Status.Active)
                            {
                                @localizer["Active"]
                            }
                            else if (@item.CrCasRenterPrivateDriverInformationStatus == Status.Rented)
                            {
                                @localizer["Rented_n"]
                            }
                            else if (@item.CrCasRenterPrivateDriverInformationStatus == Status.Hold)
                            {
                                @localizer["Hold"]
                            }
                            else if (@item.CrCasRenterPrivateDriverInformationStatus == Status.Deleted)
                            {
                                @localizer["Deleted"]
                            }
                            else
                            {

                            }
                        </td>
                    </tr>
                    
                    
                    no++;
                }
            </tbody>
        </table>
    </div>
}