

@using Bnan.Core.Extensions
@model IEnumerable<CrCasRenterLessor>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@* 
  "RenterInformationCode": "Code",
  "RenterInformationId": "ID",
  "RenterInformationNationality": "Nationality",
  "RenterInformationAddress": "Address",
  "RenterInformationProfession": "Profession",
  "RenterInformationWorkPlace": "Work Place",
 
  
 *@
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    
       <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">

            <thead>
                <tr role="row">
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterInformationId"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["DateLastContract"]</th>
                    <th data-orderable="false">@localizer["RenterInformationAddress"]</th>
                    <th style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["RenterLessorMechanism"]</th>
                    <th style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Rates"]</th>
                    <th style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Status"] </th>
                    @* <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th> *@
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasRenterLessorDealingMechanism == "16" )
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterLessorInformation", new { id = item.CrCasRenterLessorId })'" style="color:red">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrCasRenterLessorId</td>
                            <td>@item.CrCasRenterLessorNavigation.CrMasRenterInformationEnName</td>
                            <td>@item.CrCasRenterLessorDateLastContractual?.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)</td>
                            @{
                                //var cc = @item.CrCasRenterLessorNavigation.CrMasRenterPost.CrMasRenterPostEnShortConcatenate;
                                //string[] values2 = cc.Split('-');
                                //var vv = values2[0] + " - " + values2[1];
                                //<td> @vv</td>
                                <td> @item.CrCasRenterLessorNavigation.CrMasRenterPost.CrMasRenterPostEnShortConcatenate</td>
                            }
                            <td style="text-align:start">
                                @foreach (var item2 in ViewData["Rates"] as List<CrMasSysEvaluation>)
                                {
                                    if (item2.CrMasSysEvaluationsCode == @item.CrCasRenterLessorDealingMechanism)
                                    {
                                        @item2.CrMasSysEvaluationsEnDescription
                                    }
                                }

                            </td>
                            <td style="text-align:start">@item.CrCasRenterLessorEvaluationValue</td>

                            }
                            <td style="text-align:start">

                                @if (@item.CrCasRenterLessorStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Rented)
                                {
                                    @localizer["Rented_n"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else
                                {

                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterLessorInformation", new { id = item.CrCasRenterLessorId })'">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrCasRenterLessorId</td>
                            <td>@item.CrCasRenterLessorNavigation.CrMasRenterInformationEnName</td>
                            <td>@item.CrCasRenterLessorDateLastContractual?.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)</td>
                            @{
                                //var cc = @item.CrCasRenterLessorNavigation.CrMasRenterPost.CrMasRenterPostEnShortConcatenate;
                                //string[] values2 = cc.Split('-');
                                //var vv = values2[0] + " - " + values2[1];
                                //<td> @vv</td>
                                <td> @item.CrCasRenterLessorNavigation.CrMasRenterPost.CrMasRenterPostEnShortConcatenate</td>
                            }

                            <td style="text-align:start">
                                @foreach (var item2 in ViewData["Rates"] as List<CrMasSysEvaluation>)
                                {
                                    if (item2.CrMasSysEvaluationsCode == @item.CrCasRenterLessorDealingMechanism)
                                    {
                                        @item2.CrMasSysEvaluationsEnDescription
                                    }
                                }

                            </td>
                            <td style="text-align:start">@item.CrCasRenterLessorEvaluationValue</td>

                            <td style="text-align:start">

                                @if (@item.CrCasRenterLessorStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Rented)
                                {
                                    @localizer["Rented_n"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else
                                {

                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <thead>
                <tr role="row">
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterInformationId"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationName"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["DateLastContract"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["RenterInformationAddress"]</th>
                    <th class="text-end" data-orderable="false">@localizer["RenterLessorMechanism"]</th>
                    <th id="_Nc" >@localizer["Rates"]</th>
                    <th class="text-end" data-orderable="false">@localizer["Status"] </th>
                    @* <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th> *@
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasRenterLessorDealingMechanism == "16")
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterLessorInformation", new { id = item.CrCasRenterLessorId })'" style="color:red">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrCasRenterLessorId</td>
                            <td>@item.CrCasRenterLessorNavigation.CrMasRenterInformationArName</td>
                            <td>@item.CrCasRenterLessorDateLastContractual?.ToString("dd/MM/yyyy")</td>
                            @{
                                //var cc = @item.CrCasRenterLessorNavigation.CrMasRenterPost.CrMasRenterPostArShortConcatenate;
                                //string[] values2 = cc.Split('-');
                                //var vv = values2[0] + " - " + values2[1];
                                //<td> @vv</td>
                                <td> @item.CrCasRenterLessorNavigation.CrMasRenterPost.CrMasRenterPostArShortConcatenate</td>
                            }


                            <td>
                                @foreach (var item2 in ViewData["Rates"] as List<CrMasSysEvaluation>)
                                {
                                    if (item2.CrMasSysEvaluationsCode == @item.CrCasRenterLessorDealingMechanism)
                                    {
                                        @item2.CrMasSysEvaluationsArDescription
                                    }
                                }

                            </td>
                            <td id="_Nc">&emsp; @item.CrCasRenterLessorEvaluationValue</td>

                            <td>

                                @if (@item.CrCasRenterLessorStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Rented)
                                {
                                    @localizer["Rented_n"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else
                                {

                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "RenterLessorInformation", new { id = item.CrCasRenterLessorId })'">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrCasRenterLessorId</td>
                            <td>@item.CrCasRenterLessorNavigation.CrMasRenterInformationArName</td>
                            <td>@item.CrCasRenterLessorDateLastContractual?.ToString("dd/MM/yyyy")</td>
                            @*<td> @item.CrMasRenterPost.CrMasRenterPostEnShortConcatenate </td>*@
                                @{
                                    //var cc = @item.CrCasRenterLessorNavigation.CrMasRenterPost.CrMasRenterPostArShortConcatenate;
                                    //string[] values2 = cc.Split('-');
                                    //var vv = values2[0] + " - " + values2[1];
                                    //<td> @vv</td>
                                <td> @item.CrCasRenterLessorNavigation.CrMasRenterPost.CrMasRenterPostArShortConcatenate</td>
                            }
                            
                        <td>
                                @foreach (var item2 in ViewData["Rates"] as List<CrMasSysEvaluation>)
                                {
                                    if (item2.CrMasSysEvaluationsCode == @item.CrCasRenterLessorDealingMechanism)
                                    {
                                        @item2.CrMasSysEvaluationsArDescription
                                    }
                                }
                                
                        </td>

                            <td id="_Nc">@item.CrCasRenterLessorEvaluationValue</td>

                            <td>

                                @if (@item.CrCasRenterLessorStatus == Status.Active)
                                {
                                    @localizer["Active"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Rented)
                                {
                                    @localizer["Rented_n"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Hold)
                                {
                                    @localizer["Hold"]
                                }
                                else if (@item.CrCasRenterLessorStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else
                                {
                                    
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}