
@using Bnan.Ui.ViewModels.MAS
@model Bnan.Ui.ViewModels.MAS.CarCvtVM

@inject IViewLocalizer localizer

@{
    ViewData["Page-title"] = localizer["Add Cvts Data"];
    ViewData["Page-Hint"] = localizer["Add Cvts Hint"];
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<style>

    .row {
        align-items: center;
    }


    #signaturePreview, #imagePreview {
        display: block;
        margin-top: -5px;
        float: right;
        margin-right: 20px;
        height: 100px;
        width: 200px;
        object-fit: cover;
        border: .5px solid rgb(231, 231, 231);
        position: relative;
    }

    #spanInput {
        height: 35px;
    }

    .sub-container form .row > div:nth-child(odd):nth-child(-n+5), .sub-container-form form .row > div:nth-child(odd):nth-child(-n+5) {
        margin: 0;
    }

    .file-upload {
        background-color: #ffffff;
        width: 200px;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn1, .file-upload-btn2, .file-upload-btn3 {
        width: 200px;
        max-height: 200px;
        max-width: 200px;
        margin: 0;
        color: #fff;
        background: #727cf5;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #727cf5;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn1:hover, .file-upload-btn2:hover, .file-upload-btn3:hover {
            background: #5661e3;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

    .file-upload-content {
        display: none;
    }

    .file-upload-input-picture1, .file-upload-input-signature ,.file-upload-input-picture2, .file-upload-input-picture3{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        max-height: 200px;
        max-width: 200px;
        margin-top: 5px;
        width: 200px;
        border: 4px dashed rgb(231, 231, 231);
        position: relative;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: rgb(231, 231, 231);
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            padding: 60px 0;
        }

    .file-upload-image {
        max-height: 200px;
        max-width: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border: .5px solid rgb(231, 231, 231);
    }

    .remove-image {
        margin: 0;
        max-height: 200px;
        max-width: 200px;
        width: 200px;
        color: #fff;
        background: #fa5c7c;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #fa5c7c;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .remove-image:hover {
            background: #f35474;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }
</style>
<title>@ViewData["Title"]</title>



<div class="sub-container-form">
    <form class="needs-validation" novalidate asp-area="MAS" asp-controller="CarCvt" asp-action="AddCarCvt" enctype="multipart/form-data">
       
        <div id="form_height" style="height:540px;">

        @* <div class="form-contain"> *@ @* For-scrolling *@
            @*CarCvt code*@
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="form-label" for="CarCvtCode">@localizer["CarCvtCode"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="CrMasSupCarCvtCode" id="CarCvtcode" maxlength="100" width="80%" value="@ViewBag.CarCvtCode" readonly />
                </div>
            </div>

            @*CarCvt name arabic*@
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="form-label" for="CarCvtNameAr">@localizer["CarCvtNameAr"]</label>
                </div>
                <div class="col-md-4">
                <input type="text" class="form-control" asp-for="CrMasSupCarCvtArName" id="CarCvtNameAr" maxlength="30" width="80%" onchange="Check_onChange_input('ExistAr',document.getElementById('CarCvtNameAr').value)" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" autoComplete="off" />
                @* <input type="text" class="form-control" asp-for="CrMasSupCarCvtArName" id="CarCvtNameAr" maxlength="50" width="80%" oninput="this.value=this.value.replace(/[^a-zA-Z ]/g, '')" required /> *@
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrMasSupCarCvtArName" class="text-danger"></span>
                            @Html.ValidationMessage("ExistAr", null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            @*CarCvt name English*@
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="form-label" for="CarCvtNameEn">@localizer["CarCvtNameEn"]</label>
                </div>
                <div class="col-md-4">
                <input type="text" class="form-control" asp-for="CrMasSupCarCvtEnName" maxlength="30" id="CarCvtNameEn" width="80%" onchange="Check_onChange_input('ExistEn',document.getElementById('CarCvtNameEn').value)" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')" autoComplete="off">
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrMasSupCarCvtEnName" class="text-danger"></span>
                             @Html.ValidationMessage("ExistEn", null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @*CarCvt reasons*@
            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="form-label" for="CarCvtReasons">@localizer["reasons"]</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" asp-for="CrMasSupCarCvtReasons" maxlength="100" id="CarCvtReasons" width="80%" autoComplete="off" />
                    <div style="margin-top:2px">
                        <div style="height: 1.0em">
                            <span asp-validation-for="@Model.CrMasSupCarCvtReasons" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            @*CarCvt Image*@
             <div class="row mt-1">
                <div class="col-md-4">
                    <div class="file-upload" style="margin-top:-20px;">
                        <button class="file-upload-btn1" type="button" onclick="$('.file-upload-input-picture1').trigger('click')">@localizer["CarCvtImg"]</button>
                        <div class="image-upload-wrap">
                            <input class="file-upload-input-picture1" type="file" onchange="readURL(this, 'picture');" accept="image/*" id="AcceptImg" name="AcceptImg" />
                            <div class="drag-text">
                                <h3>@localizer["DragAndDrop"]</h3>
                            </div>
                        </div>
                        <div class="file-upload-content picture">
                            <img class="file-upload-image picture" src="#" alt="uploaded image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload(this)" class="remove-image">@localizer["Remove"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 


             @Html.ValidationMessage("NoCHanged", null, new { @class = "text-danger" })
             </div> 
            @* </div> *@

        <div class="mt-3">
            <button class="btn btn-primary" type="submit">@localizer["Save"]</button>
            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="MAS" asp-controller="CarCvt" asp-action="Index">
                @localizer["Back"]
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function validateInput(event, inId, InEr, No) {
            event.target.value = event.target.value.replace(/[^0-9]/g, '');

            const inputElement = document.getElementById(inId);
            const errorMessageElement = document.getElementById(InEr);

            const inputValue = inputElement.value;
            const isValid = inputValue.startsWith(No);

            if (!isValid) {
                errorMessageElement.textContent = errorMessageElement.getAttribute('data-val-err');
                inputElement.value = "";
            } else {
                errorMessageElement.textContent = '';
            }


        }
        function readURL(input, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var container = $(input).closest('.file-upload');
                    container.find('.file-upload-image.' + type).attr('src', e.target.result);
                    container.find('.file-upload-content.' + type).show();
                    container.find('.image-title.' + type).html(input.files[0].name);
                    container.find('.image-upload-wrap').hide();
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload(input);
            }
        }

        function removeUpload(button) {
            var container = $(button).closest('.file-upload');
            var type = container.find('.file-upload-content').hasClass('picture2') ? 'picture2' : (container.find('.file-upload-content').hasClass('picture1') ? 'picture1' : 'picture3');
            container.find('.file-upload-input-' + type).val('');
            container.find('.file-upload-image.' + type).attr('src', '#');
            container.find('.file-upload-content.' + type).hide();
            container.find('.image-upload-wrap').show();
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $(this).addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $(this).removeClass('image-dropping');
        });
        $('#CarCvtNameEn').change(function () {
            $(this).removeClass('image-dropping');
        });


        function Check_onChange_input(Exist_lang,dataField) {
            $.ajax({
                type: "POST",
                url: "/MAS/CarCvt/CheckChangedField",
                data: { Exist_lang: Exist_lang, dataField: dataField },
                success: function (result) {
                    // $('.modal').modal('hide');
                    // window.location.href = "/MAS/CarCvt/Index";
                    console.log(result);

                },
                error: function (error) {
                    console.log(error);
                }
            });
            //alert('Changed' + dataField);
        }
    

    </script>
}