

@using Bnan.Ui.ViewModels.CAS
@using Bnan.Core.Extensions
@model CarContractVM


@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["Edit CarContract Data"];
    ViewData["Page-Hint"] = localizer["Edit CarContract Hint"];
}

<title>@ViewData["Title"]</title>

<style>

    #LessorInfoEmailWhatisapp, #LessorMobilePhone, #LessorCallFree {
        width: 101%;
    }

    .text-danger {
        white-space: nowrap;
    }

    .file-upload {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn {
        width: 154px;
        margin: 0;
        color: #fff;
        background: #727cf5;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #727cf5;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #5661e3;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

    .file-upload-input-picture, .file-upload-input-signature {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        height: 180px;
        width: 154px;
        margin-top: 5px;
        border: 4px dashed rgb(231, 231, 231);
        position: relative;
        display: none;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: rgb(231, 231, 231);
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        color: #222;
        width: 154px;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            padding: 60px 0;
            font-size: 17px
        }

    .file-upload-image {
        height: 145px;
        width: 154px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        border: .5px solid rgb(231, 231, 231);
    }

    .remove-image {
        margin: 0;
        max-height: 200px;
        max-width: 200px;
        width: 100%;
        color: #fff;
        background: #fa5c7c;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #fa5c7c;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

    .image-upload-wrap {
        display: none
    }

    .file-upload-content {
        display: block
    }

    .remove-image:hover {
        background: #f35474;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }



    @@media (max-width: 1050px) {
        #RenterLessorInformationSigntureImage {
            position: absolute;
            top: 145%;
            right: 5%;
        }
    }

    @@media (max-width: 767px) {
        #RenterLessorInformationSigntureImage {
            position: absolute;
            top: 330%;
            right: 30%;
        }
    }

    .dateInput {
        width: 155px !important;
    }

    .col-md-label-10 {
        /* x-lable (+) x-input == 390 px */
        /*width: 28.75%;*/
        width: 115.5px;
        height: 35px;
    }

    .col-md-input-10 {
        width: 275px;
        margin-top: -5px;
        height: 35px;
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    <style>
        #RenterLessorInformationSigntureImage {
            position: absolute;
            top: 39%;
            left: 50%;
        }
        #t_mar{
            margin: 35px;
            margin-right: 55px;
            margin-top: 5px;
        }

        .col-md-label5 {
            /*width: 28.75%;*/
            width: 140px;
            height: 40px;
        }

        .col-md-input5 {
            width: 250px;
            margin-top: -8px;
            height: 40px;
        }

        .col-md-label10 {
            /*width: 28.75%;*/
            width: 80px;
            height: 40px;
        }

        .col-md-input10 {
            width: 310px;
            margin-top: -8px;
            height: 40px;
        }

        #Date_cusor1, #Date_cusor2 {
            margin-right: 13px;
        }
    </style>
}
else
{
    <style>
        #RenterLessorInformationSigntureImage {
            position: absolute;
            top: 39%;
            right: 50%;
        }

        #t_mar {
            margin: 35px;
            margin-left: 55px;
            margin-top: 5px;
        }
        .col-md-label5 {
            /*width: 28.75%;*/
            width: 90.5px;
            height: 40px;
        }

        .col-md-input5 {
            width: 300px;
            margin-top:-8px;
            height: 40px;
        }

        .col-md-label10 {
            /*width: 28.75%;*/
            width: 75px;
            height: 40px;
        }

        .col-md-input10 {
            width: 315px;
            margin-top: -8px;
            height: 40px;
        }
        #Date_cusor1, #Date_cusor2 {
            margin-left: 13px;
        }
    </style>
}


<div class="sub-container-form" id="CAS">
    <form class="needs-validation" novalidate asp-area="CAS" asp-controller="RenterLessorInformation" asp-action="Edit" method="post" enctype="multipart/form-data">
        @*<div class="form-contain" style="position:relative">*@ @*For Scrolling in Form*@
          <div class="" style="position:relative">
            @*<div class="col-sm-12 col-md-9" style="margin-top:20px;height:50px;">
                <div class="col-sm-12 col-md-4 p-0">
                    <a type="button" class="btn btn-danger" title="@localizer["Back"]" asp-area="CAS" asp-controller="CarContract" asp-action="Index">
                        <i class="mdi mdi-window-close"></i>
                    </a>
                </div>
            </div>*@
            <div class="col-sm-12 col-md-9" style="margin-top:0px;height:20px;">
            </div>


                @*branch Code*@
            <div class="row mt-2" hidden>
                <div class="col-md-label5 formlabel">
                    <label class="form-label" for="branchCode">@localizer["Code"]</label>
                </div>
                <div class="col-md-4">
                        @*<input type="text" class="form-control" hidden asp-for="CrCasRenterLessorDealingMechanism" maxlength="100" width="80%" />*@
                        @*<input type="text" class="form-control" hidden asp-for="CrCasRenterLessorReasons" maxlength="100" width="80%" />*@

                </div>
            </div> @*End row*@

        
            @*// Arabic arabic  *@
    @if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
    {
    
                @*RenterLessorInformation ID Ar && RenterLessorInformation name Ar *@
                    @*<div class="row mt-2" style="height:10px;">
                    </div>*@
                    <div class="row mt-2" style="height:60px">
                    <div class="col-md-label10 formlabel" style="width:110px;" >
                        <label class="form-label" for="CrCasRenterCarId">@localizer["CarContractId"]</label>
                    </div>
                    <div class="col-md-input10 p-0 col-11" style="margin-top:-5px;width:280px;">

                            <input type="text" class="form-control" value="@ViewBag.Single_CarId" readonly maxlength="15" id="CrCasRenterCarId" style="width:96%" data-val-regex="@localizer["requiredNoLengthFiled","10"]" oninput="validateInput(event, 'RenterLessorInformationGovNo', 'gov-error', '7')" id="LessorGovNo">
                    </div>

                    <div class="col-md-label10 formlabel" style="width:53px;">
                        <label class="form-label" for="CrCasRenterLessorNavigation.CrMasRenterInformationArName">@localizer["RenterInformationName"]</label>
                    </div>
                    <div class="col-md-6 p-0 col-11" style="margin-top:-6px" >
                            <input type="text" class="form-control" value="@ViewBag.Single_CarNameAr" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                    </div>

                </div> @*End row*@

                    @*DateTime Inputs*@
                    <div id="DateInputs" style="display:flex;gap: 15px;-webkit-flex-item-align:center;height:70px;">

                        <!-- Autoclose -->
                        <div style="width:30px;margin-top:7px;">
                            <label class="form-label " style="">@localizer["StartDate_from"]</label>
                        </div>

                        <div class="dateRelative " style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " id="startDateInput" name="startDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor1" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; direction:ltr"></i>
                        </div>

                        <!-- Autoclose -->
                        <div style="width:50px;margin-top:7px;">
                        </div>
                        <div style="width:20px;margin-top:7px;">
                            <label class="form-label p-0 mt-0" style="mar">@localizer["EndDate_to"]</label>
                        </div>

                        <div class="dateRelative " style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " id="endDateInput" name="endDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor2" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; direction:ltr"></i>
                        </div>
                        <div style="width:50px;">
                            <a class="btn btn-primary" onclick="DateChanged()">
                                <i class="mdi mdi-search-web"></i>
                            </a>
                        </div>
                    </div> @*End row*@


    }
    @*// English english *@
    else if (requestCulture.RequestCulture.UICulture.Name == "en-US")
    {

                @*RenterLessorInformation ID En && RenterLessorInformation name En *@
                @*<div class="row mt-2" style="height:10px;">
                </div>*@
                <div class="row mt-2" style="height:60px;">
                    <div class=" formlabel" style="width:95px;">
                        <label class="form-label" for="CrCasRenterCarId">@localizer["CarContractId"]</label>
                    </div>
                    <div class=" p-0 col-11" style="margin-top:-5px;width:295px;">
                        <input type="text" class="form-control" value="@ViewBag.Single_CarId" readonly maxlength="15" id="CrCasRenterCarId" style="width:96%" data-val-regex="@localizer["requiredNoLengthFiled","10"]" oninput="validateInput(event, 'RenterLessorInformationGovNo', 'gov-error', '7')" id="LessorGovNo">
                    </div>

                    <div class="col-md-label10 formlabel">
                        <label class="form-label" for="CrCasRenterLessorNavigation.CrMasRenterInformationEnName">@localizer["RenterInformationName"]</label>
                    </div>
                    <div class="col-md-6 p-0 col-11" style="margin-top:-6px">
                            <input type="text" class="form-control" value="@ViewBag.Single_CarNameEn" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                    </div>

                </div> @*End row*@

                    @*DateTime Inputs*@
                    <div id="DateInputs" style="display:flex;gap: 15px;-webkit-flex-item-align:center;height:70px;">

                        <!-- Autoclose -->
                        <div style="width:30px;margin-top:7px;">
                            <label class="form-label " style="">@localizer["StartDate_from"]</label>
                        </div>

                        <div class="dateRelative " style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " id="startDateInput" name="startDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor1" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; direction:rtl"></i>
                        </div>

                        <!-- Autoclose -->
                        <div style="width:50px;margin-top:7px;">
                        </div>
                        <div style="width:20px;margin-top:7px;">
                            <label class="form-label p-0 mt-0">@localizer["EndDate_to"]</label>
                        </div>

                        <div class="dateRelative " style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " id="endDateInput" name="endDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor2" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; direction:rtl"></i>
                        </div>
                        <div style="width:50px;">
                            <a class="btn btn-primary" onclick="DateChanged()">
                                <i class="mdi mdi-search-web"></i>
                            </a>
                        </div>
                    </div> @*End row*@

                }
            


            
            @{
                int? Km_Count =0;
                int? Contract_Count = 0;
                int? Days_Count = 0;
                decimal? Contract_Value = 0;
                var Counter = 0;
                foreach (var single in Model.crCasRenterContractBasics)
                {
                   Contract_Value = single.CrCasRenterContractBasicExpectedTotal + Contract_Value;
                    //Contract_Count = single.CrCasRenterContractBasic3.CrCasRenterPrivateCarInformationContractCount + Contract_Count;
                    //Days_Count = single.CrCasRenterContractBasic3.CrCasRenterPrivateCarInformationDaysCount + Days_Count;
                    //Km_Count = single.CrCasRenterContractBasic3.CrCasRenterPrivateCarInformationTraveledDistance + Km_Count;
                    Contract_Count = 0;
                    Days_Count = 0;
                    Km_Count = 0;
                    Counter = Counter + 1;
                    if (ViewBag.CountRecord == Counter)
                    {

                        @*Contract_Count  && Contract_Value  *@
                        <div class="row mt-2">
                            <div class="col-md-label5 formlabel">
                                <label class="form-label" for="CrCasRenterLessorId">@localizer["Contract_Count"]</label>
                            </div>
                            <div class="col-md-input5 p-0 col-11" style="margin-top:-5px">
                                <input type="text" class="form-control" value="@Counter" readonly maxlength="15" id="RenterLessorInformationGovNo" style="width:96%" data-val-regex="@localizer["requiredNoLengthFiled","10"]" oninput="validateInput(event, 'RenterLessorInformationGovNo', 'gov-error', '7')" id="LessorGovNo">
                            </div>

                            <div class="col-md-label5 formlabel">
                                <label class="form-label" for="CrCasRenterLessorNavigation.CrMasRenterInformationEnName">@localizer["Contract_Value"]</label>
                            </div>
                            <div class="col-md-6 p-0 col-11" style="margin-top:-6px">
                                <input type="text" class="form-control" value="@Contract_Value?.ToString("N2",CultureInfo.InvariantCulture)" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                            </div>

                        </div> @*End row*@

                        @*Days_Count  && KM_Count  *@
                        <div class="row mt-2">
                            <div class="col-md-label5 formlabel">
                                <label class="form-label" for="CrCasRenterLessorId">@localizer["Days_Count"]</label>
                            </div>
                            <div class="col-md-input5 p-0 col-11" style="margin-top:-5px">
                                <input type="text" class="form-control" value="@Days_Count" readonly maxlength="15" id="RenterLessorInformationGovNo" style="width:96%" data-val-regex="@localizer["requiredNoLengthFiled","10"]" oninput="validateInput(event, 'RenterLessorInformationGovNo', 'gov-error', '7')" id="LessorGovNo">
                            </div>

                            <div class="col-md-label5 formlabel">
                                <label class="form-label" for="CrCasRenterLessorNavigation.CrMasRenterInformationEnName">@localizer["KM_Count"]</label>
                            </div>
                            <div class="col-md-6 p-0 col-11" style="margin-top:-6px">
                                <input type="text" class="form-control" value="@Km_Count" readonly maxlength="100" width="80%" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" />
                            </div>

                        </div> @*End row*@
                    }
               
                }


                <div class="dataTable " id="t_mar" style="height:230px;">
                    <partial name="_DataTable_Internal_CarContract" />
                </div>
                if (ViewBag.CountRecord == 0)
                {
                    <div class="row mt-2" id="Section" style="height:90px;">
                    </div> @*End row*@
                }
            }
            @*zip code And AdditionalNumber*@
            <div class="row mt-2">
            </div>
            @Html.ValidationMessage("NoCHanged", null, new { @class = "text-danger" })
        </div>
        <div class="mt-3" id="buttonContainer">

            @*<a class="btn btn-primary ms-1" id="saveEdit">@localizer["Save"]</a>*@
            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="CarContract" asp-action="Index">
                @localizer["Back"]
            </a>
        </div>

    </form>
</div>




@section scripts {



    @*Get AccountBank Using filter*@
    <script>
        $(document).ready(function () {
            $('#t_mar').DataTable({
                "scrollY": "200px",
                "scrollCollapse": true,
            });
        </script>
    <script>
        $(document).ready(function () {
            var today = new Date();
            var startDate = new Date();
            var EndDate = new Date();
            startDate.setDate(today.getDate() - 30);


            var startDates = $("startDateInput").val();
            var StartformattedDate = new Date(startDates);

            var EndDates = $("endDateInput").val();
            var EndformattedDate = new Date(EndDates);


            if (!StartformattedDate || StartformattedDate === "") {
                StartformattedDate = today; // Set date to today if it's empty or null
            }
            if (!EndformattedDate || EndformattedDate === "") {
                EndformattedDate = today; // Set date to today if it's empty or null
            }




            $("#startDateInput").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: startDate, // Set the minimum date to today
                maxDate: today,
            }).datepicker("widget").addClass("datepicker-widget");
            $("#startDateInput").datepicker("setDate", startDate);
            $("#startDateInput").click(function () {
                $(this).datepicker("show");
            });

            $("#endDateInput").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: today,// Set the minimum date to today
                maxDate: today,
            }).datepicker("widget").addClass("datepicker-widget");
            $("#endDateInput").datepicker("setDate", today);
            $("#endDateInput").click(function () {
                $(this).datepicker("show");
            });

            $("#Date_cusor1").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

            $("#Date_cusor2").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

        });
    </script>


    <script>
        function DateChanged() {
            var id = $("#CrCasRenterCarId").val();
            var mini = $("#startDateInput").val();
            var max = $("#endDateInput").val();
            var _mini = mini.replace("/", "-");
            var _max = max.replace("/", "-");
            console.log(mini);
            console.log(_max);
            console.log(id);
            location.href = '@Url.Action("Edit2Date", "CarContract")?_max=' + _max + '&_mini=' + _mini + '&id=' + id;


        }
    </script>
}



