@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.CAS

@model FinancialTransactionOfRenterVM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@* 
  "RenterInformationCode": "Code",
  "CarContractId": "ID",
  "RenterInformationNationality": "Nationality",
 
 *@
 <style>
    #_Nc{
        text-align: center;
    }
 </style>


@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    
       <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">

            <thead>
                <tr role="row">
                    <th  id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th  id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["FTR_Id"]</th>
                    <th  aria-label="Position: activate to sort column ascending">@localizer["Name"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["LastDateContract"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_Balance"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_Avilable_Balance"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_Reserved_Balance"]</th>

                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.FinancialTransactionOfRente_Filtered)
                {
                    var singleRenter_Balances = Model.crCasRenterLessor.Find(x => x.CrCasRenterLessorId == item.CrCasAccountReceiptRenterId && ViewBag.CurrentLessor == x.CrCasRenterLessorCode);
                    @*@if (singleRenter_Balances?.CrCasRenterLessorAvailableBalance != 0 && singleRenter_Balances?.CrCasRenterLessorStatus != Status.Rented)
                    {*@
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterBalances", new { id = item.CrCasAccountReceiptRenterId })'">*@
                    <tr >
                        <td id="_Nc">@no</td>
                        <td id="_Nc">@item.CrCasAccountReceiptRenterId</td>
                        @{
                            var singleRenter = item.CrCasAccountReceiptRenter;

                            
                            <td>@singleRenter?.CrMasRenterInformationEnName</td>
                            <td >@singleRenter_Balances?.CrCasRenterLessorDateLastContractual?.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)</td>
                            <td id="_Nc">@singleRenter_Balances?.CrCasRenterLessorBalance?.ToString("N2",CultureInfo.InvariantCulture)</td>
                            <td id="_Nc">@singleRenter_Balances?.CrCasRenterLessorAvailableBalance?.ToString("N2",CultureInfo.InvariantCulture)</td>
                            <td id="_Nc">@singleRenter_Balances?.CrCasRenterLessorReservedBalance?.ToString("N2",CultureInfo.InvariantCulture)</td>

                        }
                        </tr>
                    
                    
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <thead>
                <tr role="row">
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["FTR_Id"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Name"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["LastDateContract"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_Balance"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_Avilable_Balance"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["FTR_Reserved_Balance"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.FinancialTransactionOfRente_Filtered)
                {
                    var singleRenter_Balances = Model.crCasRenterLessor.FirstOrDefault(x => x.CrCasRenterLessorId == item.CrCasAccountReceiptRenterId && ViewBag.CurrentLessor == x.CrCasRenterLessorCode);

                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterBalances", new { id = item.CrCasAccountReceiptRenterId })'">*@
                    <tr>
                        <td id="_Nc">@no</td>
                        <td id="_Nc">@item.CrCasAccountReceiptRenterId</td>
                        @{
                            var singleRenter = item.CrCasAccountReceiptRenter;

                            

                            <td >@singleRenter?.CrMasRenterInformationArName</td>
                            <td>@singleRenter_Balances?.CrCasRenterLessorDateLastContractual?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</td>
                            <td id="_Nc">@singleRenter_Balances?.CrCasRenterLessorBalance?.ToString("N2",CultureInfo.InvariantCulture)</td>
                            <td id="_Nc">@singleRenter_Balances?.CrCasRenterLessorAvailableBalance?.ToString("N2",CultureInfo.InvariantCulture)</td>
                            <td id="_Nc">@singleRenter_Balances?.CrCasRenterLessorReservedBalance?.ToString("N2",CultureInfo.InvariantCulture)</td>

                        }
                        </tr>

                    no++;
                }
            </tbody>
        </table>
    </div>
}