@using Bnan.Core.Extensions
@model IEnumerable<CrCasPriceCarBasic>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Car"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Date"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["StartDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["EndDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["NoOfCar"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasPriceCarBasicStatus == @Status.Deleted || item.CrCasPriceCarBasicStatus == @Status.AboutToExpire || item.CrCasPriceCarBasicStatus == Status.Expire)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "CarPrice", new { serialNumber = item.CrCasPriceCarBasicNo})'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrCasPriceCarBasicDistributionCodeNavigation.CrMasSupCarDistributionConcatenateEnName</td>
                            <td>@item.CrCasPriceCarBasicDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicDistributionCodeNavigation.CrCasCarInformations.Where(x=>x.CrCasCarInformationLessor==item.CrCasPriceCarBasicLessorCode).Count()</td>
                            <td>
                                @if (@item.CrCasPriceCarBasicStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrCasPriceCarBasicStatus == Status.Expire)
                                {
                                    @localizer["Expire"]
                                }
                                else if (@item.CrCasPriceCarBasicStatus == Status.AboutToExpire)
                                {
                                    @localizer["AboutToExpire"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "CarPrice", new { serialNumber = item.CrCasPriceCarBasicNo })'">
                            <td>@no</td>
                            <td>@item.CrCasPriceCarBasicDistributionCodeNavigation.CrMasSupCarDistributionConcatenateEnName</td>
                            @*<td>@item.CrCasPriceCarBasicDailyRent - @item.CrCasPriceCarBasicWeeklyRent - @item.CrCasPriceCarBasicMonthlyRent</td>*@
                            <td>@item.CrCasPriceCarBasicDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicDistributionCodeNavigation.CrCasCarInformations.Where(x=>x.CrCasCarInformationLessor==item.CrCasPriceCarBasicLessorCode).Count()</td>
                            <td>
                                
                                @localizer["Active"]
                                
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Car"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Date"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["StartDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["EndDate"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["NoOfCar"]</th>
                    <th aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasPriceCarBasicStatus == @Status.Deleted || item.CrCasPriceCarBasicStatus == @Status.AboutToExpire || item.CrCasPriceCarBasicStatus == Status.Expire)
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "CarPrice", new { serialNumber = item.CrCasPriceCarBasicNo})'" style="cursor:pointer;color:red">
                            <td>@no</td>
                            <td>@item.CrCasPriceCarBasicDistributionCodeNavigation.CrMasSupCarDistributionConcatenateArName</td>
                            <td>@item.CrCasPriceCarBasicDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicDistributionCodeNavigation.CrCasCarInformations.Where(x=>x.CrCasCarInformationLessor==item.CrCasPriceCarBasicLessorCode).Count()</td>
                            <td>
                                @if (@item.CrCasPriceCarBasicStatus == Status.Deleted)
                                {
                                    @localizer["Deleted"]
                                }
                                else if (@item.CrCasPriceCarBasicStatus == Status.Expire)
                                {
                                    @localizer["Expire"]
                                }
                                else if (@item.CrCasPriceCarBasicStatus == Status.AboutToExpire)
                                {
                                    @localizer["AboutToExpire"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "CarPrice", new { serialNumber = item.CrCasPriceCarBasicNo })'" style="cursor:pointer;">
                            <td>@no</td>
                            <td>@item.CrCasPriceCarBasicDistributionCodeNavigation.CrMasSupCarDistributionConcatenateArName</td>
                            @*<td>@item.CrCasPriceCarBasicDailyRent - @item.CrCasPriceCarBasicWeeklyRent - @item.CrCasPriceCarBasicMonthlyRent</td>*@
                            <td>@item.CrCasPriceCarBasicDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasPriceCarBasicDistributionCodeNavigation.CrCasCarInformations.Where(x=>x.CrCasCarInformationLessor==item.CrCasPriceCarBasicLessorCode).Count()</td>
                            <td>
                                @localizer["Active"]
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}