@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS
@model Bnan.Ui.ViewModels.CAS.CarPriceVM
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["AddPrice"];
    ViewData["Page-Hint"] = localizer["AddPriceCar Hint"];
}
<style>

    .row {
        align-items: center;
    }

    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 10% !important;
    }
</style>
<style>
    .datepicker-widget {
        display: none;
    }


    .datepicker-icon i {
        font-size: 18px;
        color: #999;
    }

    .hasDatepicker {
    }

    .dateRelative {
        position: relative;
    }

    .form-contain {
        position: relative;
    }

    ul {
        list-style-type: none;
    }

    .tbody-wrapper {
        height: 300px; /* Specify the desired height for the scrollbar */
        overflow-y: auto;
    }
</style>
@if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
{
    <style>
        .datepicker-icon {
            cursor: pointer;
            top: 8%;
            right: 77%;
        }

        #CenterTable {
            width: 30%;
            margin-right: 30%;
        }
    </style>
}

@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    <style>
        .datepicker-icon {
            cursor: pointer;
            position: absolute;
            display: inline-block;
            top: 3px;
            left: 107px;
        }

        #CenterTable {
            width: 30%;
            margin-left: 30%;
        }
    </style>
}
<title>@ViewData["Title"]</title>
<div class="sub-container-form">
    <form id="form" class="needs-validation" asp-area="CAS" asp-action="AddPriceCar" asp-controller="CarPrice" novalidate enctype="multipart/form-data">
        <div class="form-contain">
            <div class="row">
                <div class="col-md-1">
                    <label class="form-label" for="CrCasPriceCarBasicDistributionCode">@localizer["Car"]</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" asp-for="CrCasPriceCarBasicDistributionCode" autocomplete="off">
                    <div style="margin-top:2px">
                        <div style="height: 1.35em">
                            <span asp-validation-for="CrCasPriceCarBasicDistributionCode" class="text-danger"></span>
                            @Html.ValidationMessage("CrMasSupCarDistributionConcatenateName", null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-1" id="noOfCarDiv" hidden>
                    <label class="form-label" for="NoOfCars">@localizer["NoOfCars"]</label>
                </div>
                <div class="col-md-1">
                    <input type="text" style="margin-right: -4%;" class="form-control" id="NoOfCars" autocomplete="off" readonly>
                </div>
            </div>
            <div class="row">
                <div id="btnwizard" style="width:97%">
                    <ul class="nav nav-pills nav-justified form-wizard-header mb-4">
                        <li class="nav-item">
                            <a data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 active">
                                <i class="mdi mdi-account-cash me-1"></i>
                                <span class="d-none d-sm-inline">@localizer["MainPrice"]</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                <i class="mdi mdi-car-2-plus me-1"></i>
                                <span class="d-none d-sm-inline">@localizer["TermsRented"]</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                <i class="mdi mdi-feature-search-outline me-1"></i>
                                <span class="d-none d-sm-inline">@localizer["Features"]</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                <i class="mdi mdi-select-all"></i>
                                <span class="d-none d-sm-inline">@localizer["Choises"]</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                                <i class="mdi mdi-account-multiple-plus-outline me-1"></i>
                                <span class="d-none d-sm-inline">@localizer["Additionals"]</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content mb-0 b-0">
                        <div class="tab-pane fade active show" id="Price">
                            @*Start and End Date*@
                            <div class="row mt-2">
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="CrCasPriceCarBasicStartDate">@localizer["StartDate"]</label>
                                </div>
                                <div class="col-md-1 col-11 dateRelative">
                                    <input type="text" class="form-control" asp-for="CrCasPriceCarBasicStartDate">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em">
                                            <span asp-validation-for="@Model.CrCasPriceCarBasicStartDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" for="CrCasPriceCarBasicEndDate">@localizer["EndDate"]</label>
                                </div>
                                <div class="col-md-1 col-11 dateRelative">
                                    <input type="text" class="form-control" asp-for="CrCasPriceCarBasicEndDate">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em">
                                            <span asp-validation-for="@Model.CrCasPriceCarBasicEndDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Rend Peroid*@
                            <div class="row mt-2">
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="DailyRent">@localizer["DailyRent"]</label>
                                </div>
                                <div class="col-md-1 col-11">
                                    <input type="text" class="form-control" asp-for="DailyRent" maxlength="9" oninput="validateInput9Digit(this)">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em;width: 145px;">
                                            <span asp-validation-for="@Model.DailyRent" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="WeeklyRent">@localizer["WeeklyRent"]</label>
                                </div>
                                <div class="col-md-1 col-11">
                                    <input type="text" class="form-control" asp-for="WeeklyRent" maxlength="9" oninput="validateInput9Digit(this)">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em;width: 150px;">
                                            <span asp-validation-for="@Model.WeeklyRent" class="text-danger"></span>
                                            <span id="CarWeeklyRent" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="MonthlyRent">@localizer["MonthlyRent"]</label>
                                </div>
                                <div class="col-md-1 col-11">
                                    <input type="text" class="form-control" asp-for="MonthlyRent" maxlength="9" oninput="validateInput9Digit(this)">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em;width: 150px;">
                                            <span asp-validation-for="@Model.MonthlyRent" class="text-danger"></span>
                                            <span id="CarMonthlyRent" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="YearlyRent">@localizer["YearlyRent"]</label>
                                </div>
                                <div class="col-md-1 col-11">
                                    <input type="text" class="form-control" asp-for="YearlyRent" maxlength="9" oninput="validateInput9Digit(this)">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em;width: 150px;">
                                            <span asp-validation-for="@Model.YearlyRent" class="text-danger"></span>
                                            <span id="CarYearlyRent" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*ِAdditional Hour and Km and Tax rate*@
                            <div class="row mt-2">
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="AdditionalKmValue">@localizer["AdditionalKmValue"]</label>
                                </div>
                                <div class="col-md-1 col-11">
                                    <input type="text" class="form-control" asp-for="AdditionalKmValue" maxlength="6" oninput="validateInput3Digit(this)">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em">
                                            <span asp-validation-for="@Model.AdditionalKmValue" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="ExtraHourValue">@localizer["ExtraHourValue"]</label>
                                </div>
                                <div class="col-md-1 col-11">
                                    <input type="text" class="form-control" asp-for="ExtraHourValue" maxlength="6" oninput="validateInput3Digit(this)">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em">
                                            <span asp-validation-for="@Model.ExtraHourValue" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="AdditionalDriverValue">@localizer["AdditionalDriverValue"]</label>
                                </div>
                                <div class="col-md-1 col-11">
                                    <input type="text" class="form-control" asp-for="AdditionalDriverValue" maxlength="6" oninput="validateInput3Digit(this)">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em">
                                            <span asp-validation-for="@Model.AdditionalDriverValue" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="PrivateDriverValue">@localizer["PrivateDriverValue"]</label>
                                </div>
                                <div class="col-md-1 col-11">
                                    <input type="text" class="form-control" asp-for="PrivateDriverValue" maxlength="6" oninput="validateInput3Digit(this)">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em">
                                            <span asp-validation-for="@Model.PrivateDriverValue" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*ِAdditional Driver and InFees and OutFess Value*@
                            <div class="row mt-2">
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="InFeesTamm">@localizer["InFeesTamm"]</label>
                                </div>
                                <div class="col-md-1 col-11">
                                    <input type="text" class="form-control" asp-for="InFeesTamm" maxlength="6" oninput="validateInput3Digit(this)">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em">
                                            <span asp-validation-for="@Model.InFeesTamm" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="OutFeesTamm">@localizer["OutFeesTamm"]</label>
                                </div>
                                <div class="col-md-1 col-11">
                                    <input type="text" class="form-control" asp-for="OutFeesTamm" maxlength="6" oninput="validateInput3Digit(this)">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em">
                                            <span asp-validation-for="@Model.OutFeesTamm" class="text-danger"></span>
                                            <span id="CarOutFeesTamm" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="RentalTaxRate">@localizer["TaxRate"]</label>
                                </div>
                                <div class="col-md-1 col-11">
                                    <input type="text" class="form-control" asp-for="RentalTaxRate" maxlength="6" oninput="validateInput3Digit(this)">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em">
                                            <span asp-validation-for="@Model.RentalTaxRate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-1 formlabel">
                                    <label class="form-label" asp-for="CrCasPriceCarBasicReasons">@localizer["reasons"]</label>
                                </div>
                                <div class="col-md-6 col-11">
                                    <input type="text" class="form-control" asp-for="CrCasPriceCarBasicReasons" maxlength="100">
                                    <div style="margin-top:2px">
                                        <div style="height: 1.35em">
                                            <span asp-validation-for="@Model.CrCasPriceCarBasicReasons" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="RentedTerms">
                            <div class="row">
                                @*ِFree km , additional hour,free hours*@
                                <div class="row mt-2">
                                    <div class="col-md-1 formlabel">
                                        <label class="form-label" asp-for="CrCasPriceCarBasicNoDailyFreeKm">@localizer["DailyFreeKm"]</label>
                                    </div>
                                    <div class="col-md-1 col-11">
                                        <input type="text" class="form-control" asp-for="CrCasPriceCarBasicNoDailyFreeKm" maxlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                        <div style="margin-top:2px">
                                            <div style="height: 1.35em">
                                                <span asp-validation-for="@Model.CrCasPriceCarBasicNoDailyFreeKm" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 formlabel">
                                        <label class="form-label" asp-for="CrCasPriceCarBasicFreeAdditionalHours">@localizer["FreeAdditionalHours"]</label>
                                    </div>
                                    <div class="col-md-1 col-11">
                                        <input type="text" class="form-control" asp-for="CrCasPriceCarBasicFreeAdditionalHours" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                        <div style="margin-top:2px">
                                            <div style="height: 1.35em">
                                                <span asp-validation-for="@Model.CrCasPriceCarBasicFreeAdditionalHours" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 formlabel">
                                        <label class="form-label" asp-for="CrCasPriceCarBasicHourMax">@localizer["HourMax"]</label>
                                    </div>
                                    <div class="col-md-1 col-11">
                                        <input type="text" class="form-control" asp-for="CrCasPriceCarBasicHourMax" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                        <div style="margin-top:2px">
                                            <div style="height: 1.35em">
                                                <span asp-validation-for="@Model.CrCasPriceCarBasicHourMax" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*ِadditional driver , additional hour,free hours*@
                                <div class="row mt-2">
                                    <div class="col-md-1 formlabel">
                                        <label class="form-label" asp-for="CrCasPriceCarBasicIsAdditionalDriver">@localizer["IsAdditionalDriver"]</label>
                                    </div>
                                    <div class="col-md-1 col-11">
                                        <input type="checkbox" style="height: 21px;width: 23px;" class="form-check-input" name="CrCasPriceCarBasicIsAdditionalDriver" value="false">
                                        <div style="margin-top:2px">
                                            <div style="height: 1.35em">
                                                <span asp-validation-for="@Model.CrCasPriceCarBasicIsAdditionalDriver" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 formlabel">
                                        <label class="form-label" asp-for="CrCasPriceCarBasicMinAge">@localizer["MinAge"]</label>
                                    </div>
                                    <div class="col-md-1 col-11">
                                        <input type="text" class="form-control" asp-for="CrCasPriceCarBasicMinAge" maxlength="2" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                        <div style="margin-top:2px">
                                            <div style="height: 1.35em">
                                                <span asp-validation-for="@Model.CrCasPriceCarBasicMinAge" class="text-danger"></span>
                                                <span id="MinAge" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 formlabel">
                                        <label class="form-label" asp-for="CrCasPriceCarBasicMaxAge">@localizer["MaxAge"]</label>
                                    </div>
                                    <div class="col-md-1 col-11">
                                        <input type="text" class="form-control" asp-for="CrCasPriceCarBasicMaxAge" maxlength="2" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                        <div style="margin-top:2px">
                                            <div style="height: 1.35em">
                                                <span asp-validation-for="@Model.CrCasPriceCarBasicMaxAge" class="text-danger"></span>
                                                <span id="MaxAge" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 formlabel">
                                        <label class="form-label" asp-for="CrCasPriceCarBasicCancelHour">@localizer["CancelHour"]</label>
                                    </div>
                                    <div class="col-md-1 col-11">
                                        <input type="text" class="form-control" asp-for="CrCasPriceCarBasicCancelHour" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                        <div style="margin-top:2px">
                                            <div style="height: 1.35em">
                                                <span asp-validation-for="@Model.CrCasPriceCarBasicCancelHour" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                @*ِCompensationss*@
                                <div class="row mt-2">
                                    <div class="col-md-1 formlabel">
                                        <label class="form-label" asp-for="CompensationAccident">@localizer["CompensationAccident"]</label>
                                    </div>
                                    <div class="col-md-1 col-11">
                                        <input type="text" class="form-control" asp-for="CompensationAccident" maxlength="9" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                        <div style="margin-top:2px">
                                            <div style="height: 1.35em">
                                                <span asp-validation-for="@Model.CompensationAccident" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 formlabel">
                                        <label class="form-label" asp-for="CompensationTheft">@localizer["CompensationTheft"]</label>
                                    </div>
                                    <div class="col-md-1 col-11">
                                        <input type="text" class="form-control" asp-for="CompensationTheft" maxlength="9" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                        <div style="margin-top:2px">
                                            <div style="height: 1.35em">
                                                <span asp-validation-for="@Model.CompensationTheft" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 formlabel">
                                        <label class="form-label" asp-for="CompensationDrowning">@localizer["CompensationDrowning"]</label>
                                    </div>
                                    <div class="col-md-1 col-11">
                                        <input type="text" class="form-control" asp-for="CompensationDrowning" maxlength="9" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                        <div style="margin-top:2px">
                                            <div style="height: 1.35em">
                                                <span asp-validation-for="@Model.CompensationDrowning" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 formlabel">
                                        <label class="form-label" asp-for="CompensationFire">@localizer["CompensationFire"]</label>
                                    </div>
                                    <div class="col-md-1 col-11">
                                        <input type="text" class="form-control" asp-for="CompensationFire" maxlength="9" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                        <div style="margin-top:2px">
                                            <div style="height: 1.35em">
                                                <span asp-validation-for="@Model.CompensationFire" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end row -->
                        </div>
                        <div class="tab-pane fade " id="Features">
                            <div class="row" id="CenterTable">
                                <div class="col-sm-12" style="overflow: auto; width: 100%; height: 38vh;overflow-x: hidden;">
                                    <div class="dataTable">
                                        @if (Model == null)
                                        {
                                            <partial name="_AdvantagesPartialView"></partial>
                                        }
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div>
                        <div class="tab-pane fade " id="Choices">
                            <div class="row" id="CenterTable">
                                <div class="col-sm-12" style="overflow: auto; width: 100%; height: 38vh;overflow-x: hidden;">
                                    <table class="table table-bordered table-striped " id="myTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @localizer["ActivateService"]
                                                </th>
                                                <th width="50%">
                                                    @localizer["Choises"]
                                                </th>

                                                <th width="20%">
                                                    @localizer["Value"]

                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int no1 = 1;
                                            }
                                            @foreach (var item in ViewBag.Options)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" id="OptionsCheckBoxs@item.CrMasSupContractOptionsCode" data-id="@item.CrMasSupContractOptionsCode" name="OptionsCheckBoxs[IndexOf(item)]" style="height: 19px;width: 18px;" class="form-check-input OptionsCheckBoxs" value="false">
                                                    </td>
                                                    @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                                                    {
                                                        <td>
                                                            @item.CrMasSupContractOptionsArName
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            @item.CrMasSupContractOptionsEnName
                                                        </td>
                                                    }

                                                    <td style="padding: 0 !important;">
                                                        <input type="text" class="form-control Choises" id="Choises@item.CrMasSupContractOptionsCode" data-id="@item.CrMasSupContractOptionsCode" name="Choises[IndexOf(item)]" style="width:100%;border:none;" autocomplete="off" value="0" oninput="validateInput3Digit(this)" />
                                                    </td>
                                                </tr>
                                                no1++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <div class="tab-pane fade " id="Additional">
                            <div class="row" id="CenterTable">
                                <div class="col-sm-12" style="overflow: auto; width: 100%; height: 38vh;overflow-x: hidden;">
                                    <table class="table table-bordered table-striped " id="myTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @localizer["ActivateService"]
                                                </th>
                                                <th width="70%">
                                                    @localizer["Additionals"]
                                                </th>

                                                <th width="30%">
                                                    @localizer["Value"]
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody @*class="tbody-wrapper"*@>
                                            @{
                                                int no3 = 1;
                                            }
                                            @foreach (var item in ViewBag.Additional)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" id="Additional@item.CrMasSupContractOptionsCode" data-id="@item.CrMasSupContractAdditionalCode" name="AdditionalCheckBoxs[IndexOf(item)]" style="height: 19px;width: 18px;" class="form-check-input AdditionalCheckBoxs" value="false">
                                                    </td>
                                                    @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                                                    {
                                                        <td>
                                                            @item.CrMasSupContractAdditionalArName
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            @item.CrMasSupContractAdditionalEnName
                                                        </td>
                                                    }
                                                    <td style="padding: 0 !important;">
                                                        <input type="text" class="form-control Additional" id="Additional@item.CrMasSupContractAdditionalCode" data-id="@item.CrMasSupContractAdditionalCode" name="Additional[IndexOf(item)]" style="width:100%;border:none;" autocomplete="off" value="0" oninput="validateInput3Digit(this)" />
                                                    </td>
                                                </tr>
                                                no3++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:97%">
            <div class="float-start">
                <input type='button' class='btn btn-primary button-previous' name='previous' id="prevBtn" value='@localizer["Previous"]'>
            </div>
            <div class="float-end">
                <input type='button' class='btn btn-primary button-next' name='next' id="nextBtn" value='@localizer["Next"]'>
                <a class='btn btn-primary' id="saveBtn" hidden>@localizer["Save"]</a>
                <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="CarPrice" asp-action="CarPrice">
                    @localizer["Back"]
                </a>
            </div>

            <div class="clearfix"></div>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var today = new Date();
            var startDate = new Date();
            var EndDate = new Date();


            var startDates = $("CrCasPriceCarBasicStartDate").val();
            var StartformattedDate = new Date(startDates);

            var EndDates = $("CrCasPriceCarBasicEndDate").val();
            var EndformattedDate = new Date(EndDates);


            if (!StartformattedDate || StartformattedDate === "") {
                StartformattedDate = today; // Set date to today if it's empty or null
            }
            if (!EndformattedDate || EndformattedDate === "") {
                EndformattedDate = today; // Set date to today if it's empty or null
            }

            var tommorrowdate = new Date(StartformattedDate.getTime() + (24 * 60 * 60 * 1000));


            $("#CrCasPriceCarBasicStartDate").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: StartformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasPriceCarBasicStartDate").datepicker("setDate", StartformattedDate);
            $("#CrCasPriceCarBasicStartDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrCasPriceCarBasicEndDate").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: "+1" // Set the default date as tomorrow
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasPriceCarBasicEndDate").datepicker("setDate", "+1");
            $("#CrCasPriceCarBasicEndDate").click(function () {
                $(this).datepicker("show");
            });


            $("#CrCasPriceCarBasicStartDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasPriceCarBasicEndDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');



            $(".datepicker-icon").click(function () {
                $(this).prevAll('input').datepicker("show");
            });
            $("#CrCasPriceCarBasicStartDate").on("change", function () {
                var startDate = $(this).datepicker("getDate");
                var minEndDate = new Date(startDate.getTime() + (24 * 60 * 60 * 1000));
                $("#CrCasPriceCarBasicEndDate").datepicker("option", "minDate", minEndDate);
            });
        })
    </script>
    <script>
        var selectValue;
        var retriveData;
        var divNoOfCar = document.getElementById("noOfCarDiv");
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCarsName", "CarsInformation", new { Area = "CAS" })",
                success: function (response) {
                    const newArray = response.map(obj => ({ text: obj.value, value: obj.text }));
                    $("#CrCasPriceCarBasicDistributionCode").autocomplete({
                        source: newArray,
                        select: function (event, ui) {
                            selectValue = ui.item.text;
                            console.log(selectValue);

                            // Run the second AJAX request here
                            $.ajax({
                                type: "GET",
                                url: "@Url.Action("GetNumberOfCar", "CarPrice", new { Area = "CAS" })",
                                data: { DistribtionCode: selectValue },
                                success: function (response2) {
                                    $("#NoOfCars").val(response2);
                                    divNoOfCar.removeAttribute("hidden");
                                    // Run the third AJAX request here
                                    $.ajax({
                                        type: "GET",
                                        url: "@Url.Action("GetAdvantagesOfCar", "CarPrice", new { Area = "CAS" })",
                                        data: { DistribtionCode: selectValue },
                                        success: function (result) {
                                            $(".dataTable").html(result);
                                            retriveData = result;
                                        },
                                        error: function (error) {
                                        }
                                    });
                                },
                                error: function (error) {
                                    // Handle any errors that occur during the second AJAX request
                                }
                            });
                        }
                    });
                },
                error: function (error) {
                    // Handle any errors that occur during the first AJAX request
                }
            });
        });


        // Get the next and previous buttons
        var nextBtn = document.getElementById("nextBtn");
        var prevBtn = document.getElementById("prevBtn");
        var saveBtn = document.getElementById("saveBtn");
        var form = document.getElementById("form");
        var Distribution = document.getElementById("CrCasPriceCarBasicDistributionCode");
        prevBtn.setAttribute("hidden", "");
        // Get all the tab links
        var tabLinks = document.querySelectorAll(".nav-item a");

        // Get all the tab panes
        var tabPanes = document.getElementsByClassName("tab-pane");

        // Set the initial active tab
        var activeTab = 0;

        // Show the initial active tab pane
        tabPanes[activeTab].classList.add("active", "show");

        // Function to hide all the tab panes
        function hideAllTabPanes() {
            for (var i = 0; i < tabPanes.length; i++) {
                tabPanes[i].classList.remove("active", "show");
            }
        }
        // Function to show the current active tab pane
        function showActiveTabPane() {
            tabPanes[activeTab].classList.add("active", "show");
        }

        // Function to show the current active tab Links
        function showActivetabLinks() {
            tabLinks[activeTab].classList.add("active");
        }

        function handleNextButtonClick() {
            if ($("#form").valid()) {
                // Get the values of the input fields
                var dailyRent = parseFloat($("#DailyRent").val());
                var weeklyRent = parseFloat($("#WeeklyRent").val());
                var monthlyRent = parseFloat($("#MonthlyRent").val());
                var yearlyRent = parseFloat($("#YearlyRent").val());
                var MinAge = parseInt($("#CrCasPriceCarBasicMinAge").val());
                var MaxAge = parseInt($("#CrCasPriceCarBasicMaxAge").val());
                var InFeesTamm = parseFloat($("#InFeesTamm").val());
                var OutFeesTamm = parseFloat($("#OutFeesTamm").val());

                // Perform the validations
                if (weeklyRent >= dailyRent) {
                    // Weekly rent should be greater than daily rent
                    $("#CarWeeklyRent").text('@localizer["WeeklyRentError"]');
                    return; // Stop further execution
                }
                else {
                    $("#CarWeeklyRent").text('');
                }
                if (monthlyRent >= weeklyRent) {
                    // Monthly rent should be greater than weekly rent
                    $("#CarMonthlyRent").text('@localizer["MonthlyRentError"]');
                    return; // Stop further execution
                }
                else {
                    $("#CarMonthlyRent").text('');

                }
                if (yearlyRent >= monthlyRent) {
                    // Yearly rent should be greater than monthly rent
                    $("#CarYearlyRent").text('@localizer["YearlyRentError"]');
                    return; // Stop further execution
                }
                else {
                    $("#YearlyRent").text('');

                }

                if (MaxAge < MinAge) {
                    // Yearly rent should be greater than monthly rent
                    $("#MaxAge").text('@localizer["MaxAgeError"]');
                    return; // Stop further execution
                }
                else {
                    $("#MaxAge").text('');
                }

                if (OutFeesTamm < InFeesTamm) {
                    // Yearly rent should be greater than monthly rent
                    $("#CarOutFeesTamm").text('@localizer["OutFeesTammError"]');
                    return; // Stop further execution
                }
                else {
                    $("#CarOutFeesTamm").text('');
                }

                hideAllTabPanes();
                tabLinks[activeTab].classList.remove("active");
                if ((retriveData == null || retriveData == "") && activeTab == "1") {
                    activeTab = 3;
                }
                else {
                    activeTab++;
                }
                if (activeTab >= tabPanes.length - 1) {
                    activeTab = tabPanes.length - 1;
                    nextBtn.setAttribute("hidden", "");
                    saveBtn.removeAttribute("hidden");
                    prevBtn.removeAttribute("hidden");
                } else {
                    nextBtn.removeAttribute("hidden");
                    prevBtn.removeAttribute("hidden");
                    saveBtn.setAttribute("hidden", "");
                }
                showActivetabLinks(); // Add active class to new nav link
                showActiveTabPane();
                Distribution.setAttribute("readonly", "");
            }
        }

        // Function to handle the "Previous" button click
        function handlePrevButtonClick() {
            hideAllTabPanes();
            tabLinks[activeTab].classList.remove("active");

            if ((retriveData == null || retriveData == "") && activeTab == "3") {
                activeTab = 1;
            }
            else {
                activeTab--;
            }
            if (activeTab <= 0) {
                activeTab = 0;
                prevBtn.setAttribute("hidden", "");
                saveBtn.setAttribute("hidden", "");
                nextBtn.removeAttribute("hidden");
                Distribution.removeAttribute("readonly");
            } else {
                nextBtn.removeAttribute("hidden");
                prevBtn.removeAttribute("hidden");
                saveBtn.setAttribute("hidden", "");
            }
            showActivetabLinks();
            showActiveTabPane();
        }

        // Add event listeners to the next and previous buttons
        nextBtn.addEventListener("click", handleNextButtonClick);
        prevBtn.addEventListener("click", handlePrevButtonClick);

    </script>
    <script>

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the form element
            var form = document.getElementById('form');
            $("#saveBtn").click(function (e) {
                e.preventDefault();

                //Additional
                var Additional = document.querySelectorAll('.Additional');
                var AdditionalData = [];
                Additional.forEach(function (add) {
                    var id = add.getAttribute('data-id');
                    var value = add.value;
                    var check = false;
                    var CheckBox = document.querySelector('.AdditionalCheckBoxs[data-id="' + id + '"]');
                    if (CheckBox && CheckBox.checked) {
                        check = true;
                    }
                    AdditionalData.push({ Id: id, Value: value, Checked: check });
                });
                // Create a hidden input field with the data
                var hiddenInputForAdditional = document.createElement('input');
                hiddenInputForAdditional.setAttribute('type', 'hidden');
                hiddenInputForAdditional.setAttribute('name', 'Additionals');
                hiddenInputForAdditional.value = JSON.stringify(AdditionalData);
                //// Append the hidden input field to the form BEFORE checking validity
                form.appendChild(hiddenInputForAdditional);




                //Choises
                var Choises = document.querySelectorAll('.Choises');
                var ChoisesData = [];
                Choises.forEach(function (Choise) {
                    var id = Choise.getAttribute('data-id');
                    var value = Choise.value;
                    var check= false;
                    var CheckBox = document.querySelector('.OptionsCheckBoxs[data-id="' + id + '"]');
                    if (CheckBox&&CheckBox.checked) {
                        check=true;
                    }
                    ChoisesData.push({ Id: id, Value: value,Checked:check });
                });
                // Create a hidden input field with the data
                var hiddenInputForChoises = document.createElement('input');
                hiddenInputForChoises.setAttribute('type', 'hidden');
                hiddenInputForChoises.setAttribute('name', 'Choises');
                hiddenInputForChoises.value = JSON.stringify(ChoisesData);
                //// Append the hidden input field to the form BEFORE checking validity
                form.appendChild(hiddenInputForChoises);
                //Features
                var Features = document.querySelectorAll('.Features');
                var FeaturesData = [];
                Features.forEach(function (Feature) {
                    var id = Feature.getAttribute('data-id');
                    var value = Feature.value;
                    FeaturesData.push({ Id: id, Value: value });
                });
                // Create a hidden input field with the data
                var hiddenInputForFeatures = document.createElement('input');
                hiddenInputForFeatures.setAttribute('type', 'hidden');
                hiddenInputForFeatures.setAttribute('name', 'Features');
                hiddenInputForFeatures.value = JSON.stringify(FeaturesData);
                //// Append the hidden input field to the form BEFORE checking validity
                form.appendChild(hiddenInputForFeatures);
                form.submit();
            })
        });

    </script>

    <script>
        function validateInput9Digit(input) {
            // Remove non-digit characters and additional decimal points
            input.value = input.value.replace(/[^0-9\.]/g, '');
            const decimalIndex = input.value.indexOf('.');

            // Limit to 9 digits before and after the decimal point
            if (decimalIndex !== -1) {
                const digitsBeforeDecimal = input.value.substring(0, decimalIndex);
                const digitsAfterDecimal = input.value.substring(decimalIndex + 1);

                // Limit to 2 digits after the decimal point
                input.value = digitsBeforeDecimal.substr(0, 9) + '.' + digitsAfterDecimal.substr(0, 2);

                // Remove additional decimal points
                if (input.value.indexOf('.', decimalIndex + 1) !== -1) {
                    const lastValidIndex = input.value.lastIndexOf('.');
                    input.value = input.value.substring(0, lastValidIndex) + input.value.substring(lastValidIndex + 1);
                }
            } else {
                // Limit to 9 digits before the decimal point
                input.value = input.value.substr(0, 9);
            }
        }

        function validateInput3Digit(input) {
            // Remove non-digit characters and additional decimal points
            input.value = input.value.replace(/[^0-9\.]/g, '');
            const decimalIndex = input.value.indexOf('.');

            // Limit to 9 digits before and after the decimal point
            if (decimalIndex !== -1) {
                const digitsBeforeDecimal = input.value.substring(0, decimalIndex);
                const digitsAfterDecimal = input.value.substring(decimalIndex + 1);

                // Limit to 2 digits after the decimal point
                input.value = digitsBeforeDecimal.substr(0, 9) + '.' + digitsAfterDecimal.substr(0, 2);

                // Remove additional decimal points
                if (input.value.indexOf('.', decimalIndex + 1) !== -1) {
                    const lastValidIndex = input.value.lastIndexOf('.');
                    input.value = input.value.substring(0, lastValidIndex) + input.value.substring(lastValidIndex + 1);
                }
            } else {
                // Limit to 9 digits before the decimal point
                input.value = input.value.substr(0, 3);
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Code to be executed when the DOM is ready
            var inputElements = document.querySelectorAll('input');
            inputElements.forEach(function (input) {
                input.setAttribute('autocomplete', 'off');
            });
        });


        $(document).on("click", "[type='checkbox']", function (e) {
            if (this.checked) {
                $(this).attr("value", "true");
            } else {
                $(this).attr("value", "false");
            }
        });

    </script>
}

