

@using Bnan.Core.Extensions
@*@model IEnumerable<CrCasRenterLessor>*@
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@* 
  "RenterInformationCode": "Code",
  "RenterInformationId": "ID",
  "RenterInformationNationality": "Nationality",
  "RenterInformationAddress": "Address",
  "RenterInformationProfession": "Profession",
  "RenterInformationWorkPlace": "Work Place",
 
  
 *@
<style>

    div.scroll {
        /*        background-color: #fed9ff;
                    width: 600px;*/
        /*height: 150px;*/
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        /*padding: 20px;*/
        position: relative;
        /*overflow: auto;*/
        max-height: 37vh;
        width: 100%;
    }


    th.scroll_1 {
        top: 0;
        position: sticky;
        background-color: #E4F3FC;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        /*box-shadow: inset 0 0 5px grey;*/
        border-radius: 2px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        /*background: #b30000;*/
        border-radius: 2px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            /*background: #b30000;*/
        }
</style>
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    
       <div class="col-sm-12 scroll">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">

            <div>
                <tr role="row">
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterContractId"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Start_Contract"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["End_Contract"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Car_Name"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Contract_Value"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Contract"]</th>
                </tr>
            </div>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in ViewData["Data_Table"] as List<CrCasRenterContractBasic>)
                {
                    @if (item.CrCasRenterContractBasicStatus == @Status.Deleted || item.CrCasRenterContractBasicStatus == @Status.Hold)
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'" style="cursor:pointer;color:red">*@
                        <tr style="color:red">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            <td>@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasicExpectedEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationConcatenateEnName</td>

                    <td id="_Nc">
                                @item.CrCasRenterContractBasicExpectedTotal?.ToString("N2",CultureInfo.InvariantCulture)
                    </td>
                            <td>

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>

                            <td id="_Nc">@localizer["Contract"]</td>

                        </tr>
                    }
                    else
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'">*@
                        <tr  >
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            <td>@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasicExpectedEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationConcatenateEnName</td>

                            <td id="_Nc">
                                  @item.CrCasRenterContractBasicExpectedTotal?.ToString("N2",CultureInfo.InvariantCulture)
                            </td>
                            <td>

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>

                            <td id="_Nc">@localizer["Contract"]</td>

                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12 scroll">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <div>
                <tr role="row">
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterContractId"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Start_Contract"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["End_Contract"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Car_Name"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Contract_Value"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Contract"]</th>
                </tr>
            </div>
            <tbody>

                @{
                    int no = 1;
                }

                    
                
                @foreach (var item in ViewData["Data_Table"] as List<CrCasRenterContractBasic>)
                {
                    @if (item.CrCasRenterContractBasicStatus == @Status.Deleted || item.CrCasRenterContractBasicStatus == @Status.Hold)
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'" style="cursor:pointer;color:red">*@
                        <tr style="color:red">
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            <td>@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasicExpectedEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationConcatenateArName</td>

                            <td id="_Nc">@item.CrCasRenterContractBasicExpectedTotal?.ToString("N2",CultureInfo.InvariantCulture)</td>
                            
                            <td>

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>

                            <td id="_Nc">@localizer["Contract"]</td>
                            @*<td id="_Nc">@ViewBag.v1</td>*@
                            

                        </tr>
                    }
                    else
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'">*@
                        <tr>
                            <td id="_Nc">@no</td>
                            <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            <td>@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasicExpectedEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationConcatenateArName</td>

                            <td id="_Nc">@item.CrCasRenterContractBasicExpectedTotal?.ToString("N2",CultureInfo.InvariantCulture)</td>


                            <td>

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>

                            <td id="_Nc">@localizer["Contract"]</td>
                            @*<td id="_Nc">@item.CrCasRenterContractBasicExpectedTotal</td>*@
                        </tr>
                    }
                    no++;
                }

            </tbody>
        </table>
    </div>
}