

@using Bnan.Core.Extensions
@*@model IEnumerable<CrCasRenterLessor>*@
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@* 
  "RenterInformationCode": "Code",
  "RenterInformationId": "ID",
  "RenterInformationNationality": "Nationality",
  "RenterInformationAddress": "Address",
  "RenterInformationProfession": "Profession",
  "RenterInformationWorkPlace": "Work Place",
 
  
 *@
<style>

    div.scroll {
        /*        background-color: #fed9ff;
                        width: 600px;*/
        /*height: 150px;*/
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        /*padding: 20px;*/
        position: relative;
        /*overflow: auto;*/
        max-height: 40vh;
        width: 100%;
    }


    th.scroll_1 {
        top: 0px;
        position: sticky;
        background-color: #E4F3F9;
    }


    ::-webkit-scrollbar {
        display: block;
        width: 15px;
        opacity: 0;
    }


    ::-webkit-scrollbar-thumb {
        background-color: gray;
        border-right: none;
        border-left: none;
    }

    ::-webkit-scrollbar-track {
        /*box-shadow: inset 0 0 5px #CBD9DE;*/
        /*border-radius: 2px;*/
        /*background-color:transparent;*/
        background-color: #E4F3F9;
    }

    ::-webkit-scrollbar-track-piece:end {
        background: transparent;
        background-color: lightgray;
        margin-bottom: 0px;
    }

    ::-webkit-scrollbar-track-piece:start {
        background: transparent;
        background-color: lightgray;
        margin-top: 50px;
    }

</style>
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    
       <div class="col-sm-12 scroll">
        @* For-scrolling *@
        <table id="basic-datatable2" class="table table-bordered dt-responsive nowrap no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable2_info" style="position: relative; width: 1566px; ">

            <div>
                <tr role="row">
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterContractId"]</th>
                <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Start_Contract"]</th>
                <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["End_Contract"]</th>
                <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Car_Name"]</th>
                <th class="scroll_1" aria-label="Position: activate to sort column ascending"> @localizer["Contract_Value"]</th>
                <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Contract"]</th>
                </tr>
            </div>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in ViewData["Data_Table"] as List<CrCasRenterContractBasic>)
                {
                    @if (item.CrCasRenterContractBasicStatus == @Status.Expire || item.CrCasRenterContractBasicStatus == @Status.Deleted)
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'" style="cursor:pointer;color:red">*@
                        <tr style="color:red">
                            <td id="_Nc">@no</td>
                            @if (item.CrCasRenterContractBasicCopy > 0)
                            {
                        <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                            }
                            else
                            {
                        <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            }
                    <td style="text-align:start">@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy")</td>
                    <td style="text-align:start">@item.CrCasRenterContractBasicExpectedEndDate?.ToString("dd/MM/yyyy")</td>
                    <td style="text-align:start">@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationConcatenateEnName</td>

                    <td id="_Nc">
                                @item.CrCasRenterContractBasicExpectedTotal?.ToString("N2",CultureInfo.InvariantCulture)
                    </td>
                    <td style="text-align:start">

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>


                            @{
                                var Link_pdf = item.CrCasRenterContractBasicEnPdfFile;
                                var Target_pdf = "#";
                                if (Link_pdf?.Count() > 2)
                                {
                                    Link_pdf = Link_pdf.Replace("~", "");
                                    Target_pdf = "_blank";
                                }
                            }

                    <td>
                        <a href="@Link_pdf" target="@Target_pdf" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                    </td>
                        </tr>
                    }
                    else
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'">*@
                        <tr  >
                            <td id="_Nc">@no</td>
                            @if (item.CrCasRenterContractBasicCopy > 0)
                            {
                        <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                            }
                            else
                            {
                        <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            }
                    <td style="text-align:start">@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy")</td>
                    <td style="text-align:start">@item.CrCasRenterContractBasicExpectedEndDate?.ToString("dd/MM/yyyy")</td>
                    <td style="text-align:start">@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationConcatenateEnName</td>

                            <td id="_Nc">
                                  @item.CrCasRenterContractBasicExpectedTotal?.ToString("N2",CultureInfo.InvariantCulture)
                            </td>
                    <td style="text-align:start">

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>


                            @{
                                var Link_pdf = item.CrCasRenterContractBasicEnPdfFile;
                                var Target_pdf = "#";
                                if (Link_pdf?.Count() > 2)
                                {
                                    Link_pdf = Link_pdf.Replace("~", "");
                                    Target_pdf = "_blank";
                                }
                            }

                    <td>
                        <a href="@Link_pdf" target="@Target_pdf" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                    </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12 scroll">
        @* For-scrolling *@
        <table id="basic-datatable2" class="table table-bordered dt-responsive nowrap no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable2_info" style="position: relative; width: 1566px; ">
            <div>
                <tr role="row">
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterContractId"]</th>
                <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending"> @localizer["Start_Contract"]</th>
                <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending"> @localizer["End_Contract"]</th>
                    <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending"> @localizer["Car_Name"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Contract_Value"]</th>
                <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["Contract"]</th>
                </tr>
            </div>
            <tbody>

                @{
                    int no = 1;
                }

                    
                
                @foreach (var item in ViewData["Data_Table"] as List<CrCasRenterContractBasic>)
                {
                    @if (item.CrCasRenterContractBasicStatus == @Status.Expire || item.CrCasRenterContractBasicStatus == @Status.Deleted)
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'" style="cursor:pointer;color:red">*@
                        <tr style="color:red">
                            <td id="_Nc">@no</td>
                            @if (item.CrCasRenterContractBasicCopy > 0)
                            {
                        <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                            }
                            else
                            {
                        <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            }
                    <td style="text-align:start">@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy")</td>
                    <td style="text-align:start">@item.CrCasRenterContractBasicExpectedEndDate?.ToString("dd/MM/yyyy")</td>
                    <td style="text-align:start">@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationConcatenateArName</td>

                            <td id="_Nc">@item.CrCasRenterContractBasicExpectedTotal?.ToString("N2",CultureInfo.InvariantCulture)</td>

                    <td style="text-align:start">

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>


                            @{
                                var Link_pdf = item.CrCasRenterContractBasicArPdfFile;
                                var Target_pdf = "#";
                                if (Link_pdf?.Count() > 2)
                                {
                                    Link_pdf = Link_pdf.Replace("~", "");
                                    Target_pdf = "_blank";
                                }
                            }

                    <td>
                        <a href="@Link_pdf" target="@Target_pdf" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                    </td>
                    @*<td id="_Nc">@ViewBag.v1</td>*@
                            

                        </tr>
                    }
                    else
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'">*@
                        <tr>
                            <td id="_Nc">@no</td>
                            @if (item.CrCasRenterContractBasicCopy > 0)
                            {
                        <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                            }
                            else
                            {
                        <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            }
                    <td style="text-align:start">@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy")</td>
                    <td style="text-align:start">@item.CrCasRenterContractBasicExpectedEndDate?.ToString("dd/MM/yyyy")</td>
                    <td style="text-align:start">@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationConcatenateArName</td>

                            <td id="_Nc">@item.CrCasRenterContractBasicExpectedTotal?.ToString("N2",CultureInfo.InvariantCulture)</td>


                    <td style="text-align:start">

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>

                            @{
                                var Link_pdf = item.CrCasRenterContractBasicArPdfFile;
                                var Target_pdf = "#";
                                if (Link_pdf?.Count() > 2)
                                {
                                    Link_pdf = Link_pdf.Replace("~", "");
                                    Target_pdf = "_blank";
                                }
                            }

                    <td>
                        <a href="@Link_pdf" target="@Target_pdf" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                    </td>
                    @*<td id="_Nc">@item.CrCasRenterContractBasicExpectedTotal</td>*@
                        </tr>
                    }
                    no++;
                }

            </tbody>
        </table>
    </div>
}