@using Bnan.Core.Extensions
@model IEnumerable<CrCasCarDocumentsMaintenance>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<style>
    #basic-datatable_wrapper .row:nth-child(2) {
        margin: 0;
    }
</style>
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["SerialNumber"]</th>
                    <th aria-label="Office: activate to sort column ascending">@localizer["Document Type"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["TheNumber"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["StartDate"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["EndMaintaince"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["KMEndsAt"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasCarDocumentsMaintenanceStatus == Status.Renewed)
                    {
                        <tr style="cursor:pointer;color:red" onclick="location.href='@Url.Action("Edit", "MaintainceCar", new { Procedureid = item.CrCasCarDocumentsMaintenanceProcedures, SerialNumber = item.CrCasCarDocumentsMaintenanceSerailNo })'">
                            <td>@no</td>
                            <td>@item.CrCasCarDocumentsMaintenanceSerailNo</td>
                            <td>@item.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresEnName</td>
                            <td>@item.CrCasCarDocumentsMaintenanceNo</td>
                            <td>@item.CrCasCarDocumentsMaintenanceStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasCarDocumentsMaintenanceEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasCarDocumentsMaintenanceKmEndsAt?.ToString("N0")</td>
                            <td>
                                @if (@item.CrCasCarDocumentsMaintenanceStatus == Status.Renewed)
                                {
                                @localizer["Renew"]
                                }
                                else if (@item.CrCasCarDocumentsMaintenanceStatus == Status.Active)
                                {
                                @localizer["Active"]
                                }
                                else if (@item.CrCasCarDocumentsMaintenanceStatus == Status.AboutToExpire)
                                {
                                @localizer["AboutToExpire"]
                                }
                                else if (@item.CrCasCarDocumentsMaintenanceStatus == Status.Expire)
                                {
                                @localizer["Expire"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "MaintainceCar", new { Procedureid = item.CrCasCarDocumentsMaintenanceProcedures, SerialNumber = item.CrCasCarDocumentsMaintenanceSerailNo })'">
                            <td>@no</td>
                            <td>@item.CrCasCarDocumentsMaintenanceSerailNo</td>
                            <td>@item.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresEnName</td>
                            <td>@item.CrCasCarDocumentsMaintenanceNo</td>
                            <td>@item.CrCasCarDocumentsMaintenanceStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasCarDocumentsMaintenanceEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasCarDocumentsMaintenanceKmEndsAt?.ToString("N0")</td>
                            <td>
                                @if (item.CrCasCarDocumentsMaintenanceStatus == Status.Renewed)
                                {
                                @localizer["Renew"]
                                }
                                else if (item.CrCasCarDocumentsMaintenanceStatus == Status.Active)
                                {
                                @localizer["Active"]
                                }
                                else if (item.CrCasCarDocumentsMaintenanceStatus == Status.AboutToExpire)
                                {
                                @localizer["AboutToExpire"]
                                }
                                else if (item.CrCasCarDocumentsMaintenanceStatus == Status.Expire)
                                {
                                @localizer["Expire"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px;">
            <thead>
                <tr role="row">
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["SerialNumber"]</th>
                    <th aria-label="Office: activate to sort column ascending">@localizer["Document Type"]</th>
                    <th aria-label="Age: activate to sort column ascending">@localizer["TheNumber"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["StartDate"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["EndMaintaince"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["KMEndsAt"]</th>
                    <th aria-label="Salary: activate to sort column ascending">@localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model)
                {
                    @if (item.CrCasCarDocumentsMaintenanceStatus == @Status.Renewed)
                    {
                        <tr style="cursor:pointer;color:red" onclick="location.href='@Url.Action("Edit", "MaintainceCar", new { Procedureid = item.CrCasCarDocumentsMaintenanceProcedures, SerialNumber = item.CrCasCarDocumentsMaintenanceSerailNo })'">
                            <td>@no</td>
                            <td>@item.CrCasCarDocumentsMaintenanceSerailNo</td>
                            <td>@item.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresArName</td>
                            <td>@item.CrCasCarDocumentsMaintenanceNo</td>
                            <td>@item.CrCasCarDocumentsMaintenanceStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasCarDocumentsMaintenanceEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasCarDocumentsMaintenanceKmEndsAt?.ToString("N0")</td>
                            <td>
                                @if (item.CrCasCarDocumentsMaintenanceStatus == Status.Renewed)
                                {
                                @localizer["Renew"]
                                }
                                else if (item.CrCasCarDocumentsMaintenanceStatus == Status.Active)
                                {
                                @localizer["Active"]
                                }
                                else if (item.CrCasCarDocumentsMaintenanceStatus == Status.AboutToExpire)
                                {
                                @localizer["AboutToExpire"]
                                }
                                else if (item.CrCasCarDocumentsMaintenanceStatus == Status.Expire)
                                {
                                @localizer["Expire"]
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href='@Url.Action("Edit", "MaintainceCar", new { Procedureid = item.CrCasCarDocumentsMaintenanceProcedures, SerialNumber = item.CrCasCarDocumentsMaintenanceSerailNo })'">
                            <td>@no</td>
                            <td>@item.CrCasCarDocumentsMaintenanceSerailNo</td>
                            <td>@item.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresArName</td>
                            <td>@item.CrCasCarDocumentsMaintenanceNo</td>
                            <td>@item.CrCasCarDocumentsMaintenanceStartDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasCarDocumentsMaintenanceEndDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.CrCasCarDocumentsMaintenanceKmEndsAt?.ToString("N0")</td>
                            <td>
                                @if (item.CrCasCarDocumentsMaintenanceStatus == Status.Renewed)
                                {
                                @localizer["Renew"]
                                }
                                else if (item.CrCasCarDocumentsMaintenanceStatus == Status.Active)
                                {
                                @localizer["Active"]
                                }
                                else if (item.CrCasCarDocumentsMaintenanceStatus == Status.AboutToExpire)
                                {
                                @localizer["AboutToExpire"]
                                }
                                else if (item.CrCasCarDocumentsMaintenanceStatus == Status.Expire)
                                {
                                @localizer["Expire"]
                                }
                            </td>
                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}


