@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS;
@model DocumentsMaintainceCarVM

@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? $"~{Context.Request.Path.Value}?Procedureid={HttpContextAccessor.HttpContext.Request.Query["Procedureid"]}&BranchId={HttpContextAccessor.HttpContext.Request.Query["BranchId"]}" : $"~{Context.Request.Path.Value}?Procedureid={HttpContextAccessor.HttpContext.Request.Query["Procedureid"]}&BranchId={HttpContextAccessor.HttpContext.Request.Query["BranchId"]}";
    ViewData["Page-title"] = localizer["MaintainceCar Data"];
    ViewData["Page-Hint"] = localizer["MaintainceCar Hint"];
}

<title>@ViewData["Title"]</title>

<style>

    .datepicker-widget {
        display: none;
    }


    .datepicker-icon i {
        font-size: 18px;
        color: #999;
    }

    .dateRelative {
        position: relative;
    }

    .form-contain {
        position: relative;
    }

</style>


@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    <style>
        .datepicker-icon {
            position: absolute;
            display: inline-block;
            top: 1px;
            left: 178px;
        }
    </style>
}
@if (requestCulture.RequestCulture.UICulture.Name == "ar-EG")
{
    <style>
        .datepicker-icon {
            cursor: pointer;
            top: 8%;
            right: 77%;
        }
    </style>
}

@if (Model.CrCasCarDocumentsMaintenanceStatus != Status.Renewed)
{
    <style>
        .datepicker-icon {
            display: none
        }
    </style>
}


<div class="sub-container-form" id="CAS">
    <form class="needs-validation" novalidate asp-area="CAS" asp-controller="MaintainceCar" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-contain">
            @*Document Code*@
            <div class="row mt-2" hidden>
                <div class="col-md-1">
                    <label class="form-label" for="branchCode">@localizer["BranchCode"]</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" readonly asp-for="CrCasCarDocumentsMaintenanceLessor" maxlength="100" width="80%" />
                    <input type="text" class="form-control" readonly asp-for="CrCasCarDocumentsMaintenanceBranch" maxlength="100" width="80%" />
                    <input type="text" class="form-control" readonly asp-for="CrCasCarDocumentsMaintenanceProcedures" maxlength="100" width="80%" />
                    <input type="text" class="form-control" readonly asp-for="CrCasCarDocumentsMaintenanceStatus" maxlength="100" width="80%" />
                    <input type="text" class="form-control" readonly asp-for="CrCasCarDocumentsMaintenanceImage" maxlength="100" width="80%" />
                    <input type="text" class="form-control" readonly asp-for="CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresCode" maxlength="100" width="80%" />
                    <input type="text" class="form-control" readonly asp-for="CrCasCarDocumentsMaintenanceSerailNoNavigation.CrCasCarInformationSerailNo" maxlength="100" width="80%" />
                </div>
            </div>
            @if (Model.CrCasCarDocumentsMaintenanceStatus != Status.Renewed)
            {
                @*Document Branch*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["SerialNumber"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceSerailNo" readonly>
                    </div>
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["Car"]</label>
                    </div>
                    <div class="col-md-3 col-11">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceSerailNoNavigation.CrCasCarInformationConcatenateArName" readonly>
                        }
                        else
                        {
                            <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceSerailNoNavigation.CrCasCarInformationConcatenateEnName" readonly>
                        }
                    </div>
                </div>

                @*Document Type*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["MaintainancesType"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresArName" readonly>
                        }
                        else
                        {
                            <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresEnName" readonly>

                        }
                    </div>
                   @* <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasCarDocumentsMaintenanceNo">@localizer["TheNumber"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceNo" readonly>
                    </div>*@
                </div>

                @*Start and End Date*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasCarDocumentsMaintenanceStartDate">@localizer["StartDate"]</label>
                    </div>
                    <div class="col-md-2 col-11 ">
                        <input type="text" class="form-control" value="@ViewBag.startDate" readonly>
                        <input type="hidden" class="form-control" asp-for="CrCasCarDocumentsMaintenanceStartDate" readonly>
                    </div>

                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasCarDocumentsMaintenanceEndDate">@localizer["EndDate"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" value="@ViewBag.endDate" readonly>
                        <input type="hidden" class="form-control" asp-for="CrCasCarDocumentsMaintenanceEndDate" readonly>
                    </div>
                </div>
                @*Km Current*@
                <div class="row mt-2">
                    @*Km Current*@
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["CurrentMeter"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" value="@ViewBag.CurrentMeter" maxlength="6" autocomplete="off" readonly>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                            </div>
                        </div>
                    </div>
                </div>
                @*KMEndsAt*@
                <div class="row">
                    @*ConsumptionKM*@
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasCarDocumentsMaintenanceConsumptionKm">@localizer["ConsumptionKM"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" value="@ViewBag.ConsumptionKm" maxlength="6" autocomplete="off" readonly>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasCarDocumentsMaintenanceKmEndsAt">@localizer["KMEndsAt"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" value="@ViewBag.KmEndsAt" autocomplete="off" readonly>

                        <div style="margin-top:12px">
                            <div style="height: 1.35em">
                            </div>
                        </div>

                    </div>
                </div>

                @*Reasons*@
                <div class="row">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasCarDocumentsMaintenanceReasons">@localizer["reasons"]</label>
                    </div>
                    <div class="col-md-5 col-11">
                        <input type="text" id="cities" class="form-control" asp-for="CrCasCarDocumentsMaintenanceReasons" autocomplete="off">
                    </div>
                </div>
            }
            else
            {
                @*Document Branch*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["SerialNumber"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceSerailNo" readonly>
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["Car"]</label>
                    </div>
                    <div class="col-md-3 col-11">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceSerailNoNavigation.CrCasCarInformationConcatenateArName" readonly>
                        }
                        else
                        {
                            <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceSerailNoNavigation.CrCasCarInformationConcatenateEnName" readonly>
                        }
                    </div>
                </div>

                @*Document Type*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["Document Type"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresArName" readonly>
                        }
                        else
                        {
                            <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresEnName" readonly>

                        }
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                            </div>
                        </div>
                    </div>
                   @* <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasCarDocumentsMaintenanceNo">@localizer["TheNumber"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceNo" maxlength="12" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasCarDocumentsMaintenanceNo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>*@
                </div>

                @*Start and End Date*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasCarDocumentsMaintenanceStartDate">@localizer["StartDate"]</label>
                    </div>
                    <div class="col-md-2 col-11 dateRelative">
                        <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceStartDate">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasCarDocumentsMaintenanceStartDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 formlabel">
                        <label class="form-label" for="LessorDirNameEn">@localizer["EndMaintaince"]</label>
                    </div>
                    <div class="col-md-2 col-11 dateRelative">
                        <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceEndDate">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasCarDocumentsMaintenanceEndDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @*Km Current*@
                <div class="row mt-2">
                    @*Km Current*@
                    <div class="col-md-1 formlabel">
                        <label class="form-label">@localizer["CurrentMeter"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceCurrentMeter" id="CrCasCarDocumentsMaintenanceCurrentMeter" maxlength="6" oninput="updateTotal()" autocomplete="off">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasCarDocumentsMaintenanceCurrentMeter" class="text-danger"></span>
                                <span id="currentMeterValue" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                   
                </div>
                @*KMEndsAt*@
                <div class="row mt-2">
                    @*ConsumptionKM*@
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasCarDocumentsMaintenanceConsumptionKm">@localizer["ConsumptionKM"]</label>
                    </div>
                    <div class="col-md-2 col-11">
                        <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceConsumptionKm" id="CrCasCarDocumentsMaintenanceConsumptionKm" maxlength="6" oninput="updateTotal()" autocomplete="off">
                        <div style="margin-top:2px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="@Model.CrCasCarDocumentsMaintenanceConsumptionKm" class="text-danger"></span>
                                <span id="ConsumptionKmMessage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasCarDocumentsMaintenanceKmEndsAt">@localizer["KMEndsAt"]</label>
                    </div>
                    <div class="col-md-5 col-11">
                        <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceKmEndsAt" id="CrCasCarDocumentsMaintenanceKmEndsAt" autocomplete="off" readonly>

                        <div style="margin-top:12px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="CrCasCarDocumentsMaintenanceKmEndsAt" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
                @*Reasons*@
                <div class="row mt-2">
                    <div class="col-md-1 formlabel">
                        <label class="form-label" asp-for="CrCasCarDocumentsMaintenanceReasons">@localizer["reasons"]</label>
                    </div>
                    <div class="col-md-5 col-11">
                        <input type="text" class="form-control" asp-for="CrCasCarDocumentsMaintenanceReasons" autocomplete="off">

                        <div style="margin-top:12px">
                            <div style="height: 1.35em">
                                <span asp-validation-for="CrCasCarDocumentsMaintenanceReasons" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
            }


            @Html.ValidationMessage("NoCHanged", null, new { @class = "text-danger" })
        </div>
        <div class="mt-3" id="buttonContainer">

            <a class="btn btn-primary ms-1" id="saveEdit">@localizer["Save"]</a>


            @if (Model.CrCasCarDocumentsMaintenanceStatus == "A")
            {
                <a type="button" class="btn btn-primary ms-1" data-bs-toggle="modal" data-error="@Status.Deleted" data-bs-targett="#centermodalDelete">
                    @localizer["Delete"]
                </a>
            }

            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="MaintainceCar" asp-action="MaintainceCar">
                @localizer["Back"]
            </a>
        </div>
    </form>

    <!-- Delete Lessor Modal-->
    <div class="modal fade" id="centermodalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>@localizer["SureTodelete"]</h4>
                    <p> @localizer["HintSureTodelete"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                    <button type="button" id="deleteUserButton" class="btn btn-primary">@localizer["Okay"]</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Reactive Delete Lessor MOdel-->
    <div class="modal fade" id="centermodalRDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">
                    <h4>@localizer["SureToRetriveDelete"]</h4>
                    <p>@localizer["HintSureToRetriveD"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                    <button type="button" id="retriveUserButtonD" class="btn btn-primary">@localizer["Okay"]</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var currentMeterInput = document.querySelector('input[name="CrCasCarDocumentsMaintenanceCurrentMeter"]');
        currentMeterInput.addEventListener('change', function () {
            var currentValue = parseInt(this.value);
            var currentMeterSpan = document.querySelector('span[data-valmsg-for="CrCasCarDocumentsMaintenanceCurrentMeter"]');
            var currentMeterSpan1 = document.getElementById("currentMeterValue");
            var currentMeterMessage = '@localizer["CurrentMeterMessage"]';
            console.log(currentValue)
            console.log(currentMeterSpan)
            console.log(currentMeterMessage)
            // Get the current value from the server-side
            var currentMeterFromModel = parseInt('@Model.CrCasCarDocumentsMaintenanceCurrentMeter');
            console.log(currentMeterFromModel)

            if (currentValue < currentMeterFromModel || currentValue == "" || currentValue == null) {
                currentMeterSpan1.innerText = currentMeterMessage + currentMeterFromModel;
                return
            } else {
                currentMeterSpan1.innerText = '';
            }
        });
    </script>
    <script>
        function updateTotal() {
            // Get the value of CrCasCarDocumentsMaintenanceCurrentMeter and CrCasCarDocumentsMaintenanceConsumptionKm
            const currentMeterValue = parseInt(document.getElementById("CrCasCarDocumentsMaintenanceCurrentMeter").value.trim(), 10);
            const consumptionKmValue = parseInt(document.getElementById("CrCasCarDocumentsMaintenanceConsumptionKm").value.trim(), 10);
            console.log(currentMeterValue)
            console.log(consumptionKmValue)

            // Calculate the sum
            const total = currentMeterValue + consumptionKmValue;

            // Update the value of CrCasCarDocumentsMaintenanceKmEndsAt
            document.getElementById('CrCasCarDocumentsMaintenanceKmEndsAt').value = isNaN(total) ? '' : total.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 });
        }
    </script>
    <script>
        $(document).ready(function () {
            var today = new Date();
            var startDate = new Date();
            var EndDate = new Date();

            var startDates = $("CrCasCarDocumentsMaintenanceStartDate").val();
            var StartformattedDate = new Date(startDates);

            var EndDates = $("CrCasCarDocumentsMaintenanceEndDate").val();
            var EndformattedDate = new Date(EndDates);

            if (!StartformattedDate || StartformattedDate === "") {
                StartformattedDate = today; // Set date to today if it's empty or null
            }
            if (!EndformattedDate || EndformattedDate === "") {
                EndformattedDate = today; // Set date to today if it's empty or null
            }



            $("#CrCasCarDocumentsMaintenanceStartDate").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: StartformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasCarDocumentsMaintenanceStartDate").datepicker("setDate", StartformattedDate);
            $("#CrCasCarDocumentsMaintenanceStartDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrCasCarDocumentsMaintenanceEndDate").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: EndformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasCarDocumentsMaintenanceEndDate").datepicker("setDate", EndformattedDate);
            $("#CrCasCarDocumentsMaintenanceEndDate").click(function () {
                $(this).datepicker("show");
            });


            $("#CrCasCarDocumentsMaintenanceStartDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasCarDocumentsMaintenanceEndDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');



            $(".datepicker-icon").click(function () {
                $(this).prevAll('input').datepicker("show");
            });



            //$("#saveEdit").on("click", function (event) {
            //    event.preventDefault();
            //    CheckValidation('2202003', '@Status.Save').done(function (data) {
            //        if (data) {
            //            //Chech Current Meter Value

            //            $('form').submit();
            //        }
            //    });
            //})
        })

    </script>

    <script>
        function readURL(input, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var container = $(input).closest('.file-upload');
                    container.find('.file-upload-image.' + type).attr('src', e.target.result);
                    container.find('.file-upload-content.' + type).show();
                    container.find('.image-title.' + type).html(input.files[0].name);
                    container.find('.image-upload-wrap').hide();
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload(input);
            }
        }

        function removeUpload(button) {
            var container = $(button).closest('.file-upload');
            var type = container.find('.file-upload-content').hasClass('signature') ? 'signature' : 'picture';
            container.find('.file-upload-input-' + type).val('');
            container.find('.file-upload-image.' + type).attr('src', '#');
            container.find('.file-upload-content.' + type).hide();
            container.find('.image-upload-wrap').show();
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $(this).addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $(this).removeClass('image-dropping');
        });
    </script>

    <script>

        function updateUserStatus(status) {
            var DocumentsLessor = document.getElementById("CrCasCarDocumentsMaintenanceLessor").value;
            var DocumentsBranch = document.getElementById("CrCasCarDocumentsMaintenanceBranch").value;
            var DocumentsProcedures = document.getElementById("CrCasCarDocumentsMaintenanceProcedures").value;
            var DocumentSerialNumber = document.getElementById("CrCasCarDocumentsMaintenanceSerailNo").value;
            $.ajax({
                type: "DELETE",
                url: "/CAS/MaintainceCar/EditMaintainceCarStatus",
                data: { status: status, DocumentCarLessor: DocumentsLessor, DocumentCarBranch: DocumentsBranch, DocumentCarProcedures: DocumentsProcedures, SerialNumber: DocumentSerialNumber },
                success: function (result) {
                    console.log(result)
                    $('.modal').modal('hide');
                    window.location.href = "/CAS/MaintainceCar/SuccessMessage";
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        $("#buttonContainer a").on("click", function (event) {
            var status = $(this).attr("data-error")
            var Modal = $(this).attr("data-bs-targett")
            CheckValidation('2201003', status).done(function (data) {
                console.log(data)
                if (data) $(Modal).modal('show');
            });
        })

        // Event listener for delete Lessor button
        $('#deleteUserButton').click(function () {
            updateUserStatus('D');
        });


        $("#saveEdit").on("click", function (event) {
            event.preventDefault();
            CheckValidation('2202003', '@Status.Save').done(function (data) {
                if (data) {
                    var status = document.getElementById("CrCasCarDocumentsMaintenanceStatus").value;
                    if (status == "N") {
                        //Check If Validiton of current meter okay or not
                        var currentMeterMessage = document.getElementById("currentMeterValue").innerHTML;
                        var currentMeterinput = document.getElementById("CrCasCarDocumentsMaintenanceCurrentMeter");
                        var ConsumptionKmMessage = document.getElementById("ConsumptionKmMessage");
                        var ConsumptionKmInput = document.getElementById("CrCasCarDocumentsMaintenanceConsumptionKm");
                        if (currentMeterMessage != null && currentMeterMessage != "") {
                            currentMeterinput.focus();
                        }
                        else if (ConsumptionKmInput.value == null || ConsumptionKmInput.value == "") {
                            ConsumptionKmMessage.innerHTML = '@localizer["requiredFiled"]';
                            ConsumptionKmInput.focus();
                        }
                        else {
                            $('form').submit();
                        }
                    }
                    else {
                        $('form').submit();
                    }

                }
            });
        })
    </script>
}


